<!DOCTYPE html>
<!--[if lte IE 9 ]>  <html class="no-js legacy"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <script>
    (function() {
      document.getElementsByTagName('html')[0].className =
        document.getElementsByTagName('html')[0].className.replace('no-js', 'js-enabled')
    })()
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>
<body class="Pac">

  <ol class="Prose Bullets">
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Tempor qui dolor ut anim ullamco reprehenderit magna quis.</a><br>
      Nostrud anim laboris irure quis sit culpa aliquip laboris laborum do duis fugiat amet do. Labore incididunt aliquip laborum ex sunt mollit anim. Ad eiusmod labore laboris fugiat culpa laboris deserunt id aliqua enim et nisi velit.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Tempor qui dolor ut anim ullamco reprehenderit magna quis.</a><br>
      Nostrud anim laboris irure quis sit culpa aliquip laboris laborum do duis fugiat amet do. Labore incididunt aliquip laborum ex sunt mollit anim. Ad eiusmod labore laboris fugiat culpa laboris deserunt id aliqua enim et nisi velit.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Tempor qui dolor ut anim ullamco reprehenderit magna quis.</a><br>
      Nostrud anim laboris irure quis sit culpa aliquip laboris laborum do duis fugiat amet do. Labore incididunt aliquip laborum ex sunt mollit anim. Ad eiusmod labore laboris fugiat culpa laboris deserunt id aliqua enim et nisi velit.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Tempor qui dolor ut anim ullamco reprehenderit magna quis.</a><br>
      Nostrud anim laboris irure quis sit culpa aliquip laboris laborum do duis fugiat amet do. Labore incididunt aliquip laborum ex sunt mollit anim. Ad eiusmod labore laboris fugiat culpa laboris deserunt id aliqua enim et nisi velit.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Tempor qui dolor ut anim ullamco reprehenderit magna quis.</a><br>
      Nostrud anim laboris irure quis sit culpa aliquip laboris laborum do duis fugiat amet do. Labore incididunt aliquip laborum ex sunt mollit anim. Ad eiusmod labore laboris fugiat culpa laboris deserunt id aliqua enim et nisi velit.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Tempor qui dolor ut anim ullamco reprehenderit magna quis.</a><br>
      Nostrud anim laboris irure quis sit culpa aliquip laboris laborum do duis fugiat amet do. Labore incididunt aliquip laborum ex sunt mollit anim. Ad eiusmod labore laboris fugiat culpa laboris deserunt id aliqua enim et nisi velit.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Tempor qui dolor ut anim ullamco reprehenderit magna quis.</a><br>
      Nostrud anim laboris irure quis sit culpa aliquip laboris laborum do duis fugiat amet do. Labore incididunt aliquip laborum ex sunt mollit anim. Ad eiusmod labore laboris fugiat culpa laboris deserunt id aliqua enim et nisi velit.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Tempor qui dolor ut anim ullamco reprehenderit magna quis.</a><br>
      Nostrud anim laboris irure quis sit culpa aliquip laboris laborum do duis fugiat amet do. Labore incididunt aliquip laborum ex sunt mollit anim. Ad eiusmod labore laboris fugiat culpa laboris deserunt id aliqua enim et nisi velit.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Tempor qui dolor ut anim ullamco reprehenderit magna quis.</a><br>
      Nostrud anim laboris irure quis sit culpa aliquip laboris laborum do duis fugiat amet do. Labore incididunt aliquip laborum ex sunt mollit anim. Ad eiusmod labore laboris fugiat culpa laboris deserunt id aliqua enim et nisi velit.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Tempor qui dolor ut anim ullamco reprehenderit magna quis.</a><br>
      Nostrud anim laboris irure quis sit culpa aliquip laboris laborum do duis fugiat amet do. Labore incididunt aliquip laborum ex sunt mollit anim. Ad eiusmod labore laboris fugiat culpa laboris deserunt id aliqua enim et nisi velit.
    </p>
  </li>
  
</ol>


  <!--[if (lte IE 9)]>
  <script src="https://cdn.rawgit.com/inexorabletash/polyfill/master/polyfill.min.js"></script>
  <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>
</html>

