/** @define Treeview; weak; */

:root {
  --Treeview-link-minWidth: 4em;
  --Treeview-link-maxWidth: 6em;
  --Treeview-link-padding: 2em;
  --Treeview-link-handler-width: 15%;
  --Treeview-link-arrow-width: 1em;
  --Treeview-link-arrow-up: inline("icons/ita/img/SVG/collapse-white.svg");
  --Treeview-link-arrow-down: inline("icons/ita/img/SVG/expand-white.svg");
  --Treeview-link-arrow-up-grey: inline("icons/ita/img/SVG/collapse.svg");
  --Treeview-link-arrow-down-grey: inline("icons/ita/img/SVG/expand.svg");
}

.Treeview-handler--default::after,
.Treeview-handler--standalone {
  background-image: var(--Treeview-link-arrow-down);
  background-repeat: no-repeat;
  background-size: var(--Treeview-link-arrow-width);
}

.Treeview-handler--default::after,
.Treeview-handler--standalone {
  @extend .u-zindex-30;
  @extend .u-posAbsolute;
  @extend .u-block;
  @extend .u-text-r-xs;
  background-position: center;
  content: "";
  height: 100%;
  left: 0;
  max-width: var(--Treeview-link-maxWidth);
  min-width: var(--Treeview-link-minWidth);
  top: 0;
  width: var(--Treeview-link-handler-width);
}

/*
.Treeview-handler--standalone {
  border-left: 1px solid var(--Color-grey-30);
}
*/

.Treeview [aria-expanded="true"] > .Treeview-handler--default::after,
.Treeview [aria-expanded="true"] > a > .Treeview-handler--standalone {
  background-image: var(--Treeview-link-arrow-up);
}

.Treeview [aria-hidden="true"] {
  display: none;
}

.Treeview li {
  cursor: pointer;
}

.Treeview-parent > a {
  @extend .u-posRelative;

  padding-right: calc(var(--Treeview-link-padding) * 2);
}

/*
 * Treeview default style
 * -----------------------
 */

.Treeview--default ul li {
  border-color: white !important;
}

.Treeview--default li[aria-expanded=true] > a,
.Treeview--default li[aria-expanded=true] > a:hover {
  @extend .u-background-80;
}

.Treeview--default ul a {
  @extend .u-background-grey-50;
}

.Treeview--default ul a:hover {
  @extend .u-background-50;
}

/*
 * Treeview ez style (3 levels max)
 * -----------------------
 */

.Treeview--ez {
  @extend .u-background-white;
  margin-left: -10rem;
  margin-right: -10rem;
}

@media (--xs-viewport), (--sm-viewport) {

  .Treeview--ez {
    margin-left: -1rem;
    margin-right: -1rem;
  }

}

.Treeview--ez li .Treeview-Item {
  color: var(--Color-text);
  margin-left: 10rem;
}

.Treeview--ez ul li {
  border-color: white !important;
}

.Treeview--ez a:hover {
  @extend .u-background-80;
  @extend .u-color-white;
  text-decoration: none !important;
}

.Treeview--ez a:hover .Treeview-Item {
  @extend .u-color-white;
}

.Treeview--ez li[aria-expanded=true] > a,
.Treeview--ez li[aria-expanded=true] > a:hover {
  @extend .u-color-white;
  @extend .u-background-80;
}

.Treeview--ez li[aria-expanded=true] .Treeview-Item {
  @extend .u-color-white;
}

/* Indenta il menu */

.Treeview--ez .Treeview-Item {
  margin-left: 20rem !important;
  margin-right: 20rem !important;
}

.Treeview--ez ul .Treeview-Item {
  margin-left: 30rem !important;
  margin-right: 30rem !important;
}

.Treeview--ez ul ul .Treeview-Item {
  margin-left: 40rem !important;
  margin-right: 40rem !important;
}

.Treeview--ez .Treeview-handler--standalone {
  margin-left: 10rem !important;
}

.Treeview--ez ul .Treeview-handler--standalone {
  margin-left: 20rem !important;
}

.Treeview--ez ul ul .Treeview-handler--standalone {
  margin-left: 30rem !important;
}

@media (--xs-viewport), (--sm-viewport) {

  .Treeview--ez .Treeview-Item {
    margin-left: 11rem !important;
    margin-right: 11rem !important;
  }

  .Treeview--ez ul .Treeview-Item {
    margin-left: 21rem !important;
    margin-right: 21rem !important;
  }

  .Treeview--ez ul ul .Treeview-Item {
    margin-left: 31rem !important;
    margin-right: 31rem !important;
  }

  .Treeview--ez .Treeview-handler--standalone {
    margin-left: 1rem !important;
  }

  .Treeview--ez ul .Treeview-handler--standalone {
    margin-left: 11rem !important;
  }

  .Treeview--ez ul ul .Treeview-handler--standalone {
    margin-left: 21rem !important;
  }

}

.Treeview--ez ul a {
  @extend .u-background-grey-80;
}

.Treeview--ez ul ul a {
  @extend .u-background-grey-50;
}

.Treeview--ez ul a .Treeview-Item {
  @extend .u-color-white;
}

.Treeview--ez ul a:hover {
  @extend .u-background-40;
}

.Treeview--ez ul li[aria-expanded=true] > a,
.Treeview--ez ul li[aria-expanded=true] > a:hover {
  @extend .u-color-white;
  @extend .u-background-40;
}

.Treeview--ez .Treeview-Item-Abstract {
  display: block;
  font-size: 1.3rem;
  margin-top: 1rem;
}

/* Cambio colore freccia menu */

.Treeview--ez .Treeview-handler--standalone {
  background-image: var(--Treeview-link-arrow-down-grey);
}

.Treeview--ez ul .Treeview-handler--standalone {
  background-image: var(--Treeview-link-arrow-down);
}

.Treeview li .TreeviewItemIcon {
  @extend .u-color-40;
  position: absolute;
  right: 2rem;
}

.Treeview li[aria-expanded=true] .TreeviewItemIcon {
  @extend .u-color-white;
  position: absolute;
  right: 2rem;
}
