/** @define Treeview; weak; */

:root {
  --Treeview-link-minWidth: 4em;
  --Treeview-link-maxWidth: 6em;
  --Treeview-link-padding: 15%;
  --Treeview-link-arrow-width: 1em;
  --Treeview-link-arrow-up: inline("icons/ita/img/SVG/collapse.svg");
  --Treeview-link-arrow-down: inline("icons/ita/img/SVG/expand.svg");
}

.Treeview-handler--default {
  @extend .u-zindex-30;
  @extend .u-posAbsolute;
  @extend .u-block;

  background-image: var(--Treeview-link-arrow-down);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--Treeview-link-arrow-width);
  border-left: 1px solid var(--Color-grey-30);
  height: 100%;
  max-width: var(--Treeview-link-maxWidth);
  min-width: var(--Treeview-link-minWidth);
  right: 0;
  top: 0;
  width: var(--Treeview-link-padding);
}

.Treeview [aria-expanded="true"] > a > .Treeview-handler {
  background-image: var(--Treeview-link-arrow-up);
}

.Treeview [aria-hidden="true"] {
  display: none;
}

.Treeview li {
  cursor: pointer;
}

.Treeview-parent > a {
  @extend .u-posRelative;

  padding-right: var(--Treeview-link-padding);
}

/*
 * Treeview default style
 * -----------------------
 */

.Treeview--default ul li {
  border-color: white !important;
}

.Treeview--default li[aria-expanded=true] > a,
.Treeview--default li[aria-expanded=true] > a:hover {
  @extend .u-background-grey-10;
}

.Treeview--default ul a,
.Treeview--default ul a:hover {
  @extend .u-color-95;
  @extend .u-background-5;
}
