/** @define Treeview; weak; */

:root {
  --Treeview-link-padding: 0.5em;
  --Treeview-link-arrow-width: 0.8em;
  --Treeview-link-arrow-up: inline("icons/ita/img/SVG/collapse.svg");
  --Treeview-link-arrow-down: inline("icons/ita/img/SVG/expand.svg");
}

.Treeview [aria-expanded] > a {
  background-image: var(--Treeview-link-arrow-down);
  background-position: right var(--Treeview-link-padding) center;
  background-repeat: no-repeat;
  background-size: var(--Treeview-link-arrow-width);
  padding-right: calc(var(--Treeview-link-arrow-width) + (2 * var(--Treeview-link-padding)));
}

.Treeview [aria-expanded="true"] > a {
  background-image: var(--Treeview-link-arrow-up);
}

.Treeview [aria-hidden="true"] {
  display: none;
}

.Treeview li {
  cursor: pointer;
}

/* FIXME: overrides focus unset */

.Treeview li[tabindex]:focus {
  outline: 3px solid #ff8c00 !important;
}

/*
 * Treeview default style
 * -----------------------
 */

.Treeview--default ul li {
  border-color: white !important;
}

.Treeview--default li[aria-expanded=true] > a,
.Treeview--default li[aria-expanded=true] > a:hover {
  @extend .u-background-grey-10;
}

.Treeview--default ul a,
.Treeview--default ul a:hover {
  @extend .u-color-95;
  @extend .u-background-5;
}
