<ul class="Linklist Linklist--padded Treeview Treeview--default js-fr-treeview u-text-r-xs">
  <li><a href="#">Servizi</a>
    <ul data-megamenu-class="u-md-size1of2">
      <li><a href="#">Aree tematiche</a>
        <ul data-megamenu-class="u-columns-2">
          <li><a href="#">Ambiente</a></li>
          <li><a href="#">Casa</a></li>
          <li><a href="#">Certificati e documenti</a></li>
          <li><a href="#">Cultura e tempo libero</a></li>
          <li><a href="#">Denunce</a></li>
          <li><a href="#">Elezioni</a></li>
          <li><a href="#">Famiglia</a></li>
          <li><a href="#">Imprese</a></li>
          <li><a href="#">Innovazione e smart city</a></li>
          <li><a href="#">Lavoro</a></li>
          <li><a href="#">Salute</a></li>
          <li><a href="#">Studio</a></li>
          <li><a href="#">Tributi e sanzioni</a></li>
          <li><a href="#">Uffici comunali</a></li>
          <li><a href="#">Volontariato</a></li>
        </ul>
      </li>
      <li><a href="#">Servizi online</a>
        <ul>
          <li><a href="#">Segnalazioni</a></li>
          <li><a href="#">Pagamenti</a></li>
          <li><a href="#" data-megamenu-class="u-text-h4">tutti i servizi online
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">L'Amministrazione</a>
    <ul>
      <li><a href="#">Organizzazione</a>
        <ul>
          <li><a href="#">Il Sindaco</a></li>
          <li><a href="#">Giunta comunale</a></li>
          <!-- <li><a href="#">Organi di indirizzo politico-amministrativo</a></li>
          <li><a href="#">Sanzioni per mancata comunicazione dei dati</a></li> -->
          <li><a href="#">Articolazione degli uffici</a></li>
          <li><a href="#">Telefono e posta elettronica</a></li>
          <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li>
        </ul>
      </li>
      <li><a href="#">Attività e procedimenti</a>
        <ul>
          <!-- <li><a href="#">Dati aggregati attività amministrativa</a></li>
          <li><a href="#">Tipologie di procedimento</a></li> -->
          <!-- <li><a href="#">Monitoraggio tempi procedimentali</a></li> -->
          <li><a href="#">Dichiarazioni sostitutive e acquisizione d'ufficio dei dati</a></li>
          <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li>
        </ul>
      </li>
      <li><a href="#">Bandi di concorso</a>
        <ul>
          <li><a href="#">Concorsi attivi</a></li>
          <!-- <li><a href="#">Concorsi scaduti</a></li> -->
          <li><a href="#">Avvisi</a></li>
          <li><a href="#">Esiti</a></li>
          <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li>
        </ul>
      </li>
      <li><a href="#">Personale</a>
        <ul>
          <li><a href="#">Incarichi amministrativi di vertice</a></li>
          <li><a href="#">Dirigenti</a></li>
          <!-- <li><a href="#">Posizioni organizzative</a></li>
          <li><a href="#">Dotazione organica</a></li>
          <li><a href="#">Personale non a tempo indeterminato</a></li>
          <li><a href="#">Tassi di assenza</a></li>
          <li><a href="#">Incarichi conferiti e autorizzati ai dipendenti</a></li>
          <li><a href="#">Contrattazione collettiva</a></li>
          <li><a href="#">Contrattazione integrativa</a></li>
          <li><a href="#">OIV</a></li>
          <li><a href="#">Archivio personale</a></li> -->
          <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li>
        </ul>
      </li>
      <li><a href="#">Bandi di gara e contratti</a>
        <ul>
          <!-- <li><a href="#">Avvisi di preinformazione</a></li> -->
          <li><a href="#">Gare e procedure in corso</a></li>
          <!-- <li><a href="#">Gare e procedure scadute</a></li> -->
          <li><a href="#">Avvisi di aggiudicazione, esiti e affidamenti</a></li>
          <li><a href="#">Avvisi pubblici</a></li>
          <li><a href="#">Delibere e Determine a contrarre</a></li>
          <!-- <li><a href="#">Procedure in pubblicazione</a></li>
          <li><a href="#">Atti di Programmazione di lavori, servizi e forniture</a></li>
          <li><a href="#">Tabelle riassuntive ai sensi dell'Art. 1 comma 32 della legge n. 190/2012</a></li> -->
          <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li>
        </ul>
      </li>
      <li><a href="#">Altre risorse</a>
        <ul>
          <!-- <li><a href="#">Disposizioni generali</a></li>
          <li><a href="#">Consulenti e collaboratori</a></li>
          <li><a href="#">Performance</a></li> -->
          <li><a href="#">Enti controllati</a></li>
          <li><a href="#">Provvedimenti</a></li>
          <!-- <li><a href="#">Controlli sulle imprese</a></li> -->
          <li><a href="#">Sovvenzioni, contributi, sussidi, vantaggi economici</a></li>
          <li><a href="#">Bilanci</a></li>
          <!-- <li><a href="#">Beni immobili e gestione patrimonio</a></li> -->
          <!-- <li><a href="#">Controlli e rilievi sull'amministrazione</a></li>
          <li><a href="#">Servizi erogati</a></li>
          <li><a href="#">Pagamenti dell'amministrazione</a></li> -->
          <!-- <li><a href="#">Opere pubbliche</a></li> -->
          <!-- <li><a href="#">Pianificazione e governo del territorio</a></li> -->
          <!-- <li><a href="#">Informazioni ambientali</a></li>
          <li><a href="#">Strutture sanitarie private accreditate</a></li>
          <li><a href="#">Interventi straordinari e di emergenza</a></li>
          <li><a href="#">Altri contenuti</a></li> -->
          <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">Vivere il Comune</a>
    <ul>
      <li><a href="#">Informazioni utili</a>
        <ul>
          <li><a href="#">Associazioni</a></li>
          <li><a href="#">Cenni storici</a></li>
          <li><a href="#">Come raggiungerci</a></li>
          <li><a href="#">Numeri per Emergenze</a></li>
          <li><a href="#">Scheda informativa</a></li>
        </ul>
      </li>
      <li><a href="#">Turismo e punti di interesse</a>
        <ul>
          <li><a href="#">Cosa visitare</a></li>
          <li><a href="#">Itinerari</a></li>
          <li><a href="#">Mappa dei punti di interesse</a></li>
          <li><a href="#">Paesaggi e Immagini</a></li>
        </ul>
      </li>
      <li><a href="#">Sul territorio </a>
        <ul>
          <li><a href="#">Dove dormire</a></li>
          <li><a href="#">Dove mangiare</a></li>
          <li><a href="#">Mercati</a></li>
          <li><a href="#">Sanità e farmacie</a></li>
          <li><a href="#">Scuole / Asili</a></li>
          <li><a href="#">Servizi commerciali</a></li>
          <li><a href="#">Stabilimenti balneari e termali</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">Altro</a>
    <ul>
      <li><a href="#">Siti tematici</a>
        <ul>
          <li><a href="#">sito tematico</a></li>
          <li><a href="#">sito tematico</a></li>
          <li><a href="#">sito tematico</a></li>
          <li><a href="#">sito tematico</a></li>
          <li><a href="#">sito tematico</a></li>
        </ul>
      </li>
      <li><a href="#">Servizi per</a>
        <ul data-megamenu-class="u-lg-columns-2">
          <li><a href="#">Anziani</a></li>
          <li><a href="#">Automobilisti</a></li>
          <li><a href="#">Bambini</a></li>
          <li><a href="#">Cittadini</a></li>
          <li><a href="#">Consumatori</a></li>
          <li><a href="#">Disabili</a></li>
          <li><a href="#">Donne</a></li>
          <li><a href="#">Elettori</a></li>
          <li><a href="#">Famiglie</a></li>
          <li><a href="#">Giovani</a></li>
          <li><a href="#">Immigrati</a></li>
          <li><a href="#">Imprenditori</a></li>
          <li><a href="#">Italiani all'estero</a></li>
          <li><a href="#">Lavoratori / In cerca di lavoro</a></li>
          <li><a href="#">Persone con disagio sociale</a></li>
          <li><a href="#">Studenti</a></li>
          <li><a href="#">Turisti</a></li>
        </ul>
      </li>
      <!-- <li><a href="#">news</a></li>
      <li><a href="#">eventi</a></li> -->
      <li><a href="#" data-megamenu-class="u-text-h4">mappa del sito
        <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Area riservata</a>
  </li>
</ul>
