<ul class="Linklist Linklist--padded Treeview Treeview--default js-fr-treeview u-text-r-xs">
  <li><a href="#">Servizi</a>
    <ul>
      <li><a href="#">Servizi</a>
        <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">L'Amministrazione</a>
    <ul>
      <li><a href="#">L'Amministrazione</a>
        <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">Vivere il comune</a>
    <ul>
      <li><a href="#">Vivere il comune</a>
        <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">Altro</a>
    <ul>
      <li><a href="#">Altro</a>
        <ul>
          <li><a href="#">mappa del sito</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-accent u-text-r-xxs" href="#">Area riservata</a>
  </li>
</ul>
