<ul class="Linklist Linklist--padded Treeview Treeview--ez js-Treeview u-text-r-xs">
  <li><a href="https://example.com"><span class="Treeview-Item"> {{ __WORDS__[0] | capitalize }} </span></a>
    <ul>
      <li>
        <a href="https://example.com">
            <span class="Treeview-Item"> {{ __WORDS__[1] | capitalize }}</span>
            <span class="Treeview-Item Treeview-Item-Abstract">{{ __LONG_TEXTS__[1] }}</span>
        </a>

        <ul>
          <li><a href="https://example.com"><span class="Treeview-Item"> {{ __WORDS__[4] | capitalize }}</span></a></li>
          <li><a href="https://example.com"><span class="Treeview-Item"> {{ __WORDS__[5] | capitalize }}</span></a></li>
          <li><a href="https://example.com"><span class="Treeview-Item"> {{ __WORDS__[8] | capitalize }}</span></a></li>
        </ul>
        </li>
      <li>
        <a href="https://example.com"> <span class="Treeview-Item"> {{ __WORDS__[2] | capitalize }} </span></a>
      </li>
      <li>
        <a href="https://example.com"><span class="Treeview-Item"> {{ __WORDS__[3] | capitalize }} </span></a>
      </li>
      <li>
        <a href="https://example.com"><span class="Treeview-Item"> {{ __WORDS__[9] | capitalize }}</span></a>
      </li>
    </ul>
  </li>
  
</ul>

