<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="#">Servizi</a>
    <ul data-megamenu-class="u-md-size1of2">
      <li><a href="#">Per aree tematiche</a>
        <ul data-megamenu-class="u-columns-2">
          <li><a href="page--servizi.html#ambiente">Ambiente</a></li>
          <li><a href="page--servizi.html#casa">Casa</a></li>
          <li><a href="page--servizi.html#certificati">Certificati e documenti</a></li>
          <li><a href="page--servizi.html#cultura">Cultura e tempo libero</a></li>
          <li><a href="page--servizi.html#denunce">Denunce</a></li>
          <li><a href="page--servizi.html#elezioni">Elezioni</a></li>
          <li><a href="page--servizi.html#famiglia">Famiglia</a></li>
          <li><a href="page--servizi.html#imprese">Imprese</a></li>
          <!-- <li><a href="page- -servizi.html#innovazione">Innovazione e smart city</a></li> -->
          <li><a href="page--servizi.html#lavoro">Lavoro</a></li>
          <li><a href="page--servizi.html#salute">Salute</a></li>
          <li><a href="page--servizi.html#studio">Studio</a></li>
          <li><a href="page--servizi.html#tributi">Tributi e sanzioni</a></li>
          <li><a href="page--servizi.html#uffici">Uffici comunali</a></li>
          <li><a href="page--servizi.html#volontariato">Volontariato</a></li>
        </ul>
      </li>
      <li><a href="#">Servizi online</a>
        <ul>
          <li><a href="#">Segnalazioni</a></li>
          <li><a href="#">Pagamenti</a></li>
          <li><a href="#" data-megamenu-class="u-text-h4">tutti i servizi online
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">L'Amministrazione</a>
    <ul>
      <li><a href="#">Organizzazione <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a>
        <ul>
          <li><a href="#">Il Sindaco</a></li>
          <li><a href="#">Giunta comunale</a></li>
          <!-- <li><a href="#">Organi di indirizzo politico-amministrativo</a></li>
          <li><a href="#">Sanzioni per mancata comunicazione dei dati</a></li> -->
          <li><a href="#">Articolazione degli uffici</a></li>
          <li><a href="#">Telefono e posta elettronica</a></li>
          <!-- <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li> -->
        </ul>
      </li>
      <li><a href="#">Attività e procedimenti <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a>
        <ul>
          <li><a href="#">Dichiarazioni sostitutive e acquisizione d'ufficio dei dati</a></li>
          <!-- <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li> -->
        </ul>
      </li>
      <li><a href="#">Bandi di concorso <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a>
        <ul>
          <li><a href="#">Concorsi attivi</a></li>
          <li><a href="#">Avvisi</a></li>
          <li><a href="#">Esiti</a></li>
          <!-- <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li> -->
        </ul>
      </li>
      <li><a href="#">Personale <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a>
        <ul>
          <li><a href="#">Incarichi amministrativi di vertice</a></li>
          <li><a href="#">Dirigenti</a></li>
          <!-- <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li> -->
        </ul>
      </li>
      <li><a href="#">Bandi di gara e contratti <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a>
        <ul>
          <li><a href="#">Gare e procedure in corso</a></li>
          <li><a href="#">Avvisi di aggiudicazione, esiti e affidamenti</a></li>
          <li><a href="#">Avvisi pubblici</a></li>
          <li><a href="#">Delibere e Determine a contrarre</a></li>
          <!-- <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li> -->
        </ul>
      </li>
      <li><a href="#">Altre risorse <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a>
        <ul>
          <li><a href="#">Enti controllati</a></li>
          <li><a href="#">Provvedimenti</a></li>
          <li><a href="#">Bilanci</a></li>
          <!-- <li><a href="#" data-megamenu-class="u-text-h4">altro
            <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a></li> -->
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">Vivere il Comune</a>
    <ul>
      <li><a href="#">Informazioni utili</a>
        <ul>
          <li><a href="#">Associazioni</a></li>
          <li><a href="#">Cenni storici</a></li>
          <li><a href="#">Come raggiungerci</a></li>
          <li><a href="#">Numeri per Emergenze</a></li>
          <li><a href="#">Scheda informativa</a></li>
        </ul>
      </li>
      <li><a href="#">Turismo e punti di interesse</a>
        <ul>
          <li><a href="#">Cosa visitare</a></li>
          <li><a href="#">Itinerari</a></li>
          <li><a href="#">Mappa dei punti di interesse</a></li>
          <li><a href="#">Paesaggi e Immagini</a></li>
        </ul>
      </li>
      <li><a href="#">Sul territorio</a>
        <ul>
          <li><a href="#">Dove dormire</a></li>
          <li><a href="#">Dove mangiare</a></li>
          <li><a href="#">Mercati</a></li>
          <li><a href="#">Sanità e farmacie</a></li>
          <li><a href="#">Scuole / Asili</a></li>
          <li><a href="#">Servizi commerciali</a></li>
          <li><a href="#">Stabilimenti balneari e termali</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">Altro</a>
    <ul>
      <li><a href="#">Siti tematici</a>
        <ul>
          <li><a href="#">sito tematico</a></li>
          <li><a href="#">sito tematico</a></li>
          <li><a href="#">sito tematico</a></li>
          <li><a href="#">sito tematico</a></li>
          <li><a href="#">sito tematico</a></li>
        </ul>
      </li>
      <li><a href="#">Servizi per</a>
        <ul data-megamenu-class="u-lg-columns-2">
          <li><a href="#">Anziani</a></li>
          <li><a href="#">Automobilisti</a></li>
          <li><a href="#">Bambini</a></li>
          <li><a href="#">Cittadini</a></li>
          <li><a href="#">Consumatori</a></li>
          <li><a href="#">Disabili</a></li>
          <li><a href="#">Donne</a></li>
          <li><a href="#">Elettori</a></li>
          <li><a href="#">Famiglie</a></li>
          <li><a href="#">Giovani</a></li>
          <li><a href="#">Immigrati</a></li>
          <li><a href="#">Imprenditori</a></li>
          <li><a href="#">Italiani all'estero</a></li>
          <li><a href="#">Lavoratori / In cerca di lavoro</a></li>
          <li><a href="#">Persone con disagio sociale</a></li>
          <li><a href="#">Studenti</a></li>
          <li><a href="#">Turisti</a></li>
        </ul>
      </li>
      <!-- <li><a href="#">news</a></li>
      <li><a href="#">eventi</a></li> -->
      <li><a href="#" data-megamenu-class="u-text-h4">mappa del sito
        <span data-megamenu-class="Icon Icon-chevron-right u-text-r-xxs"></span></a>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="u-hidden">
    <a class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>
