<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4 u-textUppercase"><span class="Dot u-background-60"></span>eventi</a>
    </p>
    <h2 class="u-text-h2">sagra dell'olio di palma</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <a href="#news" class="js-scrollTo u-linkClean Button Button--info u-text-r-xs">ultime news ed eventi <span class="u-padding-r-left Icon Icon-expand"></span></a>
  </div>
</section>
