/* @define Hero; */

/*
 *  1.About 3 x Header size
 */

:root {
  --Hero-height: 30em; /* 1 */
  --Hero-background-img: url("//placehold.it/2000x500?text=placeholder");
}

.Hero {
  background: var(--Hero-background-img);
  background-size: cover;
  height: var(--Hero-height);

  @extend .u-posRelative;
}

.Hero-content {
  @extend .u-posRelative;
  @extend .u-layoutCenterVertically;

  @extend .u-padding-r-all;
  @extend .u-background-grey-20;

  @extend .u-sizeFull;

  @extend .u-md-size6of12;
  @extend .u-md-before2of12;

  @extend .u-lg-size5of12;
  @extend .u-lg-before1of8;

  opacity: 0;
  background: transparent !important;
  width: 50% !important;
  margin-left: 12.5rem !important;
  top: auto !important;
  bottom: 15% !important;
  transform: translateY(0) !important;
  position: absolute !important;
  z-index: 2;
}

body .Hero-content .u-text-h2 {
    color: #fff !important;
    font-size: 60px !important;
    line-height: 1.2 !important;
}

body .Hero-content .u-text-p {
    color: #fff !important;
    font-size: 25px !important;
    line-height: 1.2 !important;
    padding: 0 0 20px 0 !important;
}

body .Hero-content .Button--default {
    background: #fff;
    color: #006390 !important;
    padding: 15px 40px;
}

body .Hero:before {
    content: " ";
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.flex-control-nav {
      bottom: 10px !important;
}
