<div class="ErrorPage u-textCenter u-text-xxs u-text-md-xs u-text-lg-s">
    <h1 class="ErrorPage-title">{{ title }}</h1>
    <h2 class="ErrorPage-subtitle">{{ subtitle }}</h2>
    <p class="Prose u-margin-r-all">{{ text }}</p>
    <a class="Button Button--default u-margin-r-all" href="#">{{ button }}</a>
</div>
