<nav class="Navscroll Navscroll--withHint">
  <ul class="u-padding-all-s u-margin-all-l">
    {% for i in range(0, 5) %}
      <li class="u-padding-right-l"><a href="#">{{ __WORDS__[i] | capitalize }}</a></li>
    {% endfor %}
  </ul>
</nav>
