{% for i in [1, 2] %}
<div class="u-background-grey-20 u-layout-centerContent u-cf">
  <section class="js-Masonry-container u-layout-medium" data-columns>

    {% for i in [1, 2] %}
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">{{ __WORDS__[1] }}</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">{{ __SHORT_TEXTS__[1] }}</a></h3>
          <p class="Card-text">
            {{ __TEXTS__[1] }}
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">{{ __WORDS__[1] }}</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">{{ __SHORT_TEXTS__[2] }}</a></h3>
          <p class="Card-text">
            {{ __TEXTS__[2] }}
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">{{ __WORDS__[1] }}</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">{{ __SHORT_TEXTS__[3] }}</a></h3>
          <p class="Card-text">{{ __SHORT_TEXTS__[3] }}</p>
        </div>
      </div>
    </div>
    {% endfor %}

  </section>
</div>
{% endfor %}
