<div class=" u-background-compl-10 u-layout-centerContent u-padding-r-top">

  <section class="u-layout-wide u-layout-r-withGutter u-text-r-s u-padding-r-top u-padding-r-bottom">

    <h2 id="news" class="u-layout-centerLeft u-text-r-s">
      <a class="u-color-50 u-textClean u-text-h3 " href="">Notizie</a>
    </h2>

    <div class="Grid Grid--withGutterM">

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
        {% render '@card--simple', { modifier: 'u-borderShadow-xxs u-borderRadius-m' } %}
      </div>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
        {% render '@card--simple', { modifier: 'u-borderShadow-xxs u-borderRadius-m' } %}
      </div>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
        {% render '@card--simple', { modifier: 'u-borderShadow-xxs u-borderRadius-m' } %}
      </div>

    </div>

    <p class="u-textCenter u-text-md-right u-text-lg-right u-margin-r-top">
      <a href="#" class="u-color-50 u-textClean u-text-h4">
        tutte le notizie <span class="Icon Icon-chevron-right"></a>
    </p>

  </section>

  <a href="#utilita" class="Forward Forward--floating js-scrollTo" aria-hidden="true">
    <span class="Icon Icon-expand u-color-grey-40"></span>
  </a>

</div>
