<div class=" u-background-compl-10 u-layout-centerContent">

  <section class="Grid Grid--withGutter u-layout-medium u-text-r-xl">

    <div class="Grid-cell u-sizeFull u-padding-r-bottom u-padding-r-top">
      <h2 id="news" class="u-text-r-l"><a class="u-color-50 u-textClean" href="">Notizie</a></h2>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-r-all u-text-r-xxs u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink u-color-60" href="">{{ __WORDS__[1] }}</a></p>
          <h3 class="Card-title"><a class="Card-titleLink u-color-60" href="">{{ __SHORT_TEXTS__[3] }}</a></h3>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">{{ __TEXTS__[1] }}</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-r-all u-text-r-xxs u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink u-color-60" href="">{{ __WORDS__[1] }}</a></p>
          <h3 class="Card-title"><a class="Card-titleLink u-color-60" href="">{{ __SHORT_TEXTS__[3] }}</a></h3>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">{{ __TEXTS__[2] }}</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-r-all u-text-r-xxs u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink u-color-60" href="">{{ __WORDS__[1] }}</a></p>
          <h3 class="Card-title"><a class="Card-titleLink u-color-60" href="">{{ __SHORT_TEXTS__[3] }}</a></h3>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">{{ __TEXTS__[3] }}</p>
        </div>
      </div>
    </div>

    <p class="Grid-cell u-textCenter u-text-md-right u-text-lg-right">
      <a href="#" class="u-color-50 u-textClean u-text-h4">
          tutte le notizie <span class="Icon Icon-chevron-right"></a>
    </p>

  </section>

  <a href="#utilita" class="Forward Forward--floating js-scrollTo" aria-hidden="true">
    <span class="Icon Icon-expand u-color-grey-40"></span>
  </a>

</div>
