<div class="u-layout-centerContent u-background-grey-20">
  <section class="u-layout-wide u-padding-top-xxl u-padding-bottom-xxl">
    <div class="Grid Grid--withGutter u-margin-bottom-l">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l">Notizie</h2>
      </div>
      <div class="Grid-cell u-layout-centerRight">
        <h2 class="u-text-r-m"><a class=" u-color-50" href="">Vedi tutto</a></h2>
      </div>
    </div>

    {% for a in [1, 2] %}
    <div class="Grid Grid--withGutter">
      {% for b in [1, 2, 3, 4] %}
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        {% render '@tile' %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}

  </section>
</div>
