<ul class="Linklist {{ modifier }} u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">{{ __SHORT_TEXTS__[0] }}</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">{{ __SHORT_TEXTS__[1] }}</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">{{ __SHORT_TEXTS__[2] }}</a></li>
      <li><a href="">{{ __SHORT_TEXTS__[3] }}</a></li>
      <li><a href="">{{ __SHORT_TEXTS__[4] }}</a></li>
      <li><a href="">{{ __SHORT_TEXTS__[5] }}</a></li>
    </ul>
  </li>
  <li><a href="">{{ __SHORT_TEXTS__[6] }}</a></li>
  <li><a href="">{{ __SHORT_TEXTS__[7] }}</a></li>
  <li><a href="" class="Linklist-link is-collapsed">{{ __SHORT_TEXTS__[8] }}</a></li>
  <li><a href="">{{ __SHORT_TEXTS__[9] }}</a></li>
</ul>
