{% render '@cookiebar' %}
{% render '@header', { menu: true, megamenu: true, clone: true }, true %}

<div id="main">

  {% render '@hero--news' %}

  <div class="u-layout-wide u-layoutCenter u-padding-r-top u-text-r-xl u-layout-r-withGutter">

    <div class="Grid Grid--equalHeight" id="servizi">
      <div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-sizeFull u-border-top-l u-color-70 u-text-r-l">
          <h3 class="u-text-h3 u-padding-r-top">Servizi online</h3>
          <div class="Prose u-padding-r-bottom">
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">Modulistica</a></li>
              <li><a href="">SUAP</a></li>
              <li><a href="">Iscrizioni scolastiche</a></li>
              <li><a href="">Tributi e sanzioni</a></li>
              <li><a href="#" class="u-color-50 u-textClean u-text-h4">
                  tutti i servizi online <span class="Icon Icon-chevron-right"></span></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all u-flex">
        <div class="u-sizeFull u-border-top-l u-color-70 u-text-r-l">
          <h3 class="u-text-h3 u-padding-r-top">Bandi e concorsi</h3>
          <div class="Prose u-padding-r-bottom">
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">Bandi aperti</a></li>
              <li><a href="">Avvisi</a></li>
              <li><a href="">Mobilità</a></li>
              <li><a href="">Selezioni di personale</a></li>
              <li><a href="#" class="u-color-50 u-textClean u-text-h4">
                  tutti i bandi e i concorsi <span class="Icon Icon-chevron-right"></span></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-sizeFull u-border-top-l u-color-70 u-text-r-l">
          <h3 class="u-text-h3 u-padding-r-top">Scadenze</h3>
          <div class="Prose u-padding-r-bottom">
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="#">30/11 Albo scrutatori</a></li>
              <li><a href="#">16/12 IMU</a></li>
              <li><a href="#">16/12 TASI</a></li>
              <li><a href="#">16/12 Affissioni</a></li>
              <li><a href="#" class="u-color-50 u-textClean u-text-h4">
                  tutte le scadenze <span class="Icon Icon-chevron-right"></span></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="Grid Grid--withGutter u-padding-r-bottom u-text-r-xl u-margin-r-top">
      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
        <div class="Entrypoint-item u-sizeFill u-background-50">
          <p><a class="u-textClean u-text-h3 u-color-white" href="">Amministrazione trasparente</a></p>
        </div>
      </div>
      <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
        <div class="Entrypoint-item u-background-50">
          <p><a class="u-textClean u-text-h3 u-color-white" href="">Accesso civico</a></p>
        </div>
        <div class="Entrypoint-item u-background-50">
          <p><a class="u-textClean u-text-h4 u-color-white" href="">Albo pretorio</a></p>
        </div>
      </div>
      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
        <div class="Entrypoint-item u-sizeFill u-background-50">
          <p><a class="u-textClean u-text-h3 u-color-white" href="">Ufficio Relazioni con il Pubblico</a></p>
        </div>
      </div>
    </div>

    <a href="#news" class="Forward Forward--floating js-scrollTo is-clean" aria-hidden="true">
      <span class="Icon Icon-expand"></span>
    </a>

  </div>

  <div class=" u-background-grey-20 u-layout-centerContent">

    <section class="Grid Grid--withGutter u-layout-medium u-text-r-xl">

      <div class="Grid-cell u-layout-centerLeft u-text-r-xl u-padding-r-bottom u-padding-r-top">
        <h2 id="news" class="u-text-r-l"><a class="u-color-50 u-textClean" href="">Notizie</a></h2>
      </div>
      <p class="Grid-cell u-layout-centerRight">
      </p>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
        <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
          <div class="Card-image">
            <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" />
          </div>
          <div class="Card-content">
            <p class="Card-extra"><a class="Card-extraLink" href="">{{ __WORDS__[1] }}</a></p>
            <p class="Card-title"><a class="Card-titleLink" href="">{{ __SHORT_TEXTS__[1] }}</a></p>
            <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
            <p class="Card-text">{{ __TEXTS__[1] }}</p>
          </div>
        </div>
      </div>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
        <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
          <div class="Card-image">
            <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" />
          </div>
          <div class="Card-content">
            <p class="Card-extra"><a class="Card-extraLink" href="">{{ __WORDS__[1] }}</a></p>
            <p class="Card-title"><a class="Card-titleLink" href="">{{ __SHORT_TEXTS__[2] }}</a></p>
            <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
            <p class="Card-text">{{ __TEXTS__[2] }}</p>
          </div>
        </div>
      </div>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
        <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
          <div class="Card-image">
            <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" />
          </div>
          <div class="Card-content">
            <p class="Card-extra"><a class="Card-extraLink" href="">{{ __WORDS__[1] }}</a></p>
            <p class="Card-title"><a class="Card-titleLink" href="">{{ __SHORT_TEXTS__[3] }}</a></p>
            <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
            <p class="Card-text">{{ __TEXTS__[3] }}</p>
          </div>
        </div>
      </div>

      <div class="Grid-cell u-layout-centerLeft u-text-r-xl u-padding-r-top">
      </div>
      <p class="Grid-cell u-layout-centerRight">
        <a href="#" class="u-color-50 u-textClean u-text-h4">
            tutte le notizie <span class="Icon Icon-chevron-right"></a>
      </p>

      <a href="#utilita" class="Forward Forward--floating js-scrollTo is-clean" aria-hidden="true">
        <span class="Icon Icon-expand u-color-grey-40"></span>
      </a>

    </section>
  </div>

  <div class="u-background-white u-color-black u-text-xxl u-padding-r-top u-padding-r-bottom">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter" id="utilita">
      {% render '@leads', {title: 'Utilità', leads: ['Open data', 'Intranet']} %}
    </div>
  </div>

  <div class="u-background-accent u-padding-all-xxl u-layoutCenter u-layout-r-withGutter">
    <p class="u-textCenter">
      <a href="#" class="u-color-95 u-textClean u-text-h4">
        <span class="u-padding-r-right Icon Icon-comment">
          </span> Valuta questo sito
      </a>
    </p>
  </div>

  <div class="u-background-grey-80">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">

      <footer class="Footer u-padding-all-s">

        <div class="u-cf">
          <img class="Footer-logo" src="//placehold.it/75x80?text=placeholder" alt="">
          <p class="Footer-siteName">
            {{ site.name }}
          </p>
        </div>

        <div class="Grid Grid--withGutter">

          <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
            <h2 class="Footer-blockTitle">Contatti</h2>
            <div class="Footer-subBlock">
              <h3 class="Footer-subTitle">Recapiti</h3>
              <address>
                Via Cherso 8<br>
                00177 Roma<br>
                Tel. (+39) 00.1310.1980
              </address>
            </div>
          </div>

          <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
            <h2 class="Footer-blockTitle">Trasparenza</h2>
            <ul>
              <li><a href="">Amministrazione trasparente</a></li>
              <li><a href="">Accesso civico</a></li>
              <li><a href="">Albo pretorio</a></li>
              <li><a href="">Bandi di gara e contratti</a></li>
            </ul>
          </div>

          <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
            <h2 class="Footer-blockTitle">Seguici su</h2>
            <div class="Footer-subBlock">
              <ul class="Footer-socialIcons">
                <li><a href=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
                <li><a href=""><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
                <li><a href=""><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
              </ul>
            </div>
          </div>

        </div>

        <ul class="Footer-links u-cf">
          <li><a href="" title="Privacy policy">Privacy</a></li>
          <li><a href="" title="Note legali">Note legali</a></li>
          <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
          <li><a href="" title="Dati monitoraggio sito">Valuta questo sito</a></li>
          <li><a href="" title="Dati monitoraggio sito">Mappa del sito sito</a></li>
        </ul>

      </footer>

    </div>
  </div>

  {% render '@scrolltop' %}

</div>
