<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>

<body class="Pac">

  <section class="Utilities u-background-grey-20">
  <h2 class="Utilities-title">Utilità</h2>
  <ul class="Grid Grid--withGutter">
    <li class="Utilities-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Utilities-link u-color-grey-80" href="">Amministrazione trasparente</a>
    </li>
    <li class="Utilities-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Utilities-link u-color-grey-80" href="">Albo pretorio</a>
    </li>
    <li class="Utilities-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Utilities-link u-color-grey-80" href="">Bandi e concorsi</a>
    </li>
    <li class="Utilities-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Utilities-link u-color-grey-80" href="">Accesso civico</a>
    </li>
  </ul>
</section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>

</html>

