</div>
</div>

<div class="u-background-95">
  <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter u-hiddenPrint">
    {% render '@footer--simple', { site: { owner_logo: 'https://www.spid.gov.it/assets/img/agid-logo-bb.svg' } } %}
  </div>
</div>

{% render '@scrolltop' %}
