<ul>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--{{ modifier }} {{ type }}">Button {{ modifier }}</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--{{ modifier }} {{ type }} is-pressed">Button {{ modifier }} pressed</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--{{ modifier }} {{ type }} is-disabled" disabled>Button {{ modifier }} disabled</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--{{ modifier }} Button--shadow {{ type }}">Button {{ modifier }} shadow</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--{{ modifier }} Button--round {{ type }}">Button {{ modifier }} round</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--{{ modifier }} Button--shadow Button--round {{ type }}">Button {{ modifier }} round shadow</button>
  </li>
  <li class="u-padding-all-s">
    <a role="button" class="Button Button--{{ modifier }} Button--shadow Button--round {{ type }}">Link button {{ modifier }} round shadow</a>
  </li>
</ul>
