/** @define Button; */

:root {
  --Button-default-bg: var(--Color-primary);
  --Button-default-color: #fff;
  --Button-default-border: var(--Color-primary) l(+8%) s(-15%);

  --Button-danger-bg: #b50000;
  --Button-danger-color: #fff;
  --Button-danger-border: #f00;

  --Button-info-bg: #fff;
  --Button-info-color: #003e54;
  --Button-info-border: #ccc;

  --Button-compl-bg: var(--Color-compl);
  --Button-compl-color: #fff;
  --Button-compl-border: var(--Color-compl);

  --Button-compl-5-bg: var(--Color-compl-5);
  --Button-compl-5-color: #fff;
  --Button-compl-5-border: var(--Color-compl-5);
}

.Button {
  font-weight: 600;
  padding: 0.6em 1.2em;
  text-transform: uppercase;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.Button:active,
.Button.is-pressed {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.Button--shadow {
  box-shadow: 0 2px 4px 0 #bdbdbd;
}

.Button--round {
  border-radius: 0.1em;
}

/**
 * Modifier: default buttons
 * =========================
 */

.Button--default {
  background-color: var(--Button-default-bg);
  border-color: var(--Button-default-border);
  color: var(--Button-default-color);
}

.Button--default[disabled],
.Button--default.is-disabled {
  background-color: var(--Button-default-bg) !important;
  border-color: var(--Button-default-border) !important;
  color: var(--Button-default-color) !important;
}

.Button--default:focus,
.Button--default:hover {
  background-color: color(var(--Button-default-bg) l(-10%));
  border-color: color(var(--Button-default-border) l(-10%));
}

.Button--default:active,
.Button--default.is-pressed {
  background-color: var(--Button-default-color);
  border-color: color(var(--Button-default-color) l(-25%));
  color: var(--Button-default-bg);
}

/**
 * Modifier: danger buttons
 * =========================
 */

.Button--danger {
  background-color: var(--Button-danger-bg);
  border-color: var(--Button-danger-border);
  color: var(--Button-danger-color) !important;
}

.Button--danger[disabled],
.Button--danger.is-disabled {
  background-color: var(--Button-danger-bg) !important;
  border-color: var(--Button-danger-border) !important;
  color: var(--Button-danger-color) !important;
}

.Button--danger:focus,
.Button--danger:hover {
  background-color: color(var(--Button-danger-bg) l(-10%));
  border-color: color(var(--Button-danger-border) l(-10%));
}

.Button--danger:active,
.Button--danger.is-pressed {
  background-color: var(--Button-danger-color);
  border-color: color(var(--Button-danger-color) l(-25%));
  color: var(--Button-danger-bg);
}

/**
 * Modifier: info buttons
 * =========================
 */

.Button--info {
  background-color: var(--Button-info-bg) !important;
  border-color: var(--Button-info-border) !important;
  color: var(--Button-info-color) !important;
}

.Button--info[disabled],
.Button--info.is-disabled {
  background-color: var(--Button-info-bg) !important;
  border-color: var(--Button-info-border) !important;
  color: var(--Button-info-color) !important;
}

.Button--info:focus,
.Button--info:hover {
  background-color: color(var(--Button-info-bg) l(-10%));
  border-color: color(var(--Button-info-border) l(-10%));
}

.Button--compl:active,
.Button--compl.is-pressed {
  background-color: var(--Button-compl-color) !important;
  border-color: color(var(--Button-compl-color) l(-25%)) !important;
  color: var(--Button-compl-bg) !important;
}

.Button--compl {
  background-color: var(--Button-compl-bg) !important;
  border-color: var(--Button-compl-border) !important;
  color: var(--Button-compl-color) !important;
  text-transform: none;
}

.Button--compl[disabled],
.Button--compl.is-disabled {
  background-color: var(--Button-compl-bg) !important;
  border-color: var(--Button-compl-border) !important;
  color: var(--Button-compl-color) !important;
}

.Button--compl:focus,
.Button--compl:hover {
  background-color: color(var(--Button-compl-bg) l(-10%));
  border-color: color(var(--Button-compl-border) l(-10%));
}

.Button--compl:active,
.Button--compl.is-pressed {
  background-color: var(--Button-compl-color) !important;
  border-color: color(var(--Button-compl-color) l(-25%)) !important;
  color: var(--Button-compl-bg) !important;
}

.Button--compl5 {
  background-color: var(--Button-compl-5-bg) !important;
  border-color: var(--Button-compl-5-border) !important;
  color: var(--Button-compl-5-color) !important;
  text-transform: none;
}

.Button--compl5[disabled],
.Button--compl5.is-disabled {
  background-color: var(--Button-compl-5-bg) !important;
  border-color: var(--Button-compl-5-border) !important;
  color: var(--Button-compl-5-color) !important;
}

.Button--compl5:focus,
.Button--compl5:hover {
  background-color: color(var(--Button-compl-5-bg) l(-10%));
  border-color: color(var(--Button-compl-5-border) l(-10%));
}

.Button--compl5:active,
.Button--compl5.is-pressed {
  background-color: var(--Button-compl-5-color) !important;
  border-color: color(var(--Button-compl-5-color) l(-25%)) !important;
  color: var(--Button-compl-5-bg) !important;
}

.Button--xs {
  font-size: 1.3rem !important;
  padding: 0.1em 0.3em !important;
}

.Button--s {
  font-size: 1.3rem !important;
  padding: 0.3em 0.5em !important;
}
