<!DOCTYPE html>
<!--[if lte IE 9 ]>  <html class="no-js legacy"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <script>
    (function() {
      document.getElementsByTagName('html')[0].className =
        document.getElementsByTagName('html')[0].className.replace('no-js', 'js-enabled')
    })()
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>
<body class="Pac">

  <form class="Form Form--spaced u-padding-all-xl">

  <div class="Prose">
    <p aria-live="assertive" class="Alert--error is-full u-padding-all-xl">
      È necessario correggere alcuni errori prima di poter inviare il form
    </p>
  </div>

  <div class="Form-field is-invalid">
    <div class=" Alert Alert--error" role="alert">
      <label class="Form-label" for="cognome">Cognome</label>
      <input class="Form-input" id="cognome" aria-invalid="true">
      <p id="err-1">Errore durante la compilazione</p>
    </div>
  </div>

  <div class="Form-field is-warning">
    <div class=" Alert Alert--warning">
      <label class="Form-label" for="citta">Città</label>
      <input class="Form-input" id="citta" aria-invalid="true">
      <p id="err-1">Messaggio di allerta</p>
    </div>
  </div>

  </div>
</form>


  <!--[if (lte IE 9)]>
  <script src="https://cdn.rawgit.com/inexorabletash/polyfill/master/polyfill.min.js"></script>
  <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>
</html>

