<section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text={{ index }}" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        {{ text | d(__TEXTS__[1]) }}
      </a>
    </h3>
  </div>
</section>
