<div class="u-nbfc {{ modifier }} u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="{{ __WORDS__[2] }}" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">{{ subtitle | d(__WORDS__[1]) }}</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">{{ title | d(__SHORT_TEXTS__[1]) }}</a></h3>
    <p class="u-text-p u-textSecondary">{{ text | d(__TEXTS__[1]) }}</p>
  </div>
</div>
