<!DOCTYPE html>
<html lang="it" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/blue.css?cachebust=1.1.0" type="text/css">

<link rel="stylesheet" href="../../ita-web-toolkit/theme/styleguide.css?cachebust=1.1.0" type="text/css">

<link rel="stylesheet" href="../../build/build-styleguide.css?cachebust=1.1.0" type="text/css">

<link rel="stylesheet" href="../../build/vendor.css?cachebust=1.1.0" type="text/css">


<title>Heading: H 3 | Web Toolkit Styleguide</title>

</head>
<body class="t-Pac">



<div class="Frame" id="frame">

    <div class="Frame-header">
        <ul class="Skiplinks js-fr-bypasslinks u-hiddenPrint">
  <li><a href="#main">Vai al Contenuto</a></li>
  <li><a class="Skiplinks-to-menu" href="#menu"
         aria-controls="menu" aria-label="accedi al menu" title="accedi al menu">Vai alla navigazione del sito</a></li>
</ul>

<header class="Header Headroom--fixed js-Headroom u-hiddenPrint">
  <div class="Header-navbar Grid Grid--alignMiddle">
    <div class="Header-toggle Grid-cell">
      <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

        <span class="Header-toggleText">Menu</span>
      </button>
    </div>

    <div class="Header-logo Grid-cell" aria-hidden="true">
      <a href="" tabindex="-1">
        <img src="/ita-web-toolkit/theme/docs/logo-it.svg" alt="">
      </a>
    </div>

    <div class="Header-title Grid-cell">
      <h1 class="Header-titleLink u-text-h1">
        <a href="../../index.html" data-pjax>Web Toolkit Styleguide</a>
      </h1>
    </div>
  </div>
  <!-- Header-navbar -->
</header>

    </div>

    <div class="Frame-body" data-role="body">

        <div id="main" class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-1346f7fada4107580e03e8c2d2780f4a">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title u-text-h4">
        <a class="Pen-previewLink" href="../preview/heading--h3.html" title="Component preview">
            Heading: H 3
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #FF9233; border-color: #FF9233;">WIP</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-1346f7fada4107580e03e8c2d2780f4a">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/heading--h3.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-1346f7fada4107580e03e8c2d2780f4a">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-1346f7fada4107580e03e8c2d2780f4a-panel-html">HTML</a>
        </li>
        
        
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-1346f7fada4107580e03e8c2d2780f4a-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-1346f7fada4107580e03e8c2d2780f4a-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-1346f7fada4107580e03e8c2d2780f4a-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">h3</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"u-text-h3"</span>&gt;</span>Et fugit ut dolore quaerat.<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span></pre>
        
    </code>
</div>

    
    


    
    <div class="Browser-panel" data-role="tab-panel" id="browser-1346f7fada4107580e03e8c2d2780f4a-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@heading--h3</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(7)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="heading--default.html">
                    <span>Default</span>
                </a>, 
            
                <a href="heading--h1.html">
                    <span>H 1</span>
                </a>, 
            
                <a href="heading--h2.html">
                    <span>H 2</span>
                </a>, 
            
                <a href="">
                    <span>H 3</span>
                </a>, 
            
                <a href="heading--h4.html">
                    <span>H 4</span>
                </a>, 
            
                <a href="heading--h5.html">
                    <span>H 5</span>
                </a>, 
            
                <a href="heading--h6.html">
                    <span>H 6</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/heading--h3.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/heading--h3.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/components/heading/heading--h3.tmpl</span>
        </li>
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Referenced by <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="heading.html">@<span>heading</span></a>
            
            </span>
        </li>
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-1346f7fada4107580e03e8c2d2780f4a-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation" id="menu">
  
    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title u-text-h4">Documentazione</h3>
    <ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xxs">
        
    
        
        
        <li class="" data-role="item">
            <a href="../../index.html" data-pjax>
                <span>Introduzione</span>
                
            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="../../docs/come-iniziare.html" data-pjax>
                <span>Come iniziare</span>
                
            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="../../docs/tecnologie.html" data-pjax>
                <span>Tecnologie utilizzate</span>
                
            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="../../docs/sviluppare.html" data-pjax>
                <span>Utilizzare l'ambiente di sviluppo</span>
                
            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="../../docs/moduli.html" data-pjax>
                <span>Creare o modificare un modulo</span>
                
            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="../../docs/compatibilita.html" data-pjax>
                <span>Compatibilità con altri framework</span>
                
            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="../../docs/struttura.html" data-pjax>
                <span>Struttura del file system</span>
                
            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="../../docs/tema.html" data-pjax>
                <span>Realizzare un tema</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>


  
    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title u-text-h4">Componenti</h3>
    <ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xxs">
        
    
        
        <li>
            <a href="#">
                Components
            </a>
            <ul>
            
            
            
            
    
        
        <li>
            <a href="#">
                Button
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="button--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="button--info.html" data-pjax>
                <span>Info</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="button--danger.html" data-pjax>
                <span>Danger</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Grid
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="grid--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="grid--responsive.html" data-pjax>
                <span>Responsive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="grid--responsive-alt.html" data-pjax>
                <span>Responsive Alt</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Heading
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="heading--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="heading--h1.html" data-pjax>
                <span>H 1</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="heading--h2.html" data-pjax>
                <span>H 2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class=" is-current" data-state="current" data-role="item">
            <a href="" data-pjax>
                <span>H 3</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="heading--h4.html" data-pjax>
                <span>H 4</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="heading--h5.html" data-pjax>
                <span>H 5</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="heading--h6.html" data-pjax>
                <span>H 6</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Prose
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="prose--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="prose--blockquote.html" data-pjax>
                <span>Blockquote</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="prose--code.html" data-pjax>
                <span>Code</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="prose--paragraph.html" data-pjax>
                <span>Paragraph</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Table
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="table--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="table--compact.html" data-pjax>
                <span>Compact</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="table--complex.html" data-pjax>
                <span>Complex</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="table--flip.html" data-pjax>
                <span>Flip</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="table--flippable.html" data-pjax>
                <span>Flippable</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="table--irregular.html" data-pjax>
                <span>Irregular</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="table--responsive.html" data-pjax>
                <span>Responsive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="table--twoheaders.html" data-pjax>
                <span>Twoheaders</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Modules
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="accordion.html" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li>
            <a href="#">
                Alert
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="alert--error.html" data-pjax>
                <span>Error</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="alert--warning.html" data-pjax>
                <span>Warning</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="alert--success.html" data-pjax>
                <span>Success</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="alert--info.html" data-pjax>
                <span>Info</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="breadcrumb.html" data-pjax>
                <span>Breadcrumb</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="bullets.html" data-pjax>
                <span>Bullets</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li>
            <a href="#">
                Callout
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="callout--must.html" data-pjax>
                <span>Must</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="callout--should.html" data-pjax>
                <span>Should</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="callout--could.html" data-pjax>
                <span>Could</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="callout--example.html" data-pjax>
                <span>Example</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Card
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="card--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="card--shadow.html" data-pjax>
                <span>Shadow</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="card--round.html" data-pjax>
                <span>Round</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="card--all.html" data-pjax>
                <span>All</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="carousel.html" data-pjax>
                <span>Carousel</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="cookiebar.html" data-pjax>
                <span>Cookiebar</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="dialog.html" data-pjax>
                <span>Dialog</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="dropdown.html" data-pjax>
                <span>Dropdown</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li>
            <a href="#">
                Entrypoint
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="entrypoint--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="entrypoint--responsive.html" data-pjax>
                <span>Responsive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="footer.html" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li>
            <a href="#">
                Header
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="header--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="header--menu.html" data-pjax>
                <span>Menu</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="header--megamenu.html" data-pjax>
                <span>Megamenu</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Hero
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="hero--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="hero--news.html" data-pjax>
                <span>News</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="leads.html" data-pjax>
                <span>Leads</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li>
            <a href="#">
                Linklist
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="linklist--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="linklist--padded.html" data-pjax>
                <span>Padded</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="megamenu.html" data-pjax>
                <span>Megamenu</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="navscroll.html" data-pjax>
                <span>Navscroll</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="offcanvas.html" data-pjax>
                <span>Offcanvas</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li>
            <a href="#">
                Pager
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="pager--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="pager--responsive.html" data-pjax>
                <span>Responsive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="skiplinks.html" data-pjax>
                <span>Skiplinks</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="tooltip.html" data-pjax>
                <span>Tooltip</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li>
            <a href="#">
                Treeview
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="treeview--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="treeview--comuni.html" data-pjax>
                <span>Comuni</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="treeview--placeholders.html" data-pjax>
                <span>Placeholders</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Extra
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="share.html" data-pjax>
                <span>Share</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="spid.html" data-pjax>
                <span>Spid</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Templates
            </a>
            <ul>
            
            
            
            
    
        
        <li>
            <a href="#">
                Comuni
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="comuni--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="comuni--megamenu.html" data-pjax>
                <span>Megamenu</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Formtpl
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="formtpl--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="formtpl--errors.html" data-pjax>
                <span>Errors</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="formtpl--example.html" data-pjax>
                <span>Example</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="formtpl--filters.html" data-pjax>
                <span>Filters</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Layout
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="layout--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="layout--focus.html" data-pjax>
                <span>Focus</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="layout--gallery.html" data-pjax>
                <span>Gallery</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="layout--grid.html" data-pjax>
                <span>Grid</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="layout--masonry.html" data-pjax>
                <span>Masonry</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="layout--news.html" data-pjax>
                <span>News</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="layout--twitter.html" data-pjax>
                <span>Twitter</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Page
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="page--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="page--error_403.html" data-pjax>
                <span>Error 403</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="page--error_404.html" data-pjax>
                <span>Error 404</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="page--landing.html" data-pjax>
                <span>Landing</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="page--megamenu.html" data-pjax>
                <span>Megamenu</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="page--menu.html" data-pjax>
                <span>Menu</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="page--section.html" data-pjax>
                <span>Section</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="page--servizio.html" data-pjax>
                <span>Servizio</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Tile
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="tile--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="tile--gallery.html" data-pjax>
                <span>Gallery</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="tile--twitter.html" data-pjax>
                <span>Twitter</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Utils
            </a>
            <ul>
            
            
            
            
    
        
        <li>
            <a href="#">
                Borders
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="borders--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="borders--alt.html" data-pjax>
                <span>Alt</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="colors.html" data-pjax>
                <span>Colors</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="corners.html" data-pjax>
                <span>Corners</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="shadows.html" data-pjax>
                <span>Shadows</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li>
            <a href="#">
                Space
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="space--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="space--responsive.html" data-pjax>
                <span>Responsive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Text
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="text--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="" data-role="item">
            <a href="text--size.html" data-pjax>
                <span>Size</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li>
            <a href="#">
                Icons
            </a>
            <ul>
            
            
            
            
    
        
        <li>
            <a href="#">
                Ita
            </a>
            <ul>
            
            
            
            
    
        
        
        <li class="" data-role="item">
            <a href="icons.html" data-pjax>
                <span>Icons</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>


  
</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.1.0"></script>

<script src="../../build/styleguide.min.js?cachebust=1.1.0"></script>

<script src="../../ita-web-toolkit/theme/styleguide-menu-override.js?cachebust=1.1.0"></script>



</body>
</html>
