<section class="u-padding-r-top u-padding-r-bottom">
  <h2 class="u-text-h3 u-layout-centerLeft">{{ title }}</h2>
  <ul class="Grid Grid--withGutter">
    {% for lead in leads %}
      <li class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
        <a class="Leads-link u-color-black" href="">{{ lead }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
