<div class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-size1of2 u-lg-size1of4"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 responsive</div></div>
  <div class="Grid-cell u-size1of2 u-lg-size1of4"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 responsive</div></div>
  <div class="Grid-cell u-size1of2 u-lg-size1of4"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 responsive</div></div>
  <div class="Grid-cell u-size1of2 u-lg-size1of4"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 responsive</div></div>
</div>
