<div class="Grid Grid--fit Grid--withGutter u-padding-all-l">
  <div class="Grid-cell"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 fixed</div></div>
  <div class="Grid-cell"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 fixed</div></div>
  <div class="Grid-cell"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 fixed</div></div>
  <div class="Grid-cell"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 fixed</div></div>
</div>
