

<div class="Prose Alert Alert--" role="alert">
  <h2 class="u-text-r-l">Voluptatem sed corporis vel deserunt temporibus optio.</h2>
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Et sit rem in quo autem assumenda quo. Ut ratione ratione dicta et quaerat delectus atque voluptatem. Consequatur facilis eaque assumenda. Repellat quia nulla qui consectetur quia. Modi maiores repudiandae reprehenderit. Facere sit aut ipsam sapiente dolores voluptate repellat aut est.</p>

</div>

