


  <div class="Prose Alert Alert--warning  u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Attenzione
    </h2>
    <p class="u-text-p">Reiciendis non vel rerum totam neque inventore eos. Tempore et perspiciatis sequi numquam soluta numquam voluptatem error. Quo eligendi est praesentium. Enim blanditiis est dicta voluptas maiores.</p>
  </div>

  <div class="Prose Alert Alert--warning Alert--withBg u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Attenzione
    </h2>
    <p class="u-text-p">Reiciendis non vel rerum totam neque inventore eos. Tempore et perspiciatis sequi numquam soluta numquam voluptatem error. Quo eligendi est praesentium. Enim blanditiis est dicta voluptas maiores.</p>
  </div>

  <div class="Prose Alert Alert--warning Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Attenzione
    </h2>
    <p class="u-text-p">Reiciendis non vel rerum totam neque inventore eos. Tempore et perspiciatis sequi numquam soluta numquam voluptatem error. Quo eligendi est praesentium. Enim blanditiis est dicta voluptas maiores.</p>
  </div>


