


  <div class="Prose Alert Alert--  u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Aspernatur distinctio voluptatem aliquid ratione deserunt in aliquam praesentium.
    </h2>
    <p class="u-text-p">Autem nostrum et ipsa odit. Maxime laborum quo aut aliquid esse in. Magnam nisi sed id nemo. Nobis inventore aliquid ut qui id hic quae.</p>
  </div>

  <div class="Prose Alert Alert-- Alert--withBg u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Aspernatur distinctio voluptatem aliquid ratione deserunt in aliquam praesentium.
    </h2>
    <p class="u-text-p">Autem nostrum et ipsa odit. Maxime laborum quo aut aliquid esse in. Magnam nisi sed id nemo. Nobis inventore aliquid ut qui id hic quae.</p>
  </div>

  <div class="Prose Alert Alert-- Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Aspernatur distinctio voluptatem aliquid ratione deserunt in aliquam praesentium.
    </h2>
    <p class="u-text-p">Autem nostrum et ipsa odit. Maxime laborum quo aut aliquid esse in. Magnam nisi sed id nemo. Nobis inventore aliquid ut qui id hic quae.</p>
  </div>


