


  <div class="Prose Alert Alert--error  u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Si è verificato un errore
    </h2>
    <p class="u-text-p">Voluptatem ea consectetur magni tempore sapiente laudantium. Expedita rerum ea. Numquam aspernatur deleniti nihil reiciendis vitae vitae voluptas dolorem a.</p>
  </div>

  <div class="Prose Alert Alert--error Alert--withBg u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Si è verificato un errore
    </h2>
    <p class="u-text-p">Voluptatem ea consectetur magni tempore sapiente laudantium. Expedita rerum ea. Numquam aspernatur deleniti nihil reiciendis vitae vitae voluptas dolorem a.</p>
  </div>

  <div class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Si è verificato un errore
    </h2>
    <p class="u-text-p">Voluptatem ea consectetur magni tempore sapiente laudantium. Expedita rerum ea. Numquam aspernatur deleniti nihil reiciendis vitae vitae voluptas dolorem a.</p>
  </div>


