

<div class="Prose Alert Alert--warning" role="alert">
  <h2 class="u-text-h2">Attenzione !</h2>
  <p>Et labore ad do ut quis nostrud consectetur cillum dolor Lorem in tempor adipisicing.Dolor dolore consectetur eiusmod qui adipisicing dolore velit et ut esse adipisicing aliqua. Consequat do ipsum officia proident ut cillum esse ipsum do sint do qui ipsum nisi qui aliquip cupidatat. Culpa ut excepteur duis enim ullamco cupidatat nisi anim officia anim consectetur incididunt esse do. Ullamco nulla voluptate laboris reprehenderit ut qui consectetur nostrud consequat magna sint laboris laborum esse id reprehenderit sint.</p>
</div>

