

<div class="Prose Alert Alert-- Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
  <h2 class="u-text-h3">
    Esse ut quae eius quo voluptates adipisci qui consequatur.
  </h2>
  <p class="u-text-p">Et est consequatur quia suscipit. Quaerat consequatur praesentium possimus atque voluptates. Nostrum quae facere autem libero dolore et. Omnis quas dolorem quo eveniet at. Maxime molestiae corporis et aut quos voluptate inventore tenetur consequatur. Reprehenderit nulla nesciunt dolorem et et ut.</p>
</div>

