


  <div class="Prose Alert Alert--warning  u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Attenzione
    </h2>
    <p class="u-text-p">Numquam qui alias nihil tempora commodi ut. Nam reprehenderit dolores deserunt ut sit ducimus. Vitae at possimus non.</p>
  </div>

  <div class="Prose Alert Alert--warning Alert--withBg u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Attenzione
    </h2>
    <p class="u-text-p">Numquam qui alias nihil tempora commodi ut. Nam reprehenderit dolores deserunt ut sit ducimus. Vitae at possimus non.</p>
  </div>

  <div class="Prose Alert Alert--warning Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    <h2 class="u-text-h3">
      Attenzione
    </h2>
    <p class="u-text-p">Numquam qui alias nihil tempora commodi ut. Nam reprehenderit dolores deserunt ut sit ducimus. Vitae at possimus non.</p>
  </div>


