

 
<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-top-xxs u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-top-xxs
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-top-m u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-top-m
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-top-l u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-top-l
    </h2>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-right-xxs u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-right-xxs
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-right-m u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-right-m
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-right-l u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-right-l
    </h2>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-bottom-xxs u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-bottom-xxs
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-bottom-m u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-bottom-m
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-bottom-l u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-bottom-l
    </h2>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-left-xxs u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-left-xxs
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-left-m u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-left-m
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-left-l u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-left-l
    </h2>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-all-xxs u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-all-xxs
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-all-m u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-all-m
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-all-l u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-all-l
    </h2>
  </div>
</div>
 

