

<ul>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--danger u-text-r-xs">Button danger</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--danger u-text-r-xs is-pressed">Button danger pressed</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--danger u-text-r-xs is-disabled" disabled>Button danger disabled</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--danger Button--shadow u-text-r-xs">Button danger shadow</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--danger Button--round u-text-r-xs">Button danger round</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--danger Button--shadow Button--round u-text-r-xs">Button danger round shadow</button>
  </li>
  <li class="u-padding-all-s">
    <a role="button" class="Button Button--danger Button--shadow Button--round u-text-r-xs">Link button danger round shadow</a>
  </li>
</ul>

