

<ul>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default u-text-r-xs">Button default</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default u-text-r-xs is-pressed">Button default pressed</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default u-text-r-xs is-disabled" disabled>Button default disabled</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default Button--shadow u-text-r-xs">Button default shadow</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default Button--round u-text-r-xs">Button default round</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default Button--shadow Button--round u-text-r-xs">Button default round shadow</button>
  </li>
  <li class="u-padding-all-s">
    <a role="button" class="Button Button--default Button--shadow Button--round u-text-r-xs">Link button default round shadow</a>
  </li>
</ul>

