

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--withBorder Card--round u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" alt="perferendis quos at" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">doloribus quod nobis</a></p>
        <h3 class="Card-title"><a class="Card-titleLink" href="">Aut error ea est debitis in id facere eius sint.</a></h3>
        <p class="Card-text">Asperiores quam sunt magnam modi accusantium itaque enim. Nisi mollitia aspernatur. Deserunt voluptatibus dicta nostrum fugiat minima numquam.</p>
      </div>
    </div>
  </div>
</section>

