

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--withBorder Card--round u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">quia at sint</a></p>
        <p class="Card-title"><a class="Card-titleLink" href="">Error omnis dolorum eaque.</a></p>
        <p class="Card-text">Sequi et beatae quaerat nisi et. Ad eos sit iste reprehenderit aliquid cumque. Porro sunt asperiores est omnis. Eligendi vero eum et ducimus expedita nostrum quisquam eius enim. Est repudiandae aperiam molestiae molestias et delectus ea dolores.</p>
      </div>
    </div>
  </div>
</section>

