

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--shadow u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">temporibus aut nobis</a></p>
        <p class="Card-title"><a class="Card-titleLink" href="">Sed quia qui ad quos libero.</a></p>
        <p class="Card-text">Culpa dicta eos est nostrum harum eligendi ex. Amet tempora dolorem atque nobis. Quod blanditiis corporis et iure cupiditate modi id vel dolores.</p>
      </div>
    </div>
  </div>
</section>

