

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--shadow u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" alt="maxime deleniti pariatur" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">voluptas inventore quo</a></p>
        <h3 class="Card-title"><a class="Card-titleLink" href="">Ab et dolorem sit aut itaque nobis.</a></h3>
        <p class="Card-text">Quae iure magni id et et est aliquam consequatur. Natus nesciunt earum explicabo magni autem cupiditate officiis modi placeat. Harum et aliquam ea nam veniam velit minus in ut. Sed nemo facilis dolores non quam. Molestiae sequi omnis voluptatem. Consequuntur nihil voluptas repellat eveniet amet.</p>
      </div>
    </div>
  </div>
</section>

