

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--shadow u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" alt="atque reiciendis ut" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">officiis velit iusto</a></p>
        <h3 class="Card-title"><a class="Card-titleLink" href="">Facere voluptatibus neque enim alias nobis ullam ut quisquam.</a></h3>
        <p class="Card-text">Est ut fugit sunt. Explicabo quisquam iusto eligendi ut. Et cumque voluptas aut quibusdam ad adipisci.</p>
      </div>
    </div>
  </div>
</section>

