

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--withBorder u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" alt="at rerum nobis" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">est quos fugit</a></p>
        <h3 class="Card-title"><a class="Card-titleLink" href="">Explicabo modi dolor quis cupiditate sint et officiis neque.</a></h3>
        <p class="Card-text">Consequuntur nemo accusamus reiciendis omnis doloremque omnis assumenda omnis alias. Est porro nulla aut autem et nostrum. Consectetur debitis enim eius inventore alias nam quo.</p>
      </div>
    </div>
  </div>
</section>

