

<div class="u-nbfc  u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="quia eius omnis" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">cumque nam id</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">Alias voluptas et doloremque.</a></h3>
    <p class="u-text-p u-textSecondary">Sapiente iusto quia consequatur pariatur illum praesentium est magni nihil. Debitis numquam est qui ut dolor maxime tempora amet odio. Est voluptatum maiores.</p>
  </div>
</div>

