

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--withBorder u-color-grey-30">
      <div class="Card-image">
        <img src="http://placehold.it/400x220" class="u-sizeFull" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">quo sequi nihil</a></p>
        <p class="Card-title"><a class="Card-titleLink" href="">Atque ipsam voluptatem accusamus laboriosam.</a></p>
        <p class="Card-text">Est ut inventore impedit et voluptas. Soluta fugiat ut quia maiores cum fugiat est et vitae. Pariatur qui et quam placeat a et minus omnis. Id voluptates reiciendis et est qui aspernatur omnis sed. Facilis quam voluptas consequatur ut error rerum laborum distinctio et. Voluptas molestiae sequi.</p>
      </div>
    </div>
  </div>
</section>

