

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--shadow Card--round u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">voluptas exercitationem quia</a></p>
        <p class="Card-title"><a class="Card-titleLink" href="">Incidunt natus fuga ut eius laborum qui.</a></p>
        <p class="Card-text">Est iste placeat odit nobis. Eos ducimus id corrupti voluptatibus cum voluptas. Id iusto laudantium cumque minima et et. Et magni saepe molestias voluptas ex. Est ullam voluptates similique.</p>
      </div>
    </div>
  </div>
</section>

