

<div class="u-nbfc  u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="in aspernatur officiis" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">assumenda tenetur dolorem</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">Deserunt sed dolores delectus fugit officiis iusto voluptate atque nobis.</a></h3>
    <p class="u-text-p u-textSecondary">Dolorum corporis est amet libero enim asperiores sint omnis non. Sit quidem nam modi quibusdam qui. Sed aut unde et incidunt quasi doloribus earum id. Eaque ipsa voluptas qui ipsa nulla quos rerum incidunt. Et laboriosam est molestiae a.</p>
  </div>
</div>

