

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--withBorder Card--round u-color-grey-30">
      <div class="Card-image">
        <img src="http://placehold.it/400x220" class="u-sizeFull" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">sunt sint accusantium</a></p>
        <p class="Card-title"><a class="Card-titleLink" href="">Alias aut sit.</a></p>
        <p class="Card-text">Cum quia voluptatem eum aut mollitia voluptatem facilis est. Magni odio quo eum. Voluptatum reprehenderit deserunt asperiores assumenda et ut.</p>
      </div>
    </div>
  </div>
</section>

