

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--withBorder u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">mollitia aperiam id</a></p>
        <p class="Card-title"><a class="Card-titleLink" href="">Quis enim eum dolorem eius iste voluptatem voluptatibus.</a></p>
        <p class="Card-text">Itaque et quis illo saepe. Aliquid est tempora voluptas a. Laborum aperiam ut quo eaque cupiditate vel et veritatis voluptatem.</p>
      </div>
    </div>
  </div>
</section>

