

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--withBorder u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" alt="nihil nihil saepe" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">ut ut qui</a></p>
        <h3 class="Card-title"><a class="Card-titleLink" href="">Aut tempora fugiat aut voluptatum.</a></h3>
        <p class="Card-text">Soluta et quae suscipit culpa totam. Hic sunt reiciendis. Laborum ratione sit illum non id ea. Exercitationem officiis necessitatibus assumenda nesciunt eos voluptatibus in. Quo laboriosam assumenda commodi reiciendis aut assumenda id. Doloremque et rem voluptatem.</p>
      </div>
    </div>
  </div>
</section>

