

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--withBorder u-color-grey-30">
      <div class="Card-image">
        <img src="http://placehold.it/400x220" class="u-sizeFull" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">ut et libero</a></p>
        <p class="Card-title"><a class="Card-titleLink" href="">Voluptas autem vel libero iure illum quis rem.</a></p>
        <p class="Card-text">Labore eum ut quos eligendi qui quia. Recusandae velit libero reiciendis laborum et animi fugit et corporis. Cupiditate quae quo ut sunt et. Nulla ut libero dolore impedit. Quia sint inventore porro et velit aut qui minus. Id nesciunt commodi exercitationem.</p>
      </div>
    </div>
  </div>
</section>

