

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--withBorder u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" alt="incidunt praesentium unde" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
        <h3 class="Card-title"><a class="Card-titleLink" href="">Facilis quo voluptatem maiores.</a></h3>
        <p class="Card-text">Vitae maxime doloribus cum omnis voluptatibus assumenda possimus qui. Rem in perspiciatis quia a qui quod est. Inventore id id quibusdam facere. Laborum eos animi accusantium. Facilis qui ut nobis accusantium quos temporibus consequatur doloremque.</p>
      </div>
    </div>
  </div>
</section>

