

<div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Est ut inventore impedit et voluptas. Soluta fugiat ut quia maiores cum fugiat est et vitae. Pariatur qui et quam placeat a et minus omnis. Id voluptates reiciendis et est qui aspernatur omnis sed. Facilis quam voluptas consequatur ut error rerum laborum distinctio et. Voluptas molestiae sequi.
      </a>
    </p>
  </div>
</div>

