

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--shadow Card--round u-color-grey-30">
      <div class="Card-image">
        <img src="http://placehold.it/400x220" class="u-sizeFull" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">fuga sit nobis</a></p>
        <p class="Card-title"><a class="Card-titleLink" href="">Debitis atque qui nihil voluptas amet.</a></p>
        <p class="Card-text">Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.</p>
      </div>
    </div>
  </div>
</section>

