

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--shadow Card--round u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" alt="ut ut voluptas" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">expedita eum rerum</a></p>
        <h3 class="Card-title"><a class="Card-titleLink" href="">Quas sed maxime non illo.</a></h3>
        <p class="Card-text">Ea voluptatem accusantium nihil est nam sunt vero perspiciatis. Velit voluptate qui voluptatem velit. Id natus sed ea. Quia asperiores tenetur laborum eos aut ut sapiente magnam.</p>
      </div>
    </div>
  </div>
</section>

