


<div class="Grid">
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-border-all-xxs u-borderRadius-xxs u-background-black"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-black</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-border-all-xxs u-borderRadius-xxs u-background-white"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-white</p>
    </div>
  
</div>

<hr>

<div class="Grid">
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-5"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-5</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-10"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-10</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-20"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-20</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-30"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-30</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-40"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-40</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-50"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-50</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-60"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-60</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-70"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-70</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-80"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-80</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-90"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-90</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-95"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-95</p>
    </div>
  
</div>

<hr>

<div class="Grid">
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-teal-30"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-teal-30</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-teal-50"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-teal-50</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-teal-70"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-teal-70</p>
    </div>
  
</div>

<hr>

<div class="Grid">
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-grey-10"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-grey-10</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-grey-20"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-grey-20</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-grey-30"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-grey-30</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-grey-40"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-grey-40</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-grey-50"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-grey-50</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-grey-60"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-grey-60</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-grey-80"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-grey-80</p>
    </div>
  
    <div class="Grid-cell u-md-size3of12 u-lg-size3of12">
      <div class="Color u-padding-all-xxl u-margin-all-s u-borderRadius-xxs u-background-grey-90"></div>
      <p class="u-textCenter u-color-black u-text-s">u-background-grey-90</p>
    </div>
  
</div>

