


<button class="Button Button--default js-fr-dialogmodal-open" aria-controls="modal">
  Apri
</button>

<div class="Dialog js-fr-dialogmodal" id="modal">
  <div class="
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-layout-prose
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    "
    aria-labelledby="modal-title">
    <div role="document" class="Prose">
      <h2 class="u-cf u-text-h2 u-borderHideFocus" id="modal-title" tabindex="0">Aut quod dicta maiores aut cupiditate.</h2>
      <p>
        Consequatur in quis nemo quidem. In laborum eum repellendus aut. Non similique iure magni iusto numquam nam delectus eum. Enim possimus dolorum similique architecto sed iste. Nobis eligendi labore sit.
 Maiores architecto ut culpa blanditiis voluptatem. Facere qui cumque ducimus vitae qui consequuntur totam ut. Aut delectus sint vitae nemo explicabo rerum molestiae id tempora.
 Quod dolor voluptatem quia aspernatur. Soluta vel et. Tempore est earum laborum neque totam ad officiis perferendis enim. Aliquid necessitatibus soluta aut harum est sed. Voluptates blanditiis eos est. Asperiores doloremque beatae modi reprehenderit eveniet ullam distinctio consequatur.
      </p>
      <button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>
    </div>
  </div>
</div>

