


<button class="Button Button--default js-fr-dialogmodal-open" aria-controls="modal">
  Apri
</button>

<div class="Dialog js-fr-dialogmodal" id="modal">
  <div class="
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-layout-prose
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    "
    aria-labelledby="modal-title">
    <div role="document" class="Prose">
      <h2 class="u-cf u-text-h2 u-borderHideFocus" id="modal-title" tabindex="0">Aut tempora fugiat aut voluptatum.</h2>
      <p>
        Nostrum in corrupti iure. Voluptatem eos non totam deserunt esse cum. Deserunt asperiores et ea voluptas. Neque voluptates est quidem.
 Dolor delectus eaque excepturi. Velit magni ipsam qui qui animi laboriosam quis et. Totam soluta dignissimos deserunt molestias. Nesciunt repellendus accusantium doloribus voluptatum tempora totam corrupti atque. Libero eos repudiandae reprehenderit. Facere labore laborum ea totam illo repellat nam qui.
 Officia explicabo non repellendus deserunt dolore. Ea ad ut dolor. Voluptas nihil minus modi.
      </p>
      <button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>
    </div>
  </div>
</div>

