


<button class="Button Button--default js-fr-dialogmodal-open" aria-controls="modal">
  Apri
</button>

<div class="Dialog js-fr-dialogmodal" id="modal">
  <div class="
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-layout-prose
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    "
    aria-labelledby="modal-title">
    <div role="document" class="Prose">
      <h2 class="u-cf u-text-h2" id="modal-title">Dolorum inventore ea veritatis repudiandae rerum distinctio reprehenderit.</h2>
      <p>
        Nemo quod eum consequatur optio saepe suscipit. Similique vel accusantium cupiditate unde quia eos quia. Qui qui tenetur amet quia id nostrum qui architecto. Sed voluptatem mollitia. Recusandae et odio expedita voluptate libero.
 Aut eum dolorem quis beatae. Consequatur quis sed dolores eum quo accusamus doloribus omnis eaque. Non magni est dolor amet. Nisi excepturi autem laudantium nesciunt voluptas maxime. Numquam hic et non et nemo odio qui eveniet.
 Libero eum quidem facilis. Aspernatur facilis rerum. Tenetur voluptas voluptatem dolor. Est corporis placeat aliquid aperiam sunt dolorum dolor aliquid qui. Est officiis voluptatibus tempore est ea ea minus provident consequatur.
      </p>
      <button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>
    </div>
  </div>
</div>

