

<div class="u-textLeft">
  <a href="#options" data-menu-trigger="options" class="Button Button--info">Menu</a>
  <div id="options" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Tempore accusamus eaque rerum est.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ut adipisci iure tempore ullam laborum.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Consequuntur est et quo ullam aut omnis aut et.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Et vitae qui ullam quis alias quibusdam quos.</a></li>
      
    </ul>
  </div>
</div>

<div class="u-textRight">
  <a href="#options-2" data-menu-trigger="options-2" class="Button Button--info">Menu</a>
  <div id="options-2" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Tempore accusamus eaque rerum est.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ut adipisci iure tempore ullam laborum.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Consequuntur est et quo ullam aut omnis aut et.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Et vitae qui ullam quis alias quibusdam quos.</a></li>
      
    </ul>
  </div>
</div>

<div class="u-textCenter">
  <a href="#options-3" data-menu-trigger="options-3" class="Button Button--info">Menu</a>
  <div id="options-3" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Tempore accusamus eaque rerum est.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ut adipisci iure tempore ullam laborum.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Consequuntur est et quo ullam aut omnis aut et.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Et vitae qui ullam quis alias quibusdam quos.</a></li>
      
    </ul>
  </div>
</div>

