

<div class="u-textLeft">
  <a href="#options" data-menu-trigger="options" class="Button Button--info">Menu</a>
  <div id="options" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Optio voluptatibus sunt quae velit perspiciatis est quia dolorem.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Sint quod ullam vitae asperiores enim.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Fuga et expedita quo et quo quos soluta.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Beatae aut veniam ex ad temporibus deserunt.</a></li>
      
    </ul>
  </div>
</div>

<div class="u-textRight">
  <a href="#options-2" data-menu-trigger="options-2" class="Button Button--info">Menu</a>
  <div id="options-2" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Optio voluptatibus sunt quae velit perspiciatis est quia dolorem.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Sint quod ullam vitae asperiores enim.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Fuga et expedita quo et quo quos soluta.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Beatae aut veniam ex ad temporibus deserunt.</a></li>
      
    </ul>
  </div>
</div>

<div class="u-textCenter">
  <a href="#options-3" data-menu-trigger="options-3" class="Button Button--info">Menu</a>
  <div id="options-3" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Optio voluptatibus sunt quae velit perspiciatis est quia dolorem.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Sint quod ullam vitae asperiores enim.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Fuga et expedita quo et quo quos soluta.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Beatae aut veniam ex ad temporibus deserunt.</a></li>
      
    </ul>
  </div>
</div>

