

<footer class="Footer u-padding-all-s">

  <div class="u-cf">
    <img class="Footer-logo" src="//placehold.it/75x80?text=placeholder" alt="">
    <p class="Footer-siteName">
      Nome della pubblica amministrazione
    </p>
  </div>

  <div class="Grid Grid--withGutter">
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 1</h2>
      <ul>
        <li><a href="">odit quae iusto</a></li>
        <li><a href="">autem suscipit repudiandae</a></li>
        <li><a href="">facilis eligendi excepturi</a></li>
        <li><a href="">et sed sapiente</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 2</h2>
      <ul>
        <li><a href="">odit quae iusto</a></li>
        <li><a href="">autem suscipit repudiandae</a></li>
        <li><a href="">facilis eligendi excepturi</a></li>
        <li><a href="">et sed sapiente</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 3</h2>
      <ul>
        <li><a href="">odit quae iusto</a></li>
        <li><a href="">autem suscipit repudiandae</a></li>
        <li><a href="">facilis eligendi excepturi</a></li>
        <li><a href="">et sed sapiente</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 4</h2>
      <ul>
        <li><a href="">odit quae iusto</a></li>
        <li><a href="">autem suscipit repudiandae</a></li>
        <li><a href="">facilis eligendi excepturi</a></li>
        <li><a href="">et sed sapiente</a></li>
      </ul>
    </div>
    

    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via placeat qui quis<br>
          placeat qui quis<br>
          Tel. (+00) 00.0000.0000
        </address>
      </div>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via odit quae iusto<br>
          odit quae iusto<br>
          Tel. (+00) 00.0000.0000
        </address>
      </div>
    </div>
    

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Indirizzo PEC</h3>
        <p><a href="">indirizzo.pec@gov.it</a></p>
      </div>
    </div>

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Seguici su</h2>
      <div class="Footer-subBlock">
        <ul class="Footer-socialIcons">
          <li><a href=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
    </div>

  </div>

  <ul class="Footer-links u-cf">
    <li><a href="" title="Privacy policy">Privacy</a></li>
    <li><a href="" title="Note legali">Note legali</a></li>
    <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
  </ul>

</footer>

