

<article>
  <h1 class="u-text-h1">Doloribus nihil corrupti facere at nemo iure nulla quis facere.</h1>

  <h2 class="u-text-h2">Doloribus nihil corrupti facere at nemo iure nulla quis facere.</h2>

  <h3 class="u-text-h3">Doloribus nihil corrupti facere at nemo iure nulla quis facere.</h3>

  <h4 class="u-text-h4">Doloribus nihil corrupti facere at nemo iure nulla quis facere.</h4>

  <h5 class="u-text-h5">Doloribus nihil corrupti facere at nemo iure nulla quis facere.</h5>

  <h6 class="u-text-h6">Doloribus nihil corrupti facere at nemo iure nulla quis facere.</h6>

</article>

