

<article>
  <h1 class="u-text-h1">Ipsum quidem in rerum ea aliquam asperiores pariatur delectus.</h1>

  <h2 class="u-text-h2">Ipsum quidem in rerum ea aliquam asperiores pariatur delectus.</h2>

  <h3 class="u-text-h3">Ipsum quidem in rerum ea aliquam asperiores pariatur delectus.</h3>

  <h4 class="u-text-h4">Ipsum quidem in rerum ea aliquam asperiores pariatur delectus.</h4>

  <h5 class="u-text-h5">Ipsum quidem in rerum ea aliquam asperiores pariatur delectus.</h5>

  <h6 class="u-text-h6">Ipsum quidem in rerum ea aliquam asperiores pariatur delectus.</h6>

</article>

