

<article>
  <h1 class="u-text-h1">Laboriosam ipsum quod repudiandae reiciendis quidem similique.</h1>

  <h2 class="u-text-h2">Laboriosam ipsum quod repudiandae reiciendis quidem similique.</h2>

  <h3 class="u-text-h3">Laboriosam ipsum quod repudiandae reiciendis quidem similique.</h3>

  <h4 class="u-text-h4">Laboriosam ipsum quod repudiandae reiciendis quidem similique.</h4>

  <h5 class="u-text-h5">Laboriosam ipsum quod repudiandae reiciendis quidem similique.</h5>

  <h6 class="u-text-h6">Laboriosam ipsum quod repudiandae reiciendis quidem similique.</h6>

</article>

