

<ul class="Skiplinks js-fr-bypasslinks">
  <li><a accesskey="2" href="#main">Vai al Contenuto</a></li>
  <li><a accesskey="3" href="#menu">Vai alla navigazione del sito</a></li>
</ul>


<header class="Header ">

  <div class="Header-banner">
    <div class="Header-owner Headroom-hideme">
      <a href="">Nome amministrazione afferente</a>
      <div class="Header-languages">
          <a class="Header-language is-active u-hidden u-md-inlineBlock u-lg-inlineBlock" href="" title="sito in italiano">ITA</a>
          <a class="Header-language u-hidden u-md-inlineBlock u-lg-inlineBlock" href="" title="sito in inglese">ENG</a>
          <button data-menu-trigger="other-languages" class="Header-language u-border-none u-zindex-max is-active">
            <span class="u-hiddenVisually">lingua attiva:</span>
            <span class="u-md-hidden u-lg-hidden">ITA</span>
            <span class="Icon Icon-expand u-padding-left-xs u-md-hidden u-lg-hidden"></span>
            <span class="Icon Icon-more-actions u-padding-left-xxs u-padding-right-xxs u-hidden u-md-inlineBlock u-lg-inlineBlock"></span>
          </button>
          <div id="other-languages" data-menu class="Dropdown-menu Header-language-other u-jsDisplayNone u-nojsDisplayNone">
            <ul class="Linklist">
              <li><a href="#1" class="u-padding-r-all">Arabic عربي</a></li>
              <li><a href="#2" class="u-padding-r-all">Chinese 中文网</a></li>
              <li><a href="#3" class="u-padding-r-all">Deutsch</a></li>
              <li><a href="#4" class="u-padding-r-all">French</a></li>
              <li><a href="#5" class="u-padding-r-all">Japanese 日本語</a></li>
              <li><a href="#6" class="u-padding-r-all">Portuguese</a></li>
              <li><a href="#7" class="u-padding-r-all">Russian НА РУССКОМ</a></li>
              <li><a href="#8" class="u-padding-r-all">Spanish</a></li>
              <li><a href="#9" class="u-padding-r-all">Turkish TÜRKÇE</a></li>
              <li><a href="#10" class="u-padding-r-all">Ukrainian УКРАЇНСЬКA</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>

  <div class="Header-navbar Grid Grid--alignMiddle">

    <div class="Header-toggle Grid-cell">
      <a class="Hamburger-toggleContainer js-fr-offcanvas-open  " href="#menu"
        aria-controls="menu" aria-label="accedi al menu" title="accedi al menu">
        <span class="Hamburger-toggle" role="presentation"></span>
        <span class="Header-toggleText" role="presentation">Menu</span>
      </a>
    </div>

    <div class="Header-logo Grid-cell" aria-hidden="true">
      <a href="" tabindex="-1">
        <img src="//placehold.it/75x80" alt="">
      </a>
    </div>

    <div class="Header-title Grid-cell">
      <h1 class="Header-titleLink">
        <a accesskey="1" href="">
          Nome della Pubblica Amministrazione<br>
          <small>eventuale sottotitolo</small>
        </a>
      </h1>
    </div>

    <div class="Header-searchTrigger Grid-cell">
      <button aria-controls="header-search" class="js-Header-search-trigger Icon Icon-search"
        title="attiva il form di ricerca" aria-label="attiva il form di ricerca" aria-hidden="false">
      </button>
      <button aria-controls="header-search" class="js-Header-search-trigger Icon Icon-close u-hidden"
        title="disattiva il form di ricerca" aria-label="disattiva il form di ricerca" aria-hidden="true">
      </button>
    </div>

    <div class="Header-utils Grid-cell">
      <div class="Header-social Headroom-hideme">
        <p>Seguici su:</p>
        <ul class="Header-socialIcons">
          <li><a href="" title="Facebook"><span class="Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href="" title="Twitter"><span class="Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href="" title="Youtube"><span class="Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
      <div class="Header-search" id="header-search">
        <form class="Form">
  <div class="Form-field Form-field--withPlaceholder Grid">
    <input class="Form-input Grid-cell u-sizeFill u-text-r-s" required id="cerca">
    <label class="Form-label" for="cerca">Cerca...</label>
    <button class="Grid-cell u-sizeFit Icon-search u-background-60 u-color-white u-padding-all-s u-textWeight-700"
      title="Avvia la ricerca" aria-label="Avvia la ricerca">
    </button>
  </div>
</form>

      </div>
    </div>

  </div><!-- Header-navbar -->

  

</header>

