

<article>
  <h1 class="u-text-h1">Veniam consequatur fugit quos dicta velit quia libero.</h1>

  <h2 class="u-text-h2">Veniam consequatur fugit quos dicta velit quia libero.</h2>

  <h3 class="u-text-h3">Veniam consequatur fugit quos dicta velit quia libero.</h3>

  <h4 class="u-text-h4">Veniam consequatur fugit quos dicta velit quia libero.</h4>

  <h5 class="u-text-h5">Veniam consequatur fugit quos dicta velit quia libero.</h5>

  <h6 class="u-text-h6">Veniam consequatur fugit quos dicta velit quia libero.</h6>

</article>

