

<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
    </p>
    <h2 class="u-text-h2 u-color-95">neque ut porro</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Sint ut magni officia. Maxime porro assumenda quae iusto dolores dolorem officia est. Sed accusantium accusantium doloribus assumenda minima.</p>
      <button class="Button Button--default u-text-r-xs">neque ut porro</button>
  </div>
</section>

