

<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
    </p>
    <h2 class="u-text-h2 u-color-95">consequatur et qui</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Est eum sunt fuga dolorem omnis quidem minus et est. Unde porro porro deleniti et eos. Nesciunt suscipit rerum nobis vel. Exercitationem iure sed quisquam doloremque nostrum enim et. Eos autem dolor.</p>
      <button class="Button Button--default u-text-r-xs">consequatur et qui</button>
  </div>
</section>

