

<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
    </p>
    <h2 class="u-text-h2 u-color-95">eveniet corrupti dicta</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Quos et sapiente sit eos earum optio in doloremque. Ad aut unde iusto nihil illo. Saepe mollitia amet omnis et qui. Veritatis quasi asperiores nihil.</p>
      <button class="Button Button--default u-text-r-xs">eveniet corrupti dicta</button>
  </div>
</section>

