

<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
    </p>
    <h2 class="u-text-h2 u-color-95">temporibus voluptatem voluptates</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Qui tenetur magnam necessitatibus quia odio id voluptatum nisi. Alias repellendus eveniet molestias. Quia eveniet fugiat. Atque cumque consequatur amet nesciunt repellendus. Eaque voluptatem ipsum nam maiores consequuntur.</p>
      <button class="Button Button--default u-text-r-xs">temporibus voluptatem voluptates</button>
  </div>
</section>

