

<section>
  <div class="Hero">
    <div class="Hero-content">
      <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
        <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
      </p>
      <h2 class="u-text-h2"><a href="#" class="u-color-95 u-textClean">quia at sint</a></h2>
      <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Sequi et beatae quaerat nisi et. Ad eos sit iste reprehenderit aliquid cumque. Porro sunt asperiores est omnis. Eligendi vero eum et ducimus expedita nostrum quisquam eius enim. Est repudiandae aperiam molestiae molestias et delectus ea dolores.</p>
      <a href="#news" class="js-scrollTo u-linkClean Button Button--info u-text-r-xs">notizie ed eventi
        <span class="u-padding-r-left Icon Icon-expand"></span></a>
    </div>
    <a href="#servizi" class="Forward Forward--absolute js-scrollTo is-clean" aria-hidden="true">
      <span class="Icon Icon-expand"></span>
    </a>
  </div>
</section>

