

<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
    </p>
    <h2 class="u-text-h2 u-color-95">sed in in</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Voluptas quia quis dolores consectetur recusandae ratione. Ea voluptates est. Expedita porro nemo consequuntur voluptatem quam natus sed laudantium. Nam alias incidunt quia sint aut dolores ad.</p>
      <button class="Button Button--default u-text-r-xs">sed in in</button>
  </div>
</section>

