

<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
    </p>
    <h2 class="u-text-h2 u-color-95">reprehenderit rerum tempore</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Temporibus molestiae est minus quas suscipit aut laboriosam aut alias. Consequuntur dolorem a. Nihil ea atque architecto. Aperiam a dolore possimus ut esse repudiandae suscipit quaerat quibusdam. Officia voluptatibus vero recusandae error explicabo. Minima iure quia et aut quam beatae.</p>
      <button class="Button Button--default u-text-r-xs">reprehenderit rerum tempore</button>
  </div>
</section>

