

<div class=" u-background-compl-10 u-layout-centerContent u-padding-r-top">

  <section class="u-layout-wide u-layout-r-withGutter u-text-r-s u-padding-r-top u-padding-r-bottom">

    <h2 id="news" class="u-layout-centerLeft u-text-r-s">
      <a class="u-color-50 u-textClean u-text-h3 " href="">Notizie</a>
    </h2>

    <div class="Grid Grid--withGutterM">

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="deleniti commodi aut" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">illum sed adipisci</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">Non illo nihil eos error.</a></h3>
    <p class="u-text-p u-textSecondary">Qui excepturi vel. Natus voluptas eligendi libero debitis. Accusamus porro sit repellat quis. Et dolore dolor dolorum tempore odit corrupti deleniti ab sit. Est nam quis quia hic nulla quis sunt ea. Eum voluptatem porro asperiores.</p>
  </div>
</div>

      </div>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="deleniti commodi aut" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">illum sed adipisci</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">Non illo nihil eos error.</a></h3>
    <p class="u-text-p u-textSecondary">Qui excepturi vel. Natus voluptas eligendi libero debitis. Accusamus porro sit repellat quis. Et dolore dolor dolorum tempore odit corrupti deleniti ab sit. Est nam quis quia hic nulla quis sunt ea. Eum voluptatem porro asperiores.</p>
  </div>
</div>

      </div>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="deleniti commodi aut" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">illum sed adipisci</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">Non illo nihil eos error.</a></h3>
    <p class="u-text-p u-textSecondary">Qui excepturi vel. Natus voluptas eligendi libero debitis. Accusamus porro sit repellat quis. Et dolore dolor dolorum tempore odit corrupti deleniti ab sit. Est nam quis quia hic nulla quis sunt ea. Eum voluptatem porro asperiores.</p>
  </div>
</div>

      </div>

    </div>

    <p class="u-textCenter u-text-md-right u-text-lg-right u-margin-r-top">
      <a href="#" class="u-color-50 u-textClean u-text-h4">
        tutte le notizie <span class="Icon Icon-chevron-right"></a>
    </p>

  </section>

  <a href="#utilita" class="Forward Forward--floating js-scrollTo" aria-hidden="true">
    <span class="Icon Icon-expand u-color-grey-40"></span>
  </a>

</div>

