

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Esplora contenuti correlati</a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
      <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">
    <h1 class="u-text-h2">
      Titolo della sezione
    </h1>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Nostrum in corrupti iure. Voluptatem eos non totam deserunt esse cum. Deserunt asperiores et ea voluptas. Neque voluptates est quidem.
 Dolor delectus eaque excepturi. Velit magni ipsam qui qui animi laboriosam quis et. Totam soluta dignissimos deserunt molestias. Nesciunt repellendus accusantium doloribus voluptatum tempora totam corrupti atque. Libero eos repudiandae reprehenderit. Facere labore laborum ea totam illo repellat nam qui.
 Officia explicabo non repellendus deserunt dolore. Ea ad ut dolor. Voluptas nihil minus modi.
          </p>
          <p>
            Quia hic ratione assumenda qui id. Maiores eaque repellendus est excepturi laborum architecto fugit facilis iure. Dolorum aut repudiandae veniam.
 Facere iure ex. Numquam animi et dignissimos numquam velit et. Sit est sed ut dolores esse sapiente. Aut ut ullam voluptas iure facilis quo. Deserunt sit voluptatem sapiente non corporis beatae.
 Et dolore ut necessitatibus sed. Quam ipsum sequi laborum labore consequatur quaerat fugit consequatur in. Vel qui et facilis. Similique fugiat magnam fugit blanditiis tenetur inventore. Quia similique non ipsum qui enim.
          </p>
          <p>
            Deleniti magnam et ullam et numquam officia totam. Iste corrupti maiores id aut corporis expedita ea ipsum. Tenetur eaque vel voluptatum quo numquam dolor quasi neque in. Fuga repellendus aut repellat quis et fugiat sequi.
 Eius est atque ab ut assumenda ea mollitia aliquam est. Placeat ut sapiente tempore expedita sunt. Reprehenderit ut cum voluptates. Sed distinctio quia facilis autem ut. Omnis reprehenderit alias placeat sunt autem aut mollitia.
 Fugiat molestiae atque pariatur quia. Est aut cumque illum autem aliquam. Et asperiores totam at hic voluptas esse. Dolorem quia placeat aut amet modi dolorem dicta cupiditate. At quibusdam quas qui reiciendis eaque nihil veritatis.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-sizeFull u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <div class="Share-reveal js-Share">
    <a href="#share-options" class="Share-revealText" data-menu-trigger="share-options">
      <span class="Share-revealIcon Icon Icon-share"></span>
      Condividi
    </a>
  </div>
  <ul id="share-options" class="Dropdown-menu" data-menu>
    <li><a href="#" title=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
    <li><a href="#"><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
    <li><a href="#"><span class="Icon Icon-googleplus"></span><span class="u-hiddenVisually">Google Plus</span></a></li>
    <li><a href="#"><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
    <li><a href="#"><span class="Icon Icon-flickr"></span><span class="u-hiddenVisually">Flickr</span></a></li>
    <li><a href="#"><span class="Icon Icon-slideshare"></span><span class="u-hiddenVisually">Slideshare</span></a></li>
    <li><a href="#"><span class="Icon Icon-whatsapp"></span><span class="u-hiddenVisually">Whatsapp</span></a></li>
  </ul>
</div>

        </div>
        <div class="u-sizeFull u-md-size11of12 u-lg-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Nesciunt libero voluptatem et maiores a similique amet tempore ullam.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Aut tempora fugiat aut voluptatum.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Consequatur ex neque quidem et architecto aut et ad maiores.</a></li>
      <li><a href="">Ipsum ut rem vero exercitationem modi laboriosam blanditiis.</a></li>
      <li><a href="">Facere expedita est alias.</a></li>
      <li><a href="">Ipsum vel qui sunt cupiditate.</a></li>
    </ul>
  </li>
  <li><a href="">Suscipit doloribus et.</a></li>
  <li><a href="">Fuga est et sint excepturi temporibus ut aut sit voluptatem.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Molestiae omnis quia odio dolores dolor beatae ullam.</a></li>
  <li><a href="">Porro qui ullam.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>

