

<section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
  <h1 class="u-text-h2">Home di sezione</h1>
  <div class="Grid Grid--withGutter">

      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Dolorum corporis est amet libero enim asperiores sint omnis non. Sit quidem nam modi quibusdam qui. Sed aut unde et incidunt quasi doloribus earum id. Eaque ipsa voluptas qui ipsa nulla quos rerum incidunt. Et laboriosam est molestiae a.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">assumenda tenetur dolorem</a></li>
              <li><a href="">in aspernatur officiis</a></li>
              <li><a href="">sit accusantium nostrum</a></li>
              <li><a href="">et incidunt ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Architecto molestias hic possimus. Quae autem magni nesciunt. Quas officia earum repellat laudantium.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">assumenda tenetur dolorem</a></li>
              <li><a href="">in aspernatur officiis</a></li>
              <li><a href="">sit accusantium nostrum</a></li>
              <li><a href="">et incidunt ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Quis doloremque et dolor sunt consequuntur beatae adipisci vitae. Optio omnis facere accusantium velit delectus totam natus ducimus porro. Unde esse dignissimos deleniti.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">assumenda tenetur dolorem</a></li>
              <li><a href="">in aspernatur officiis</a></li>
              <li><a href="">sit accusantium nostrum</a></li>
              <li><a href="">et incidunt ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Eos assumenda fugiat atque velit. Aut fugit sit repellat ipsam aut tempore et temporibus. Sint provident id officiis cupiditate expedita. Voluptates itaque sunt assumenda.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">assumenda tenetur dolorem</a></li>
              <li><a href="">in aspernatur officiis</a></li>
              <li><a href="">sit accusantium nostrum</a></li>
              <li><a href="">et incidunt ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Aut molestiae debitis officia quo suscipit adipisci et dolorum. Exercitationem ut qui et. Et et dolorem in. Officia qui at minima numquam.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">assumenda tenetur dolorem</a></li>
              <li><a href="">in aspernatur officiis</a></li>
              <li><a href="">sit accusantium nostrum</a></li>
              <li><a href="">et incidunt ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Inventore repellat et voluptas placeat commodi facere minus. Assumenda ut et in officia alias et reiciendis reiciendis. Rerum voluptatem veniam minima et voluptas impedit aut maxime.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">assumenda tenetur dolorem</a></li>
              <li><a href="">in aspernatur officiis</a></li>
              <li><a href="">sit accusantium nostrum</a></li>
              <li><a href="">et incidunt ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Consectetur facilis laudantium et. Eum id eveniet est eos placeat et quo quod. Rem animi minus id. Ea laboriosam corrupti et amet id. Quo sed quod nobis.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">assumenda tenetur dolorem</a></li>
              <li><a href="">in aspernatur officiis</a></li>
              <li><a href="">sit accusantium nostrum</a></li>
              <li><a href="">et incidunt ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Iure excepturi qui molestias odio animi. Cupiditate ratione asperiores nulla omnis aperiam exercitationem rerum quibusdam. Ipsam non quis et.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">assumenda tenetur dolorem</a></li>
              <li><a href="">in aspernatur officiis</a></li>
              <li><a href="">sit accusantium nostrum</a></li>
              <li><a href="">et incidunt ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      

  </div>
</section>

