

<div class="u-layout-centerContent u-background-70 u-padding-r-all">
  <section class="u-layout-medium">
    <div class="Grid">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l"><a class="u-color-white" href="">Twitter @amministrazione</a></h2>
      </div>
    </div>
    <div class="u-text-r-xxl u-padding-r-top">
      <div class="Grid Grid--withGutter">
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
  <section class="u-text-r-l u-padding-r-all u-layout-prose">
    <div class="u-text-p u-padding-r-bottom">
      <p class="u-color-50 u-text-r-xxs u-textWeight-600">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="u-text-p u-textWeight-400 u-color-grey-80 u-margin-r-bottom u-padding-r-bottom">
      Dolorum corporis est amet libero enim asperiores sint omnis non. Sit quidem nam modi quibusdam qui. Sed aut unde et incidunt quasi doloribus earum id. Eaque ipsa voluptas qui ipsa nulla quos rerum incidunt. Et laboriosam est molestiae a.
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
  <section class="u-text-r-l u-padding-r-all u-layout-prose">
    <div class="u-text-p u-padding-r-bottom">
      <p class="u-color-50 u-text-r-xxs u-textWeight-600">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="u-text-p u-textWeight-400 u-color-grey-80 u-margin-r-bottom u-padding-r-bottom">
      Architecto molestias hic possimus. Quae autem magni nesciunt. Quas officia earum repellat laudantium.
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
  <section class="u-text-r-l u-padding-r-all u-layout-prose">
    <div class="u-text-p u-padding-r-bottom">
      <p class="u-color-50 u-text-r-xxs u-textWeight-600">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="u-text-p u-textWeight-400 u-color-grey-80 u-margin-r-bottom u-padding-r-bottom">
      Quis doloremque et dolor sunt consequuntur beatae adipisci vitae. Optio omnis facere accusantium velit delectus totam natus ducimus porro. Unde esse dignissimos deleniti.
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
      </div>
    </div>
  </section>
</div>

