

<div class="u-layout-centerContent u-background-grey-20">
  <section class="u-layout-wide u-padding-top-xxl u-padding-bottom-xxl">
    <h2 class="u-text-r-l u-padding-r-bottom">Notizie</h2>

    
    <div class="Grid Grid--withGutter">
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Sapiente voluptatem beatae error in doloribus molestiae.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Accusantium reprehenderit at assumenda a quidem dolore. Soluta dolores amet aut. Doloremque facere officia. Qui quia illum omnis.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Sapiente voluptatem beatae error in doloribus molestiae.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Accusantium reprehenderit at assumenda a quidem dolore. Soluta dolores amet aut. Doloremque facere officia. Qui quia illum omnis.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Sapiente voluptatem beatae error in doloribus molestiae.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Accusantium reprehenderit at assumenda a quidem dolore. Soluta dolores amet aut. Doloremque facere officia. Qui quia illum omnis.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Sapiente voluptatem beatae error in doloribus molestiae.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Accusantium reprehenderit at assumenda a quidem dolore. Soluta dolores amet aut. Doloremque facere officia. Qui quia illum omnis.
  </p>
</div>

      </div>
      
    </div>
    
    <div class="Grid Grid--withGutter">
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Sapiente voluptatem beatae error in doloribus molestiae.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Accusantium reprehenderit at assumenda a quidem dolore. Soluta dolores amet aut. Doloremque facere officia. Qui quia illum omnis.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Sapiente voluptatem beatae error in doloribus molestiae.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Accusantium reprehenderit at assumenda a quidem dolore. Soluta dolores amet aut. Doloremque facere officia. Qui quia illum omnis.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Sapiente voluptatem beatae error in doloribus molestiae.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Accusantium reprehenderit at assumenda a quidem dolore. Soluta dolores amet aut. Doloremque facere officia. Qui quia illum omnis.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Sapiente voluptatem beatae error in doloribus molestiae.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Accusantium reprehenderit at assumenda a quidem dolore. Soluta dolores amet aut. Doloremque facere officia. Qui quia illum omnis.
  </p>
</div>

      </div>
      
    </div>
    

    <p class="u-textCenter u-text-md-right u-text-lg-right u-padding-r-top">
      <a href="#" class="u-color-50 u-textClean u-text-h4">
          tutte le notizie <span class="Icon Icon-chevron-right"></a>
    </p>

  </section>
</div>

