

<div class="u-layout-centerContent u-background-grey-20 u-padding-bottom-xxl u-padding-top-xxl">
  <section class="u-layout-medium">
    <div class="u-layout-centerLeft">
      <h2 class="u-text-r-l">Gallerie</h2>
    </div>
    <div class="Grid Grid--withGutter u-padding-r-top u-text-r-xxl">
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="//placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Rerum nostrum tenetur cum a quis non nihil nam modi.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="//placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Aperiam nisi enim amet perferendis id.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="//placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Eaque qui pariatur dolorum.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="//placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Id quis repudiandae consequatur quae.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="//placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Et est nam pariatur vel.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="//placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Dignissimos ducimus maiores id quod accusantium adipisci.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="//placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Nemo totam neque reprehenderit.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="//placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Beatae enim eveniet.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="//placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Ducimus unde ipsum.
      </a>
    </p>
  </div>
</div>

      </div>
      
    </div>
  </section>
</div>

