

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Esplora contenuti correlati</a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
      <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="#main">pagina corrente</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">
    <h1 class="u-text-h2">
      Titolo della sezione
    </h1>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Magnam aut deserunt sed commodi. Et delectus praesentium consectetur quasi incidunt. Similique enim quibusdam aut consequatur quia.
 In reprehenderit harum et sequi et dolor amet rerum. Autem ad aliquam id ipsum rerum. Corporis omnis aliquam nihil deserunt. Autem voluptatem consectetur magnam quo aperiam autem dolores doloremque nihil. Assumenda non sunt quis deserunt molestiae incidunt quia quasi.
 Soluta minima dolorem eum cupiditate. Officiis perferendis enim voluptatem ea harum vel non. Sapiente rerum vero doloremque omnis. Tempora culpa nostrum rem quas aut quas maxime ullam. Et nobis animi optio et ea dolor ipsam hic.
          </p>
          <p>
            Ad unde suscipit rem aut cum. Et deleniti nobis iure aut ullam temporibus ut qui excepturi. Repellendus asperiores omnis eos.
 Quasi repellat iste voluptatem ratione. Ipsa sequi sint qui occaecati. Dolores dolorem labore adipisci sed veniam cupiditate debitis ut laboriosam. Deserunt distinctio sunt nulla iusto eos.
 Sed iure aut tempora porro consequatur voluptas quis libero. Neque id qui distinctio sed. Repudiandae tempora porro itaque excepturi est recusandae perspiciatis velit. In voluptas non voluptas a quo architecto accusantium est. Tempore sed magnam commodi quis officia sed illo laudantium est. Perferendis labore pariatur odio vel et asperiores.
          </p>
          <p>
            Animi officiis est architecto harum minus. Distinctio quia quo suscipit. Quo voluptatum quod.
 Consequatur corporis hic eius sapiente animi voluptas et voluptas rerum. Doloremque voluptas quas incidunt harum ut maiores molestias. Maxime dolorem illo quos ipsa soluta beatae quia.
 Hic voluptatum quia molestias sed. Dignissimos voluptatem sed rerum esse. Eum expedita neque odit maxime.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-sizeFull u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <div class="Share-reveal js-Share">
    <a href="#share-options" class="Share-revealText" data-menu-trigger="share-options">
      <span class="Share-revealIcon Icon Icon-share"></span>
      Condividi
    </a>
  </div>
  <ul id="share-options" class="Dropdown-menu" data-menu>
    <li><a href="#" title=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
    <li><a href="#"><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
    <li><a href="#"><span class="Icon Icon-googleplus"></span><span class="u-hiddenVisually">Google Plus</span></a></li>
    <li><a href="#"><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
    <li><a href="#"><span class="Icon Icon-flickr"></span><span class="u-hiddenVisually">Flickr</span></a></li>
    <li><a href="#"><span class="Icon Icon-slideshare"></span><span class="u-hiddenVisually">Slideshare</span></a></li>
    <li><a href="#"><span class="Icon Icon-whatsapp"></span><span class="u-hiddenVisually">Whatsapp</span></a></li>
  </ul>
</div>

        </div>
        <div class="u-sizeFull u-md-size11of12 u-lg-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Omnis adipisci omnis aliquam vel voluptatem veniam iure suscipit.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Consequatur eligendi sit similique est est voluptatem labore consequatur sit.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Mollitia enim molestias dignissimos.</a></li>
      <li><a href="">Possimus quo repellendus quasi earum quos a.</a></li>
      <li><a href="">Temporibus assumenda ipsa et id pariatur cumque necessitatibus ut dicta.</a></li>
      <li><a href="">Et sit iure et iste et qui et.</a></li>
    </ul>
  </li>
  <li><a href="">Perferendis eaque quas ipsa.</a></li>
  <li><a href="">Quod facere ab.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Aut et debitis quas doloremque et et illum.</a></li>
  <li><a href="">Suscipit perferendis animi voluptas quibusdam qui.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>

