

<div class="u-layout-centerContent u-background-70 u-padding-r-all">
  <section class="u-layout-medium">
    <div class="Grid">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l"><a class="u-color-white" href="">Twitter @amministrazione</a></h2>
      </div>
    </div>
    <div class="u-text-r-xxl u-padding-r-top">
      <div class="Grid Grid--withGutter">
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
  <section class="u-text-r-l u-padding-r-all u-layout-prose">
    <div class="u-text-p u-padding-r-bottom">
      <p class="u-color-50 u-text-r-xxs u-textWeight-600">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="u-text-p u-textWeight-400 u-color-grey-80 u-margin-r-bottom u-padding-r-bottom">
      Magni nostrum qui dolorem assumenda. Veritatis perspiciatis facere necessitatibus eos velit sunt. Aut aspernatur praesentium.
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
  <section class="u-text-r-l u-padding-r-all u-layout-prose">
    <div class="u-text-p u-padding-r-bottom">
      <p class="u-color-50 u-text-r-xxs u-textWeight-600">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="u-text-p u-textWeight-400 u-color-grey-80 u-margin-r-bottom u-padding-r-bottom">
      Dolorum aperiam odit commodi voluptatem sint odit. Ipsum suscipit rerum quis minus sequi voluptas tenetur accusantium. Aliquid ut enim repudiandae accusantium eveniet voluptatum velit sunt. Nihil maxime officiis quia at quas ullam autem aut.
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
  <section class="u-text-r-l u-padding-r-all u-layout-prose">
    <div class="u-text-p u-padding-r-bottom">
      <p class="u-color-50 u-text-r-xxs u-textWeight-600">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="u-text-p u-textWeight-400 u-color-grey-80 u-margin-r-bottom u-padding-r-bottom">
      Dolore quos rerum distinctio est porro magni. Dignissimos qui eveniet dolorem. Ipsam nemo alias corporis ipsum vitae autem numquam voluptas. Aut sed quia rem vero quos et ut. Ut consequatur dolorem dolores ex deserunt voluptatem facere.
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
      </div>
    </div>
  </section>
</div>

