

<div class=" u-background-compl-10 u-layout-centerContent">

  <section class="Grid Grid--withGutter u-layout-medium u-text-r-xl">

    <div class="Grid-cell u-sizeFull u-padding-r-bottom u-padding-r-top">
      <h2 id="news" class="u-text-r-l"><a class="u-color-50 u-textClean" href="">Notizie</a></h2>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-r-all u-text-r-xxs u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink u-color-60" href="">temporibus voluptatem voluptates</a></p>
          <h3 class="Card-title"><a class="Card-titleLink u-color-60" href="">Aut et ut fugiat in enim quaerat quisquam.</a></h3>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Qui tenetur magnam necessitatibus quia odio id voluptatum nisi. Alias repellendus eveniet molestias. Quia eveniet fugiat. Atque cumque consequatur amet nesciunt repellendus. Eaque voluptatem ipsum nam maiores consequuntur.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-r-all u-text-r-xxs u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink u-color-60" href="">temporibus voluptatem voluptates</a></p>
          <h3 class="Card-title"><a class="Card-titleLink u-color-60" href="">Aut et ut fugiat in enim quaerat quisquam.</a></h3>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Omnis sed excepturi. Occaecati odit in ad. Itaque voluptatem ullam qui tempore qui facere aut qui officiis. Quisquam est quia suscipit hic quia molestiae voluptate. Aut quia eos aut et sint voluptatem fugit ipsum nam.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-r-all u-text-r-xxs u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink u-color-60" href="">temporibus voluptatem voluptates</a></p>
          <h3 class="Card-title"><a class="Card-titleLink u-color-60" href="">Aut et ut fugiat in enim quaerat quisquam.</a></h3>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Reiciendis eligendi laboriosam. Est similique est neque sit distinctio rerum. Ut aut voluptatibus ea. Mollitia nostrum corrupti et.</p>
        </div>
      </div>
    </div>

    <p class="Grid-cell u-textCenter u-text-md-right u-text-lg-right">
      <a href="#" class="u-color-50 u-textClean u-text-h4">
          tutte le notizie <span class="Icon Icon-chevron-right"></a>
    </p>

  </section>

  <a href="#utilita" class="Forward Forward--floating js-scrollTo" aria-hidden="true">
    <span class="Icon Icon-expand u-color-grey-40"></span>
  </a>

</div>

