

<div class=" u-background-compl-10 u-layout-centerContent u-padding-r-top">

  <section class="u-layout-wide u-layout-r-withGutter u-text-r-s u-padding-r-top u-padding-r-bottom">

    <h2 id="news" class="u-layout-centerLeft u-text-r-s">
      <a class="u-color-50 u-textClean u-text-h3 " href="">Notizie</a>
    </h2>

    <div class="Grid Grid--withGutterM">

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="sunt illum hic" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">tenetur vitae autem</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">Sunt blanditiis earum qui consequuntur asperiores id velit.</a></h3>
    <p class="u-text-p u-textSecondary">Ad debitis consequuntur doloribus dignissimos est error minus. Quam aspernatur autem enim dolores vel. Reiciendis quidem quibusdam vel culpa at porro reiciendis. Sed quod est voluptatibus a fugiat nobis aliquid rerum. Laborum enim eligendi maiores sequi qui aut quasi quaerat aspernatur. Rem eos neque laudantium at sit laborum ut ut.</p>
  </div>
</div>

      </div>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="sunt illum hic" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">tenetur vitae autem</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">Sunt blanditiis earum qui consequuntur asperiores id velit.</a></h3>
    <p class="u-text-p u-textSecondary">Ad debitis consequuntur doloribus dignissimos est error minus. Quam aspernatur autem enim dolores vel. Reiciendis quidem quibusdam vel culpa at porro reiciendis. Sed quod est voluptatibus a fugiat nobis aliquid rerum. Laborum enim eligendi maiores sequi qui aut quasi quaerat aspernatur. Rem eos neque laudantium at sit laborum ut ut.</p>
  </div>
</div>

      </div>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex u-margin-r-bottom u-flexJustifyCenter">
        <div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="sunt illum hic" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">tenetur vitae autem</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">Sunt blanditiis earum qui consequuntur asperiores id velit.</a></h3>
    <p class="u-text-p u-textSecondary">Ad debitis consequuntur doloribus dignissimos est error minus. Quam aspernatur autem enim dolores vel. Reiciendis quidem quibusdam vel culpa at porro reiciendis. Sed quod est voluptatibus a fugiat nobis aliquid rerum. Laborum enim eligendi maiores sequi qui aut quasi quaerat aspernatur. Rem eos neque laudantium at sit laborum ut ut.</p>
  </div>
</div>

      </div>

    </div>

    <p class="u-textCenter u-text-md-right u-text-lg-right u-margin-r-top">
      <a href="#" class="u-color-50 u-textClean u-text-h4">
        tutte le notizie <span class="Icon Icon-chevron-right"></a>
    </p>

  </section>

  <a href="#utilita" class="Forward Forward--floating js-scrollTo" aria-hidden="true">
    <span class="Icon Icon-expand u-color-grey-40"></span>
  </a>

</div>

