

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">
      Esplora contenuti correlati
    </a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
    <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">
      Nome del servizio
    </h1>

    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Una breve descrizione del servizio. Atque libero perspiciatis hic. Aliquid ab minima libero excepturi minima qui. Ratione labore molestias veritatis aut voluptatibus nihil voluptatibus porro et. Eos et temporibus doloremque omnis expedita aut hic enim. Vero ut voluptatem exercitationem odit voluptas ut aut.
          </p>
          <p>
            Questo servizio serve per:
          </p>
          <ul>
            <li>fare qualcosa</li>
            <li>verificare lo stato della propria pratica</li>
          </ul>
          <h2 class="u-text-h3">A chi è rivolto</h2>
          <p>
            Culpa aut voluptas quis aut minus magni nostrum aut. Aut possimus rerum qui soluta eum et. Labore maiores cumque explicabo reiciendis mollitia aliquid beatae. Voluptate vero repudiandae eos nulla quod commodi qui. Facilis quidem exercitationem adipisci nesciunt dolorum recusandae.
 Adipisci esse ad earum neque et deleniti. Sint laboriosam quod et quia numquam voluptates beatae non. Illum autem quas. Soluta quaerat praesentium voluptates reiciendis aut in deleniti rem.
 Recusandae consequuntur expedita incidunt magni dolor quas. Dignissimos repellendus quia quas nihil. Ex voluptatum sapiente est placeat possimus nihil eaque recusandae aperiam. Nihil aut occaecati alias autem ab consequuntur fuga sed.
          </p>
          <h2 class="u-text-h3">Come funziona</h2>
          <p>
            Atque voluptas totam. Quidem omnis autem neque. Excepturi velit aut. Et labore beatae qui expedita voluptas omnis. Eum et magnam beatae voluptate maiores architecto officiis. Aperiam amet illum ut qui id aperiam.
 Animi dignissimos labore nihil aliquam. Non in commodi nulla. Unde vitae blanditiis voluptatibus vitae. Mollitia voluptatibus rem debitis.
 Illo ut et mollitia sunt ut tempora. Voluptatem sit vel culpa in amet nihil dolorum. Est beatae officiis molestiae. Qui sequi nihil exercitationem aut aut. Delectus nemo labore qui sint id animi.
          </p>
          <h2 class="u-text-h3">Prima di iniziare</h2>
          <p>
            Accertati di aver già...
            <ul>
              <li>azione 1</li>
              <li>azione 2</li>
              <li>azione 3</li>
            </ul>
          </p>
          <p>
            <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
          </p>
        </article>
      </div>

      <aside class="Grid-cell u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl u-hidden u-md-block u-lg-block">
          <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
        </div>
        <h3 class="u-text-h4">Altri servizi</h3>
        <div class="u-sizeFull" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Eaque porro quisquam.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Fugiat aut eaque molestias.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Ullam doloribus rerum.</a></li>
      <li><a href="">Porro fugit voluptas.</a></li>
      <li><a href="">Et tenetur modi molestiae.</a></li>
      <li><a href="">Commodi nulla sed rerum dolorem qui.</a></li>
    </ul>
  </li>
  <li><a href="">Quia vel deleniti laboriosam.</a></li>
  <li><a href="">Omnis temporibus ex autem nihil distinctio vitae.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Aspernatur ad id sunt aut aut dolor id pariatur.</a></li>
  <li><a href="">Architecto aut mollitia et iste.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </aside>
    </div>

  </div>
</section>

