

<section class="Grid">

  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
    <div class="Grid Grid--fit u-margin-r-bottom">
      <p class="Grid-cell">
        <span class="Dot u-background-50"></span>
        <strong><a class="u-textClean u-text-r-xs" href="">La categoria</a></strong>
      </p>
      <p class="Grid-cell u-textSecondary">
        12 Dicembre 2012
      </p>
    </div>
    <div class="u-text-r-l u-layout-prose">
      <h2 class="u-text-h2 u-margin-r-bottom">Officiis velit iusto</h2>
      <p class="u-textSecondary u-lineHeight-l">
        Facere voluptatibus neque enim alias nobis ullam ut quisquam.
        Accusamus totam quos natus quam minima tempora odit et quisquam.
        Unde non praesentium.
        Soluta eum quisquam quisquam dolorem sapiente eligendi voluptate.
      </p>
    </div>
  </div>

  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
    <img src="//placehold.it/680x480?text=placeholder" class="u-sizeFull" alt="..." />
  </div>

</section>

