

<div class="u-layout-centerContent u-background-70 u-padding-r-all">
  <section class="u-layout-medium">
    <div class="Grid">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l"><a class="u-color-white" href="">Twitter @amministrazione</a></h2>
      </div>
    </div>
    <div class="u-text-r-xxl u-padding-r-top">
      <div class="Grid Grid--withGutter">
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <section class="Card-content u-padding-r-all">
    <div class="Card-text">
      <p class="u-color-50 u-text-r-xxs">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="Card-titleLink u-padding-r-bottom">
      Dolore quo rerum in aut qui blanditiis illum. Autem corrupti ut. Reprehenderit expedita id id ea qui dicta autem. Laudantium suscipit temporibus omnis delectus et vitae nisi. Unde veniam nihil numquam aspernatur nesciunt voluptate.
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <section class="Card-content u-padding-r-all">
    <div class="Card-text">
      <p class="u-color-50 u-text-r-xxs">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="Card-titleLink u-padding-r-bottom">
      Et sint alias doloremque esse quia molestias ipsum. Repudiandae voluptatem inventore vel temporibus ducimus numquam culpa aliquid velit. Et rem vitae consequuntur nostrum quia atque vel eaque. Repellat repudiandae aut est quis incidunt amet eum aut atque.false
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <section class="Card-content u-padding-r-all">
    <div class="Card-text">
      <p class="u-color-50 u-text-r-xxs">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="Card-titleLink u-padding-r-bottom">
      Enim et odio voluptates necessitatibus. Et quibusdam odit quam quasi adipisci perspiciatis. Sunt autem quasi. Voluptatem ex perspiciatis id laboriosam.
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
      </div>
    </div>
  </section>
</div>

