

<div class="u-layout-centerContent u-background-grey-20">
  <section class="u-layout-wide">

    <div class="Grid Grid--withGutter u-text-r-l u-padding-r-bottom">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l">Eveniet corrupti dicta</h2>
      </div>
      <div class="Grid-cell u-layout-centerRight">
        <h2 class="u-text-r-m"><a class="u-color-50" href="">Vedi tutto</a></h2>
      </div>
    </div>

    <div class="Grid Grid--withGutter">

      <div class="Grid-cell Card u-md-size3of4 u-lg-size3of4">

        <div class="Grid u-layout-centerContent">
          <div class="Grid-cell u-sizeFit">
            <img src="//placehold.it/330x330?text=placeholder" class="u-sizeFit" alt="..." />
          </div>
          <div class="Grid-cell u-md-sizeFill u-lg-sizeFill u-padding-r-left">
            <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Maiores earum deleniti voluptatem quibusdam laboriosam et porro ab.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Molestiae optio incidunt et vel voluptate praesentium. Quia asperiores maiores similique quis facere vero laboriosam veritatis. Deserunt eveniet deleniti deleniti eos corporis aut dolorem architecto.
  </p>
</div>

          </div>
        </div>
      </div>

      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Occaecati saepe maxime rem maiores.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Asperiores voluptatem veritatis aliquid et delectus officiis. Culpa id quia non. Consequatur quidem ex aliquam atque accusamus accusamus adipisci accusantium. Magni ut aspernatur soluta qui beatae unde esse nihil.
  </p>
</div>

      </div>

      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Occaecati saepe maxime rem maiores.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Consequatur iusto et culpa omnis quisquam perferendis facilis sequi. Dolorum fuga culpa praesentium. Exercitationem voluptatibus dolore reprehenderit sint voluptate maiores omnis eveniet. Error aut consequatur nostrum non qui autem. Explicabo ex est qui officiis cupiditate expedita quas modi. Eos debitis consectetur harum velit aperiam nemo.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Occaecati saepe maxime rem maiores.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Aliquam id omnis quibusdam autem velit ipsum tempore nihil. Qui ut fugit perferendis eveniet. Sit quasi et tempore ipsa maiores. Sequi minima eos numquam. Sunt hic est ipsa sed magnam qui neque omnis. Occaecati quod et quis architecto est id sed itaque fugit.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Occaecati saepe maxime rem maiores.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Sunt voluptatem quia dolorem labore excepturi ullam et. Et quis fugit est voluptas quis. Numquam quam officiis consequuntur doloremque neque nihil reprehenderit et perspiciatis. Sequi laborum reiciendis doloremque autem. Quam aut sit consequatur neque repellat molestiae porro.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Occaecati saepe maxime rem maiores.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Ut enim ipsum mollitia cumque tempore eveniet ducimus repudiandae sunt. Facere minima et quas exercitationem necessitatibus voluptates. Tempore totam aspernatur atque quae qui et aut. Accusamus ducimus qui molestiae eos. Ut ut quisquam tenetur qui porro debitis officia porro.
  </p>
</div>

      </div>
      
    </div>

  </section>
</div>

