


<div class="u-background-grey-20 u-layout-centerContent u-cf">
  <section class="js-Masonry-container u-layout-medium" data-columns>

    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Facilis quo voluptatem maiores.</a></h3>
          <p class="Card-text">
            Vitae maxime doloribus cum omnis voluptatibus assumenda possimus qui. Rem in perspiciatis quia a qui quod est. Inventore id id quibusdam facere. Laborum eos animi accusantium. Facilis qui ut nobis accusantium quos temporibus consequatur doloremque.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Omnis deserunt ex explicabo quis fuga dignissimos.</a></h3>
          <p class="Card-text">
            Voluptas beatae dolorem asperiores impedit quia adipisci tempora illum quidem. Delectus qui quisquam vel ut. Iste id blanditiis voluptatem vero in maxime amet et qui. Vel non omnis quia impedit molestiae. Porro repellendus error. Quam qui quas.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Vel voluptate quae autem in alias fugiat ut aut.</a></h3>
          <p class="Card-text">Vel voluptate quae autem in alias fugiat ut aut.</p>
        </div>
      </div>
    </div>
    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Facilis quo voluptatem maiores.</a></h3>
          <p class="Card-text">
            Vitae maxime doloribus cum omnis voluptatibus assumenda possimus qui. Rem in perspiciatis quia a qui quod est. Inventore id id quibusdam facere. Laborum eos animi accusantium. Facilis qui ut nobis accusantium quos temporibus consequatur doloremque.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Omnis deserunt ex explicabo quis fuga dignissimos.</a></h3>
          <p class="Card-text">
            Voluptas beatae dolorem asperiores impedit quia adipisci tempora illum quidem. Delectus qui quisquam vel ut. Iste id blanditiis voluptatem vero in maxime amet et qui. Vel non omnis quia impedit molestiae. Porro repellendus error. Quam qui quas.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Vel voluptate quae autem in alias fugiat ut aut.</a></h3>
          <p class="Card-text">Vel voluptate quae autem in alias fugiat ut aut.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>

<div class="u-background-grey-20 u-layout-centerContent u-cf">
  <section class="js-Masonry-container u-layout-medium" data-columns>

    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Facilis quo voluptatem maiores.</a></h3>
          <p class="Card-text">
            Vitae maxime doloribus cum omnis voluptatibus assumenda possimus qui. Rem in perspiciatis quia a qui quod est. Inventore id id quibusdam facere. Laborum eos animi accusantium. Facilis qui ut nobis accusantium quos temporibus consequatur doloremque.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Omnis deserunt ex explicabo quis fuga dignissimos.</a></h3>
          <p class="Card-text">
            Voluptas beatae dolorem asperiores impedit quia adipisci tempora illum quidem. Delectus qui quisquam vel ut. Iste id blanditiis voluptatem vero in maxime amet et qui. Vel non omnis quia impedit molestiae. Porro repellendus error. Quam qui quas.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Vel voluptate quae autem in alias fugiat ut aut.</a></h3>
          <p class="Card-text">Vel voluptate quae autem in alias fugiat ut aut.</p>
        </div>
      </div>
    </div>
    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Facilis quo voluptatem maiores.</a></h3>
          <p class="Card-text">
            Vitae maxime doloribus cum omnis voluptatibus assumenda possimus qui. Rem in perspiciatis quia a qui quod est. Inventore id id quibusdam facere. Laborum eos animi accusantium. Facilis qui ut nobis accusantium quos temporibus consequatur doloremque.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Omnis deserunt ex explicabo quis fuga dignissimos.</a></h3>
          <p class="Card-text">
            Voluptas beatae dolorem asperiores impedit quia adipisci tempora illum quidem. Delectus qui quisquam vel ut. Iste id blanditiis voluptatem vero in maxime amet et qui. Vel non omnis quia impedit molestiae. Porro repellendus error. Quam qui quas.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">veniam eos dignissimos</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Vel voluptate quae autem in alias fugiat ut aut.</a></h3>
          <p class="Card-text">Vel voluptate quae autem in alias fugiat ut aut.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>


