

<section class="Grid">

  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
    <div class="Grid Grid--fit u-margin-r-bottom">
      <p class="Grid-cell">
        <span class="Dot u-background-50"></span>
        <strong><a class="u-textClean u-text-r-xs" href="">La categoria</a></strong>
      </p>
      <p class="Grid-cell u-textSecondary">
        12 Dicembre 2012
      </p>
    </div>
    <div class="u-text-r-l u-layout-prose">
      <h2 class="u-text-h2 u-margin-r-bottom">Fuga sit nobis</h2>
      <p class="u-textSecondary u-lineHeight-l">
        Debitis atque qui nihil voluptas amet.
        Omnis tempore est adipisci sed dolores.
        Temporibus quia dolorem.
        Laudantium sed ex quibusdam.
      </p>
    </div>
  </div>

  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
    <img src="http://placehold.it/680x480?text=placeholder" class="u-sizeFull" alt="..." />
  </div>

</section>

