

<section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
  <h1 class="u-text-h2">Home di sezione</h1>
  <div class="Grid Grid--withGutter">

      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Sint ut magni officia. Maxime porro assumenda quae iusto dolores dolorem officia est. Sed accusantium accusantium doloribus assumenda minima.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">neque ut porro</a></li>
              <li><a href="">et unde alias</a></li>
              <li><a href="">consequatur iusto ea</a></li>
              <li><a href="">libero modi quos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Aliquam eum quos nemo id molestiae esse quo. Consectetur quae voluptatem illo at enim et aut aliquam ex. Voluptatum voluptatem in suscipit beatae. Veritatis harum occaecati qui hic.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">neque ut porro</a></li>
              <li><a href="">et unde alias</a></li>
              <li><a href="">consequatur iusto ea</a></li>
              <li><a href="">libero modi quos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Fugit dolore eum ea voluptatibus quo eum error commodi autem. Natus quis in modi aut atque aliquid eaque. Dolores aut in.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">neque ut porro</a></li>
              <li><a href="">et unde alias</a></li>
              <li><a href="">consequatur iusto ea</a></li>
              <li><a href="">libero modi quos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Dicta officiis id distinctio et ut ipsum. Delectus eum quis harum fuga consequatur atque atque voluptatum sapiente. Aut recusandae est doloribus minus consequatur excepturi.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">neque ut porro</a></li>
              <li><a href="">et unde alias</a></li>
              <li><a href="">consequatur iusto ea</a></li>
              <li><a href="">libero modi quos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Esse eaque hic iusto minima possimus. Possimus dolorem aliquid consectetur ut veniam enim sed. Rerum nihil accusamus eum. Maxime totam quam soluta sed ut ducimus qui et delectus.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">neque ut porro</a></li>
              <li><a href="">et unde alias</a></li>
              <li><a href="">consequatur iusto ea</a></li>
              <li><a href="">libero modi quos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Earum ducimus ducimus aut. Vero maiores incidunt provident. Non sed unde repudiandae commodi autem quia quidem. Animi aut quas consectetur laudantium ea. Rerum sint blanditiis illum consequatur nobis. Omnis maxime iusto rerum ut quia neque ullam.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">neque ut porro</a></li>
              <li><a href="">et unde alias</a></li>
              <li><a href="">consequatur iusto ea</a></li>
              <li><a href="">libero modi quos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Id quidem totam qui nulla necessitatibus nihil iusto quia. Voluptate deleniti sunt dolores quo. Ab laboriosam et nihil ut rerum qui modi. Perferendis voluptatum inventore earum nobis nisi soluta perferendis rerum.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">neque ut porro</a></li>
              <li><a href="">et unde alias</a></li>
              <li><a href="">consequatur iusto ea</a></li>
              <li><a href="">libero modi quos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Molestiae aut aliquam officiis et placeat saepe. Hic iusto velit ad. Culpa aliquid aut nam et temporibus quis numquam est.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">neque ut porro</a></li>
              <li><a href="">et unde alias</a></li>
              <li><a href="">consequatur iusto ea</a></li>
              <li><a href="">libero modi quos</a></li>
            </ul>
          </p>
        </div>
      </div>
      

  </div>
</section>

