

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">
      Esplora contenuti correlati
    </a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
    <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">
      Nome del servizio
    </h1>

    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Una breve descrizione del servizio. Modi et inventore. Inventore quia velit sunt libero. Quos corrupti autem. Quaerat quibusdam eum natus minima.
          </p>
          <p>
            Questo servizio serve per:
          </p>
          <ul>
            <li>fare qualcosa</li>
            <li>verificare lo stato della propria pratica</li>
          </ul>
          <h2 class="u-text-h3">A chi è rivolto</h2>
          <p>
            Expedita vitae voluptas id possimus illum eos qui non. Delectus eum voluptatem maiores tenetur accusamus voluptatem amet tempore eius. Minus architecto voluptatum mollitia ut eos mollitia dolorem. In velit earum nam minus natus. Voluptatem et maiores voluptas ut omnis nesciunt facere eius.
 Nisi non quae asperiores quibusdam optio libero natus. Libero qui quam mollitia vel et perferendis accusantium. Ut sapiente sunt voluptas excepturi ullam laborum autem et. Ab consequatur molestias est ea aliquam. Reprehenderit libero deleniti tenetur.
 Neque tenetur exercitationem dolorem est explicabo quia. Ullam dolor qui. Accusantium nam autem ducimus velit illo voluptatem consequatur consectetur quo. Qui impedit natus consequatur quod ipsum.
          </p>
          <h2 class="u-text-h3">Come funziona</h2>
          <p>
            Incidunt id quis assumenda beatae. Et architecto totam quae. Facilis praesentium ad aut facilis harum est occaecati tempora. Sint excepturi aliquid ipsam praesentium sint odio sed. Quo nesciunt necessitatibus voluptas omnis reiciendis temporibus unde a.
 Provident maiores rerum blanditiis quidem non ab qui. Cumque deleniti placeat dolor. Tempora harum ullam possimus est rerum.
 Quibusdam eaque eaque illum aut quae. Voluptates accusantium ducimus ut nesciunt exercitationem. A pariatur qui repellendus vel modi aut aut dolores inventore.
          </p>
          <h2 class="u-text-h3">Prima di iniziare</h2>
          <p>
            Accertati di aver già...
            <ul>
              <li>azione 1</li>
              <li>azione 2</li>
              <li>azione 3</li>
            </ul>
          </p>
          <p>
            <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
          </p>
        </article>
      </div>

      <aside class="Grid-cell u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl u-hidden u-md-block u-lg-block">
          <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
        </div>
        <h3 class="u-text-h4">Altri servizi</h3>
        <div class="u-sizeFull" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Error provident eaque similique ipsam perferendis quia et eveniet.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Perspiciatis non hic et recusandae excepturi placeat voluptates eum quo.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Molestiae odio magni modi pariatur dolor corporis.</a></li>
      <li><a href="">Quasi accusantium voluptas consequatur nesciunt error repudiandae aut.</a></li>
      <li><a href="">Minus impedit qui beatae qui sed consectetur est debitis velit.</a></li>
      <li><a href="">Quae totam sit vitae neque magnam sit tenetur ut.</a></li>
    </ul>
  </li>
  <li><a href="">Beatae id sit et.</a></li>
  <li><a href="">Enim et sit ut ipsa error culpa quia ipsam qui.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Sint voluptas maiores est rem aut.</a></li>
  <li><a href="">Reprehenderit sint quo rerum molestias perferendis qui enim fugit fugit.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </aside>
    </div>

  </div>
</section>

