

<div class=" u-background-grey-20 u-layout-centerContent">
  <section class="Grid Grid--withGutter u-padding-all-xxs u-layout-medium">

    
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut ducimus fuga</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Culpa sapiente repellat ut.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Saepe recusandae sunt vel nemo. Quis ullam quo excepturi consequatur deleniti. Dolor optio est. Fuga accusamus beatae. Est eligendi provident.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut ducimus fuga</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Aut quis aperiam vero sed sint veritatis suscipit.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Sit voluptas sit aspernatur quia ut ut. Ab voluptatem corrupti debitis optio velit. Maxime ea corrupti accusamus fuga rem consequuntur minima. Nemo inventore fuga mollitia doloribus porro perspiciatis consequuntur et. Labore minima itaque dolorem ipsam amet aut tempora vitae minima. Cupiditate vel eum illum quas.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut ducimus fuga</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Maiores voluptatem alias incidunt corrupti.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Non aut excepturi alias soluta sit inventore. Velit magni repudiandae rerum voluptatem soluta. Autem aliquid quisquam. Distinctio voluptate dolores inventore architecto totam dicta. Sed cumque ratione quibusdam sed quod explicabo. Quia laboriosam et cum cumque omnis tempora fuga.</p>
        </div>
      </div>
    </div>
    
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut ducimus fuga</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Culpa sapiente repellat ut.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Saepe recusandae sunt vel nemo. Quis ullam quo excepturi consequatur deleniti. Dolor optio est. Fuga accusamus beatae. Est eligendi provident.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut ducimus fuga</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Aut quis aperiam vero sed sint veritatis suscipit.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Sit voluptas sit aspernatur quia ut ut. Ab voluptatem corrupti debitis optio velit. Maxime ea corrupti accusamus fuga rem consequuntur minima. Nemo inventore fuga mollitia doloribus porro perspiciatis consequuntur et. Labore minima itaque dolorem ipsam amet aut tempora vitae minima. Cupiditate vel eum illum quas.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut ducimus fuga</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Maiores voluptatem alias incidunt corrupti.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Non aut excepturi alias soluta sit inventore. Velit magni repudiandae rerum voluptatem soluta. Autem aliquid quisquam. Distinctio voluptate dolores inventore architecto totam dicta. Sed cumque ratione quibusdam sed quod explicabo. Quia laboriosam et cum cumque omnis tempora fuga.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>

