


<div class="u-background-grey-20 u-layout-centerContent u-cf">
  <section class="js-Masonry-container u-layout-medium" data-columns>

    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Dolorem nobis aliquam cupiditate officiis et excepturi magni.</a></h3>
          <p class="Card-text">
            Id cupiditate maiores mollitia molestiae non consequatur. Exercitationem fugit ut sint. Autem quia quaerat.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Ratione quis dolorem maiores est sint.</a></h3>
          <p class="Card-text">
            Aliquam odio eius repellat. Sed accusamus deleniti aut necessitatibus est eius omnis sit. Deleniti quia quibusdam voluptatum aut non ea voluptatem vel. Inventore maxime sapiente est.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Earum enim esse ea expedita.</a></h3>
          <p class="Card-text">Earum enim esse ea expedita.</p>
        </div>
      </div>
    </div>
    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Dolorem nobis aliquam cupiditate officiis et excepturi magni.</a></h3>
          <p class="Card-text">
            Id cupiditate maiores mollitia molestiae non consequatur. Exercitationem fugit ut sint. Autem quia quaerat.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Ratione quis dolorem maiores est sint.</a></h3>
          <p class="Card-text">
            Aliquam odio eius repellat. Sed accusamus deleniti aut necessitatibus est eius omnis sit. Deleniti quia quibusdam voluptatum aut non ea voluptatem vel. Inventore maxime sapiente est.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Earum enim esse ea expedita.</a></h3>
          <p class="Card-text">Earum enim esse ea expedita.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>

<div class="u-background-grey-20 u-layout-centerContent u-cf">
  <section class="js-Masonry-container u-layout-medium" data-columns>

    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Dolorem nobis aliquam cupiditate officiis et excepturi magni.</a></h3>
          <p class="Card-text">
            Id cupiditate maiores mollitia molestiae non consequatur. Exercitationem fugit ut sint. Autem quia quaerat.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Ratione quis dolorem maiores est sint.</a></h3>
          <p class="Card-text">
            Aliquam odio eius repellat. Sed accusamus deleniti aut necessitatibus est eius omnis sit. Deleniti quia quibusdam voluptatum aut non ea voluptatem vel. Inventore maxime sapiente est.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Earum enim esse ea expedita.</a></h3>
          <p class="Card-text">Earum enim esse ea expedita.</p>
        </div>
      </div>
    </div>
    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Dolorem nobis aliquam cupiditate officiis et excepturi magni.</a></h3>
          <p class="Card-text">
            Id cupiditate maiores mollitia molestiae non consequatur. Exercitationem fugit ut sint. Autem quia quaerat.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Ratione quis dolorem maiores est sint.</a></h3>
          <p class="Card-text">
            Aliquam odio eius repellat. Sed accusamus deleniti aut necessitatibus est eius omnis sit. Deleniti quia quibusdam voluptatum aut non ea voluptatem vel. Inventore maxime sapiente est.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">dolorum cum aut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Earum enim esse ea expedita.</a></h3>
          <p class="Card-text">Earum enim esse ea expedita.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>


