

<div class=" u-background-grey-20 u-layout-centerContent">
  <section class="Grid Grid--withGutter u-padding-all-xxs u-layout-medium">

    
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt ratione aut</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Beatae non ut nam occaecati labore perspiciatis sit est.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Mollitia sit ratione sed quia labore architecto totam. Est reiciendis ullam quis ut est et fuga ut nulla. Cumque aut asperiores nam et. Quod nulla dolores et non est. Sequi possimus sint omnis non earum voluptas nemo quae voluptates.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt ratione aut</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Labore aut molestias accusamus incidunt nemo.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Enim optio in delectus in repudiandae sit quae. Fuga qui fugit. Minima distinctio aperiam. Debitis quia eum labore quasi ad.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt ratione aut</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Dolor aut consectetur fugiat accusamus quisquam odit at blanditiis.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Error ea maxime est. Quam voluptates aut molestiae. Tempora voluptatem et et iusto aut nostrum dignissimos soluta sunt. Iure fugiat dolor. Cupiditate consequatur libero architecto. Sed in id earum aut quisquam.</p>
        </div>
      </div>
    </div>
    
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt ratione aut</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Beatae non ut nam occaecati labore perspiciatis sit est.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Mollitia sit ratione sed quia labore architecto totam. Est reiciendis ullam quis ut est et fuga ut nulla. Cumque aut asperiores nam et. Quod nulla dolores et non est. Sequi possimus sint omnis non earum voluptas nemo quae voluptates.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt ratione aut</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Labore aut molestias accusamus incidunt nemo.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Enim optio in delectus in repudiandae sit quae. Fuga qui fugit. Minima distinctio aperiam. Debitis quia eum labore quasi ad.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt ratione aut</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Dolor aut consectetur fugiat accusamus quisquam odit at blanditiis.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Error ea maxime est. Quam voluptates aut molestiae. Tempora voluptatem et et iusto aut nostrum dignissimos soluta sunt. Iure fugiat dolor. Cupiditate consequatur libero architecto. Sed in id earum aut quisquam.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>

