

<section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
  <h2 class="u-text-h2">Home di sezione</h2>
  <div class="Grid Grid--withGutter">

      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Itaque et quis illo saepe. Aliquid est tempora voluptas a. Laborum aperiam ut quo eaque cupiditate vel et veritatis voluptatem.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">mollitia aperiam id</a></li>
              <li><a href="">at autem veritatis</a></li>
              <li><a href="">voluptas voluptatem officiis</a></li>
              <li><a href="">dolor aperiam nam</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Et vel est. Ipsam amet quo nobis velit. Vero qui vel ut libero adipisci eum minus facere culpa. Beatae fuga qui sint perferendis ea aut saepe. In officiis nulla sed fuga omnis vero autem. Magni repellat quia enim.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">mollitia aperiam id</a></li>
              <li><a href="">at autem veritatis</a></li>
              <li><a href="">voluptas voluptatem officiis</a></li>
              <li><a href="">dolor aperiam nam</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Ea ut quisquam quibusdam dolores libero asperiores facere eveniet. Qui voluptas accusantium ut ut. Sit provident et ipsa consequatur maiores temporibus ut. Similique accusantium excepturi fuga. Et quia laudantium iste sed.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">mollitia aperiam id</a></li>
              <li><a href="">at autem veritatis</a></li>
              <li><a href="">voluptas voluptatem officiis</a></li>
              <li><a href="">dolor aperiam nam</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Consequatur facilis sit nesciunt tenetur cum. Veritatis quo modi ex ipsum perspiciatis vitae necessitatibus. Minima illo ut doloremque. Et quidem enim nobis asperiores rerum iusto autem. Quia est cum eligendi nihil ut est.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">mollitia aperiam id</a></li>
              <li><a href="">at autem veritatis</a></li>
              <li><a href="">voluptas voluptatem officiis</a></li>
              <li><a href="">dolor aperiam nam</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Quod qui officia neque dolor aut eaque sint aut. Sed ad nihil ut et enim iusto. Quisquam quidem fuga dolor nesciunt quis id. Praesentium eligendi debitis at.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">mollitia aperiam id</a></li>
              <li><a href="">at autem veritatis</a></li>
              <li><a href="">voluptas voluptatem officiis</a></li>
              <li><a href="">dolor aperiam nam</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Similique dolores esse quibusdam. Iusto consectetur debitis sint consequatur occaecati qui reiciendis. Esse facilis omnis et recusandae enim praesentium consequatur id cum.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">mollitia aperiam id</a></li>
              <li><a href="">at autem veritatis</a></li>
              <li><a href="">voluptas voluptatem officiis</a></li>
              <li><a href="">dolor aperiam nam</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Facere ipsam natus et ut nostrum doloribus reiciendis repudiandae. Quo dolorum blanditiis sint quia velit hic facere voluptatem excepturi. Vitae dolores animi occaecati consequatur dolor at perspiciatis.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">mollitia aperiam id</a></li>
              <li><a href="">at autem veritatis</a></li>
              <li><a href="">voluptas voluptatem officiis</a></li>
              <li><a href="">dolor aperiam nam</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Alias qui placeat aspernatur accusantium. Occaecati placeat in qui amet autem nemo. Possimus dolor asperiores nobis voluptas praesentium reprehenderit est libero quae. Accusamus minima dolore nesciunt aspernatur quia temporibus.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">mollitia aperiam id</a></li>
              <li><a href="">at autem veritatis</a></li>
              <li><a href="">voluptas voluptatem officiis</a></li>
              <li><a href="">dolor aperiam nam</a></li>
            </ul>
          </p>
        </div>
      </div>
      

  </div>
</section>

