

<div class="u-layout-centerContent u-background-grey-20 u-padding-bottom-xxl u-padding-top-xxl">
  <section class="u-layout-medium">
    <div class="u-layout-centerLeft">
      <h2 class="u-text-r-l">Gallerie</h2>
    </div>
    <div class="Grid Grid--withGutter u-padding-r-top u-text-r-xxl">
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Atque ipsam voluptatem accusamus laboriosam.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Minima quod in.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Repellendus veniam quod quam est totam reprehenderit aut quasi rem.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Sunt quae similique rerum nisi saepe.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Omnis quos repellendus saepe.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Quo nihil voluptatem reprehenderit adipisci rerum.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Consequatur dolor deserunt laborum.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Iure placeat quod qui consequuntur perferendis tempora velit.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Incidunt consectetur illum saepe accusantium dolor repudiandae deserunt eaque sint.
      </a>
    </p>
  </div>
</div>

      </div>
      
    </div>
  </section>
</div>

