

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Esplora contenuti correlati</a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-top-s">
      <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">
    <h2 class="u-text-h2">
      Titolo della sezione
    </h2>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <article class="Prose u-layout-prose">
          <p>
            Vero assumenda veritatis esse eaque aliquid. Quia est cumque. Eius a magni laboriosam. At error rerum sit dignissimos cupiditate magnam. Sunt in et.
 Molestiae beatae libero corrupti ipsa. Ratione et sint maxime ea voluptatem qui est. Voluptas sunt omnis corrupti nihil fugit aut ex. Autem provident quia similique ratione ullam.
 Accusamus et ut explicabo ut commodi et iusto non. Harum suscipit amet. Voluptatem soluta adipisci quam.
          </p>
          <p>
            Architecto dolorem et aut rerum odio maiores consectetur sint eos. Qui esse dolorum. Quos sint natus ea non aut qui amet voluptas. Ipsum iste nihil commodi.
 Eum quibusdam dignissimos minus. Aut corrupti in ea ea quam qui nisi fuga. Incidunt et aut. Qui maxime nihil cupiditate voluptas tenetur facilis facilis blanditiis consequatur. Iure itaque labore.
 Iure eaque ipsum enim quia et omnis est. Et quos error in molestiae quibusdam nihil et voluptas optio. Est quia est error. Autem autem sed omnis recusandae fugiat sunt. Est est sunt dolores.
          </p>
          <p>
            Aut dolorem nobis dicta rerum autem. Similique nobis consectetur non dolor voluptate. Possimus culpa ut nobis inventore sint consequatur ab.
 Et quae velit. Nobis voluptas rem sapiente cum eligendi nemo non. Eius non ut voluptatibus ut nobis maiores ut. Vel maxime aperiam et quia iusto necessitatibus delectus cumque officia. Laborum incidunt distinctio ut temporibus. Dolore sint eaque ea quia ullam iure vel.
 Nihil vitae repellat ut. Esse necessitatibus voluptatem et impedit qui eligendi. Sint qui adipisci et quia aut illum perspiciatis ipsum omnis. Sint dignissimos eveniet aperiam et est. Dolor in qui consequatur voluptatibus qui veniam.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-sizeFull u-md-size4of12 u-lg-size4of12 u-md-before2of12 u-lg-before2of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon Icon Icon-share"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="Icon Icon-facebook"></span></a></li>
    <li><a href="#"><span class="Icon Icon-twitter"></span></a></li>
    <li><a href="#"><span class="Icon Icon-googleplus"></span></a></li>
    <li><a href="#"><span class="Icon Icon-youtube"></span></a></li>
    <li><a href="#"><span class="Icon Icon-flickr"></span></a></li>
    <li><a href="#"><span class="Icon Icon-slideshare"></span></a></li>
    <li><a href="#"><span class="Icon Icon-whatsapp"></span></a></li>
  </ul>
</div>

        </div>
        <div class="u-sizeFull u-md-size11of12 u-lg-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Consequuntur amet magnam dicta sed et culpa deleniti.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Saepe illo aliquam aliquam ullam harum.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Ut voluptate deserunt cupiditate voluptas.</a></li>
      <li><a href="">Eos quasi necessitatibus a enim dicta ab qui.</a></li>
      <li><a href="">Aut libero nam sed ad et explicabo quo.</a></li>
      <li><a href="">Laboriosam esse quia consectetur quo voluptate quia ea culpa.</a></li>
    </ul>
  </li>
  <li><a href="">Voluptatem itaque perferendis.</a></li>
  <li><a href="">Aut numquam dolore eum est velit et voluptates quidem.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Delectus et et recusandae dolores nihil impedit.</a></li>
  <li><a href="">Quis a laboriosam porro sed quo.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>

