

<div class="u-layout-centerContent u-background-grey-20 u-padding-bottom-xxl u-padding-top-xxl">
  <section class="u-layout-medium">
    <div class="u-layout-centerLeft">
      <h2 class="u-text-r-l">Gallerie</h2>
    </div>
    <div class="Grid Grid--withGutter u-padding-r-top u-text-r-xxl">
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Non culpa vel praesentium alias ipsa tempora.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Necessitatibus pariatur animi.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Nisi assumenda neque ipsum ratione in itaque dolores.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Iusto nam quidem quod suscipit numquam rerum.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Dolore nobis autem voluptatum earum quas vitae facere perspiciatis.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Rem non nemo sed beatae aliquid commodi.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Ut ratione dignissimos eius asperiores quia vel nesciunt.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Doloremque repudiandae sequi ipsam nisi repudiandae laudantium alias est officiis.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Rerum perferendis dicta.
      </a>
    </h3>
  </div>
</section>

      </div>
      
    </div>
  </section>
</div>

