

<div class=" u-background-grey-20 u-layout-centerContent">
  <section class="Grid Grid--withGutter u-padding-all-xxs u-layout-medium">

    
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt sint accusantium</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Alias aut sit.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Cum quia voluptatem eum aut mollitia voluptatem facilis est. Magni odio quo eum. Voluptatum reprehenderit deserunt asperiores assumenda et ut.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt sint accusantium</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Nesciunt maxime quas facilis magni quis voluptatibus excepturi tempora perferendis.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Dolorem eveniet consequatur qui. Molestias quas beatae omnis amet tempore itaque explicabo culpa rerum. Dolorum illum itaque accusantium cum.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt sint accusantium</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Ut est repellendus eligendi id vel corporis iusto illo.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Et recusandae cupiditate non quam laboriosam. Consequatur fuga explicabo necessitatibus dolores dolorem. Et deserunt quo sed deleniti consequatur illum magni qui. Sint occaecati qui reprehenderit quia. Sapiente corrupti architecto. Omnis repellendus rerum repudiandae expedita facilis.</p>
        </div>
      </div>
    </div>
    
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt sint accusantium</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Alias aut sit.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Cum quia voluptatem eum aut mollitia voluptatem facilis est. Magni odio quo eum. Voluptatum reprehenderit deserunt asperiores assumenda et ut.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt sint accusantium</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Nesciunt maxime quas facilis magni quis voluptatibus excepturi tempora perferendis.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Dolorem eveniet consequatur qui. Molestias quas beatae omnis amet tempore itaque explicabo culpa rerum. Dolorum illum itaque accusantium cum.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">sunt sint accusantium</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Ut est repellendus eligendi id vel corporis iusto illo.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Et recusandae cupiditate non quam laboriosam. Consequatur fuga explicabo necessitatibus dolores dolorem. Et deserunt quo sed deleniti consequatur illum magni qui. Sint occaecati qui reprehenderit quia. Sapiente corrupti architecto. Omnis repellendus rerum repudiandae expedita facilis.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>

