

<section class="u-padding-r-top u-padding-r-bottom">
  <h2 class="u-text-h3 u-layout-centerLeft">veritatis repellat modi</h2>
  <ul class="Grid Grid--withGutter">
    
      <li class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
        <a class="Leads-link u-color-black" href="">lead 1</a>
      </li>
    
      <li class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
        <a class="Leads-link u-color-black" href="">lead 2</a>
      </li>
    
      <li class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
        <a class="Leads-link u-color-black" href="">lead 3</a>
      </li>
    
      <li class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
        <a class="Leads-link u-color-black" href="">lead 4</a>
      </li>
    
  </ul>
</section>

