

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Ut nam ex aliquid culpa.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Provident enim est rerum dolorum.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Qui perferendis tempore ipsa.</a></li>
      <li><a href="">Non numquam nesciunt quia aliquam eaque ad assumenda cum non.</a></li>
      <li><a href="">Id deserunt est dolore qui illo.</a></li>
      <li><a href="">Modi id ab illo sit iusto id corrupti suscipit facilis.</a></li>
    </ul>
  </li>
  <li><a href="">Deleniti amet omnis.</a></li>
  <li><a href="">Distinctio quis unde voluptas qui.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Ea sequi eaque eius dolor praesentium voluptates consequatur.</a></li>
  <li><a href="">Aliquid commodi architecto maiores est possimus.</a></li>
</ul>

