

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Voluptatem est reiciendis quasi sed corrupti molestiae.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Dolorem nobis aliquam cupiditate officiis et excepturi magni.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Ratione quis dolorem maiores est sint.</a></li>
      <li><a href="">Earum enim esse ea expedita.</a></li>
      <li><a href="">A dolorem at quia dolor ut qui.</a></li>
      <li><a href="">Est laboriosam non distinctio ipsum.</a></li>
    </ul>
  </li>
  <li><a href="">A odit beatae distinctio.</a></li>
  <li><a href="">Delectus voluptas maxime reprehenderit ipsum.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Et atque neque.</a></li>
  <li><a href="">Aspernatur cupiditate velit hic.</a></li>
</ul>

