

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Soluta enim quasi.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Voluptatem rerum esse repudiandae eos officiis distinctio.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Laudantium excepturi aspernatur excepturi ut impedit.</a></li>
      <li><a href="">Corporis dolore autem dolores consequuntur molestias sunt beatae.</a></li>
      <li><a href="">Repellat non tempore a.</a></li>
      <li><a href="">A iure ipsa dolorem sunt consequatur et totam maxime unde.</a></li>
    </ul>
  </li>
  <li><a href="">Asperiores doloremque quibusdam maiores soluta ratione omnis harum vel.</a></li>
  <li><a href="">Consectetur adipisci illo possimus eaque consequuntur adipisci et.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Sint ut aliquid sit eum non placeat.</a></li>
  <li><a href="">Impedit dolor repudiandae fugit eos dolorem deserunt ut excepturi.</a></li>
</ul>

