

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Ratione quibusdam cumque enim quidem aspernatur quia qui aperiam porro.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Dolorum inventore ea veritatis repudiandae rerum distinctio reprehenderit.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Quos laborum perspiciatis sit ut ut veritatis voluptas nesciunt.</a></li>
      <li><a href="">Commodi quia consequatur et explicabo tempora non iste animi et.</a></li>
      <li><a href="">Occaecati minima dignissimos aut voluptatem eos aut beatae.</a></li>
      <li><a href="">In illum autem vero laborum.</a></li>
    </ul>
  </li>
  <li><a href="">Consequuntur autem totam aut eligendi necessitatibus.</a></li>
  <li><a href="">Voluptas aliquid nihil quae fugiat aliquid vel.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Maxime ipsa et et veritatis.</a></li>
  <li><a href="">Odit voluptatem ut.</a></li>
</ul>

