

<ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Fugit nam dolorem quidem ducimus officia fugiat iusto iste.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Ab et dolorem sit aut itaque nobis.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Iure autem consequatur exercitationem iusto cum vitae dolor.</a></li>
      <li><a href="">Eius asperiores accusamus est quia consequatur qui est.</a></li>
      <li><a href="">Officiis commodi eos dolores temporibus vel autem numquam.</a></li>
      <li><a href="">Praesentium eos eveniet est veniam omnis maxime.</a></li>
    </ul>
  </li>
  <li><a href="">Accusantium rem ab excepturi qui est dolorem inventore sit.</a></li>
  <li><a href="">Iste amet iste minima.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Ipsam sed et minima reiciendis dignissimos.</a></li>
  <li><a href="">Aut non quo fugit voluptas dolores alias dignissimos ad.</a></li>
</ul>

