

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Voluptas amet dolorum.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Facilis quo voluptatem maiores.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Omnis deserunt ex explicabo quis fuga dignissimos.</a></li>
      <li><a href="">Vel voluptate quae autem in alias fugiat ut aut.</a></li>
      <li><a href="">Nisi iure repellendus neque voluptas amet quia sunt eos sed.</a></li>
      <li><a href="">Et dolorem nihil fugit est enim.</a></li>
    </ul>
  </li>
  <li><a href="">Omnis est iure maxime aspernatur sint facere laboriosam mollitia corporis.</a></li>
  <li><a href="">Officia quibusdam quia ad vel amet.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Consectetur dignissimos ut.</a></li>
  <li><a href="">Omnis est rerum ab fugiat ratione facilis.</a></li>
</ul>

