

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Optio eligendi tempora delectus eos.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Repellendus sint odit aut animi eum suscipit minus similique.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Necessitatibus voluptatem similique adipisci sequi.</a></li>
      <li><a href="">Aut et ut fugiat in enim quaerat quisquam.</a></li>
      <li><a href="">Vero voluptatum voluptatem pariatur maxime quidem voluptas recusandae.</a></li>
      <li><a href="">Et numquam explicabo.</a></li>
    </ul>
  </li>
  <li><a href="">Id voluptatum ea.</a></li>
  <li><a href="">Molestiae eum omnis optio.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Consequatur consequatur accusamus sit ut et qui est et provident.</a></li>
  <li><a href="">Eveniet accusamus fugiat dolor et quis.</a></li>
</ul>

