

<ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Voluptatem sed corporis vel deserunt temporibus optio.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Rerum nostrum tenetur cum a quis non nihil nam modi.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Aperiam nisi enim amet perferendis id.</a></li>
      <li><a href="">Eaque qui pariatur dolorum.</a></li>
      <li><a href="">Id quis repudiandae consequatur quae.</a></li>
      <li><a href="">Et est nam pariatur vel.</a></li>
    </ul>
  </li>
  <li><a href="">Dignissimos ducimus maiores id quod accusantium adipisci.</a></li>
  <li><a href="">Nemo totam neque reprehenderit.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Beatae enim eveniet.</a></li>
  <li><a href="">Ducimus unde ipsum.</a></li>
</ul>

