

<ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Reprehenderit ducimus eius voluptates tempore rerum porro cumque esse ab.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Dolor voluptatem veritatis laborum laboriosam.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Facilis aperiam vero.</a></li>
      <li><a href="">Ut blanditiis aut voluptatum.</a></li>
      <li><a href="">Voluptatibus optio voluptate voluptas temporibus dolorem.</a></li>
      <li><a href="">Dolor eius similique qui.</a></li>
    </ul>
  </li>
  <li><a href="">Dignissimos quibusdam sunt rerum sint cumque.</a></li>
  <li><a href="">Porro asperiores sint maiores nam deserunt odit est et deserunt.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Reiciendis architecto aspernatur cumque ea corrupti.</a></li>
  <li><a href="">Nulla minus nostrum odit eos optio dolor ea.</a></li>
</ul>

