

<div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-margin-r-bottom">
    <div class="u-sizeFull u-text-r-s u-color-70">
    <h3 class="u-border-bottom-m">
        <a href="#" class="u-block u-text-h3 u-textClean u-color-60">sample title
        <!-- <span class="u-text-r-s Icon Icon-chevron-right"></span> -->
        </a></h3>
        <ul class="Linklist Prose u-text-r-xs">
        <li><a href="">sample text</a></li>
        <li><a href="">sample text</a></li>
        <li><a href="">sample text</a></li>
        <li><a href="">sample text</a></li>
        <li>
          <a href="">sample text <span class="Icon Icon-chevron-right"></span></a>
        </li>
        </ul>
    </div>
</div>

