

<nav class="Megamenu Megamenu--default js-megamenu">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">
        In ducimus ducimus<br>Expedita recusandae qui
      </a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Expedita recusandae qui</a>
            <ul>
              <li><a href="/1">Dolores dolor quidem</a></li>
              <li><a href="/2">Sed quam similique</a></li>
              <li><a href="/3">Deleniti dolores animi</a></li>
              <li><a href="/4">Ut voluptate fugit</a></li>
            </ul>
          </li>
          <li><a href="">Nulla et saepe</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Amet repellat deserunt</a>
            <ul>
              <li><a href="/1">Porro rerum qui</a></li>
              <li><a href="/2">Consequuntur harum dolores</a></li>
              <li><a href="/3">In ducimus ducimus</a></li>
              <li><a href="/4">Expedita recusandae qui</a></li>
            </ul>
          </li>
          <li><a href="">Dolores dolor quidem</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Sed quam similique</a>
            <ul>
              <li><a href="/1">Deleniti dolores animi</a></li>
              <li><a href="/2">Ut voluptate fugit</a></li>
              <li><a href="/3">Nulla et saepe</a></li>
              <li><a href="/4">Amet repellat deserunt</a></li>
            </ul>
          </li>
          <li><a href="">Porro rerum qui</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Consequuntur harum dolores</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">In ducimus ducimus</a></li>
          <li><a href="/2">Expedita recusandae qui</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Dolores dolor quidem</a></li>
          <li><a href="/2">Sed quam similique</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Deleniti dolores animi</a></li>
          <li><a href="/2">Ut voluptate fugit</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Nulla et saepe</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Amet repellat deserunt</a></li>
          <li><a href="/2">Porro rerum qui</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Consequuntur harum dolores</a></li>
          <li><a href="/2">In ducimus ducimus</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Expedita recusandae qui</a></li>
          <li><a href="/2">Dolores dolor quidem</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-area">
      <a class="Button Button--default u-color-95" href="#">Accedi</a>
    </li>
  </ul>
</nav>

