

<nav class="Megamenu Megamenu--styled js-megamenu">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">Ad corporis officiis</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Aut ducimus fuga</a>
            <ul>
              <li><a href="/1">Omnis sint itaque</a></li>
              <li><a href="/2">Molestias architecto ipsam</a></li>
              <li><a href="/3">Et voluptas nemo</a></li>
              <li><a href="/4">Sed facilis suscipit</a></li>
            </ul>
          </li>
          <li><a href="">Nihil architecto id</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Eius perspiciatis rerum</a>
            <ul>
              <li><a href="/1">Sequi et ratione</a></li>
              <li><a href="/2">Labore quas omnis</a></li>
              <li><a href="/3">Ad corporis officiis</a></li>
              <li><a href="/4">Aut ducimus fuga</a></li>
            </ul>
          </li>
          <li><a href="">Omnis sint itaque</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Molestias architecto ipsam</a>
            <ul>
              <li><a href="/1">Et voluptas nemo</a></li>
              <li><a href="/2">Sed facilis suscipit</a></li>
              <li><a href="/3">Nihil architecto id</a></li>
              <li><a href="/4">Eius perspiciatis rerum</a></li>
            </ul>
          </li>
          <li><a href="">Sequi et ratione</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Labore quas omnis</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ad corporis officiis</a></li>
          <li><a href="/2">Aut ducimus fuga</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Omnis sint itaque</a></li>
          <li><a href="/2">Molestias architecto ipsam</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Et voluptas nemo</a></li>
          <li><a href="/2">Sed facilis suscipit</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Nihil architecto id</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Eius perspiciatis rerum</a></li>
          <li><a href="/2">Sequi et ratione</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Labore quas omnis</a></li>
          <li><a href="/2">Ad corporis officiis</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Aut ducimus fuga</a></li>
          <li><a href="/2">Omnis sint itaque</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

