

<nav class="Megamenu Megamenu--styled js-megamenu">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">Sequi maxime veritatis</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Consequuntur enim et</a>
            <ul>
              <li><a href="/1">Ut et fugit</a></li>
              <li><a href="/2">Quia et quam</a></li>
              <li><a href="/3">Autem est ex</a></li>
              <li><a href="/4">Nobis sint amet</a></li>
            </ul>
          </li>
          <li><a href="">Quo amet eius</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Itaque soluta culpa</a>
            <ul>
              <li><a href="/1">At ut et</a></li>
              <li><a href="/2">Ullam et iusto</a></li>
              <li><a href="/3">Sequi maxime veritatis</a></li>
              <li><a href="/4">Consequuntur enim et</a></li>
            </ul>
          </li>
          <li><a href="">Ut et fugit</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Quia et quam</a>
            <ul>
              <li><a href="/1">Autem est ex</a></li>
              <li><a href="/2">Nobis sint amet</a></li>
              <li><a href="/3">Quo amet eius</a></li>
              <li><a href="/4">Itaque soluta culpa</a></li>
            </ul>
          </li>
          <li><a href="">At ut et</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Ullam et iusto</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Sequi maxime veritatis</a></li>
          <li><a href="/2">Consequuntur enim et</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ut et fugit</a></li>
          <li><a href="/2">Quia et quam</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Autem est ex</a></li>
          <li><a href="/2">Nobis sint amet</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Quo amet eius</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Itaque soluta culpa</a></li>
          <li><a href="/2">At ut et</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ullam et iusto</a></li>
          <li><a href="/2">Sequi maxime veritatis</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Consequuntur enim et</a></li>
          <li><a href="/2">Ut et fugit</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

