

<nav class="Navscroll Navscroll--withHint">
  <ul class="u-padding-all-s u-margin-all-l">
    
      <li class="u-padding-right-l"><a href="#">Voluptatem iste fuga</a></li>
    
      <li class="u-padding-right-l"><a href="#">Voluptatum iure voluptatibus</a></li>
    
      <li class="u-padding-right-l"><a href="#">Aliquid blanditiis repellendus</a></li>
    
      <li class="u-padding-right-l"><a href="#">Officiis ut maiores</a></li>
    
      <li class="u-padding-right-l"><a href="#">Distinctio harum ut</a></li>
    
  </ul>
</nav>

