

<nav class="Navscroll Navscroll--withHint">
  <ul class="u-padding-all-s u-margin-all-l">
    
      <li class="u-padding-right-l"><a href="#">Ut provident qui</a></li>
    
      <li class="u-padding-right-l"><a href="#">Perspiciatis quisquam vel</a></li>
    
      <li class="u-padding-right-l"><a href="#">Hic consequuntur tenetur</a></li>
    
      <li class="u-padding-right-l"><a href="#">Ea magnam illo</a></li>
    
      <li class="u-padding-right-l"><a href="#">Sed perspiciatis fuga</a></li>
    
  </ul>
</nav>

