

<nav class="Navscroll Navscroll--withHint">
  <ul class="u-padding-all-s u-margin-all-l">
    
      <li class="u-padding-right-l"><a href="#">Est vel ut</a></li>
    
      <li class="u-padding-right-l"><a href="#">Sequi dolores sint</a></li>
    
      <li class="u-padding-right-l"><a href="#">Sunt a et</a></li>
    
      <li class="u-padding-right-l"><a href="#">Voluptatem delectus eius</a></li>
    
      <li class="u-padding-right-l"><a href="#">Cumque officia et</a></li>
    
  </ul>
</nav>

