


	<button type="button" class="Button Button--default js-fr-offcanvas-open" aria-controls="menu">
		Apri
	</button>


<section class="Offcanvas Offcanvas--left Offcanvas--modal js-fr-offcanvas u-jsVisibilityHidden u-nojsDisplayNone" id="menu">
	<h2 class="u-hiddenVisually">Menu di navigazione</h2>
  <div class="Offcanvas-content u-background-white">
    <div class="Offcanvas-toggleContainer u-background-70 u-jsHidden">
      <a class="Hamburger-toggleContainer u-block u-color-white u-padding-bottom-xxl u-padding-left-s u-padding-top-xxl js-fr-offcanvas-close"
        aria-controls="menu" aria-label="esci dalla navigazione" title="esci dalla navigazione" href="#">
        <span class="Hamburger-toggle is-active" aria-hidden="true"></span>
      </a>
    </div>
    <nav>
			<ul class="Linklist Linklist--padded Treeview Treeview--default js-fr-treeview u-text-r-xs">
  <li><a href="#">Ratione occaecati sunt</a>
    <ul>
      <li><a href="#">Neque ut porro</a></li>
      <li><a href="#">Et unde alias</a></li>
      <li><a href="#">Consequatur iusto ea</a>
        <ul>
          <li><a href="#">Libero modi quos</a></li>
          <li><a href="#">Repudiandae totam omnis</a>
            <ul>
              <li><a href="#">Repudiandae totam omnis</a></li>
              <li><a href="#">Sunt accusamus nulla</a></li>
              <li><a href="#">Quaerat sapiente soluta</a></li>
            </ul>
          </li>
          <li><a href="#">Consectetur aperiam minima</a></li>
        </ul>
      </li>
      <li><a href="#">Non quia natus</a></li>
      <li><a href="#">Ratione occaecati sunt</a></li>
    </ul>
  </li>
  <li><a href="#">Consectetur aperiam minima</a>
    <ul>
      <li><a href="#">Consequatur iusto ea</a></li>
      <li><a href="#">Et unde alias</a></li>
      <li><a href="#">Neque ut porro</a>
        <ul>
          <li><a href="#">Sunt accusamus nulla</a></li>
          <li><a href="#">Repudiandae totam omnis</a></li>
          <li><a href="#">Libero modi quos</a></li>
        </ul>
      </li>
      <li><a href="#">Quaerat sapiente soluta</a></li>
      <li><a href="#">Consectetur aperiam minima</a>
        <ul>
          <li><a href="#">Non quia natus</a></li>
          <li><a href="#">Neque ut porro</a></li>
          <li><a href="#">Et unde alias</a></li>
          <li><a href="#">Consequatur iusto ea</a></li>
          <li><a href="#">Libero modi quos</a></li>
          <li><a href="#">Repudiandae totam omnis</a></li>
          <li><a href="#">Sunt accusamus nulla</a></li>
          <li><a href="#">Quaerat sapiente soluta</a></li>
          <li><a href="#">Consectetur aperiam minima</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Area riservata</a>
  </li>
</ul>

    </nav>
  </div>
</section>

