

<ul class="Skiplinks js-fr-bypasslinks">
  <li><a accesskey="2" href="#main">Vai al Contenuto</a></li>
  <li><a accesskey="3" href="#menu">Vai alla navigazione del sito</a></li>
</ul>


<header class="Header Headroom--fixed">

  <div class="Header-banner Headroom-hideme">
    <p class="Header-serviceLink">
      <a href=""><span>Accedi ai </span> servizi</a>
    </p>
    <p class="Header-owner">
      <a href="">Nome amministrazione afferente</a>
    </p>
  </div>

  <div class="Header-navbar Grid Grid--alignMiddle">

    <div class="Header-toggle Grid-cell">
      <button class="Hamburger-toggleContainer js-fr-offcanvas-open"
        aria-controls="menu" aria-label="mostra / nascondi il menu" title="mostra / nascondi il menu">
        <span class="Hamburger-toggle" role="presentation"></span>
        <span class="Header-toggleText" role="presentation">Menu</span>
      </button>
    </div>

    <div class="Header-logo Grid-cell" aria-hidden="true">
      <a href="/" tabindex="-1">
        <img src="http://placehold.it/75x80" alt="">
      </a>
    </div>

    <div class="Header-title Grid-cell">
      <h1 class="Header-titleLink">
        <a accesskey="1" href="/">
          Nome della Pubblica Amministrazione<br>
          <small>eventuale sottotitolo</small>
        </a>
      </h1>
    </div>

    <div class="Header-searchTrigger Grid-cell">
      <button aria-controls="#header-search" class="js-Header-search-trigger icon-magnifier"
        title="attiva il form di ricerca" aria-label="attiva il form di ricerca" aria-hidden="false">
      </button>
      <button aria-controls="#header-search" class="js-Header-search-trigger icon-close u-hiddenVisually"
        title="disattiva il form di ricerca" aria-label="disattiva il form di ricerca" aria-hidden="true">
      </button>
    </div>

    <div class="Header-utils Grid-cell">
      <div class="Header-social Headroom-hideme">
        <p>Seguici su:</p>
        <ul class="Header-socialIcons">
          <li><a href=""><span class="icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
      <div class="Header-search" id="header-search">
        <form class="Form">
  <div class="Form-field Form-field--withPlaceholder Grid">
    <input class="Form-input Grid-cell u-sizeFill u-text-r-s" required id="cerca">
    <label class="Form-label" for="cerca">Cerca...</label>
    <button class="Grid-cell u-sizeFit icon-magnifier u-background-60 u-color-white u-padding-all-s u-text-s"
      title="Avvia la ricerca" aria-label="Avvia la ricerca">
    </button>
  </div>
</form>

      </div>
      <div class="Header-languages Headroom-hideme">
        <a class="Header-language is-active" href="" title="sito in italiano">ITA</a>
        <a class="Header-language" href="" title="sito in inglese">ENG</a>
      </div>
    </div>

  </div><!-- Header-navbar -->

  

</header>



<div class="Offcanvas Offcanvas--left Offcanvas--modal js-fr-offcanvas u-jsVisibilityHidden" id="menu">
  <div class="Offcanvas-content u-background-white">
    <div class="Offcanvas-toggleContainer u-padding-bottom-l u-background-70">
      <button class="Hamburger-toggleContainer u-block u-color-white u-padding-left-s u-padding-top-xxl js-fr-offcanvas-close"
        aria-controls="menu" aria-label="chiudi il menu" title="esci dalla navigazione">
        <span class="Hamburger-toggle is-active">
        </span>
      </button>
    </div>
    <nav>
      <ul class="Linklist Linklist--padded Treeview js-fr-treeview u-text-r-xs">
  <li><a>Ut adipisci delectus</a>
    <ul>
      <li><a>Et sed dicta</a></li>
      <li><a>Perspiciatis quam et</a></li>
      <li><a>Eligendi dignissimos odit</a>
        <ul>
          <li><a>Veritatis esse cum</a></li>
          <li><a>Iusto ut minus</a>
            <ul>
              <li><a>Iusto ut minus</a></li>
              <li><a>Id quaerat quae</a></li>
              <li><a>Ullam doloribus occaecati</a></li>
            </ul>
          </li>
          <li><a>Deserunt dolores odit</a></li>
        </ul>
      </li>
      <li><a>Sequi nihil incidunt</a></li>
      <li><a>Ut adipisci delectus</a></li>
    </ul>
  </li>
  <li><a>Deserunt dolores odit</a>
    <ul>
      <li><a>Eligendi dignissimos odit</a></li>
      <li><a>Perspiciatis quam et</a></li>
      <li><a>Et sed dicta</a>
        <ul>
          <li><a>Id quaerat quae</a></li>
          <li><a>Iusto ut minus</a></li>
          <li><a>Veritatis esse cum</a></li>
        </ul>
      </li>
      <li><a>Ullam doloribus occaecati</a></li>
      <li><a>Deserunt dolores odit</a>
        <ul>
          <li><a>Sequi nihil incidunt</a></li>
          <li><a>Et sed dicta</a></li>
          <li><a>Perspiciatis quam et</a></li>
          <li><a>Eligendi dignissimos odit</a></li>
          <li><a>Veritatis esse cum</a></li>
          <li><a>Iusto ut minus</a></li>
          <li><a>Id quaerat quae</a></li>
          <li><a>Ullam doloribus occaecati</a></li>
          <li><a>Deserunt dolores odit</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

    </nav>
  </div>
</div>



<div id="main">

  <section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="icon icon-view-01 u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Vai alla navigazione</a>
  </p>
  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-bottom-xxl u-padding-top-xxl">
    <h2 class="u-text-h1">
    Titolo della sezione
  </h2>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <article class="Prose u-layout-prose">
          <p>
            Deleniti eveniet earum. Unde et occaecati eaque iure voluptatem repudiandae facilis. Eum illo animi nihil magnam nisi laudantium aspernatur non aliquam.
 Accusantium sequi alias ut. Laudantium omnis error atque hic. Omnis soluta dolor corrupti omnis. Voluptatem maiores non mollitia quas ut.
 Quisquam et perspiciatis maiores. Voluptate dolore et non nobis magnam perspiciatis. Et est similique vero. Repudiandae accusantium est expedita rerum reiciendis eligendi. Cupiditate aperiam sed ut ea quam sed beatae.
          </p>
          <p>
            Dolorem dolorem voluptate magni earum ullam. Iusto impedit tempora sit. Odit laboriosam corrupti fugiat atque est.
 Autem esse mollitia delectus doloribus quia itaque est libero commodi. Quos iure porro fuga aliquam et a earum. Pariatur sint maiores est voluptatem alias harum. Cumque qui est ipsam in iste voluptatum quis. Iusto vero voluptatem a minima libero vitae maiores libero. Sint ut enim ut assumenda unde dolores.
 Nihil voluptatem laudantium ut animi inventore accusantium inventore eum pariatur. Sit sed eum aut velit incidunt voluptatem. Voluptatibus ducimus ab amet et incidunt eos eligendi non odio. Harum rerum hic veniam quod.
          </p>
          <p>
            Error quas voluptas earum. Sed facere iure aspernatur et placeat. Odit vitae recusandae laboriosam ex occaecati. Ut dolor aliquam. Aperiam ipsum sit qui inventore pariatur libero nostrum quod.
 Beatae adipisci dolor dolor minus et id illo deleniti ea. Aperiam ipsam ut. Officiis culpa velit in est aliquam exercitationem quidem. Dolorem reprehenderit dolores. Consequatur neque hic aut alias nisi sit doloribus autem sit.
 Dolor fugit inventore reprehenderit accusamus. Libero voluptates nisi hic reprehenderit qui officiis cum vel impedit. Voluptatum provident consequatur non voluptas eaque. Perspiciatis quia molestias et similique. Dolorem corrupti modi ullam sint omnis ratione in reprehenderit.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-md-size4of12 u-lg-size4of12 u-md-before2of12 u-lg-before2of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon icon icon-sharethis"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="icon icon-facebook"></span></a></li>
    <li><a href="#"><span class="icon icon-twitter"></span></a></li>
    <li><a href="#"><span class="icon icon-google-plus"></span></a></li>
    <li><a href="#"><span class="icon icon-youtube"></span></a></li>
    <li><a href="#"><span class="icon icon-flickr"></span></a></li>
    <li><a href="#"><span class="icon icon-slideshare"></span></a></li>
    <li><a href="#"><span class="icon icon-whatsapp"></span></a></li>
  </ul>
</div>

        </div>
        <div class="u-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Ab eos doloribus.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Velit vero quia modi est earum aut.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Et dolorem laboriosam beatae voluptas commodi quia.</a></li>
      <li><a href="">Facilis libero et.</a></li>
      <li><a href="">Itaque quia voluptatem vel accusamus excepturi nisi est neque.</a></li>
      <li><a href="">Possimus fugiat laboriosam consectetur dolores error.</a></li>
    </ul>
  </li>
  <li><a href="">Sed voluptatem sed.</a></li>
  <li><a href="">Dolorum eveniet sint architecto qui aliquid ut vel incidunt.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Iusto molestiae quos cum dolorum.</a></li>
  <li><a href="">Nesciunt alias ex.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>


  <div class="u-background-grey-80">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
    <footer class="Footer u-padding-all-s">

  <div class="u-cf">
    <img class="Footer-logo" src="http://placehold.it/75x80?text=placeholder" alt="">
    <p class="Footer-siteName">
      Comune di Civitella Roveto
    </p>
  </div>

  <div class="Grid Grid--withGutter">
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    

    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via Cherso 8<br>
          00177 Roma<br>
          Tel. (+39) 00.1310.1980
        </address>
      </div>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via Cherso 8<br>
          00177 Roma<br>
          Tel. (+39) 00.1310.1980
        </address>
      </div>
    </div>
    

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Indirizzo PEC</h3>
        <p><a href="">indirizzo.pec@gov.it</a></p>
      </div>
    </div>

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Seguici su</h2>
      <div class="Footer-subBlock">
        <ul class="Footer-socialIcons">
          <li><a href=""><span class="icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
    </div>

  </div>

  <ul class="Footer-links u-cf">
    <li><a href="" title="Privacy policy">Privacy</a></li>
    <li><a href="" title="Note legali">Note legali</a></li>
    <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
  </ul>

</footer>

    </div>
  </div>

  <a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon icon-top" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio del contenuto</span>
</a>

  <div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all">
  <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">Questo sito utilizza cookie tecnici, analytics e di terze parti.
    <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
  </p>
  <p>
    <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
    <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
  </p>
</div>


</div>

