

<ul class="Skiplinks js-fr-bypasslinks">
  <li><a accesskey="2" href="#main">Vai al Contenuto</a></li>
  <li><a accesskey="3" href="#menu">Vai alla navigazione del sito</a></li>
</ul>


<header class="Header Headroom--fixed">

  <div class="Header-banner Headroom-hideme">
    <p class="Header-serviceLink">
      <a href=""><span>Accedi ai </span> servizi</a>
    </p>
    <p class="Header-owner">
      <a href="">Nome amministrazione afferente</a>
    </p>
  </div>

  <div class="Header-navbar Grid Grid--alignMiddle">

    <a class="Hamburger-toggleContainer Header-toggle Grid-cell js-fr-offcanvas-open"
      aria-controls="menu" aria-label="accedi al menu" title="navigazione" href="#menu">
      <span class="Hamburger-toggle" aria-hidden="true"></span>
      <span class="Header-toggleText">Menu</span>
    </a>

    <div class="Header-title">
      <div class="Header-logo" aria-hidden="true">
        <a href="/" tabindex="-1">
          <img src="http://placehold.it/75x80" alt="">
        </a>
      </div>
      <h1 class="Header-titleLink">
        <a accesskey="1" href="/">
          Nome della Pubblica Amministrazione<br>
          <small>eventuale sottotitolo</small>
        </a>
      </h1>
      <div class="Header-searchTrigger js-searchTrigger">
        <a href="#header-utils" class="icon-magnifier">
          <span class="u-visuallyHidden">vai alla ricerca</span>
        </a>
      </div>
    </div>

    <div class="Header-utils" id="header-utils">
      <div class="Header-social Headroom-hideme">
        <p>Seguici su:</p>
        <ul class="Header-socialIcons">
          <li><a href=""><span class="icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
      <div class="Header-search">
        <form class="Form">
  <div class="Form-field Form-field--withPlaceholder">
    <input class="Form-input u-text-r-s" required id="cerca">
    <label class="Form-label" for="cerca">Cerca...</label>
    <button class="icon-magnifier u-background-40 u-color-white u-padding-all-s u-text-r-m"></button>
  </div>
</form>

      </div>
      <div class="Header-languages Headroom-hideme">
        <a class="Header-language is-active" href="">ITA</a>
        <a class="Header-language" href="">ENG</a>
      </div>
    </div>

  </div><!-- Header-navbar -->

  

</header>



<div class="Offcanvas Offcanvas--left Offcanvas--modal js-fr-offcanvas u-jsVisibilityHidden" id="menu">
  <div class="Offcanvas-content u-background-white">
    <div class="Offcanvas-toggleContainer u-padding-bottom-l u-background-70">
      <button class="Hamburger-toggleContainer u-block u-color-white u-padding-left-s u-padding-top-xxl js-fr-offcanvas-close"
        aria-controls="menu" aria-label="chiudi il menu" title="esci dalla navigazione">
        <span class="Hamburger-toggle is-active">
        </span>
      </button>
    </div>
    <nav>
      <ul class="Linklist Linklist--padded Treeview js-fr-treeview u-text-r-xs">
  <li><a>Sequi maxime veritatis</a>
    <ul>
      <li><a>Consequuntur enim et</a></li>
      <li><a>Ut et fugit</a></li>
      <li><a>Quia et quam</a>
        <ul>
          <li><a>Autem est ex</a></li>
          <li><a>Nobis sint amet</a>
            <ul>
              <li><a>Nobis sint amet</a></li>
              <li><a>Quo amet eius</a></li>
              <li><a>Itaque soluta culpa</a></li>
            </ul>
          </li>
          <li><a>At ut et</a></li>
        </ul>
      </li>
      <li><a>Ullam et iusto</a></li>
      <li><a>Sequi maxime veritatis</a></li>
    </ul>
  </li>
  <li><a>At ut et</a>
    <ul>
      <li><a>Quia et quam</a></li>
      <li><a>Ut et fugit</a></li>
      <li><a>Consequuntur enim et</a>
        <ul>
          <li><a>Quo amet eius</a></li>
          <li><a>Nobis sint amet</a></li>
          <li><a>Autem est ex</a></li>
        </ul>
      </li>
      <li><a>Itaque soluta culpa</a></li>
      <li><a>At ut et</a>
        <ul>
          <li><a>Ullam et iusto</a></li>
          <li><a>Consequuntur enim et</a></li>
          <li><a>Ut et fugit</a></li>
          <li><a>Quia et quam</a></li>
          <li><a>Autem est ex</a></li>
          <li><a>Nobis sint amet</a></li>
          <li><a>Quo amet eius</a></li>
          <li><a>Itaque soluta culpa</a></li>
          <li><a>At ut et</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

    </nav>
  </div>
</div>



<div id="main">

  <section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="icon icon-view-01 u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Vai alla navigazione</a>
  </p>
  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-bottom-xxl u-padding-top-xxl">
    <h2 class="u-text-h1">
    Titolo della sezione
  </h2>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <article class="Prose u-layout-prose">
          <p>
            Laborum recusandae corrupti. Soluta et quo ut odit. Necessitatibus ut ipsum eos sint enim voluptatem qui ex. Rerum similique laudantium quasi omnis optio occaecati sint nulla sed.
 Quod voluptatibus non pariatur omnis labore natus sequi cupiditate voluptatem. Magni ipsa asperiores doloribus. Ratione incidunt tempore reprehenderit aut magnam quasi. Et architecto modi voluptate officia. Aut aut adipisci dolore accusamus.
 Sapiente corporis eos et. Sed et est eos quia exercitationem. Enim impedit eveniet perferendis veritatis tenetur vel. Voluptatem qui voluptatem. Autem et sit labore iusto. Accusamus animi non similique at impedit iste.
          </p>
          <p>
            Rerum non quibusdam non. Dignissimos est quod magnam velit consectetur. Alias id aut repudiandae. Perspiciatis reiciendis aliquid quia ut sed et.
 Ratione nobis odio qui. Vel dolore vitae eos cumque est eaque quia reprehenderit. Rerum doloremque accusantium aut. Libero ut numquam et et ut at vitae.
 Ipsa labore facilis a distinctio eaque libero nihil dolorem. Explicabo eius id placeat voluptas quas vel quibusdam consequatur consectetur. Laudantium dolores facere sed est saepe omnis necessitatibus qui dolorum. A quis nesciunt quia. Maiores velit asperiores aspernatur hic et eveniet. Id ut quo molestiae.
          </p>
          <p>
            Perferendis recusandae explicabo voluptatem natus et numquam eum delectus. Qui aliquam aut aperiam est. Aliquid expedita quis ad earum dicta rerum tempora quas eos.
 Ut enim soluta unde fugiat. Quam dignissimos voluptatem. Voluptatem temporibus consectetur. Quam quidem molestiae voluptatem maiores voluptatum omnis. Et ipsum dolores aut esse. Vel in nisi enim vero.
 Ducimus consequatur mollitia et et. Temporibus laborum error ullam. Eos sit aut qui voluptates repellat est in.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-md-size4of12 u-lg-size4of12 u-md-before2of12 u-lg-before2of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon icon icon-sharethis"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="icon icon-facebook"></span></a></li>
    <li><a href="#"><span class="icon icon-twitter"></span></a></li>
    <li><a href="#"><span class="icon icon-google-plus"></span></a></li>
    <li><a href="#"><span class="icon icon-youtube"></span></a></li>
    <li><a href="#"><span class="icon icon-flickr"></span></a></li>
    <li><a href="#"><span class="icon icon-slideshare"></span></a></li>
    <li><a href="#"><span class="icon icon-whatsapp"></span></a></li>
  </ul>
</div>

        </div>
        <div class="u-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Ab magni est recusandae animi voluptas ut omnis.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Pariatur eum ut sit expedita consequuntur eaque maiores eligendi fuga.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Tempora laudantium voluptas qui.</a></li>
      <li><a href="">Corrupti exercitationem est culpa sed eaque nesciunt tempore nam.</a></li>
      <li><a href="">Ut aut vero odit ea assumenda accusamus cupiditate inventore.</a></li>
      <li><a href="">Quo et nostrum ut minima.</a></li>
    </ul>
  </li>
  <li><a href="">Voluptas harum eveniet nesciunt dolor est nemo.</a></li>
  <li><a href="">Impedit magni sed.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Voluptatum consequatur laborum consequatur doloremque sunt est quis tempora.</a></li>
  <li><a href="">Iure aliquam illo similique.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>


  <div class="u-background-grey-80">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
    <footer class="Footer u-padding-all-s">

  <div class="u-cf">
    <img class="Footer-logo" src="http://placehold.it/75x80?text=placeholder" alt="">
    <p class="Footer-siteName">
      Comune di Civitella Roveto
    </p>
  </div>

  <div class="Grid Grid--withGutter">
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    

    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via Cherso 8<br>
          00177 Roma<br>
          Tel. (+39) 00.1310.1980
        </address>
      </div>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via Cherso 8<br>
          00177 Roma<br>
          Tel. (+39) 00.1310.1980
        </address>
      </div>
    </div>
    

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Indirizzo PEC</h3>
        <p><a href="">indirizzo.pec@gov.it</a></p>
      </div>
    </div>

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Seguici su</h2>
      <div class="Footer-subBlock">
        <ul class="Footer-socialIcons">
          <li><a href=""><span class="icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
    </div>

  </div>

  <ul class="Footer-links u-cf">
    <li><a href="" title="Privacy policy">Privacy</a></li>
    <li><a href="" title="Note legali">Note legali</a></li>
    <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
  </ul>

</footer>

    </div>
  </div>

  <a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon icon-top" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio del contenuto</span>
</a>

  <div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all">
  <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">Questo sito utilizza cookie tecnici, analytics e di terze parti.
    <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
  </p>
  <p>
    <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
    <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
  </p>
</div>


</div>

