

<ul class="Skiplinks js-fr-bypasslinks">
  <li><a accesskey="2" href="#main">Vai al Contenuto</a></li>
  <li><a accesskey="3" href="#menu">Vai alla navigazione del sito</a></li>
</ul>


<header class="Header Headroom--fixed">

  <div class="Header-banner Headroom-hideme">
    <p class="Header-serviceLink">
      <a href=""><span>Accedi ai </span> servizi</a>
    </p>
    <p class="Header-owner">
      <a href="">Nome amministrazione afferente</a>
    </p>
  </div>

  <div class="Header-navbar Grid Grid--alignMiddle">

    <div class="Header-toggle Grid-cell">
      <button class="Hamburger-toggleContainer js-fr-offcanvas-open"
        aria-controls="menu" aria-label="mostra / nascondi il menu" title="mostra / nascondi il menu">
        <span class="Hamburger-toggle" role="presentation"></span>
        <span class="Header-toggleText" role="presentation">Menu</span>
      </button>
    </div>

    <div class="Header-logo Grid-cell" aria-hidden="true">
      <a href="/" tabindex="-1">
        <img src="http://placehold.it/75x80" alt="">
      </a>
    </div>

    <div class="Header-title Grid-cell">
      <h1 class="Header-titleLink">
        <a accesskey="1" href="/">
          Nome della Pubblica Amministrazione<br>
          <small>eventuale sottotitolo</small>
        </a>
      </h1>
    </div>

    <div class="Header-searchTrigger Grid-cell">
      <button aria-controls="#header-search" class="js-Header-search-trigger icon-magnifier"
        title="attiva il form di ricerca" aria-label="attiva il form di ricerca" aria-hidden="false">
      </button>
      <button aria-controls="#header-search" class="js-Header-search-trigger icon-close u-hiddenVisually"
        title="disattiva il form di ricerca" aria-label="disattiva il form di ricerca" aria-hidden="true">
      </button>
    </div>

    <div class="Header-utils Grid-cell">
      <div class="Header-social Headroom-hideme">
        <p>Seguici su:</p>
        <ul class="Header-socialIcons">
          <li><a href=""><span class="icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
      <div class="Header-search" id="header-search">
        <form class="Form">
  <div class="Form-field Form-field--withPlaceholder Grid">
    <input class="Form-input Grid-cell u-sizeFill u-text-r-s" required id="cerca">
    <label class="Form-label" for="cerca">Cerca...</label>
    <button class="Grid-cell u-sizeFit icon-magnifier u-background-60 u-color-white u-padding-all-s u-text-s"
      title="Avvia la ricerca" aria-label="Avvia la ricerca">
    </button>
  </div>
</form>

      </div>
      <div class="Header-languages Headroom-hideme">
        <a class="Header-language is-active" href="" title="sito in italiano">ITA</a>
        <a class="Header-language" href="" title="sito in inglese">ENG</a>
      </div>
    </div>

  </div><!-- Header-navbar -->

  

</header>



<section class="Offcanvas Offcanvas--left Offcanvas--modal js-fr-offcanvas u-jsVisibilityHidden" id="menu">
	<h2 class="u-hiddenVisually">Menu di navigazione</h2>
  <div class="Offcanvas-content u-background-white">
    <div class="Offcanvas-toggleContainer u-padding-bottom-l u-background-70">
      <button class="Hamburger-toggleContainer u-block u-color-white u-padding-left-s u-padding-top-xxl js-fr-offcanvas-close"
        aria-controls="menu" aria-label="chiudi il menu" title="esci dalla navigazione">
        <span class="Hamburger-toggle is-active">
        </span>
      </button>
    </div>
    <nav>
      <ul class="Linklist Linklist--padded Treeview js-fr-treeview u-text-r-xs">
  <li><a>Deleniti aut sed</a>
    <ul>
      <li><a>Fuga sit nobis</a></li>
      <li><a>Quod ullam et</a></li>
      <li><a>Dolorum velit quis</a>
        <ul>
          <li><a>Ex eum ratione</a></li>
          <li><a>Reiciendis vitae quidem</a>
            <ul>
              <li><a>Reiciendis vitae quidem</a></li>
              <li><a>Ab aut minus</a></li>
              <li><a>Voluptatem dolores consequatur</a></li>
            </ul>
          </li>
          <li><a>Aliquam magni non</a></li>
        </ul>
      </li>
      <li><a>Sit odio voluptatem</a></li>
      <li><a>Deleniti aut sed</a></li>
    </ul>
  </li>
  <li><a>Aliquam magni non</a>
    <ul>
      <li><a>Dolorum velit quis</a></li>
      <li><a>Quod ullam et</a></li>
      <li><a>Fuga sit nobis</a>
        <ul>
          <li><a>Ab aut minus</a></li>
          <li><a>Reiciendis vitae quidem</a></li>
          <li><a>Ex eum ratione</a></li>
        </ul>
      </li>
      <li><a>Voluptatem dolores consequatur</a></li>
      <li><a>Aliquam magni non</a>
        <ul>
          <li><a>Sit odio voluptatem</a></li>
          <li><a>Fuga sit nobis</a></li>
          <li><a>Quod ullam et</a></li>
          <li><a>Dolorum velit quis</a></li>
          <li><a>Ex eum ratione</a></li>
          <li><a>Reiciendis vitae quidem</a></li>
          <li><a>Ab aut minus</a></li>
          <li><a>Voluptatem dolores consequatur</a></li>
          <li><a>Aliquam magni non</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

    </nav>
  </div>
</section>



<div id="main">
  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-top-s">
      <ul class="Breadcrumb">
  <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">Home</a></li>
  <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
  <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
  <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
</ul>

  </div>

  <section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
  <h2 class="u-text-h2">Home di sezione</h2>
  <div class="Grid Grid--withGutter">

      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">fuga sit nobis</a></li>
              <li><a href="">quod ullam et</a></li>
              <li><a href="">dolorum velit quis</a></li>
              <li><a href="">ex eum ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Adipisci quas exercitationem delectus est quis modi. Doloribus modi officia. Rerum laboriosam sunt sequi quis libero vero deserunt. Nobis tempora est sapiente. Aspernatur est ut vero asperiores veniam facere aut. Omnis tempore qui saepe cupiditate.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">fuga sit nobis</a></li>
              <li><a href="">quod ullam et</a></li>
              <li><a href="">dolorum velit quis</a></li>
              <li><a href="">ex eum ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Id enim consequatur voluptas impedit quisquam quo atque. Animi distinctio suscipit aut quia deleniti voluptas aspernatur vel ullam. Enim quas et esse occaecati consequatur. Culpa in optio nam.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">fuga sit nobis</a></li>
              <li><a href="">quod ullam et</a></li>
              <li><a href="">dolorum velit quis</a></li>
              <li><a href="">ex eum ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Minus vero quasi ea dicta incidunt. Ipsa numquam occaecati consequuntur. Nihil ipsa eveniet voluptatem rem aut sapiente et soluta reiciendis. Perspiciatis eveniet veniam nam laborum dignissimos sint possimus exercitationem omnis.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">fuga sit nobis</a></li>
              <li><a href="">quod ullam et</a></li>
              <li><a href="">dolorum velit quis</a></li>
              <li><a href="">ex eum ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Sed officia dolor beatae. Totam vel dolores qui voluptas beatae nulla quam ex. Doloribus ut maxime rem est vel porro optio. Accusamus ex ex quis necessitatibus quod impedit dolor. Molestias suscipit inventore. Hic cum officia aspernatur.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">fuga sit nobis</a></li>
              <li><a href="">quod ullam et</a></li>
              <li><a href="">dolorum velit quis</a></li>
              <li><a href="">ex eum ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Reiciendis est fugit et molestias cumque aliquid cupiditate distinctio consequatur. Non et porro at autem ratione eos tempore. Ea ut nobis aut illo dolores.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">fuga sit nobis</a></li>
              <li><a href="">quod ullam et</a></li>
              <li><a href="">dolorum velit quis</a></li>
              <li><a href="">ex eum ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Deleniti molestiae a odio ipsam. Et veniam qui omnis hic labore. Aut corporis ducimus. Autem officia voluptas iusto voluptas asperiores fugiat est commodi alias. Veniam ducimus velit iste quia voluptate ipsam.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">fuga sit nobis</a></li>
              <li><a href="">quod ullam et</a></li>
              <li><a href="">dolorum velit quis</a></li>
              <li><a href="">ex eum ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Dolor ipsam voluptatem ex mollitia officiis perferendis aut. Delectus quia et et veniam voluptas vel voluptatem. Unde excepturi incidunt odit. Occaecati ut ea vero autem iste mollitia ex in. Consequatur esse quidem ipsa eum aut reiciendis eos quidem recusandae.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">fuga sit nobis</a></li>
              <li><a href="">quod ullam et</a></li>
              <li><a href="">dolorum velit quis</a></li>
              <li><a href="">ex eum ratione</a></li>
            </ul>
          </p>
        </div>
      </div>
      

  </div>
</section>


  <div class="u-background-grey-80">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
    <footer class="Footer u-padding-all-s">

  <div class="u-cf">
    <img class="Footer-logo" src="http://placehold.it/75x80?text=placeholder" alt="">
    <p class="Footer-siteName">
      Comune di Civitella Roveto
    </p>
  </div>

  <div class="Grid Grid--withGutter">
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    

    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via Cherso 8<br>
          00177 Roma<br>
          Tel. (+39) 00.1310.1980
        </address>
      </div>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via Cherso 8<br>
          00177 Roma<br>
          Tel. (+39) 00.1310.1980
        </address>
      </div>
    </div>
    

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Indirizzo PEC</h3>
        <p><a href="">indirizzo.pec@gov.it</a></p>
      </div>
    </div>

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Seguici su</h2>
      <div class="Footer-subBlock">
        <ul class="Footer-socialIcons">
          <li><a href=""><span class="icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
    </div>

  </div>

  <ul class="Footer-links u-cf">
    <li><a href="" title="Privacy policy">Privacy</a></li>
    <li><a href="" title="Note legali">Note legali</a></li>
    <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
  </ul>

</footer>

    </div>
  </div>

  <a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon icon-top" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio del contenuto</span>
</a>

  <div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all">
  <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">Questo sito utilizza cookie tecnici, analytics e di terze parti.
    <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
  </p>
  <p>
    <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
    <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
  </p>
</div>


</div>

