

<ul class="Skiplinks js-fr-bypasslinks">
  <li><a accesskey="2" href="#main">Vai al Contenuto</a></li>
  <li><a accesskey="3" href="#menu">Vai alla navigazione del sito</a></li>
</ul>


<header class="Header Headroom--fixed">

  <div class="Header-banner Headroom-hideme">
    <p class="Header-serviceLink">
      <a href=""><span>Accedi ai </span> servizi</a>
    </p>
    <p class="Header-owner">
      <a href="">Nome amministrazione afferente</a>
    </p>
  </div>

  <div class="Header-navbar Grid Grid--alignMiddle">

    <div class="Header-toggle Grid-cell">
      <a class="Hamburger-toggleContainer js-fr-offcanvas-open" href="#menu"
        aria-controls="menu" aria-label="accedi al menu" title="accedi al menu">
        <span class="Hamburger-toggle" role="presentation"></span>
        <span class="Header-toggleText" role="presentation">Menu</span>
      </a>
    </div>

    <div class="Header-logo Grid-cell" aria-hidden="true">
      <a href="/" tabindex="-1">
        <img src="//placehold.it/75x80" alt="">
      </a>
    </div>

    <div class="Header-title Grid-cell">
      <h1 class="Header-titleLink">
        <a accesskey="1" href="/">
          Nome della Pubblica Amministrazione<br>
          <small>eventuale sottotitolo</small>
        </a>
      </h1>
    </div>

    <div class="Header-searchTrigger Grid-cell">
      <button aria-controls="#header-search" class="js-Header-search-trigger Icon Icon-search"
        title="attiva il form di ricerca" aria-label="attiva il form di ricerca" aria-hidden="false">
      </button>
      <button aria-controls="#header-search" class="js-Header-search-trigger Icon Icon-close u-hiddenVisually"
        title="disattiva il form di ricerca" aria-label="disattiva il form di ricerca" aria-hidden="true">
      </button>
    </div>

    <div class="Header-utils Grid-cell">
      <div class="Header-social Headroom-hideme">
        <p>Seguici su:</p>
        <ul class="Header-socialIcons">
          <li><a href=""><span class="Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
      <div class="Header-search" id="header-search">
        <form class="Form">
  <div class="Form-field Form-field--withPlaceholder Grid">
    <input class="Form-input Grid-cell u-sizeFill u-text-r-s" required id="cerca">
    <label class="Form-label" for="cerca">Cerca...</label>
    <button class="Grid-cell u-sizeFit Icon-search u-background-60 u-color-white u-padding-all-s u-textWeight-700"
      title="Avvia la ricerca" aria-label="Avvia la ricerca">
    </button>
  </div>
</form>

      </div>
      <div class="Header-languages Headroom-hideme">
        <a class="Header-language is-active" href="" title="sito in italiano">ITA</a>
        <a class="Header-language" href="" title="sito in inglese">ENG</a>
      </div>
    </div>

  </div><!-- Header-navbar -->

  
  <div class="Headroom-hideme u-textCenter u-hidden u-sm-block u-md-block u-lg-block">
    
      <nav class="Megamenu Megamenu--styled js-megamenu" data-rel=".Offcanvas .Treeview"></nav>
    
  </div>
  

</header>



<section class="Offcanvas Offcanvas--left Offcanvas--modal js-fr-offcanvas u-jsVisibilityHidden u-nojsDisplayNone" id="menu">
	<h2 class="u-hiddenVisually">Menu di navigazione</h2>
  <div class="Offcanvas-content u-background-white">
    <div class="Offcanvas-toggleContainer u-background-70 u-jsHidden">
      <a class="Hamburger-toggleContainer u-block u-color-white u-padding-bottom-xxl u-padding-left-s u-padding-top-xxl js-fr-offcanvas-close"
        aria-controls="menu" aria-label="esci dalla navigazione" title="esci dalla navigazione" href="#">
        <span class="Hamburger-toggle is-active" aria-hidden="true"></span>
      </a>
    </div>
    <nav>
      <ul class="Linklist Linklist--padded Treeview js-fr-treeview u-text-r-xs">
  <li><a>Quod quis quia</a>
    <ul>
      <li><a>Porro occaecati corporis</a></li>
      <li><a>Eum non qui</a></li>
      <li><a>Officiis velit ab</a>
        <ul>
          <li><a>Earum amet aut</a></li>
          <li><a>Quae commodi non</a>
            <ul>
              <li><a>Quae commodi non</a></li>
              <li><a>Labore non sint</a></li>
              <li><a>Accusamus beatae ut</a></li>
            </ul>
          </li>
          <li><a>Fugiat voluptatum temporibus</a></li>
        </ul>
      </li>
      <li><a>Vero eius tempore</a></li>
      <li><a>Quod quis quia</a></li>
    </ul>
  </li>
  <li><a>Fugiat voluptatum temporibus</a>
    <ul>
      <li><a>Officiis velit ab</a></li>
      <li><a>Eum non qui</a></li>
      <li><a>Porro occaecati corporis</a>
        <ul>
          <li><a>Labore non sint</a></li>
          <li><a>Quae commodi non</a></li>
          <li><a>Earum amet aut</a></li>
        </ul>
      </li>
      <li><a>Accusamus beatae ut</a></li>
      <li><a>Fugiat voluptatum temporibus</a>
        <ul>
          <li><a>Vero eius tempore</a></li>
          <li><a>Porro occaecati corporis</a></li>
          <li><a>Eum non qui</a></li>
          <li><a>Officiis velit ab</a></li>
          <li><a>Earum amet aut</a></li>
          <li><a>Quae commodi non</a></li>
          <li><a>Labore non sint</a></li>
          <li><a>Accusamus beatae ut</a></li>
          <li><a>Fugiat voluptatum temporibus</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

    </nav>
  </div>
</section>


<div id="main">

  <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
    <section class="Grid">

  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
    <div class="Grid Grid--fit u-margin-r-bottom">
      <p class="Grid-cell">
        <span class="Dot u-background-50"></span>
        <strong><a class="u-textClean u-text-r-xs" href="">La categoria</a></strong>
      </p>
      <p class="Grid-cell u-textSecondary">
        12 Dicembre 2012
      </p>
    </div>
    <div class="u-text-r-l u-layout-prose">
      <h2 class="u-text-h2 u-margin-r-bottom">Porro occaecati corporis</h2>
      <p class="u-textSecondary u-lineHeight-l">
        Quod non consequatur eum alias quod quasi eum dolor.
        Enim soluta ut modi officia autem earum eum eum.
        Porro sed qui quaerat id libero voluptas quis.
        Consequatur incidunt fuga id reprehenderit tenetur.
      </p>
    </div>
  </div>

  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
    <img src="//placehold.it/680x480?text=placeholder" class="u-sizeFull" alt="..." />
  </div>

</section>

  </div>

  <div class="u-layout-wide u-layoutCenter u-padding-r-bottom u-margin-r-bottom u-layout-r-withGutter">
    <div class="Grid Grid--withGutter">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Entrypoint-item u-background-50">
      <p><a class="u-textClean u-text-h3 u-color-white" href="">Link in evidenza 1</a></p>
    </div>
    <div class="Entrypoint-item u-background-50">
      <p><a class="u-textClean u-text-h4 u-color-white" href="">Link in evidenza 2</a></p>
    </div>
  </div>
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
    <div class="Entrypoint-item u-sizeFill u-background-50">
      <p><a class="u-textClean u-text-h3 u-color-white" href="">Link in evidenza 3</a></p>
    </div>
  </div>
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
    <div class="Entrypoint-item u-sizeFill u-background-50">
      <p><a class="u-textClean u-text-h3 u-color-white" href="">Link in evidenza 4</a></p>
    </div>
  </div>
</div>

  </div>

  <div class="u-background-grey-20 u-text-r-xxl u-padding-r-top u-padding-r-bottom">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
      <div class="u-layout-centerContent u-background-grey-20">
  <section class="u-layout-wide">

    <div class="Grid Grid--withGutter u-text-r-l u-padding-r-bottom">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l">Porro occaecati corporis</h2>
      </div>
      <div class="Grid-cell u-layout-centerRight">
        <h2 class="u-text-r-m"><a class="u-color-50" href="">Vedi tutto</a></h2>
      </div>
    </div>

    <div class="Grid Grid--withGutter">

      <div class="Grid-cell Card u-md-size3of4 u-lg-size3of4">

        <div class="Grid u-layout-centerContent">
          <div class="Grid-cell u-sizeFit">
            <img src="//placehold.it/330x330?text=placeholder" class="u-sizeFit" alt="..." />
          </div>
          <div class="Grid-cell u-md-sizeFill u-lg-sizeFill u-padding-r-left">
            <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Quod non consequatur eum alias quod quasi eum dolor.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Aspernatur consequatur culpa nobis aut. Expedita fugiat pariatur esse distinctio sed. In perspiciatis quo ad sunt adipisci est quam et aspernatur. Quia a earum dolore laudantium et voluptatem. Numquam tempora sunt quaerat iure incidunt ut. Perspiciatis dolore laborum perspiciatis quis odit eius.
  </p>
</div>

          </div>
        </div>
      </div>

      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Dolore nihil repellat et dolores nisi.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Provident cum molestiae enim. Nobis maiores possimus non ab nisi inventore nesciunt. Nobis facilis illo mollitia ut.
  </p>
</div>

      </div>

      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Dolore nihil repellat et dolores nisi.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Dolorem et veniam mollitia molestias odit accusantium molestiae. Animi sit adipisci minima. A aut aspernatur.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Dolore nihil repellat et dolores nisi.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Ut vitae voluptatem ipsa similique necessitatibus repellat corrupti. Ullam amet fugit reiciendis ex magnam quos pariatur impedit ipsam. Ducimus molestiae quod id neque vel.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Dolore nihil repellat et dolores nisi.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Vero harum consequuntur esse est. Ut non dolores quos quis eum voluptas. Illo mollitia modi quam fugiat sapiente recusandae quo aperiam.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Dolore nihil repellat et dolores nisi.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Omnis maxime labore hic eligendi non amet necessitatibus. Sit dolor dolores suscipit. Pariatur consequatur neque maiores qui tempora magni odit similique. Debitis et sint quos impedit eius id. Ad esse cupiditate. Ex eligendi ut labore assumenda eveniet quia tempore ducimus libero.
  </p>
</div>

      </div>
      
    </div>

  </section>
</div>

    </div>
  </div>

  <div class="u-background-70 u-padding-r-top u-padding-r-bottom">
    <div class="u-layout-centerContent u-background-70 u-padding-r-all">
  <section class="u-layout-medium">
    <div class="Grid">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l"><a class="u-color-white" href="">Twitter @amministrazione</a></h2>
      </div>
      <p class="Grid-cell u-layout-centerRight">
        <a title="vai all'account twitter" class="u-color-white u-textClean u-text-xxl" href="">
          <span class="icon icon-twitter" aria-hidden="true"></span>
          <span class="u-hiddenVisually">vai all'account twitter</span>
        </a>
      </p>
    </div>
    <div class="u-text-r-xxl u-padding-r-top">
      <div class="Grid Grid--withGutter">
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <div class="Card-content u-padding-r-all">
    <section class="Card-text">
      <h3 class="u-color-50 u-text-r-s">quod quis quia</h3>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </section>
    <h3 class="Card-title">
      <a class="Card-titleLink" href="">Ea impedit veniam. Quo velit sed hic autem dolor iure a. Asperiores aliquid eos voluptatem non voluptatem architecto debitis quibusdam voluptate. Nam mollitia pariatur aut quia ratione. Excepturi dolor quas eum illo dolor beatae nisi est velit.</a>
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </div>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <div class="Card-content u-padding-r-all">
    <section class="Card-text">
      <h3 class="u-color-50 u-text-r-s">quod quis quia</h3>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </section>
    <h3 class="Card-title">
      <a class="Card-titleLink" href="">Provident cum molestiae enim. Nobis maiores possimus non ab nisi inventore nesciunt. Nobis facilis illo mollitia ut.</a>
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </div>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <div class="Card-content u-padding-r-all">
    <section class="Card-text">
      <h3 class="u-color-50 u-text-r-s">quod quis quia</h3>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </section>
    <h3 class="Card-title">
      <a class="Card-titleLink" href="">Dolorem et veniam mollitia molestias odit accusantium molestiae. Animi sit adipisci minima. A aut aspernatur.</a>
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </div>
</div>

        </div>
        
      </div>
    </div>
  </section>
</div>

  </div>

  <div class="u-background-grey-60 u-padding-r-top u-padding-r-bottom u-text-r-xxl">
    <section class="u-background-grey-60 u-padding-r-all">
  <div class="u-layout-medium u-layoutCenter">

    <div class="Grid">
      <h2 id="carousel-heading" class="Grid-cell u-text-h2 u-color-white u-layout-centerLeft">Gallerie</h2>

      <!-- <next / prev buttons> -->
      <div class="Grid-cell u-layout-centerRight">
        <button class="owl-prev u-padding-bottom-xl u-padding-right-xxl u-text-r-xl u-color-teal-50" title="Slide precedente"
          aria-controls="carousel-1" aria-label="Vai alla slide precedente">
            <span class="u-alignMiddle Icon Icon-arrow-left"></span>
        </button>
        <button class="owl-next u-padding-bottom-xl u-padding-left u-text-r-xl u-color-teal-50" title="Slide successiva"
          aria-controls="carousel-1" aria-label="Vai alla slide successiva">
          <span class="u-alignMiddle Icon Icon-arrow-right"></span>
        </button>
        <p class="u-hiddenVisually">È possibile navigare le slide utilizzando i tasti freccia</p>
      </div>
      <!-- </next / prev buttons> -->
    </div>

    <div class="owl-carousel owl-theme"
      role="region" id="carousel-1">
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-1" aria-labelledby="desc-1" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=1" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-1" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Quod non consequatur eum alias quod quasi eum dolor.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-2" aria-labelledby="desc-2" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=2" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-2" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Enim soluta ut modi officia autem earum eum eum.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-3" aria-labelledby="desc-3" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=3" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-3" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Porro sed qui quaerat id libero voluptas quis.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-4" aria-labelledby="desc-4" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=4" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-4" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Consequatur incidunt fuga id reprehenderit tenetur.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-5" aria-labelledby="desc-5" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=5" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-5" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Recusandae molestiae consectetur repellat doloribus suscipit id tempora debitis rerum.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-6" aria-labelledby="desc-6" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=6" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-6" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Aut unde et et quia neque sapiente eligendi ipsum voluptates.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-7" aria-labelledby="desc-7" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=7" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-7" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Similique voluptas labore blanditiis.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
    </div>
    <p class="u-padding-r-top u-text-r-xl">
      <a href="" class="u-layout-centerLeft u-padding-r-top u-text-h4 u-textWeight-700 u-color-teal-50">Vedi tutte le gallerie</a>
    </p>
  </div>
</section>

  </div>

  <div class="u-background-grey-20 u-background-grey-20 u-color-black u-text-xxl u-padding-r-top u-padding-r-bottom">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
      <section class="Leads">
  <h2 class="Leads-title u-layout-centerLeft">Utilità</h2>
  <ul class="Grid Grid--withGutter">
    <li class="Leads-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Leads-link u-color-black" href="">Amministrazione trasparente</a>
    </li>
    <li class="Leads-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Leads-link u-color-black" href="">Albo pretorio</a>
    </li>
    <li class="Leads-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Leads-link u-color-black" href="">Bandi e concorsi</a>
    </li>
    <li class="Leads-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Leads-link u-color-black" href="">Accesso civico</a>
    </li>
  </ul>
</section>

    </div>
  </div>

  <div class="u-background-grey-80">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
    <footer class="Footer u-padding-all-s">

  <div class="u-cf">
    <img class="Footer-logo" src="//placehold.it/75x80?text=placeholder" alt="">
    <p class="Footer-siteName">
      Comune di Civitella Roveto
    </p>
  </div>

  <div class="Grid Grid--withGutter">
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    

    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via Cherso 8<br>
          00177 Roma<br>
          Tel. (+39) 00.1310.1980
        </address>
      </div>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via Cherso 8<br>
          00177 Roma<br>
          Tel. (+39) 00.1310.1980
        </address>
      </div>
    </div>
    

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Indirizzo PEC</h3>
        <p><a href="">indirizzo.pec@gov.it</a></p>
      </div>
    </div>

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Seguici su</h2>
      <div class="Footer-subBlock">
        <ul class="Footer-socialIcons">
          <li><a href=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
    </div>

  </div>

  <ul class="Footer-links u-cf">
    <li><a href="" title="Privacy policy">Privacy</a></li>
    <li><a href="" title="Note legali">Note legali</a></li>
    <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
  </ul>

</footer>

    </div>
  </div>

  <a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon Icon-arrow-up" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio del contenuto</span>
</a>

  <div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all">
  <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">Questo sito utilizza cookie tecnici, analytics e di terze parti.
    <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
  </p>
  <p>
    <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
    <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
  </p>
</div>


</div>


