

<article class="Prose u-layout-prose">

  <h1 class="u-text-h1">Titolo H1</h1>

  <h2 class="u-text-h2">Titolo H2</h2>

  <h3 class="u-text-h3">Titolo H3</h3>

  <h4 class="u-text-h4">Titolo H4</h4>

  <h5 class="u-text-h5">Titolo H5</h5>

  <h6 class="u-text-h6">Titolo H6</h6>


  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Aperiam qui ex error aut ut voluptatem. Adipisci aperiam reiciendis eaque vel deleniti. Consectetur quibusdam et quam sit eligendi sunt fugit. Iste dolor consequuntur facere dolorum quis quasi consequuntur.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted">
  <code class="u-text-r-xxs">
    Aperiam qui ex error aut ut voluptatem. Adipisci aperiam reiciendis eaque vel deleniti. Consectetur quibusdam et quam sit eligendi sunt fugit. Iste dolor consequuntur facere dolorum quis quasi consequuntur.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Consequuntur amet magnam dicta sed et culpa deleniti.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Consequuntur amet magnam dicta sed et culpa deleniti.</li>
    
    <li>Saepe illo aliquam aliquam ullam harum.</li>
    
    <li>Ut voluptate deserunt cupiditate voluptas.</li>
    
    <li>Eos quasi necessitatibus a enim dicta ab qui.</li>
    
    <li>Aut libero nam sed ad et explicabo quo.</li>
    
    <li>Laboriosam esse quia consectetur quo voluptate quia ea culpa.</li>
    
    <li>Voluptatem itaque perferendis.</li>
    
    <li>Aut numquam dolore eum est velit et voluptates quidem.</li>
    
    <li>Delectus et et recusandae dolores nihil impedit.</li>
    
  </ul>

  <ol>
    
    <li>Consequuntur amet magnam dicta sed et culpa deleniti.</li>
    
    <li>Saepe illo aliquam aliquam ullam harum.</li>
    
    <li>Ut voluptate deserunt cupiditate voluptas.</li>
    
    <li>Eos quasi necessitatibus a enim dicta ab qui.</li>
    
    <li>Aut libero nam sed ad et explicabo quo.</li>
    
    <li>Laboriosam esse quia consectetur quo voluptate quia ea culpa.</li>
    
    <li>Voluptatem itaque perferendis.</li>
    
    <li>Aut numquam dolore eum est velit et voluptates quidem.</li>
    
    <li>Delectus et et recusandae dolores nihil impedit.</li>
    
  </ol>

</article>

