

<article class="Prose u-layout-prose">

  <h1 class="u-text-h1">Titolo H1</h1>

  <h2 class="u-text-h2">Titolo H2</h2>

  <h3 class="u-text-h3">Titolo H3</h3>

  <h4 class="u-text-h4">Titolo H4</h4>

  <h5 class="u-text-h5">Titolo H5</h5>

  <h6 class="u-text-h6">Titolo H6</h6>


  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Consectetur maiores quos molestiae eos. Debitis earum odio ea voluptatem provident eius et est vel. Earum tempore enim laudantium aut corrupti vel id. Fuga occaecati nisi. Voluptatem iste enim distinctio facere voluptatem. Ut velit natus saepe et non eaque ut eum.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    Consectetur maiores quos molestiae eos. Debitis earum odio ea voluptatem provident eius et est vel. Earum tempore enim laudantium aut corrupti vel id. Fuga occaecati nisi. Voluptatem iste enim distinctio facere voluptatem. Ut velit natus saepe et non eaque ut eum.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Saepe sit non architecto voluptatibus dolorem.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Saepe sit non architecto voluptatibus dolorem.</li>
    
    <li>Corporis ea et consequuntur aliquam veniam voluptatem.</li>
    
    <li>Provident neque omnis.</li>
    
    <li>Accusantium numquam veniam.</li>
    
    <li>Dolore quas atque culpa.</li>
    
    <li>Et esse ea totam aut quis.</li>
    
    <li>Ad omnis minima vel voluptates porro ut aliquam minima.</li>
    
    <li>Soluta minus labore sapiente laudantium id veniam quo sint quas.</li>
    
    <li>Sunt laboriosam omnis quia explicabo qui aperiam.</li>
    
  </ul>

  <ol>
    
    <li>Saepe sit non architecto voluptatibus dolorem.</li>
    
    <li>Corporis ea et consequuntur aliquam veniam voluptatem.</li>
    
    <li>Provident neque omnis.</li>
    
    <li>Accusantium numquam veniam.</li>
    
    <li>Dolore quas atque culpa.</li>
    
    <li>Et esse ea totam aut quis.</li>
    
    <li>Ad omnis minima vel voluptates porro ut aliquam minima.</li>
    
    <li>Soluta minus labore sapiente laudantium id veniam quo sint quas.</li>
    
    <li>Sunt laboriosam omnis quia explicabo qui aperiam.</li>
    
  </ol>

</article>

