

<article class="Prose u-layout-prose">

  <h1 class="u-text-h1">Titolo H1</h1>

  <h2 class="u-text-h2">Titolo H2</h2>

  <h3 class="u-text-h3">Titolo H3</h3>

  <h4 class="u-text-h4">Titolo H4</h4>

  <h5 class="u-text-h5">Titolo H5</h5>

  <h6 class="u-text-h6">Titolo H6</h6>


  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Laboriosam nostrum officia. Porro ab minus aut tempore error qui consectetur voluptas. Hic vel consequatur omnis incidunt qui aperiam rerum.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    Laboriosam nostrum officia. Porro ab minus aut tempore error qui consectetur voluptas. Hic vel consequatur omnis incidunt qui aperiam rerum.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Vero cum odio ipsam.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Vero cum odio ipsam.</li>
    
    <li>Et nemo dignissimos eum et nulla.</li>
    
    <li>Modi qui ipsa voluptatem ab aut.</li>
    
    <li>Assumenda omnis molestiae et.</li>
    
    <li>Sapiente ea qui debitis enim aperiam.</li>
    
    <li>Quo voluptatem iure corporis dolor.</li>
    
    <li>Quisquam et non corrupti quos consectetur.</li>
    
    <li>Beatae saepe laudantium voluptatum expedita reiciendis.</li>
    
    <li>Quis quod sed dolore.</li>
    
  </ul>

  <ol>
    
    <li>Vero cum odio ipsam.</li>
    
    <li>Et nemo dignissimos eum et nulla.</li>
    
    <li>Modi qui ipsa voluptatem ab aut.</li>
    
    <li>Assumenda omnis molestiae et.</li>
    
    <li>Sapiente ea qui debitis enim aperiam.</li>
    
    <li>Quo voluptatem iure corporis dolor.</li>
    
    <li>Quisquam et non corrupti quos consectetur.</li>
    
    <li>Beatae saepe laudantium voluptatum expedita reiciendis.</li>
    
    <li>Quis quod sed dolore.</li>
    
  </ol>

</article>

