

<article class="Prose u-layout-prose">

  <h1 class="u-text-h1">Titolo H1</h1>

  <h2 class="u-text-h2">Titolo H2</h2>

  <h3 class="u-text-h3">Titolo H3</h3>

  <h4 class="u-text-h4">Titolo H4</h4>

  <h5 class="u-text-h5">Titolo H5</h5>

  <h6 class="u-text-h6">Titolo H6</h6>


  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Perspiciatis a id eos nesciunt hic voluptates. Aut magnam eum voluptatibus qui doloribus sint qui. Ut iste dolor provident et iure explicabo exercitationem quis modi. Aut voluptatem aut perferendis accusantium optio mollitia. Optio ullam doloremque sint nemo nesciunt aut recusandae quasi velit.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted">
  <code class="u-text-r-xxs">
    Perspiciatis a id eos nesciunt hic voluptates. Aut magnam eum voluptatibus qui doloribus sint qui. Ut iste dolor provident et iure explicabo exercitationem quis modi. Aut voluptatem aut perferendis accusantium optio mollitia. Optio ullam doloremque sint nemo nesciunt aut recusandae quasi velit.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Ab eos doloribus.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Ab eos doloribus.</li>
    
    <li>Velit vero quia modi est earum aut.</li>
    
    <li>Et dolorem laboriosam beatae voluptas commodi quia.</li>
    
    <li>Facilis libero et.</li>
    
    <li>Itaque quia voluptatem vel accusamus excepturi nisi est neque.</li>
    
    <li>Possimus fugiat laboriosam consectetur dolores error.</li>
    
    <li>Sed voluptatem sed.</li>
    
    <li>Dolorum eveniet sint architecto qui aliquid ut vel incidunt.</li>
    
    <li>Iusto molestiae quos cum dolorum.</li>
    
  </ul>

  <ol>
    
    <li>Ab eos doloribus.</li>
    
    <li>Velit vero quia modi est earum aut.</li>
    
    <li>Et dolorem laboriosam beatae voluptas commodi quia.</li>
    
    <li>Facilis libero et.</li>
    
    <li>Itaque quia voluptatem vel accusamus excepturi nisi est neque.</li>
    
    <li>Possimus fugiat laboriosam consectetur dolores error.</li>
    
    <li>Sed voluptatem sed.</li>
    
    <li>Dolorum eveniet sint architecto qui aliquid ut vel incidunt.</li>
    
    <li>Iusto molestiae quos cum dolorum.</li>
    
  </ol>

</article>

