

<article class="Prose u-layout-prose">

  <h1>Velit irure ad cillum Lorem consequat magna magna pariatur.</h1>

  <h2>Velit irure ad cillum Lorem consequat magna magna pariatur.</h2>

  <h3>Velit irure ad cillum Lorem consequat magna magna pariatur.</h3>

  <h4>Velit irure ad cillum Lorem consequat magna magna pariatur.</h4>

  <h5>Velit irure ad cillum Lorem consequat magna magna pariatur.</h5>

  <h6>Velit irure ad cillum Lorem consequat magna magna pariatur.</h6>

  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Quis esse necessitatibus. Unde et dignissimos nobis. Corrupti aut quia et voluptatem dolor eos. Quo magni eveniet odio qui modi maiores aspernatur.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    Quis esse necessitatibus. Unde et dignissimos nobis. Corrupti aut quia et voluptatem dolor eos. Quo magni eveniet odio qui modi maiores aspernatur.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Pariatur quo qui ducimus cum quo.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Pariatur quo qui ducimus cum quo.</li>
    
    <li>Non culpa vel praesentium alias ipsa tempora.</li>
    
    <li>Necessitatibus pariatur animi.</li>
    
    <li>Nisi assumenda neque ipsum ratione in itaque dolores.</li>
    
    <li>Iusto nam quidem quod suscipit numquam rerum.</li>
    
    <li>Dolore nobis autem voluptatum earum quas vitae facere perspiciatis.</li>
    
    <li>Rem non nemo sed beatae aliquid commodi.</li>
    
    <li>Ut ratione dignissimos eius asperiores quia vel nesciunt.</li>
    
    <li>Doloremque repudiandae sequi ipsam nisi repudiandae laudantium alias est officiis.</li>
    
  </ul>

  <ol>
    
    <li>Pariatur quo qui ducimus cum quo.</li>
    
    <li>Non culpa vel praesentium alias ipsa tempora.</li>
    
    <li>Necessitatibus pariatur animi.</li>
    
    <li>Nisi assumenda neque ipsum ratione in itaque dolores.</li>
    
    <li>Iusto nam quidem quod suscipit numquam rerum.</li>
    
    <li>Dolore nobis autem voluptatum earum quas vitae facere perspiciatis.</li>
    
    <li>Rem non nemo sed beatae aliquid commodi.</li>
    
    <li>Ut ratione dignissimos eius asperiores quia vel nesciunt.</li>
    
    <li>Doloremque repudiandae sequi ipsam nisi repudiandae laudantium alias est officiis.</li>
    
  </ol>

</article>

