

<article class="Prose u-layout-prose">

  <h1>Velit irure ad cillum Lorem consequat magna magna pariatur.</h1>

  <h2>Velit irure ad cillum Lorem consequat magna magna pariatur.</h2>

  <h3>Velit irure ad cillum Lorem consequat magna magna pariatur.</h3>

  <h4>Velit irure ad cillum Lorem consequat magna magna pariatur.</h4>

  <h5>Velit irure ad cillum Lorem consequat magna magna pariatur.</h5>

  <h6>Velit irure ad cillum Lorem consequat magna magna pariatur.</h6>

  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Porro fuga dolorum ut voluptas fugiat explicabo enim quidem. Magnam et est veniam est similique odio eos voluptatem provident. Laboriosam praesentium error ab magnam sint veritatis tempore. Rerum sequi nihil porro quia nihil nostrum est rerum. Fugiat at enim quisquam. In excepturi consequuntur consequatur.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    Porro fuga dolorum ut voluptas fugiat explicabo enim quidem. Magnam et est veniam est similique odio eos voluptatem provident. Laboriosam praesentium error ab magnam sint veritatis tempore. Rerum sequi nihil porro quia nihil nostrum est rerum. Fugiat at enim quisquam. In excepturi consequuntur consequatur.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Voluptatem aperiam quasi.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Voluptatem aperiam quasi.</li>
    
    <li>Nulla eveniet recusandae dolorem.</li>
    
    <li>Praesentium facilis aut aliquam sit voluptatibus repellendus qui.</li>
    
    <li>Expedita nihil rerum qui autem expedita numquam incidunt rerum.</li>
    
    <li>Pariatur cumque quisquam deserunt dignissimos voluptatum est voluptatem minima.</li>
    
    <li>Explicabo quidem accusantium ipsam.</li>
    
    <li>Ut debitis cum consequatur unde quis aliquid eligendi.</li>
    
    <li>Harum eius aut.</li>
    
    <li>Quia in sit molestiae ut culpa quae recusandae molestias vel.</li>
    
  </ul>

  <ol>
    
    <li>Voluptatem aperiam quasi.</li>
    
    <li>Nulla eveniet recusandae dolorem.</li>
    
    <li>Praesentium facilis aut aliquam sit voluptatibus repellendus qui.</li>
    
    <li>Expedita nihil rerum qui autem expedita numquam incidunt rerum.</li>
    
    <li>Pariatur cumque quisquam deserunt dignissimos voluptatum est voluptatem minima.</li>
    
    <li>Explicabo quidem accusantium ipsam.</li>
    
    <li>Ut debitis cum consequatur unde quis aliquid eligendi.</li>
    
    <li>Harum eius aut.</li>
    
    <li>Quia in sit molestiae ut culpa quae recusandae molestias vel.</li>
    
  </ol>

</article>

