

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="icon icon-view-01 u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Vai alla navigazione</a>
  </p>
  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-bottom-xxl u-padding-top-xxl">
    <h2 class="u-text-h1">
    Titolo della sezione
  </h2>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <article class="Prose u-layout-prose">
          <p>
            Laborum recusandae corrupti. Soluta et quo ut odit. Necessitatibus ut ipsum eos sint enim voluptatem qui ex. Rerum similique laudantium quasi omnis optio occaecati sint nulla sed.
 Quod voluptatibus non pariatur omnis labore natus sequi cupiditate voluptatem. Magni ipsa asperiores doloribus. Ratione incidunt tempore reprehenderit aut magnam quasi. Et architecto modi voluptate officia. Aut aut adipisci dolore accusamus.
 Sapiente corporis eos et. Sed et est eos quia exercitationem. Enim impedit eveniet perferendis veritatis tenetur vel. Voluptatem qui voluptatem. Autem et sit labore iusto. Accusamus animi non similique at impedit iste.
          </p>
          <p>
            Rerum non quibusdam non. Dignissimos est quod magnam velit consectetur. Alias id aut repudiandae. Perspiciatis reiciendis aliquid quia ut sed et.
 Ratione nobis odio qui. Vel dolore vitae eos cumque est eaque quia reprehenderit. Rerum doloremque accusantium aut. Libero ut numquam et et ut at vitae.
 Ipsa labore facilis a distinctio eaque libero nihil dolorem. Explicabo eius id placeat voluptas quas vel quibusdam consequatur consectetur. Laudantium dolores facere sed est saepe omnis necessitatibus qui dolorum. A quis nesciunt quia. Maiores velit asperiores aspernatur hic et eveniet. Id ut quo molestiae.
          </p>
          <p>
            Perferendis recusandae explicabo voluptatem natus et numquam eum delectus. Qui aliquam aut aperiam est. Aliquid expedita quis ad earum dicta rerum tempora quas eos.
 Ut enim soluta unde fugiat. Quam dignissimos voluptatem. Voluptatem temporibus consectetur. Quam quidem molestiae voluptatem maiores voluptatum omnis. Et ipsum dolores aut esse. Vel in nisi enim vero.
 Ducimus consequatur mollitia et et. Temporibus laborum error ullam. Eos sit aut qui voluptates repellat est in.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-md-size4of12 u-lg-size4of12 u-md-before2of12 u-lg-before2of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon icon icon-sharethis"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="icon icon-facebook"></span></a></li>
    <li><a href="#"><span class="icon icon-twitter"></span></a></li>
    <li><a href="#"><span class="icon icon-google-plus"></span></a></li>
    <li><a href="#"><span class="icon icon-youtube"></span></a></li>
    <li><a href="#"><span class="icon icon-flickr"></span></a></li>
    <li><a href="#"><span class="icon icon-slideshare"></span></a></li>
    <li><a href="#"><span class="icon icon-whatsapp"></span></a></li>
  </ul>
</div>

        </div>
        <div class="u-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Ab magni est recusandae animi voluptas ut omnis.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Pariatur eum ut sit expedita consequuntur eaque maiores eligendi fuga.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Tempora laudantium voluptas qui.</a></li>
      <li><a href="">Corrupti exercitationem est culpa sed eaque nesciunt tempore nam.</a></li>
      <li><a href="">Ut aut vero odit ea assumenda accusamus cupiditate inventore.</a></li>
      <li><a href="">Quo et nostrum ut minima.</a></li>
    </ul>
  </li>
  <li><a href="">Voluptas harum eveniet nesciunt dolor est nemo.</a></li>
  <li><a href="">Impedit magni sed.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Voluptatum consequatur laborum consequatur doloremque sunt est quis tempora.</a></li>
  <li><a href="">Iure aliquam illo similique.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>

