

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="icon icon-view-01 u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Vai alla navigazione</a>
  </p>
  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-bottom-xxl u-padding-top-xxl">
    <h2 class="u-text-h1">
    Titolo della sezione
  </h2>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <article class="Prose u-layout-prose">
          <p>
            Deserunt dolorem dignissimos aut praesentium ducimus aut. Id id qui ad mollitia aliquam quaerat nulla. Consequatur beatae iste recusandae aut veritatis. Et eum consectetur ab quaerat tempora. Earum dolor sed autem quos officia.
 Temporibus occaecati soluta quis. Sunt eum ullam consequuntur. Occaecati consequatur sit et.
 Amet quas quia quod temporibus fugiat eos ea sit. Quasi eos aut ipsam ab qui quia. Et et perspiciatis rerum et omnis at.
          </p>
          <p>
            Molestias aut velit. Nemo temporibus hic excepturi eaque ratione. Ea velit architecto corporis esse autem sed necessitatibus vitae.
 Id eligendi iure quia nam eius rerum. Dolorum neque iste magni doloribus recusandae. Voluptatibus eum commodi.
 Qui beatae molestiae voluptatem debitis. Est atque commodi et facere. Unde quasi corrupti aspernatur tenetur necessitatibus tempore est quis consequatur.
          </p>
          <p>
            Itaque earum quis doloribus nam. Alias voluptas illo doloremque. Ut tenetur nihil. Unde nesciunt ullam iure sit quisquam laudantium. Voluptatum reprehenderit quam ad soluta quam veniam quia ex ipsa.
 Eaque eveniet a blanditiis totam mollitia magnam. Et autem accusamus cupiditate voluptatum. Aut ullam temporibus ut vel in. Dignissimos similique at est sed necessitatibus sit.
 Ipsa non illo repudiandae non blanditiis omnis. Velit voluptas repellat omnis sit ipsum. Odio quo eos iure explicabo. Consequatur et culpa reprehenderit quis. Eius et voluptatem quos sint.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-md-size4of12 u-lg-size4of12 u-md-before2of12 u-lg-before2of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon icon icon-sharethis"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="icon icon-facebook"></span></a></li>
    <li><a href="#"><span class="icon icon-twitter"></span></a></li>
    <li><a href="#"><span class="icon icon-google-plus"></span></a></li>
    <li><a href="#"><span class="icon icon-youtube"></span></a></li>
    <li><a href="#"><span class="icon icon-flickr"></span></a></li>
    <li><a href="#"><span class="icon icon-slideshare"></span></a></li>
    <li><a href="#"><span class="icon icon-whatsapp"></span></a></li>
  </ul>
</div>

        </div>
        <div class="u-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Veniam consequatur fugit quos dicta velit quia libero.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Culpa sapiente repellat ut.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Aut quis aperiam vero sed sint veritatis suscipit.</a></li>
      <li><a href="">Maiores voluptatem alias incidunt corrupti.</a></li>
      <li><a href="">Sunt quia occaecati sunt qui nobis minima minus officia qui.</a></li>
      <li><a href="">Quam nostrum ipsum deserunt.</a></li>
    </ul>
  </li>
  <li><a href="">Quis quaerat ratione dignissimos.</a></li>
  <li><a href="">Placeat dolor consequatur.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Accusamus tempora repellat.</a></li>
  <li><a href="">Voluptas et fugiat libero explicabo numquam quo ut optio iure.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>

