

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="icon icon-view-01 u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Vai alla navigazione</a>
  </p>
  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-bottom-xxl u-padding-top-xxl">
    <h2 class="u-text-h1">
    Titolo della sezione
  </h2>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <article class="Prose u-layout-prose">
          <p>
            Incididunt adipisicing proident nulla laborum qui magna dolore Lorem duis fugiat magna veniam. Exercitation pariatur deserunt qui duis commodo exercitation magna laborum irure occaecat sit est quis eiusmod. Duis ipsum velit commodo enim reprehenderit
            voluptate labore incididunt aute ad sit. Aute id nulla anim nisi qui commodo consectetur. Velit excepteur aute sint amet dolor nulla dolore et culpa. Exercitation ullamco dolor aliquip Lorem consequat proident nisi adipisicing ut sit. Voluptate
            laboris amet non laborum proident sunt proident eiusmod ullamco enim esse qui pariatur sit.
          </p>
          <p>
            Incididunt adipisicing proident nulla laborum qui magna dolore Lorem duis fugiat magna veniam. Exercitation pariatur deserunt qui duis commodo exercitation magna laborum irure occaecat sit est quis eiusmod. Duis ipsum velit commodo enim reprehenderit
            voluptate labore incididunt aute ad sit. Aute id nulla anim nisi qui commodo consectetur. Velit excepteur aute sint amet dolor nulla dolore et culpa. Exercitation ullamco dolor aliquip Lorem consequat proident nisi adipisicing ut sit. Voluptate
            laboris amet non laborum proident sunt proident eiusmod ullamco enim esse qui pariatur sit.
          </p>
          <p>
            Incididunt adipisicing proident nulla laborum qui magna dolore Lorem duis fugiat magna veniam. Exercitation pariatur deserunt qui duis commodo exercitation magna laborum irure occaecat sit est quis eiusmod. Duis ipsum velit commodo enim reprehenderit
            voluptate labore incididunt aute ad sit. Aute id nulla anim nisi qui commodo consectetur. Velit excepteur aute sint amet dolor nulla dolore et culpa. Exercitation ullamco dolor aliquip Lorem consequat proident nisi adipisicing ut sit. Voluptate
            laboris amet non laborum proident sunt proident eiusmod ullamco enim esse qui pariatur sit.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-md-size4of12 u-lg-size4of12 u-md-before2of12 u-lg-before2of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon icon icon-sharethis"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="icon icon-facebook"></span></a></li>
    <li><a href="#"><span class="icon icon-twitter"></span></a></li>
    <li><a href="#"><span class="icon icon-google-plus"></span></a></li>
    <li><a href="#"><span class="icon icon-youtube"></span></a></li>
    <li><a href="#"><span class="icon icon-flickr"></span></a></li>
    <li><a href="#"><span class="icon icon-slideshare"></span></a></li>
    <li><a href="#"><span class="icon icon-whatsapp"></span></a></li>
  </ul>
</div>

        </div>
        <div class="u-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Dipartimento della funzione pubblica</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Ufficio del Capo Dipartimento</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Servizio per i rapporti istituzionali, la programmazione e la vigilanza</a></li>
      <li><a href="">Servizio per le attività internazionali</a></li>
      <li><a href="">Servizio per la programmazione europea</a></li>
      <li><a href="">Servizio per la comunicazione istituzionale</a></li>
    </ul>
  </li>
  <li><a href="">Ufficio per la semplificazione e la sburocratizzazione</a></li>
  <li><a href="">Ufficio per l'innovazione e la digitalizzazione</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Ufficio per l'organizzazione e il lavoro pubblico</a></li>
  <li><a href="">Ufficio per la valutazione della performance</a></li>
  <li><a href="">Ufficio per le relazioni sindacali</a></li>
  <li><a href="">Ufficio per la gestione amministrativa</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>

