


<div class="u-borderShadow-xxs u-border-all-xxs u-padding-all-xxl u-margin-all-xxl u-md-size1of3 u-lg-size1of4">
  <p>u-borderShadow-xxs</p>
</div>

<div class="u-borderShadow-xs u-border-all-xxs u-padding-all-xxl u-margin-all-xxl u-md-size1of3 u-lg-size1of4">
  <p>u-borderShadow-xs</p>
</div>

<div class="u-borderShadow-m u-border-all-xxs u-padding-all-xxl u-margin-all-xxl u-md-size1of3 u-lg-size1of4">
  <p>u-borderShadow-m</p>
</div>

<div class="u-borderShadow-xxl u-border-all-xxs u-padding-all-xxl u-margin-all-xxl u-md-size1of3 u-lg-size1of4">
  <p>u-borderShadow-xxl</p>
</div>


