

<div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon icon icon-sharethis"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="icon icon-facebook"></span></a></li>
    <li><a href="#"><span class="icon icon-twitter"></span></a></li>
    <li><a href="#"><span class="icon icon-google-plus"></span></a></li>
    <li><a href="#"><span class="icon icon-youtube"></span></a></li>
    <li><a href="#"><span class="icon icon-flickr"></span></a></li>
    <li><a href="#"><span class="icon icon-slideshare"></span></a></li>
    <li><a href="#"><span class="icon icon-whatsapp"></span></a></li>
  </ul>
</div>

