

  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxs u-padding-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxs u-padding-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xs u-padding-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xs u-padding-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-s u-padding-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-s u-padding-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-m u-padding-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-m u-padding-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-l u-padding-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-l u-padding-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xl u-padding-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xl u-padding-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxl u-padding-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxl u-padding-r-top
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxs u-padding-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxs u-padding-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xs u-padding-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xs u-padding-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-s u-padding-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-s u-padding-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-m u-padding-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-m u-padding-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-l u-padding-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-l u-padding-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xl u-padding-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xl u-padding-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxl u-padding-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxl u-padding-r-right
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxs u-padding-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxs u-padding-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xs u-padding-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xs u-padding-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-s u-padding-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-s u-padding-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-m u-padding-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-m u-padding-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-l u-padding-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-l u-padding-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xl u-padding-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xl u-padding-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxl u-padding-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxl u-padding-r-bottom
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxs u-padding-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxs u-padding-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xs u-padding-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xs u-padding-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-s u-padding-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-s u-padding-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-m u-padding-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-m u-padding-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-l u-padding-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-l u-padding-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xl u-padding-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xl u-padding-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxl u-padding-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxl u-padding-r-left
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxs u-padding-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxs u-padding-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xs u-padding-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xs u-padding-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-s u-padding-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-s u-padding-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-m u-padding-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-m u-padding-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-l u-padding-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-l u-padding-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xl u-padding-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xl u-padding-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxl u-padding-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxl u-padding-r-all
    </p>
  </div>
</div>
    
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxs u-margin-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxs u-margin-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xs u-margin-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xs u-margin-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-s u-margin-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-s u-margin-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-m u-margin-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-m u-margin-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-l u-margin-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-l u-margin-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xl u-margin-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xl u-margin-r-top
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxl u-margin-r-top u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxl u-margin-r-top
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxs u-margin-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxs u-margin-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xs u-margin-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xs u-margin-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-s u-margin-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-s u-margin-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-m u-margin-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-m u-margin-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-l u-margin-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-l u-margin-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xl u-margin-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xl u-margin-r-right
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxl u-margin-r-right u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxl u-margin-r-right
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxs u-margin-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxs u-margin-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xs u-margin-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xs u-margin-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-s u-margin-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-s u-margin-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-m u-margin-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-m u-margin-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-l u-margin-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-l u-margin-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xl u-margin-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xl u-margin-r-bottom
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxl u-margin-r-bottom u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxl u-margin-r-bottom
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxs u-margin-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxs u-margin-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xs u-margin-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xs u-margin-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-s u-margin-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-s u-margin-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-m u-margin-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-m u-margin-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-l u-margin-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-l u-margin-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xl u-margin-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xl u-margin-r-left
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxl u-margin-r-left u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxl u-margin-r-left
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxs u-margin-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxs u-margin-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xs u-margin-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xs u-margin-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-s u-margin-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-s u-margin-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-m u-margin-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-m u-margin-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-l u-margin-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-l u-margin-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xl u-margin-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xl u-margin-r-all
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-text-r-xxl u-margin-r-all u-background-teal-50">
    <p class="u-background-95 u-color-white u-border-all-xxs">
      u-text-r-xxl u-margin-r-all
    </p>
  </div>
</div>
  

