

  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-top-xxs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-top-xxs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-top-xs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-top-xs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-top-s u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-top-s
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-top-m u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-top-m
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-top-l u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-top-l
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-top-xl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-top-xl
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-top-xxl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-top-xxl
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-right-xxs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-right-xxs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-right-xs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-right-xs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-right-s u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-right-s
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-right-m u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-right-m
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-right-l u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-right-l
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-right-xl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-right-xl
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-right-xxl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-right-xxl
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-bottom-xxs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-bottom-xxs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-bottom-xs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-bottom-xs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-bottom-s u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-bottom-s
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-bottom-m u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-bottom-m
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-bottom-l u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-bottom-l
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-bottom-xl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-bottom-xl
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-bottom-xxl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-bottom-xxl
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-left-xxs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-left-xxs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-left-xs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-left-xs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-left-s u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-left-s
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-left-m u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-left-m
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-left-l u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-left-l
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-left-xl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-left-xl
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-left-xxl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-left-xxl
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-all-xxs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-all-xxs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-all-xs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-all-xs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-all-s u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-all-s
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-all-m u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-all-m
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-all-l u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-all-l
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-all-xl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-all-xl
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-padding-all-xxl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-padding-all-xxl
    </p>
  </div>
</div>
    
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-top-xxs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-top-xxs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-top-xs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-top-xs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-top-s u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-top-s
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-top-m u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-top-m
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-top-l u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-top-l
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-top-xl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-top-xl
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-top-xxl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-top-xxl
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-right-xxs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-right-xxs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-right-xs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-right-xs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-right-s u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-right-s
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-right-m u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-right-m
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-right-l u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-right-l
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-right-xl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-right-xl
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-right-xxl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-right-xxl
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-bottom-xxs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-bottom-xxs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-bottom-xs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-bottom-xs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-bottom-s u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-bottom-s
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-bottom-m u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-bottom-m
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-bottom-l u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-bottom-l
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-bottom-xl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-bottom-xl
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-bottom-xxl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-bottom-xxl
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-left-xxs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-left-xxs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-left-xs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-left-xs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-left-s u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-left-s
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-left-m u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-left-m
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-left-l u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-left-l
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-left-xl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-left-xl
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-left-xxl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-left-xxl
    </p>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-all-xxs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-all-xxs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-all-xs u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-all-xs
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-all-s u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-all-s
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-all-m u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-all-m
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-all-l u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-all-l
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-all-xl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-all-xl
    </p>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-md-size1of3 u-lg-size1of3 u-margin-all-l u-padding-all-xxs">
  <div class="u-layoutCenter u-margin-all-xxl u-background-teal-50">
    <p class="u-layoutCenter u-background-95 u-color-white u-border-all-xxs">
      u-margin-all-xxl
    </p>
  </div>
</div>
  

