

<div class="u-padding-all-xxl">

<h3 class="u-text-h3">Versione GET</h3>

<div class="Grid">
  
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">
    <div class="Spid">
      <a href="#spid-button-get-xxs" data-menu-trigger="spid-button-get-xxs" class="Button Spid-button u-text-r-xxs">
        <img src="../raw/spid/spid-ico-circle-bb.svg" alt="" />
        <span>Entra con SPID</span>
      </a>
      <div id="spid-button-get-xxs" data-menu class="Spid-menu Dropdown-menu">
        <ul class="Linklist js-randomize">
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Infocert ID</span>
              <img src="../raw/spid/spid-idp-infocertid.svg"
                alt="" class="u-text-r-xxs" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con TIM ID</span>
              <img src="../raw/spid/spid-idp-timid.svg"
                alt="" class="u-text-r-xxs" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Poste ID</span>
              <img src="../raw/spid/spid-idp-posteid.svg"
                alt="" class="u-text-r-xxs" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Sielte ID</span>
              <img src="../raw/spid/spid-idp-sielteid.svg"
                alt="" class="u-text-r-xxs" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Aruba ID</span>
              <img src="../raw/spid/spid-idp-arubaid.svg"
                alt="" class="u-text-r-xxs" />
            </a>
          </li>
          
        </ul>
      </div>
    </div>
    <ul class="Prose u-margin-top-l u-margin-bottom-xxl">
      <li>
        <a href="http://www.spid.gov.it" class="u-color-50">Informazioni su SPID</a>
      </li>
    </ul>
  </div>
  
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">
    <div class="Spid">
      <a href="#spid-button-get-xs" data-menu-trigger="spid-button-get-xs" class="Button Spid-button u-text-r-xs">
        <img src="../raw/spid/spid-ico-circle-bb.svg" alt="" />
        <span>Entra con SPID</span>
      </a>
      <div id="spid-button-get-xs" data-menu class="Spid-menu Dropdown-menu">
        <ul class="Linklist js-randomize">
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Infocert ID</span>
              <img src="../raw/spid/spid-idp-infocertid.svg"
                alt="" class="u-text-r-xs" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con TIM ID</span>
              <img src="../raw/spid/spid-idp-timid.svg"
                alt="" class="u-text-r-xs" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Poste ID</span>
              <img src="../raw/spid/spid-idp-posteid.svg"
                alt="" class="u-text-r-xs" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Sielte ID</span>
              <img src="../raw/spid/spid-idp-sielteid.svg"
                alt="" class="u-text-r-xs" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Aruba ID</span>
              <img src="../raw/spid/spid-idp-arubaid.svg"
                alt="" class="u-text-r-xs" />
            </a>
          </li>
          
        </ul>
      </div>
    </div>
    <ul class="Prose u-margin-top-l u-margin-bottom-xxl">
      <li>
        <a href="http://www.spid.gov.it" class="u-color-50">Informazioni su SPID</a>
      </li>
    </ul>
  </div>
  
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">
    <div class="Spid">
      <a href="#spid-button-get-s" data-menu-trigger="spid-button-get-s" class="Button Spid-button u-text-r-s">
        <img src="../raw/spid/spid-ico-circle-bb.svg" alt="" />
        <span>Entra con SPID</span>
      </a>
      <div id="spid-button-get-s" data-menu class="Spid-menu Dropdown-menu">
        <ul class="Linklist js-randomize">
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Infocert ID</span>
              <img src="../raw/spid/spid-idp-infocertid.svg"
                alt="" class="u-text-r-s" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con TIM ID</span>
              <img src="../raw/spid/spid-idp-timid.svg"
                alt="" class="u-text-r-s" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Poste ID</span>
              <img src="../raw/spid/spid-idp-posteid.svg"
                alt="" class="u-text-r-s" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Sielte ID</span>
              <img src="../raw/spid/spid-idp-sielteid.svg"
                alt="" class="u-text-r-s" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Aruba ID</span>
              <img src="../raw/spid/spid-idp-arubaid.svg"
                alt="" class="u-text-r-s" />
            </a>
          </li>
          
        </ul>
      </div>
    </div>
    <ul class="Prose u-margin-top-l u-margin-bottom-xxl">
      <li>
        <a href="http://www.spid.gov.it" class="u-color-50">Informazioni su SPID</a>
      </li>
    </ul>
  </div>
  
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">
    <div class="Spid">
      <a href="#spid-button-get-m" data-menu-trigger="spid-button-get-m" class="Button Spid-button u-text-r-m">
        <img src="../raw/spid/spid-ico-circle-bb.svg" alt="" />
        <span>Entra con SPID</span>
      </a>
      <div id="spid-button-get-m" data-menu class="Spid-menu Dropdown-menu">
        <ul class="Linklist js-randomize">
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Infocert ID</span>
              <img src="../raw/spid/spid-idp-infocertid.svg"
                alt="" class="u-text-r-m" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con TIM ID</span>
              <img src="../raw/spid/spid-idp-timid.svg"
                alt="" class="u-text-r-m" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Poste ID</span>
              <img src="../raw/spid/spid-idp-posteid.svg"
                alt="" class="u-text-r-m" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Sielte ID</span>
              <img src="../raw/spid/spid-idp-sielteid.svg"
                alt="" class="u-text-r-m" />
            </a>
          </li>
          
          <li>
            <a href="#" class="Spid-idp">
              <span class="u-hiddenVisually">Prosegui con Aruba ID</span>
              <img src="../raw/spid/spid-idp-arubaid.svg"
                alt="" class="u-text-r-m" />
            </a>
          </li>
          
        </ul>
      </div>
    </div>
    <ul class="Prose u-margin-top-l u-margin-bottom-xxl">
      <li>
        <a href="http://www.spid.gov.it" class="u-color-50">Informazioni su SPID</a>
      </li>
    </ul>
  </div>
  
</div>

<h3 class="u-text-h3">Versione POST</h3>

<div class="Grid">
  
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">
    <form name="spid_idp_access" action="#" method="post" class="Spid u-margin-bottom-xxl">

      <input type="hidden" name="param_001" value="" />
      <input type="hidden" name="param_002" value="" />
      <input type="hidden" name="param_003" value="" />

      <a href="#spid-button-post-xxs" data-menu-trigger="spid-button-post-xxs" class="Button Spid-button u-text-r-xxs">
        <img src="../raw/spid/spid-ico-circle-bb.svg" alt="" />
        <span>Entra con SPID</span>
      </a>
      <div id="spid-button-post-xxs" data-menu class="Spid-menu Dropdown-menu">
        <ul class="Linklist js-randomize">
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Infocert ID</span>
              <img src="../raw/spid/spid-idp-infocertid.svg" alt="" class="u-text-r-xxs" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con TIM ID</span>
              <img src="../raw/spid/spid-idp-timid.svg" alt="" class="u-text-r-xxs" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Poste ID</span>
              <img src="../raw/spid/spid-idp-posteid.svg" alt="" class="u-text-r-xxs" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Sielte ID</span>
              <img src="../raw/spid/spid-idp-sielteid.svg" alt="" class="u-text-r-xxs" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Aruba ID</span>
              <img src="../raw/spid/spid-idp-arubaid.svg" alt="" class="u-text-r-xxs" />
            </button>
          </li>
          
        </ul>
      </div>

    </form>
    <ul class="Prose u-margin-top-l u-margin-bottom-xxl">
      <li>
        <a href="http://www.spid.gov.it" class="u-color-50">Informazioni su SPID</a>
      </li>
    </ul>
  </div>
  
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">
    <form name="spid_idp_access" action="#" method="post" class="Spid u-margin-bottom-xxl">

      <input type="hidden" name="param_001" value="" />
      <input type="hidden" name="param_002" value="" />
      <input type="hidden" name="param_003" value="" />

      <a href="#spid-button-post-xs" data-menu-trigger="spid-button-post-xs" class="Button Spid-button u-text-r-xs">
        <img src="../raw/spid/spid-ico-circle-bb.svg" alt="" />
        <span>Entra con SPID</span>
      </a>
      <div id="spid-button-post-xs" data-menu class="Spid-menu Dropdown-menu">
        <ul class="Linklist js-randomize">
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Infocert ID</span>
              <img src="../raw/spid/spid-idp-infocertid.svg" alt="" class="u-text-r-xs" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con TIM ID</span>
              <img src="../raw/spid/spid-idp-timid.svg" alt="" class="u-text-r-xs" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Poste ID</span>
              <img src="../raw/spid/spid-idp-posteid.svg" alt="" class="u-text-r-xs" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Sielte ID</span>
              <img src="../raw/spid/spid-idp-sielteid.svg" alt="" class="u-text-r-xs" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Aruba ID</span>
              <img src="../raw/spid/spid-idp-arubaid.svg" alt="" class="u-text-r-xs" />
            </button>
          </li>
          
        </ul>
      </div>

    </form>
    <ul class="Prose u-margin-top-l u-margin-bottom-xxl">
      <li>
        <a href="http://www.spid.gov.it" class="u-color-50">Informazioni su SPID</a>
      </li>
    </ul>
  </div>
  
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">
    <form name="spid_idp_access" action="#" method="post" class="Spid u-margin-bottom-xxl">

      <input type="hidden" name="param_001" value="" />
      <input type="hidden" name="param_002" value="" />
      <input type="hidden" name="param_003" value="" />

      <a href="#spid-button-post-s" data-menu-trigger="spid-button-post-s" class="Button Spid-button u-text-r-s">
        <img src="../raw/spid/spid-ico-circle-bb.svg" alt="" />
        <span>Entra con SPID</span>
      </a>
      <div id="spid-button-post-s" data-menu class="Spid-menu Dropdown-menu">
        <ul class="Linklist js-randomize">
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Infocert ID</span>
              <img src="../raw/spid/spid-idp-infocertid.svg" alt="" class="u-text-r-s" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con TIM ID</span>
              <img src="../raw/spid/spid-idp-timid.svg" alt="" class="u-text-r-s" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Poste ID</span>
              <img src="../raw/spid/spid-idp-posteid.svg" alt="" class="u-text-r-s" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Sielte ID</span>
              <img src="../raw/spid/spid-idp-sielteid.svg" alt="" class="u-text-r-s" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Aruba ID</span>
              <img src="../raw/spid/spid-idp-arubaid.svg" alt="" class="u-text-r-s" />
            </button>
          </li>
          
        </ul>
      </div>

    </form>
    <ul class="Prose u-margin-top-l u-margin-bottom-xxl">
      <li>
        <a href="http://www.spid.gov.it" class="u-color-50">Informazioni su SPID</a>
      </li>
    </ul>
  </div>
  
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">
    <form name="spid_idp_access" action="#" method="post" class="Spid u-margin-bottom-xxl">

      <input type="hidden" name="param_001" value="" />
      <input type="hidden" name="param_002" value="" />
      <input type="hidden" name="param_003" value="" />

      <a href="#spid-button-post-m" data-menu-trigger="spid-button-post-m" class="Button Spid-button u-text-r-m">
        <img src="../raw/spid/spid-ico-circle-bb.svg" alt="" />
        <span>Entra con SPID</span>
      </a>
      <div id="spid-button-post-m" data-menu class="Spid-menu Dropdown-menu">
        <ul class="Linklist js-randomize">
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Infocert ID</span>
              <img src="../raw/spid/spid-idp-infocertid.svg" alt="" class="u-text-r-m" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con TIM ID</span>
              <img src="../raw/spid/spid-idp-timid.svg" alt="" class="u-text-r-m" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Poste ID</span>
              <img src="../raw/spid/spid-idp-posteid.svg" alt="" class="u-text-r-m" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Sielte ID</span>
              <img src="../raw/spid/spid-idp-sielteid.svg" alt="" class="u-text-r-m" />
            </button>
          </li>
          
          <li>
            <button class="Spid-idp" tabindex="0">
              <span class="u-hiddenVisually">Prosegui con Aruba ID</span>
              <img src="../raw/spid/spid-idp-arubaid.svg" alt="" class="u-text-r-m" />
            </button>
          </li>
          
        </ul>
      </div>

    </form>
    <ul class="Prose u-margin-top-l u-margin-bottom-xxl">
      <li>
        <a href="http://www.spid.gov.it" class="u-color-50">Informazioni su SPID</a>
      </li>
    </ul>
  </div>
  
</div>

</div>

