

<table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-stack" data-tablesaw-mode="stack">
  <caption class="u-hiddenVisually">deleniti doloribus vel</caption>
  <thead>
    <tr>
      <th scope="col">Tab. 1</th>
      <th scope="col">Tab. 2</th>
      <th scope="col">Tab. 3</th>
      <th scope="col">Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ut adipisci iure tempore ullam laborum.</td><td>Consequuntur est et quo ullam aut omnis aut et.</td><td>Et vitae qui ullam quis alias quibusdam quos.</td><td>Libero porro non quasi sunt a dolor voluptatem voluptas ipsam.</td>
    </tr><tr>
      <td>Consequuntur est et quo ullam aut omnis aut et.</td><td>Et vitae qui ullam quis alias quibusdam quos.</td><td>Libero porro non quasi sunt a dolor voluptatem voluptas ipsam.</td><td>Quia quos placeat et.</td>
    </tr><tr>
      <td>Et vitae qui ullam quis alias quibusdam quos.</td><td>Libero porro non quasi sunt a dolor voluptatem voluptas ipsam.</td><td>Quia quos placeat et.</td><td>Magni ut ut quae.</td>
    </tr><tr>
      <td>Libero porro non quasi sunt a dolor voluptatem voluptas ipsam.</td><td>Quia quos placeat et.</td><td>Magni ut ut quae.</td><td>Modi voluptatem qui commodi harum.</td>
    </tr>
  </tbody>
</table>

