

<section class="Prose u-layout-prose">
  <h2 id="description">veritatis repellat modi</h2>
  <p>Pariatur qui dicta autem consectetur dicta. Reprehenderit tempora aperiam exercitationem fuga soluta quod. Est molestias est ut aliquid beatae recusandae harum. Reprehenderit beatae voluptate nemo debitis. Et dolor qui omnis.</p>

  <table class="Table Table--withBorder Table--compact u-text-r-xxs" aria-describedby="description">
    <thead>
      <tr class="u-border-bottom-xs">
        <th>Tab. 1</th>
        <th>Tab. 2</th>
        <th>Tab. 3</th>
        <th>Tab. 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
    </tbody>
  </table>

</section>

