

<section class="Prose u-layout-prose">
  <h2 id="description">repellat excepturi autem</h2>
  <p>Hic ea et illo sit consequatur maiores ut tenetur. Tenetur consectetur et voluptatem recusandae. Delectus exercitationem suscipit dolore quidem. Inventore neque inventore possimus deserunt. Saepe quos aliquid ad id nam. Architecto facilis minus debitis et voluptatem aut.</p>

  <table class="Table Table--withBorder Table--compact u-text-r-xxs" aria-describedby="description">
    <thead>
      <tr class="u-border-bottom-xs">
        <th>Tab. 1</th>
        <th>Tab. 2</th>
        <th>Tab. 3</th>
        <th>Tab. 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
    </tbody>
  </table>

</section>

