

<table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-stack" data-tablesaw-mode="stack">
  <caption class="u-hiddenVisually">similique fugit ipsa</caption>
  <thead>
    <tr>
      <th scope="col">Tab. 1</th>
      <th scope="col">Tab. 2</th>
      <th scope="col">Tab. 3</th>
      <th scope="col">Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Et rem veniam iste quisquam qui laborum assumenda praesentium ducimus.</td><td>Qui consequatur voluptatum ea saepe perferendis qui ut molestiae.</td><td>Et ipsum est est dolorem eos placeat.</td><td>Quis asperiores ipsam qui adipisci dolor consequatur ut.</td>
    </tr><tr>
      <td>Qui consequatur voluptatum ea saepe perferendis qui ut molestiae.</td><td>Et ipsum est est dolorem eos placeat.</td><td>Quis asperiores ipsam qui adipisci dolor consequatur ut.</td><td>Alias voluptates eligendi laborum error consequuntur ut.</td>
    </tr><tr>
      <td>Et ipsum est est dolorem eos placeat.</td><td>Quis asperiores ipsam qui adipisci dolor consequatur ut.</td><td>Alias voluptates eligendi laborum error consequuntur ut.</td><td>Quas qui eum qui at odit sed dolores sit.</td>
    </tr><tr>
      <td>Quis asperiores ipsam qui adipisci dolor consequatur ut.</td><td>Alias voluptates eligendi laborum error consequuntur ut.</td><td>Quas qui eum qui at odit sed dolores sit.</td><td>Velit ex incidunt.</td>
    </tr>
  </tbody>
</table>

