

<table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
  <caption class="u-hiddenVisually">iste ratione asperiores</caption>
  <thead>
    <tr>
      <th scope="col" data-tablesaw-priority="persist">Tab. 1</th>
      <th scope="col">Tab. 2</th>
      <th scope="col">Tab. 3</th>
      <th scope="col">Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      
        <td class="u-textWeight-600">Qui commodi consequatur adipisci qui omnis rerum facere.</td>
      
        <td >Similique vitae non quos dicta.</td>
      
        <td >Ipsam consectetur enim sunt pariatur necessitatibus distinctio omnis suscipit occaecati.</td>
      
        <td >Consectetur pariatur qui placeat est.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Similique vitae non quos dicta.</td>
      
        <td >Ipsam consectetur enim sunt pariatur necessitatibus distinctio omnis suscipit occaecati.</td>
      
        <td >Consectetur pariatur qui placeat est.</td>
      
        <td >Nam dolor et pariatur.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Ipsam consectetur enim sunt pariatur necessitatibus distinctio omnis suscipit occaecati.</td>
      
        <td >Consectetur pariatur qui placeat est.</td>
      
        <td >Nam dolor et pariatur.</td>
      
        <td >Molestiae architecto nulla quod similique odit qui.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Consectetur pariatur qui placeat est.</td>
      
        <td >Nam dolor et pariatur.</td>
      
        <td >Molestiae architecto nulla quod similique odit qui.</td>
      
        <td >Ut qui est rerum inventore dicta beatae fugiat asperiores.</td>
      
    </tr>
    
  </tbody>
</table>

