

<table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
  <caption class="u-hiddenVisually">consectetur vel quo</caption>
  <thead>
    <tr>
      <th scope="col" data-tablesaw-priority="persist">Tab. 1</th>
      <th scope="col">Tab. 2</th>
      <th scope="col">Tab. 3</th>
      <th scope="col">Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      
        <td class="u-textWeight-600">Fuga beatae quo cum dolorum tempora est non et.</td>
      
        <td >Consequuntur et debitis quo dolores sint quae deserunt.</td>
      
        <td >Ut odio dolore.</td>
      
        <td >Officia praesentium ea eius recusandae qui reprehenderit sit ut.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Consequuntur et debitis quo dolores sint quae deserunt.</td>
      
        <td >Ut odio dolore.</td>
      
        <td >Officia praesentium ea eius recusandae qui reprehenderit sit ut.</td>
      
        <td >Expedita sunt quos facilis quasi est qui et rerum voluptate.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Ut odio dolore.</td>
      
        <td >Officia praesentium ea eius recusandae qui reprehenderit sit ut.</td>
      
        <td >Expedita sunt quos facilis quasi est qui et rerum voluptate.</td>
      
        <td >Doloribus et et.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Officia praesentium ea eius recusandae qui reprehenderit sit ut.</td>
      
        <td >Expedita sunt quos facilis quasi est qui et rerum voluptate.</td>
      
        <td >Doloribus et et.</td>
      
        <td >Nesciunt est id.</td>
      
    </tr>
    
  </tbody>
</table>

