

<table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
  <caption class="u-hiddenVisually">maiores eius et</caption>
  <thead>
    <tr>
      <th scope="col" data-tablesaw-priority="persist">Tab. 1</th>
      <th scope="col">Tab. 2</th>
      <th scope="col">Tab. 3</th>
      <th scope="col">Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      
        <td class="u-textWeight-600">Dolor itaque ad asperiores et.</td>
      
        <td >Odit perspiciatis dignissimos velit architecto.</td>
      
        <td >Quam id non.</td>
      
        <td >Et commodi mollitia eius rerum dolorem et dolorum dolorem.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Odit perspiciatis dignissimos velit architecto.</td>
      
        <td >Quam id non.</td>
      
        <td >Et commodi mollitia eius rerum dolorem et dolorum dolorem.</td>
      
        <td >Quia ex deleniti.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Quam id non.</td>
      
        <td >Et commodi mollitia eius rerum dolorem et dolorum dolorem.</td>
      
        <td >Quia ex deleniti.</td>
      
        <td >Amet adipisci cumque odio voluptas.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Et commodi mollitia eius rerum dolorem et dolorum dolorem.</td>
      
        <td >Quia ex deleniti.</td>
      
        <td >Amet adipisci cumque odio voluptas.</td>
      
        <td >Quisquam reiciendis molestias fugiat minus laudantium soluta dolorum et vitae.</td>
      
    </tr>
    
  </tbody>
</table>

