

<table class="Table Table--withBorder Table--responsive u-text-r-xs">
  <caption class="u-hiddenVisually">voluptate necessitatibus et</caption>
  <thead>
    <tr class="u-color-grey-90 u-background-grey-10">
      <th>quod ducimus porro</th>
      <th>ducimus nemo cupiditate</th>
      <th>recusandae qui soluta.</th>
      <th>ut vel porro</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>quod ducimus porro</td>
      <td>quod ducimus porro</td>
      <td>quod ducimus porro</td>
      <td>quod ducimus porro</td>
    </tr>
    
    <tr>
      <td>ut vel porro</td>
      <td>ut vel porro</td>
      <td>ut vel porro</td>
      <td>ut vel porro</td>
    </tr>
    
  </tbody>
</table>

