



<section class="u-layout-prose u-padding-bottom-xxl">
  <small class="u-text-r-xs u-textWeight-400">u-textSmooth:</small>
  <p class="u-textSmooth u-margin-top-xs">
    Sapiente iusto quia consequatur pariatur illum praesentium est magni nihil. Debitis numquam est qui ut dolor maxime tempora amet odio. Est voluptatum maiores.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <small class="u-text-r-xs u-textWeight-400">u-textClean:</small>
  <p class="u-textClean u-margin-top-xs">
    Sapiente iusto quia consequatur pariatur illum praesentium est magni nihil. Debitis numquam est qui ut dolor maxime tempora amet odio. Est voluptatum maiores.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <small class="u-text-r-xs u-textWeight-400">u-textWeight-400:</small>
  <p class="u-textWeight-400 u-margin-top-xs">
    Sapiente iusto quia consequatur pariatur illum praesentium est magni nihil. Debitis numquam est qui ut dolor maxime tempora amet odio. Est voluptatum maiores.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <small class="u-text-r-xs u-textWeight-400">u-textWeight-600:</small>
  <p class="u-textWeight-600 u-margin-top-xs">
    Sapiente iusto quia consequatur pariatur illum praesentium est magni nihil. Debitis numquam est qui ut dolor maxime tempora amet odio. Est voluptatum maiores.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <small class="u-text-r-xs u-textWeight-400">u-textWeight-700:</small>
  <p class="u-textWeight-700 u-margin-top-xs">
    Sapiente iusto quia consequatur pariatur illum praesentium est magni nihil. Debitis numquam est qui ut dolor maxime tempora amet odio. Est voluptatum maiores.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <small class="u-text-r-xs u-textWeight-400">u-textNormal:</small>
  <p class="u-textNormal u-margin-top-xs">
    Sapiente iusto quia consequatur pariatur illum praesentium est magni nihil. Debitis numquam est qui ut dolor maxime tempora amet odio. Est voluptatum maiores.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <small class="u-text-r-xs u-textWeight-400">u-textSecondary:</small>
  <p class="u-textSecondary u-margin-top-xs">
    Sapiente iusto quia consequatur pariatur illum praesentium est magni nihil. Debitis numquam est qui ut dolor maxime tempora amet odio. Est voluptatum maiores.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <small class="u-text-r-xs u-textWeight-400">u-textItalic:</small>
  <p class="u-textItalic u-margin-top-xs">
    Sapiente iusto quia consequatur pariatur illum praesentium est magni nihil. Debitis numquam est qui ut dolor maxime tempora amet odio. Est voluptatum maiores.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <small class="u-text-r-xs u-textWeight-400">u-textPreformatted:</small>
  <p class="u-textPreformatted u-margin-top-xs">
    Sapiente iusto quia consequatur pariatur illum praesentium est magni nihil. Debitis numquam est qui ut dolor maxime tempora amet odio. Est voluptatum maiores.
  </p>
</section>



