

<div class="u-color-grey-30">
  <figure>
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit icon icon-pic u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Quis Lorem ex qui fugiat irure minim voluptate quis magna exercitation enim deserunt aliqua.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

