

<div class="u-nbfc u-color-grey-30 u-xs-padding-all-none
   u-borderRadius-m u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="deleniti commodi aut" />
  <div class="u-padding-r-all">
    <div class="u-padding-r-all u-xs-padding-all-none">
      <h3 class="u-padding-bottom-xs">
      <a class="u-textClean u-textWeight-600 u-text-r-l u-color-50" href="#">
        Repellat excepturi autem
      </a>
      </h3>
          <h4 class="u-textWeight-400 u-lineHeight-l u-text-r-xs u-color-grey-60 u-padding-bottom-xs">
        Cumque officiis necessitatibus omnis aut reprehenderit soluta.
      </h4>
          <!-- <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
        Cumque officiis necessitatibus omnis aut reprehenderit soluta.
        </a>
      </h3> -->
      <p class="u-text-p u-textSecondary u-margin-r-bottom u-padding-r-bottom">
        Hic ea et illo sit consequatur maiores ut tenetur. Tenetur consectetur et voluptatem recusandae. Delectus exercitationem suscipit dolore quidem. Inventore neque inventore possimus deserunt. Saepe quos aliquid ad id nam. Architecto facilis minus debitis et voluptatem aut.
      </p>
      
    </div>
  </div>
</div>

