

<div class="u-color-grey-30">
  <figure>
    <a href="#img-" aria-labelledby="desc-" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Ratione quibusdam cumque enim quidem aspernatur quia qui aperiam porro.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

