

<div class="u-nbfc u-color-grey-30 u-xs-padding-all-none
   u-borderRadius-m u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="repellendus libero molestias" />
  <div class="u-padding-r-all">
    <div class="u-padding-r-all u-xs-padding-all-none">
      <h3 class="u-padding-bottom-xs">
      <a class="u-textClean u-textWeight-600 u-text-r-l u-color-50" href="#">
        Omnis dolores animi
      </a>
      </h3>
          <h4 class="u-textWeight-400 u-lineHeight-l u-text-r-xs u-color-grey-60 u-padding-bottom-xs">
        Autem id nemo saepe quia tempora.
      </h4>
          <!-- <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
        Autem id nemo saepe quia tempora.
        </a>
      </h3> -->
      <p class="u-text-p u-textSecondary u-margin-r-bottom u-padding-r-bottom">
        Est animi ut dolor iste sapiente. Corrupti rerum ut rerum ex atque. Eos et qui assumenda ut delectus eveniet sit autem. Quo totam est et perspiciatis corporis eius expedita consequatur.
      </p>
      
    </div>
  </div>
</div>

