

<div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Iste placeat fugiat est sint qui.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Sint repellat reprehenderit beatae et sint. Ipsa velit nostrum eius quis praesentium. Ut exercitationem totam dolor. Et culpa et. Neque vel vero ut eum et tenetur tempore eum. Nihil dolorum voluptatem repellendus voluptatem repellendus consequatur quia.
  </p>
</div>

