

<div class="u-nbfc u-color-grey-30 u-xs-padding-all-none
   u-borderRadius-m u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="molestiae officia explicabo" />
  <div class="u-padding-r-all">
    <div class="u-padding-r-all u-xs-padding-all-none">
      <h3 class="u-padding-bottom-xs">
      <a class="u-textClean u-textWeight-600 u-text-r-l u-color-50" href="#">
        Rerum molestiae aperiam
      </a>
      </h3>
          <h4 class="u-textWeight-400 u-lineHeight-l u-text-r-xs u-color-grey-60 u-padding-bottom-xs">
        Pariatur quo qui ducimus cum quo.
      </h4>
          <!-- <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
        Pariatur quo qui ducimus cum quo.
        </a>
      </h3> -->
      <p class="u-text-p u-textSecondary u-margin-r-bottom u-padding-r-bottom">
        Quis esse necessitatibus. Unde et dignissimos nobis. Corrupti aut quia et voluptatem dolor eos. Quo magni eveniet odio qui modi maiores aspernatur.
      </p>
      
    </div>
  </div>
</div>

