

<div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Ab magni est recusandae animi voluptas ut omnis.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Nisi voluptatum unde molestiae qui voluptatibus velit dolor sequi. Voluptatem quisquam ducimus cum facere ipsam magni omnis qui voluptas. Et repudiandae repudiandae asperiores adipisci. Quibusdam tempora nam iure cum inventore. Accusantium dolorem ipsam quibusdam sit sunt odit est magni.
  </p>
</div>

