

<div class="u-padding-all-xxl u-background-grey-15 u-sizeFull">
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">aut</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">voluptate dolor qui</h2>
        <p class="u-text-p u-textSecondary">
          Ut maiores iste quia excepturi a totam aut non ducimus. Labore voluptatem dolores autem officia et. Sint iusto non veniam. Et velit id aut.
        </p>
      </div>
    </div>
  </div>
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">nam</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">molestiae officia explicabo</h2>
        <p class="u-text-p u-textSecondary">
          Quae voluptatem eius quis laudantium aut temporibus ut minima. Odio est et qui quidem est sit ut delectus quia. Corrupti qui aut delectus ut ut. Aliquid architecto quia cum excepturi aut vero. Nulla et architecto. Qui sequi optio quas distinctio autem.
        </p>
      </div>
    </div>
  </div>
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">cupiditate</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">dolorem eos ex</h2>
        <p class="u-text-p u-textSecondary">
          Consectetur nesciunt ut. Voluptatem est id voluptas aut illum. Officia est incidunt iste nisi aut. Nobis voluptatibus non veniam et ea in numquam ducimus illum. Quos quasi sed et voluptatibus velit natus mollitia et.
        </p>
      </div>
    </div>
  </div>
  
</div>

