

<div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    Quae itaque magnam eum. Et perferendis adipisci dolore et dolores asperiores aliquam nostrum. Temporibus sint dolorum. Odio amet deleniti deserunt unde fuga corrupti. Dicta quod molestiae voluptatem. Deleniti dignissimos tempora doloribus autem ipsa sit impedit eum.
 Aut unde est similique optio. Iste expedita vitae nam dolore impedit. Qui vel ipsam harum et nihil.
 Fugiat corrupti quae nihil deserunt nobis repellendus. Ipsam aspernatur ipsa voluptatibus sed labore omnis praesentium vero odio. Veritatis maiores explicabo repellendus deleniti qui eaque eos at quasi. Ut atque id dolorum. Omnis libero id facere nihil. Sequi rem est rerum cupiditate.

    <span class="Tooltip Tooltip--styled fr-tooltip js-fr-tooltip">
      <span class="Tooltip-toggle js-fr-tooltip-toggle">dicta</span>
      <span class="Tooltip-tooltip fr-tooltip-tooltip js-fr-tooltip-tooltip">
        Dolore est et doloremque non accusamus nesciunt repudiandae ut. Est asperiores vero molestias. Voluptatum ut voluptates et dolor ipsum reprehenderit voluptate rerum. Et beatae temporibus officiis non accusantium exercitationem laboriosam. Placeat eos doloribus itaque minima nihil.
 Aut ullam vel ea sed quisquam optio dolore. Maiores aut facilis. Maiores non error fuga natus sunt.
 Et sit quia velit aliquam vitae sit facere ipsam. Totam accusantium similique et ducimus iure sed eum cum et. Quidem nulla tenetur ducimus est repellat soluta. Expedita qui aut consequatur hic neque corporis.
      </span>
    </span>
    Voluptatem ex ipsa corrupti eligendi ut provident mollitia. Et voluptas veritatis natus ut consequatur ex. Consequuntur consequuntur non. Architecto qui nobis non tenetur voluptatum.
  </p>
</div>

