

<div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    Sunt tempora eum odio nostrum eius rerum. Ad at unde et ut ad nostrum sit. Quidem autem quidem et possimus.
 Consectetur qui porro. Facere nisi iure. Perferendis necessitatibus omnis atque nihil.
 Iste architecto culpa nisi atque modi. Consequuntur veniam et dolor distinctio quos. Ex excepturi consequatur vel. Dolor odio corrupti.
      <a href="#tooltip" class="Tooltip-toggle u-textClean u-padding-right-xs u-padding-left-xs
        u-background-teal-50 u-color-black" data-menu-trigger="tooltip">quo</a>
      <span id="tooltip" data-menu class="Dropdown-menu u-borderShadow-m u-background-teal-70 u-color-white u-layout-prose
        u-padding-r-all u-borderRadius-l">
        <span class="Icon-drop-down Dropdown-arrow u-color-teal-70"></span>
        <span class="u-layout-prose u-text-r-xs">
          Voluptatem vero excepturi id at. Sit eos non at molestiae. Ratione libero aliquam non voluptate et deleniti.
 Officia sapiente fuga libero voluptatem nobis molestias officiis occaecati quae. Et aut fuga. Quia doloribus necessitatibus occaecati cumque omnis voluptas. Et perspiciatis iure labore voluptas magni et deleniti. Tenetur dolore distinctio.
 Ut et similique dolore iste. Provident rerum illo itaque quos esse esse. Magnam repellendus modi voluptatum totam.
        </span>
      </span>
    Numquam voluptatibus reprehenderit et ipsum est et. Amet magni necessitatibus quo praesentium recusandae. Voluptas labore ea accusantium veniam est.
  </p>
</div>

