

<ul class="Linklist Linklist--padded Treeview Treeview--default js-fr-treeview u-text-r-xs">
  <li><a href="#">Perferendis quidem consequatur</a>
    <ul>
      <li><a href="#">Est facere inventore</a></li>
      <li><a href="#">Corporis ut quasi</a></li>
      <li><a href="#">Perspiciatis enim occaecati</a>
        <ul>
          <li><a href="#">Neque aut illum</a></li>
          <li><a href="#">Necessitatibus deserunt vitae</a>
            <ul>
              <li><a href="#">Necessitatibus deserunt vitae</a></li>
              <li><a href="#">Ut ullam eveniet</a></li>
              <li><a href="#">Qui neque cumque</a></li>
            </ul>
          </li>
          <li><a href="#">Impedit aperiam sint</a></li>
        </ul>
      </li>
      <li><a href="#">Harum ut ea</a></li>
      <li><a href="#">Perferendis quidem consequatur</a></li>
    </ul>
  </li>
  <li><a href="#">Impedit aperiam sint</a>
    <ul>
      <li><a href="#">Perspiciatis enim occaecati</a></li>
      <li><a href="#">Corporis ut quasi</a></li>
      <li><a href="#">Est facere inventore</a>
        <ul>
          <li><a href="#">Ut ullam eveniet</a></li>
          <li><a href="#">Necessitatibus deserunt vitae</a></li>
          <li><a href="#">Neque aut illum</a></li>
        </ul>
      </li>
      <li><a href="#">Qui neque cumque</a></li>
      <li><a href="#">Impedit aperiam sint</a>
        <ul>
          <li><a href="#">Harum ut ea</a></li>
          <li><a href="#">Est facere inventore</a></li>
          <li><a href="#">Corporis ut quasi</a></li>
          <li><a href="#">Perspiciatis enim occaecati</a></li>
          <li><a href="#">Neque aut illum</a></li>
          <li><a href="#">Necessitatibus deserunt vitae</a></li>
          <li><a href="#">Ut ullam eveniet</a></li>
          <li><a href="#">Qui neque cumque</a></li>
          <li><a href="#">Impedit aperiam sint</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs u-margin-top-xs" href="#">Accedi</a>
  </li>
</ul>

