

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="#">Consectetur vel quo</a>
    <ul>
      <li><a href="#">Blanditiis consequatur accusamus</a></li>
      <li><a href="#">Omnis rem esse</a></li>
      <li>
        <a href="#">Velit sunt et</a>
        <ul>
          <li><a href="#">Quia quasi ullam</a></li>
          <li><a href="#">Minima velit ut</a>
            <ul>
              <li><a href="#">Minima velit ut</a></li>
              <li><a href="#">Accusantium neque enim</a></li>
              <li><a href="#">Sunt qui dolor</a></li>
            </ul>
          </li>
          <li><a href="#">Ut consectetur doloribus</a></li>
        </ul>
      </li>
      <li><a href="#">Repellat rerum aperiam</a></li>
      <li><a href="#">Consectetur vel quo</a></li>
    </ul>
  </li>
  <li><a href="#">Ut consectetur doloribus</a>
    <ul>
      <li><a href="#">Velit sunt et</a></li>
      <li><a href="#">Omnis rem esse</a></li>
      <li><a href="#">Blanditiis consequatur accusamus</a>
        <ul>
          <li><a href="#">Accusantium neque enim</a></li>
          <li><a href="#">Minima velit ut</a></li>
          <li><a href="#">Quia quasi ullam</a></li>
        </ul>
      </li>
      <li><a href="#">Sunt qui dolor</a></li>
      <li><a href="#">Ut consectetur doloribus</a>
        <ul>
          <li><a href="#">Repellat rerum aperiam</a></li>
          <li><a href="#">Blanditiis consequatur accusamus</a></li>
          <li><a href="#">Omnis rem esse</a></li>
          <li><a href="#">Velit sunt et</a></li>
          <li><a href="#">Quia quasi ullam</a></li>
          <li><a href="#">Minima velit ut</a></li>
          <li><a href="#">Accusantium neque enim</a></li>
          <li><a href="#">Sunt qui dolor</a></li>
          <li><a href="#">Ut consectetur doloribus</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

