

<ul class="Linklist Linklist--padded Treeview Treeview--default js-fr-treeview u-text-r-xs">
  <li><a href="#">Officiis ex qui</a>
    <ul>
      <li><a href="#">Asperiores eligendi ut</a></li>
      <li><a href="#">Quia nostrum eum</a></li>
      <li><a href="#">Sed enim incidunt</a>
        <ul>
          <li><a href="#">Voluptatibus sunt in</a></li>
          <li><a href="#">Dolor est magnam</a>
            <ul>
              <li><a href="#">Dolor est magnam</a></li>
              <li><a href="#">Quasi ipsa modi</a></li>
              <li><a href="#">Quis dolore quo</a></li>
            </ul>
          </li>
          <li><a href="#">Provident autem voluptates</a></li>
        </ul>
      </li>
      <li><a href="#">Velit fugiat provident</a></li>
      <li><a href="#">Officiis ex qui</a></li>
    </ul>
  </li>
  <li><a href="#">Provident autem voluptates</a>
    <ul>
      <li><a href="#">Sed enim incidunt</a></li>
      <li><a href="#">Quia nostrum eum</a></li>
      <li><a href="#">Asperiores eligendi ut</a>
        <ul>
          <li><a href="#">Quasi ipsa modi</a></li>
          <li><a href="#">Dolor est magnam</a></li>
          <li><a href="#">Voluptatibus sunt in</a></li>
        </ul>
      </li>
      <li><a href="#">Quis dolore quo</a></li>
      <li><a href="#">Provident autem voluptates</a>
        <ul>
          <li><a href="#">Velit fugiat provident</a></li>
          <li><a href="#">Asperiores eligendi ut</a></li>
          <li><a href="#">Quia nostrum eum</a></li>
          <li><a href="#">Sed enim incidunt</a></li>
          <li><a href="#">Voluptatibus sunt in</a></li>
          <li><a href="#">Dolor est magnam</a></li>
          <li><a href="#">Quasi ipsa modi</a></li>
          <li><a href="#">Quis dolore quo</a></li>
          <li><a href="#">Provident autem voluptates</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

