

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="#">Et hic aliquam</a>
    <ul>
      <li><a href="#">Voluptatem architecto cum</a></li>
      <li><a href="#">Perferendis magnam consectetur</a></li>
      <li>
        <a href="#">Aut libero nisi</a>
        <ul>
          <li><a href="#">Est perspiciatis tenetur</a></li>
          <li><a href="#">Cum at mollitia</a>
            <ul>
              <li><a href="#">Cum at mollitia</a></li>
              <li><a href="#">Et quia iure</a></li>
              <li><a href="#">Quia libero architecto</a></li>
            </ul>
          </li>
          <li><a href="#">Corporis numquam aliquid</a></li>
        </ul>
      </li>
      <li><a href="#">Enim voluptatem suscipit</a></li>
      <li><a href="#">Et hic aliquam</a></li>
    </ul>
  </li>
  <li><a href="#">Corporis numquam aliquid</a>
    <ul>
      <li><a href="#">Aut libero nisi</a></li>
      <li><a href="#">Perferendis magnam consectetur</a></li>
      <li><a href="#">Voluptatem architecto cum</a>
        <ul>
          <li><a href="#">Et quia iure</a></li>
          <li><a href="#">Cum at mollitia</a></li>
          <li><a href="#">Est perspiciatis tenetur</a></li>
        </ul>
      </li>
      <li><a href="#">Quia libero architecto</a></li>
      <li><a href="#">Corporis numquam aliquid</a>
        <ul>
          <li><a href="#">Enim voluptatem suscipit</a></li>
          <li><a href="#">Voluptatem architecto cum</a></li>
          <li><a href="#">Perferendis magnam consectetur</a></li>
          <li><a href="#">Aut libero nisi</a></li>
          <li><a href="#">Est perspiciatis tenetur</a></li>
          <li><a href="#">Cum at mollitia</a></li>
          <li><a href="#">Et quia iure</a></li>
          <li><a href="#">Quia libero architecto</a></li>
          <li><a href="#">Corporis numquam aliquid</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

