

<ul class="Linklist Linklist--padded Treeview Treeview--default js-fr-treeview u-text-r-xs">
  <li><a href="#">Quam sed quidem</a>
    <ul>
      <li><a href="#">Excepturi ipsam incidunt</a></li>
      <li><a href="#">Molestiae nisi quaerat</a></li>
      <li><a href="#">Nam aut vitae</a>
        <ul>
          <li><a href="#">Voluptatum nisi eveniet</a></li>
          <li><a href="#">Asperiores ducimus quaerat</a>
            <ul>
              <li><a href="#">Asperiores ducimus quaerat</a></li>
              <li><a href="#">Quaerat ut laboriosam</a></li>
              <li><a href="#">Odio ut eius</a></li>
            </ul>
          </li>
          <li><a href="#">Quod quia et</a></li>
        </ul>
      </li>
      <li><a href="#">Aut consequatur magnam</a></li>
      <li><a href="#">Quam sed quidem</a></li>
    </ul>
  </li>
  <li><a href="#">Quod quia et</a>
    <ul>
      <li><a href="#">Nam aut vitae</a></li>
      <li><a href="#">Molestiae nisi quaerat</a></li>
      <li><a href="#">Excepturi ipsam incidunt</a>
        <ul>
          <li><a href="#">Quaerat ut laboriosam</a></li>
          <li><a href="#">Asperiores ducimus quaerat</a></li>
          <li><a href="#">Voluptatum nisi eveniet</a></li>
        </ul>
      </li>
      <li><a href="#">Odio ut eius</a></li>
      <li><a href="#">Quod quia et</a>
        <ul>
          <li><a href="#">Aut consequatur magnam</a></li>
          <li><a href="#">Excepturi ipsam incidunt</a></li>
          <li><a href="#">Molestiae nisi quaerat</a></li>
          <li><a href="#">Nam aut vitae</a></li>
          <li><a href="#">Voluptatum nisi eveniet</a></li>
          <li><a href="#">Asperiores ducimus quaerat</a></li>
          <li><a href="#">Quaerat ut laboriosam</a></li>
          <li><a href="#">Odio ut eius</a></li>
          <li><a href="#">Quod quia et</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Area riservata</a>
  </li>
</ul>

