

<ul class="Linklist Linklist--padded Treeview Treeview--default js-fr-treeview u-text-r-xs">
  <li><a href="#">Consequatur qui animi</a>
    <ul>
      <li><a href="#">Alias architecto harum</a></li>
      <li><a href="#">Assumenda aut neque</a></li>
      <li><a href="#">Ea veniam adipisci</a>
        <ul>
          <li><a href="#">Et distinctio dolores</a></li>
          <li><a href="#">Molestias ab dolor</a>
            <ul>
              <li><a href="#">Molestias ab dolor</a></li>
              <li><a href="#">Rerum beatae quis</a></li>
              <li><a href="#">Consequatur deserunt quis</a></li>
            </ul>
          </li>
          <li><a href="#">Repellendus corporis dolorum</a></li>
        </ul>
      </li>
      <li><a href="#">Est eaque molestiae</a></li>
      <li><a href="#">Consequatur qui animi</a></li>
    </ul>
  </li>
  <li><a href="#">Repellendus corporis dolorum</a>
    <ul>
      <li><a href="#">Ea veniam adipisci</a></li>
      <li><a href="#">Assumenda aut neque</a></li>
      <li><a href="#">Alias architecto harum</a>
        <ul>
          <li><a href="#">Rerum beatae quis</a></li>
          <li><a href="#">Molestias ab dolor</a></li>
          <li><a href="#">Et distinctio dolores</a></li>
        </ul>
      </li>
      <li><a href="#">Consequatur deserunt quis</a></li>
      <li><a href="#">Repellendus corporis dolorum</a>
        <ul>
          <li><a href="#">Est eaque molestiae</a></li>
          <li><a href="#">Alias architecto harum</a></li>
          <li><a href="#">Assumenda aut neque</a></li>
          <li><a href="#">Ea veniam adipisci</a></li>
          <li><a href="#">Et distinctio dolores</a></li>
          <li><a href="#">Molestias ab dolor</a></li>
          <li><a href="#">Rerum beatae quis</a></li>
          <li><a href="#">Consequatur deserunt quis</a></li>
          <li><a href="#">Repellendus corporis dolorum</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs u-margin-top-xs" href="#">Accedi</a>
  </li>
</ul>

