

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="https://example.com">Tempora voluptates delectus</a>
    <ul>
      <li><a href="https://example.com">Corrupti ut velit</a></li>
      <li><a href="https://example.com">Consequatur cumque et</a></li>
      <li>
        <a href="https://example.com">Magnam odit iusto</a>
        <ul>
          <li><a href="https://example.com">Odit animi molestias</a></li>
          <li><a href="https://example.com">Molestiae eaque voluptas</a>
            <ul>
              <li><a href="https://example.com">Molestiae eaque voluptas</a></li>
              <li><a href="https://example.com">Asperiores vitae maxime</a></li>
              <li><a href="https://example.com">Nobis aut perspiciatis</a></li>
            </ul>
          </li>
          <li><a href="https://example.com">Rerum fugit ut</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Repellat est dolorem</a></li>
      <li><a href="https://example.com">Tempora voluptates delectus</a></li>
    </ul>
  </li>
  <li><a href="https://example.com">Rerum fugit ut</a>
    <ul>
      <li><a href="https://example.com">Magnam odit iusto</a></li>
      <li><a href="https://example.com">Consequatur cumque et</a></li>
      <li><a href="https://example.com">Corrupti ut velit</a>
        <ul>
          <li><a href="https://example.com">Asperiores vitae maxime</a></li>
          <li><a href="https://example.com">Molestiae eaque voluptas</a></li>
          <li><a href="https://example.com">Odit animi molestias</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Nobis aut perspiciatis</a></li>
      <li><a href="https://example.com">Rerum fugit ut</a>
        <ul>
          <li><a href="https://example.com">Repellat est dolorem</a></li>
          <li><a href="https://example.com">Corrupti ut velit</a></li>
          <li><a href="https://example.com">Consequatur cumque et</a></li>
          <li><a href="https://example.com">Magnam odit iusto</a></li>
          <li><a href="https://example.com">Odit animi molestias</a></li>
          <li><a href="https://example.com">Molestiae eaque voluptas</a></li>
          <li><a href="https://example.com">Asperiores vitae maxime</a></li>
          <li><a href="https://example.com">Nobis aut perspiciatis</a></li>
          <li><a href="https://example.com">Rerum fugit ut</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="u-hidden">
    <a class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

