

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="#">Ipsum quaerat tempore</a>
    <ul>
      <li><a href="#">Quasi recusandae placeat</a></li>
      <li><a href="#">Aspernatur magni saepe</a></li>
      <li>
        <a href="#">Culpa ab voluptatem</a>
        <ul>
          <li><a href="#">Praesentium repellendus qui</a></li>
          <li><a href="#">Ut rerum voluptatem</a>
            <ul>
              <li><a href="#">Ut rerum voluptatem</a></li>
              <li><a href="#">Sed consequuntur aut</a></li>
              <li><a href="#">Qui corporis quasi</a></li>
            </ul>
          </li>
          <li><a href="#">Alias explicabo praesentium</a></li>
        </ul>
      </li>
      <li><a href="#">Incidunt facilis ab</a></li>
      <li><a href="#">Ipsum quaerat tempore</a></li>
    </ul>
  </li>
  <li><a href="#">Alias explicabo praesentium</a>
    <ul>
      <li><a href="#">Culpa ab voluptatem</a></li>
      <li><a href="#">Aspernatur magni saepe</a></li>
      <li><a href="#">Quasi recusandae placeat</a>
        <ul>
          <li><a href="#">Sed consequuntur aut</a></li>
          <li><a href="#">Ut rerum voluptatem</a></li>
          <li><a href="#">Praesentium repellendus qui</a></li>
        </ul>
      </li>
      <li><a href="#">Qui corporis quasi</a></li>
      <li><a href="#">Alias explicabo praesentium</a>
        <ul>
          <li><a href="#">Incidunt facilis ab</a></li>
          <li><a href="#">Quasi recusandae placeat</a></li>
          <li><a href="#">Aspernatur magni saepe</a></li>
          <li><a href="#">Culpa ab voluptatem</a></li>
          <li><a href="#">Praesentium repellendus qui</a></li>
          <li><a href="#">Ut rerum voluptatem</a></li>
          <li><a href="#">Sed consequuntur aut</a></li>
          <li><a href="#">Qui corporis quasi</a></li>
          <li><a href="#">Alias explicabo praesentium</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

