<nav class="Megamenu Megamenu--default js-megamenu {{ backgroundClass }}">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">
        {{ __WORDS__[0] | capitalize  }}<br>{{ __WORDS__[1] | capitalize }}
      </a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">{{ __WORDS__[1] | capitalize }}</a>
            <ul>
              <li><a href="/1">{{ __WORDS__[2] | capitalize }}</a></li>
              <li><a href="/2">{{ __WORDS__[3] | capitalize }}</a></li>
              <li><a href="/3">{{ __WORDS__[4] | capitalize }}</a></li>
              <li><a href="/4">{{ __WORDS__[5] | capitalize }}</a></li>
            </ul>
          </li>
          <li><a href="">{{ __WORDS__[6] | capitalize }}</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">{{ __WORDS__[7] | capitalize }}</a>
            <ul>
              <li><a href="/1">{{ __WORDS__[8] | capitalize }}</a></li>
              <li><a href="/2">{{ __WORDS__[9] | capitalize }}</a></li>
              <li><a href="/3">{{ __WORDS__[0] | capitalize }}</a></li>
              <li><a href="/4">{{ __WORDS__[1] | capitalize }}</a></li>
            </ul>
          </li>
          <li><a href="">{{ __WORDS__[2] | capitalize }}</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">{{ __WORDS__[3] | capitalize }}</a>
            <ul>
              <li><a href="/1">{{ __WORDS__[4] | capitalize }}</a></li>
              <li><a href="/2">{{ __WORDS__[5] | capitalize }}</a></li>
              <li><a href="/3">{{ __WORDS__[6] | capitalize }}</a></li>
              <li><a href="/4">{{ __WORDS__[7] | capitalize }}</a></li>
            </ul>
          </li>
          <li><a href="">{{ __WORDS__[8] | capitalize }}</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">{{ __WORDS__[9] | capitalize }}</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">{{ __WORDS__[0] | capitalize }}</a></li>
          <li><a href="/2">{{ __WORDS__[1] | capitalize }}</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">{{ __WORDS__[2] | capitalize }}</a></li>
          <li><a href="/2">{{ __WORDS__[3] | capitalize }}</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">{{ __WORDS__[4] | capitalize }}</a></li>
          <li><a href="/2">{{ __WORDS__[5] | capitalize }}</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">{{ __WORDS__[6] | capitalize }}</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">{{ __WORDS__[7] | capitalize }}</a></li>
          <li><a href="/2">{{ __WORDS__[8] | capitalize }}</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">{{ __WORDS__[9] | capitalize }}</a></li>
          <li><a href="/2">{{ __WORDS__[0] | capitalize }}</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">{{ __WORDS__[1] | capitalize }}</a></li>
          <li><a href="/2">{{ __WORDS__[2] | capitalize }}</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-area">
      <a class="Button Button--default u-color-95" href="#">Accedi</a>
    </li>
  </ul>
</nav>
