/* @define Forward; */

:root {
  --Forward-width: 3em;
  --Forward-color: var(--Color-grey-20);
}

.Forward[aria-hidden] {
  @extend .u-linkClean;
  @extend .u-text-r-xxl;
  @extend .u-textCenter;
}

.Forward--floating {
  @extend .u-block;
  @extend .u-sizeFull;
  @extend .u-textCenter;
}

.Forward--absolute {
  @extend .u-posAbsolute;
  @extend .u-zindex-30;

  bottom: 0;
  left: 50%;
}

.Forward span {
  color: var(--Forward-color);
  opacity: 0.8;
  width: var(--Forward-width: 3em);
}
