<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
    </p>
    <h2 class="u-text-h2 u-color-95">{{ __WORDS__[1] }}</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">{{ __TEXTS__[1] }}</p>
      <button class="Button Button--default u-text-r-xs">{{ __WORDS__[1] }}</button>
  </div>
</section>
