@import "fr-offcanvas/offcanvas.css";

/** @define Offcanvas; */

:root {
  --Offcanvas-width: 22em;
  --Offcanvas-max-width: 80%;
}

/* postcss-bem-linter: ignore */

.Offcanvas,
.Offcanvas-content {
  max-width: var(--Offcanvas-max-width);
  width: var(--Offcanvas-width);
}

.no-js .Offcanvas:target {
  @extend .u-block;
}

.Offcanvas-toggleContainer {
  cursor: pointer;
}

.Offcanvas:target .Offcanvas-content,
.Offcanvas.is-ready .Offcanvas-content {
  @extend .u-zindex-max;
  @extend .u-borderShadow-m;

  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  transform: translateX(0);
  transition: transform 200ms ease-out;
  will-change: translateX;
}

.Offcanvas--right:target .Offcanvas-content,
.Offcanvas--right.is-ready .Offcanvas-content {
  left: 100%;
}

.Offcanvas--left:target .Offcanvas-content,
.Offcanvas--left.is-ready .Offcanvas-content {
  right: 100%;
}

/* postcss-bem-linter: ignore */

.Offcanvas:not(:target) .Offcanvas-content,
.Offcanvas.is-ready[aria-hidden="true"] .Offcanvas-content {
  transition: transform 200ms ease-out, visibility 200ms;
}

/* postcss-bem-linter: ignore */

.Offcanvas--right:target .Offcanvas-content,
.Offcanvas--right.is-ready[aria-hidden="false"] .Offcanvas-content {
  transform: translateX(-100%);
}

/* postcss-bem-linter: ignore */

.Offcanvas--left:target .Offcanvas-content,
.Offcanvas--left.is-ready[aria-hidden="false"] .Offcanvas-content {
  transform: translateX(100%);
}

.Offcanvas--modal:target::after,
.Offcanvas--modal.is-active::after {
  @extend .u-zindex-50;

  background: black;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
}
