<!DOCTYPE html>
<!--[if lte IE 9 ]>  <html class="no-js legacy"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <script>
    (function() {
      document.getElementsByTagName('html')[0].className =
        document.getElementsByTagName('html')[0].className.replace('no-js', 'js-enabled')
    })()
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>
<body class="Pac">

  <nav class="Navscroll Navscroll--withHint">
  <ul class="u-padding-all-s u-margin-all-l">
    <li class="u-padding-right-l"><a href="#">Home</a></li>
    <li class="u-padding-right-l"><a href="#">About</a></li>
    <li class="u-padding-right-l"><a href="#">Contact</a></li>
    <li class="u-padding-right-l"><a href="#">Blog</a></li>
    <li class="u-padding-right-l"><a href="#">GitHub</a></li>
    <li class="u-padding-right-l"><a href="#">Twitter</a></li>
    <li class="u-padding-right-l"><a href="#">Apple</a></li>
    <li class="u-padding-right-l"><a href="#">Google</a></li>
    <li class="u-padding-right-l"><a href="#">Wang</a></li>
    <li class="u-padding-right-l"><a href="#">Yahoo</a></li>
    <li class="u-padding-right-l"><a href="#">W3C</a></li>
  </ul>
</nav>


  <!--[if (lte IE 9)]>
  <script src="https://cdn.rawgit.com/inexorabletash/polyfill/master/polyfill.min.js"></script>
  <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>
</html>

