<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>

    <link rel="shortcut icon" href="/favicon.ico" type="image/ico">
    <link rel="stylesheet" href="/theme/css/default.css?cachebust=0.4.3" type="text/css">

    <title>Tile | Ita Web Toolkit Styleguide</title>
</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
            <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
                <svg class="Header-menuIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 320 320" role="img" aria-labelledby="title">
                    <title>Toggle sidebar</title>
                    <path d="M48,48 L272,48 L272,64 L48,64 L48,48 Z"/>
                    <path d="M48,168 L48,152 L272,152 L272,168 L48,168 L48,168 Z"/>
                    <path d="M48,272 L48,256 L272,256 L272,272 L48,272 Z"/>
                </svg>
            </button>
            <a href="/" class="Header-title" data-pjax>Ita Web Toolkit Styleguide</a>
        </div>
    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            

<div class="Pen" data-behaviour="pen" id="pen-141d6912748d48f9fe406e17e6012119">

    <div class="Pen-panel Pen-header">
        <h1 class="Pen-title">
            <a class="Pen-previewLink" href="/components/preview/tile" title="Open preview in new window">
                Tile
<svg width="24" height="24" viewBox="0 0 240 240" fill="#999">
<path d="M120 72H40v128h128v-80l-16 16v48H56V88h48l16-16zm52-16l-74 74 12 12 74-74v68h16V40h-96v16h68z"/>

</svg>

            </a>
        </h1>
        

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #FF9233; border-color: #FF9233;">WIP</label>

</div>


    </div>

    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-141d6912748d48f9fe406e17e6012119">
        <div class="Preview-wrapper" data-role="resizer">
            <div class="Preview-resizer">
                <iframe
                    class="Preview-iframe"
                    data-role="window"
                    src="/components/preview/tile"
                    sandbox="allow-same-origin allow-scripts"
                    srcdoc="&lt;!DOCTYPE html&gt;
&lt;!--[if lte IE 9 ]&gt;  &lt;html class=&quot;no-js legacy&quot;&gt; &lt;![endif]--&gt;
&lt;!--[if (gt IE 9)|!(IE)]&gt;&lt;!--&gt; &lt;html class=&quot;no-js&quot;&gt; &lt;!--&lt;![endif]--&gt;
&lt;head&gt;
  &lt;script&gt;
    (function() {
      document.getElementsByTagName(&#39;html&#39;)[0].className =
        document.getElementsByTagName(&#39;html&#39;)[0].className.replace(&#39;no-js&#39;, &#39;js-enabled&#39;)
    })()
  &lt;/script&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
  &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
  &lt;link media=&quot;all&quot; rel=&quot;stylesheet&quot; href=&quot;/build/vendor.css&quot;&gt;
  &lt;link media=&quot;all&quot; rel=&quot;stylesheet&quot; href=&quot;/build/build.css&quot;&gt;
  &lt;link media=&quot;all&quot; rel=&quot;stylesheet&quot; href=&quot;/examples.css&quot;&gt;
  &lt;title&gt;Preview Layout&lt;/title&gt;
&lt;/head&gt;
&lt;body class=&quot;Pac&quot;&gt;

  &lt;div class=&quot;u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-bottom u-padding-r-top&quot;&gt;
  &lt;p class=&quot;u-padding-r-bottom&quot;&gt;
    &lt;span class=&quot;Dot u-background-70&quot;&gt;&lt;/span&gt;
    &lt;a class=&quot;u-textClean u-textWeight-700 u-text-r-xs u-color-50&quot; href=&quot;&quot;&gt;Notizie&lt;/a&gt;
    &lt;span class=&quot;u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf&quot;&gt;12 Maggio 2016&lt;/span&gt;
  &lt;/p&gt;
  &lt;p class=&quot;u-padding-r-top u-padding-r-bottom&quot;&gt;&lt;a class=&quot;u-text-h4 u-textClean u-color-black&quot; href=&quot;&quot;&gt;
    Immigrazione, Palazzo Chigi chiede chiarimenti all’Unar sulla lettera all’on. Meloni
    &lt;/a&gt;
  &lt;/p&gt;
  &lt;p class=&quot;u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right&quot;&gt;Nisi quis qui commodo nostrud ullamco nulla cupidatat enim minim ut voluptate mollit cillum commodo cillum.
    Enim quis proident sint culpa incididunt consequat ad ullamco in. Sit culpa est incididunt officia exercitation sunt mollit cupidatat ut ex.
  &lt;/p&gt;
&lt;/div&gt;


  &lt;!--[if (lte IE 9)]&gt;
  &lt;script src=&quot;https://cdn.rawgit.com/inexorabletash/polyfill/master/polyfill.min.js&quot;&gt;&lt;/script&gt;
  &lt;![endif]--&gt;

  &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;/build/IWT.js&quot;&gt;&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;
"
                     style=""
                    marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
                </iframe>
            </div>
            <div class="Preview-handle" data-role="resize-handle"></div>
            <div class="Preview-overlay"></div>
        </div>
    </div>

    <div class="Pen-handle" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
        <div class="Browser" data-behaviour="browser" id="browser-141d6912748d48f9fe406e17e6012119">

            <div class="Browser-controls">
                <ul class="Browser-tabs">
                    <li class="Browser-tab Browser-tab--code is-active" data-role="tab">
                        <a href="#browser-141d6912748d48f9fe406e17e6012119-panel-code">
<svg width="19px" height="19px" viewBox="0 0 18 14" fill="#666">
<path d="M0 7.5v-1L4.5 2v1.5L1 7l3.5 3.5V12L0 7.5zm18 0v-1L13.5 2v1.5L17 7l-3.5 3.5V12L18 7.5zM5 14l6.5-14h1L6 14H5z" fill="#505562" fill-rule="evenodd"/>

</svg>
 Code</a>
                    </li>
                    <li class="Browser-tab Browser-tab--notes is-disabled" data-role="tab">
                        <a href="#browser-141d6912748d48f9fe406e17e6012119-panel-notes">
<svg width="19px" height="19px" viewBox="0 0 320 320" fill="#666">
<path fill-rule="evenodd" d="M48 240h32v64l64-64h128V32H48v208zm88-16l-40 40v-40H64V48h192v176H136zm-40-80h128v16H96v-16zm0 32h128v16H96v-16zm0-64h128v16H96v-16zm0-32h128v16H96V80z"/>

</svg>
 Notes</a>
                    </li>
                    
                </ul>
                
            </div>

            <div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-141d6912748d48f9fe406e17e6012119-panel-code">
                <div class="Browser-codeHeader">
                    <select class="Browser-fileSelector" data-role="switcher">
                        <optgroup label="View">
                            <option value="code-html">Rendered HTML</option>
                            <option value="code-view">View Template</option>
                            <option value="code-context">Context Data</option>
                        </optgroup>
                        
                    </select>
                </div>

                <div class="Browser-files">
                    <div class="Browser-fileContent is-active" data-role="code" id="code-html">
                        <code class="Code Code--lang-html">
                            <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-bottom u-padding-r-top"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"u-padding-r-bottom"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"Dot u-background-70"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"u-textClean u-textWeight-700 u-text-r-xs u-color-50"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Notizie<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf"</span>&gt;</span>12 Maggio 2016<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"u-padding-r-top u-padding-r-bottom"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"u-text-h4 u-textClean u-color-black"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>
    Immigrazione, Palazzo Chigi chiede chiarimenti all’Unar sulla lettera all’on. Meloni
    <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right"</span>&gt;</span>Nisi quis qui commodo nostrud ullamco nulla cupidatat enim minim ut voluptate mollit cillum commodo cillum. Enim quis proident sint culpa incididunt consequat ad ullamco in. Sit culpa est incididunt officia exercitation sunt mollit cupidatat ut ex.
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
                        </code>
                    </div>
                    <div class="Browser-fileContent" data-role="code" id="code-view">
                        <code class="Code Code--lang-">
                            <pre>&lt;div <span class="hljs-keyword">class</span>=<span class="hljs-string">"u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-bottom u-padding-r-top"</span>&gt;
  &lt;p <span class="hljs-keyword">class</span>=<span class="hljs-string">"u-padding-r-bottom"</span>&gt;
    &lt;span <span class="hljs-keyword">class</span>=<span class="hljs-string">"Dot u-background-70"</span>&gt;&lt;/span&gt;
    &lt;a <span class="hljs-keyword">class</span>=<span class="hljs-string">"u-textClean u-textWeight-700 u-text-r-xs u-color-50"</span> href=<span class="hljs-string">""</span>&gt;Notizie&lt;/a&gt;
    &lt;span <span class="hljs-keyword">class</span>=<span class="hljs-string">"u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf"</span>&gt;<span class="hljs-number">12</span> Maggio <span class="hljs-number">2016</span>&lt;/span&gt;
  &lt;/p&gt;
  &lt;p <span class="hljs-keyword">class</span>=<span class="hljs-string">"u-padding-r-top u-padding-r-bottom"</span>&gt;&lt;a <span class="hljs-keyword">class</span>=<span class="hljs-string">"u-text-h4 u-textClean u-color-black"</span> href=<span class="hljs-string">""</span>&gt;
    Immigrazione, Palazzo Chigi chiede chiarimenti all’Unar sulla lettera all’on. Meloni
    &lt;/a&gt;
  &lt;/p&gt;
  &lt;p <span class="hljs-keyword">class</span>=<span class="hljs-string">"u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right"</span>&gt;Nisi quis qui commodo nostrud ullamco nulla cupidatat enim minim ut voluptate mollit cillum commodo cillum.
    Enim quis proident sint culpa incididunt consequat ad ullamco <span class="hljs-keyword">in</span>. Sit culpa est incididunt officia exercitation sunt mollit cupidatat ut ex.
  &lt;/p&gt;
&lt;/div&gt;
</pre>
                        </code>
                    </div>
                    <div class="Browser-fileContent" data-role="code" id="code-context">

                        
                        <code class="Code Code--lang-js">
                            <pre><span class="hljs-comment">/* No context defined for this component. */</span></pre>
                        </code>
                        
                    </div>
                    
                </div>
            </div>

            <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-141d6912748d48f9fe406e17e6012119-panel-notes">
                <div class="Prose">
                    
                    <p class="Browser-isEmptyNote">There are no notes for this item.</p>
                    
                </div>
            </div>

            

        </div>
    </div>

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">

            <nav class="Navigation">
                
                <div class="Navigation-group">
                
<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">Components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-alert">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Alert</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/alert--error" data-pjax>
                <span>Error</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/alert--warning" data-pjax>
                <span>Warning</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/alert--success" data-pjax>
                <span>Success</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/alert--info" data-pjax>
                <span>Info</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-button">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Button</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/button--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/button--info" data-pjax>
                <span>Info</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/button--danger" data-pjax>
                <span>Danger</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-callout">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Callout</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/callout--must" data-pjax>
                <span>Must</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/callout--should" data-pjax>
                <span>Should</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/callout--could" data-pjax>
                <span>Could</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/callout--example" data-pjax>
                <span>Example</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-form">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Form</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/form--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/form--search" data-pjax>
                <span>Search</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-grid">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Grid</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/grid--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/grid--responsive" data-pjax>
                <span>Responsive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/grid--responsive-alt" data-pjax>
                <span>Responsive Alt</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-heading">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Heading</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/heading--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/heading--h1" data-pjax>
                <span>H 1</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/heading--h2" data-pjax>
                <span>H 2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/heading--h3" data-pjax>
                <span>H 3</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/heading--h4" data-pjax>
                <span>H 4</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/heading--h5" data-pjax>
                <span>H 5</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/heading--h6" data-pjax>
                <span>H 6</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-table">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Table</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/table--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/table--compact" data-pjax>
                <span>Compact</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/table--complex" data-pjax>
                <span>Complex</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/table--flip" data-pjax>
                <span>Flip</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/table--flippable" data-pjax>
                <span>Flippable</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/table--responsive" data-pjax>
                <span>Responsive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-modules">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Modules</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/accordion" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/breadcrumb" data-pjax>
                <span>Breadcrumb</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/bullets" data-pjax>
                <span>Bullets</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-card">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Card</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/card--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/card--shadow" data-pjax>
                <span>Shadow</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/card--round" data-pjax>
                <span>Round</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/card--all" data-pjax>
                <span>All</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/card--gallery" data-pjax>
                <span>Gallery</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/carousel" data-pjax>
                <span>Carousel</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/cookiebar" data-pjax>
                <span>Cookiebar</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/dialog" data-pjax>
                <span>Dialog</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-entrypoint">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Entrypoint</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/entrypoint--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/entrypoint--responsive" data-pjax>
                <span>Responsive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/footer" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-header">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Header</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/header--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/header--clone-menu" data-pjax>
                <span>Clone Menu</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-linklist">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Linklist</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/linklist--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/linklist--padded" data-pjax>
                <span>Padded</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/megamenu" data-pjax>
                <span>Megamenu</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/navscroll" data-pjax>
                <span>Navscroll</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/offcanvas" data-pjax>
                <span>Offcanvas</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/prose" data-pjax>
                <span>Prose</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/scrolltop" data-pjax>
                <span>Scrolltop</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/share" data-pjax>
                <span>Share</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/skiplinks" data-pjax>
                <span>Skiplinks</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/tooltip" data-pjax>
                <span>Tooltip</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/treeview" data-pjax>
                <span>Treeview</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/utilities" data-pjax>
                <span>Utilities</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Templates</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-formtpl">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Formtpl</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/formtpl--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/formtpl--errors" data-pjax>
                <span>Errors</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/formtpl--filters" data-pjax>
                <span>Filters</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-layout">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Layout</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/layout--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/layout--alt" data-pjax>
                <span>Alt</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/layout--gallery" data-pjax>
                <span>Gallery</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/layout--grid" data-pjax>
                <span>Grid</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/layout--landing" data-pjax>
                <span>Landing</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/layout--masonry" data-pjax>
                <span>Masonry</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/news" data-pjax>
                <span>News</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-pages">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Pages</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-4" data-behaviour="collection" id="tree-components-collection-page">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Page</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/page--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/page--section" data-pjax>
                <span>Section</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/section" data-pjax>
                <span>Section</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-tile">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Tile</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/tile--default" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/tile--gallery" data-pjax>
                <span>Gallery</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-utils">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Utils</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-colors">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Colors</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="/components/detail/palette" data-pjax>
                <span>Palette</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

                </div>
                
                
            </nav>

        </div>
    </div>
</div>




<script src="/theme/js/mandelbrot.js"></script>
</body>
</html>
