<div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    {{ __LONG_TEXTS__[0] }}

    <span class="Tooltip Tooltip--styled fr-tooltip js-fr-tooltip">
      <span class="Tooltip-toggle js-fr-tooltip-toggle">{{ __WORD__[0] }}</span>
      <span class="Tooltip-tooltip fr-tooltip-tooltip js-fr-tooltip-tooltip">
        {{ __LONG_TEXTS__[1] }}
      </span>
    </span>
    {{ __TEXTS__[0] }}
  </p>
</div>
