<!DOCTYPE html>
<html class="no-js">
<head>
  <script>document.getElementsByTagName('html')[0].className=''</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>

<body class="Pac">

  <div class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of4"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 responsive</div></div>
  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of4"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 responsive</div></div>
  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of4"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 responsive</div></div>
  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of4"><div class="u-background-50 u-color-white u-margin-bottom-l u-borderRadius-m u-padding-all-m">1/4 responsive</div></div>
</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>

</html>

