<a href="#options" data-menu-trigger="options" class="Button Button--info">Menu</a>
<div id="options" data-menu class="Dropdown-menu u-borderShadow-m">
  <ul class="Linklist">
    {% for i in range(1, 5) -%}
      <li><a href="#" class="u-color-50 u-padding-r-all">{{ __SHORT_TEXTS__[i] }}</a></li>
    {% endfor %}
  </ul>
</div>
