<div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
  <section class="u-text-r-l u-padding-r-all u-layout-prose">
    <div class="u-text-p u-padding-r-bottom">
      <p class="u-color-50 u-text-r-xxs u-textWeight-600">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="u-text-p u-textWeight-400 u-color-grey-80 u-margin-r-bottom u-padding-r-bottom">
      {{ text | d(__SHORT_TEXTS__[0]) }}
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>
