<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>

<body class="Pac">

  <ul class="Linklist u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Dipartimento della funzione pubblica</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Ufficio del Capo Dipartimento</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Servizio per i rapporti istituzionali, la programmazione e la vigilanza</a></li>
      <li><a href="">Servizio per le attività internazionali</a></li>
      <li><a href="">Servizio per la programmazione europea</a></li>
      <li><a href="">Servizio per la comunicazione istituzionale</a></li>
    </ul>
  </li>
  <li><a href="">Ufficio per la semplificazione e la sburocratizzazione</a></li>
  <li><a href="">Ufficio per l'innovazione e la digitalizzazione</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Ufficio per l'organizzazione e il lavoro pubblico</a></li>
  <li><a href="">Ufficio per la valutazione della performance</a></li>
  <li><a href="">Ufficio per le relazioni sindacali</a></li>
  <li><a href="">Ufficio per la gestione amministrativa</a></li>
</ul>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>

</html>

