{% for i in ['s', 'm', 'l', 'circle']%}
<div class="u-borderRadius-{{ i }} u-border-all-xxs u-padding-all-xxl u-margin-all-xxl u-md-size1of3 u-lg-size1of4">
  <p>u-borderRadius-{{ i }}</p>
</div>
{% endfor %}
