/** @define utilities; */

.u-borderRadius-s {
  border-radius: 2px !important;
}

.u-borderRadius-m {
  border-radius: 4px !important;
}

.u-borderRadius-l {
  border-radius: 8px !important;
}

.u-borderRadius-xl {
  border-radius: 2em !important;
}

.u-borderRadius-circle {
  border-radius: 100% !important;
}
