.u-lineHeight-xxs {
  line-height: 0.1 !important;
}

.u-lineHeight-xs {
  line-height: 0.5 !important;
}

.u-lineHeight-s {
  line-height: 1 !important;
}

.u-lineHeight-m {
  line-height: 1.2 !important;
}

.u-lineHeight-l {
  line-height: 1.4 !important;
}

.u-lineHeight-xl {
  line-height: 1.55 !important;
}
