<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="#">{{ __WORDS__[0] | capitalize }}</a>
    <ul>
      <li><a href="#">{{ __WORDS__[1] | capitalize }}</a></li>
      <li><a href="#">{{ __WORDS__[2] | capitalize }}</a></li>
      <li>
        <a href="#">{{ __WORDS__[3] | capitalize }}</a>
        <ul>
          <li><a href="#">{{ __WORDS__[4] | capitalize }}</a></li>
          <li><a href="#">{{ __WORDS__[5] | capitalize }}</a>
            <ul>
              <li><a href="#">{{ __WORDS__[5] | capitalize }}</a></li>
              <li><a href="#">{{ __WORDS__[6] | capitalize }}</a></li>
              <li><a href="#">{{ __WORDS__[7] | capitalize }}</a></li>
            </ul>
          </li>
          <li><a href="#">{{ __WORDS__[8] | capitalize }}</a></li>
        </ul>
      </li>
      <li><a href="#">{{ __WORDS__[9] | capitalize }}</a></li>
      <li><a href="#">{{ __WORDS__[0] | capitalize }}</a></li>
    </ul>
  </li>
  <li><a href="#">{{ __WORDS__[8] | capitalize }}</a>
    <ul>
      <li><a href="#">{{ __WORDS__[3] | capitalize }}</a></li>
      <li><a href="#">{{ __WORDS__[2] | capitalize }}</a></li>
      <li><a href="#">{{ __WORDS__[1] | capitalize }}</a>
        <ul>
          <li><a href="#">{{ __WORDS__[6] | capitalize }}</a></li>
          <li><a href="#">{{ __WORDS__[5] | capitalize }}</a></li>
          <li><a href="#">{{ __WORDS__[4] | capitalize }}</a></li>
        </ul>
      </li>
      <li><a href="#">{{ __WORDS__[7] | capitalize }}</a></li>
      <li><a href="#">{{ __WORDS__[8] | capitalize }}</a>
        <ul>
          <li><a href="#">{{ __WORDS__[9] | capitalize }}</a></li>
          <li><a href="#">{{ __WORDS__[1] | capitalize }}</a></li>
          <li><a href="#">{{ __WORDS__[2] | capitalize }}</a></li>
          <li><a href="#">{{ __WORDS__[3] | capitalize }}</a></li>
          <li><a href="#">{{ __WORDS__[4] | capitalize }}</a></li>
          <li><a href="#">{{ __WORDS__[5] | capitalize }}</a></li>
          <li><a href="#">{{ __WORDS__[6] | capitalize }}</a></li>
          <li><a href="#">{{ __WORDS__[7] | capitalize }}</a></li>
          <li><a href="#">{{ __WORDS__[8] | capitalize }}</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>
