<div class="Grid Grid--withGutter">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Entrypoint-item u-background-50">
      <p><a class="u-textClean u-text-h3 u-color-white" href="">Link in evidenza 1</a></p>
    </div>
    <div class="Entrypoint-item u-background-50">
      <p><a class="u-textClean u-text-h4 u-color-white" href="">Link in evidenza 2</a></p>
    </div>
  </div>
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
    <div class="Entrypoint-item u-sizeFill u-background-50">
      <p><a class="u-textClean u-text-h3 u-color-white" href="">Link in evidenza 3</a></p>
    </div>
  </div>
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
    <div class="Entrypoint-item u-sizeFill u-background-50">
      <p><a class="u-textClean u-text-h3 u-color-white" href="">Link in evidenza 4</a></p>
    </div>
  </div>
</div>
