<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>

<body class="Pac">

  <ul class="Skiplinks js-fr-bypasslinks">
  <li><a accesskey="2" href="#main">Vai al Contenuto</a></li>
  <li><a accesskey="3" href="#menu">Vai alla navigazione del sito</a></li>
</ul>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>

</html>

