<!DOCTYPE html>
<!--[if lte IE 9 ]>  <html class="no-js legacy"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <script>
    (function() {
      document.getElementsByTagName('html')[0].className =
        document.getElementsByTagName('html')[0].className.replace('no-js', 'js-enabled')
    })()
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>
<body class="Pac">

  <div class="u-layout-centerContent u-background-grey-20">
  <section class="u-layout-wide u-padding-top-xxl u-padding-bottom-xxl">
    <div class="Grid Grid--withGutter u-margin-bottom-l">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l">Notizie</h2>
      </div>
      <div class="Grid-cell u-layout-centerRight">
        <h2 class="u-text-r-m"><a class=" u-color-50" href="">Vedi tutto</a></h2>
      </div>
    </div>

    
    <div class="Grid Grid--withGutter">
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-bottom u-padding-r-top">
    <p class="u-padding-r-bottom">
        <span class="Dot u-background-70"></span>
        <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="">Notizie</a>
        <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
    </p>
    <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Immigrazione, Palazzo Chigi chiede chiarimenti all’Unar sulla lettera all’on. Meloni
    </a>
    </p>
    <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">Nisi quis qui commodo nostrud ullamco nulla cupidatat enim minim ut voluptate mollit cillum commodo cillum. Enim quis proident sint culpa incididunt consequat ad ullamco in. Sit culpa est incididunt officia exercitation sunt mollit cupidatat ut ex.
    </p>
</div>
      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-bottom u-padding-r-top">
    <p class="u-padding-r-bottom">
        <span class="Dot u-background-70"></span>
        <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="">Notizie</a>
        <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
    </p>
    <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Immigrazione, Palazzo Chigi chiede chiarimenti all’Unar sulla lettera all’on. Meloni
    </a>
    </p>
    <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">Nisi quis qui commodo nostrud ullamco nulla cupidatat enim minim ut voluptate mollit cillum commodo cillum. Enim quis proident sint culpa incididunt consequat ad ullamco in. Sit culpa est incididunt officia exercitation sunt mollit cupidatat ut ex.
    </p>
</div>
      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-bottom u-padding-r-top">
    <p class="u-padding-r-bottom">
        <span class="Dot u-background-70"></span>
        <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="">Notizie</a>
        <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
    </p>
    <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Immigrazione, Palazzo Chigi chiede chiarimenti all’Unar sulla lettera all’on. Meloni
    </a>
    </p>
    <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">Nisi quis qui commodo nostrud ullamco nulla cupidatat enim minim ut voluptate mollit cillum commodo cillum. Enim quis proident sint culpa incididunt consequat ad ullamco in. Sit culpa est incididunt officia exercitation sunt mollit cupidatat ut ex.
    </p>
</div>
      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-bottom u-padding-r-top">
    <p class="u-padding-r-bottom">
        <span class="Dot u-background-70"></span>
        <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="">Notizie</a>
        <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
    </p>
    <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Immigrazione, Palazzo Chigi chiede chiarimenti all’Unar sulla lettera all’on. Meloni
    </a>
    </p>
    <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">Nisi quis qui commodo nostrud ullamco nulla cupidatat enim minim ut voluptate mollit cillum commodo cillum. Enim quis proident sint culpa incididunt consequat ad ullamco in. Sit culpa est incididunt officia exercitation sunt mollit cupidatat ut ex.
    </p>
</div>
      </div>
      
    </div>
    
    <div class="Grid Grid--withGutter">
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-bottom u-padding-r-top">
    <p class="u-padding-r-bottom">
        <span class="Dot u-background-70"></span>
        <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="">Notizie</a>
        <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
    </p>
    <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Immigrazione, Palazzo Chigi chiede chiarimenti all’Unar sulla lettera all’on. Meloni
    </a>
    </p>
    <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">Nisi quis qui commodo nostrud ullamco nulla cupidatat enim minim ut voluptate mollit cillum commodo cillum. Enim quis proident sint culpa incididunt consequat ad ullamco in. Sit culpa est incididunt officia exercitation sunt mollit cupidatat ut ex.
    </p>
</div>
      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-bottom u-padding-r-top">
    <p class="u-padding-r-bottom">
        <span class="Dot u-background-70"></span>
        <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="">Notizie</a>
        <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
    </p>
    <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Immigrazione, Palazzo Chigi chiede chiarimenti all’Unar sulla lettera all’on. Meloni
    </a>
    </p>
    <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">Nisi quis qui commodo nostrud ullamco nulla cupidatat enim minim ut voluptate mollit cillum commodo cillum. Enim quis proident sint culpa incididunt consequat ad ullamco in. Sit culpa est incididunt officia exercitation sunt mollit cupidatat ut ex.
    </p>
</div>
      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-bottom u-padding-r-top">
    <p class="u-padding-r-bottom">
        <span class="Dot u-background-70"></span>
        <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="">Notizie</a>
        <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
    </p>
    <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Immigrazione, Palazzo Chigi chiede chiarimenti all’Unar sulla lettera all’on. Meloni
    </a>
    </p>
    <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">Nisi quis qui commodo nostrud ullamco nulla cupidatat enim minim ut voluptate mollit cillum commodo cillum. Enim quis proident sint culpa incididunt consequat ad ullamco in. Sit culpa est incididunt officia exercitation sunt mollit cupidatat ut ex.
    </p>
</div>
      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-bottom u-padding-r-top">
    <p class="u-padding-r-bottom">
        <span class="Dot u-background-70"></span>
        <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="">Notizie</a>
        <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
    </p>
    <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Immigrazione, Palazzo Chigi chiede chiarimenti all’Unar sulla lettera all’on. Meloni
    </a>
    </p>
    <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">Nisi quis qui commodo nostrud ullamco nulla cupidatat enim minim ut voluptate mollit cillum commodo cillum. Enim quis proident sint culpa incididunt consequat ad ullamco in. Sit culpa est incididunt officia exercitation sunt mollit cupidatat ut ex.
    </p>
</div>
      </div>
      
    </div>
    

  </section>
</div>


  <!--[if (lte IE 9)]>
  <script src="https://cdn.rawgit.com/inexorabletash/polyfill/master/polyfill.min.js"></script>
  <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>
</html>

