<ol class="Prose Bullets">
  {% for i in range(0, 9) %}
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">{{ __SHORT_TEXTS__[i] }}</a><br>
      {{ __LONG_TEXTS__[i] }}
    </p>
  </li>
  {% endfor %}
</ol>
