.Masonry-item {
  @extend .u-padding-right-xs;
  @extend .u-padding-left-xs;
  @extend .u-padding-bottom-s;
}

[data-columns]::before {
  content: "1 .u-floatLeft.u-sizeFull";

  @media (--sm-viewport) {
    content: "1 .u-floatLeft.u-sizeFull";
  }

  @media (--md-viewport) {
    content: "2 .u-floatLeft.u-size1of2";
  }

  @media (--lg-viewport) {
    content: "3 .u-floatLeft.u-size1of3";
  }
}
