<article>
  {% render '@heading--h1' %}
  {% render '@heading--h2' %}
  {% render '@heading--h3' %}
  {% render '@heading--h4' %}
  {% render '@heading--h5' %}
  {% render '@heading--h6' %}
</article>
