<div class="Prose Alert Alert--{{ modifier }} Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
  <h2 class="u-text-h3">
    {{ text | d(__SHORT_TEXTS__[0]) }}
  </h2>
  <p class="u-text-p">{{ __TEXTS__[0] }}</p>
</div>
