<div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-margin-r-bottom">
    <div class="u-sizeFull u-text-r-s {{ barClassName }}">
    <h3 class="u-border-bottom-m">
        <a href="#" class="u-block u-text-h3 u-textClean {{ titleClassName }}">{{ title }}
        <!-- <span class="u-text-r-s Icon Icon-chevron-right"></span> -->
        </a></h3>
        <ul class="Linklist Prose u-text-r-xs">
        <li><a href="">{% if textClassName %}<span class="u-text-r-xs u-color-compl-80">{% endif %}{{ text }}{% if textClassName %}</span>{% endif %}</a></li>
        <li><a href="">{% if textClassName %}<span class="u-text-r-xs u-color-compl-80">{% endif %}{{ text }}{% if textClassName %}</span>{% endif %}</a></li>
        <li><a href="">{% if textClassName %}<span class="u-text-r-xs u-color-compl-80">{% endif %}{{ text }}{% if textClassName %}</span>{% endif %}</a></li>
        <li><a href="">{% if textClassName %}<span class="u-text-r-xs u-color-compl-80">{% endif %}{{ text }}{% if textClassName %}</span>{% endif %}</a></li>
        <li>
          <a href="">{% if textClassName %}<span class="u-text-r-xs u-color-compl-80">{% endif %}{{ text }} <span class="Icon Icon-chevron-right"></span>{% if textClassName %}</span>{% endif %}</a>
        </li>
        </ul>
    </div>
</div>
