<div class="u-layout-wide u-layoutCenter u-text-r-xl u-layout-r-withGutter u-padding-r-top">

  <div class="Grid Grid--equalHeight Grid--withGutterM" id="servizi">

    <!-- <div class="Grid-cell u-sizeFull u-padding-r-bottom">
      <h2 class="u-text-h2"><a class="u-color-black u-textClean u-text-h2" href="">In evidenza</a></h2>
    </div> -->

    <div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-margin-r-bottom">
      <div class="u-sizeFull u-color-70 u-text-r-s">
        <h3 class="u-border-bottom-m">
          <a href="#" class="u-block u-text-h3 u-color-60 u-textClean">Servizi
          <!-- <span class="u-text-r-s Icon Icon-chevron-right"></span> -->
          </a></h3>
          <ul class="Linklist Prose u-text-r-xs">
            <li><a href="">Modulistica</a></li>
            <li><a href="">SUAP</a></li>
            <li><a href="">Iscrizioni scolastiche</a></li>
            <li><a href="">Tributi e sanzioni</a></li>
            <li><a href="page--servizi" class="u-color-50 u-textClean">
                tutti i servizi <span class="Icon Icon-chevron-right"></span></a></li>
          </ul>
      </div>
    </div>

    <div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-margin-r-bottom">
      <div class="u-sizeFull u-color-compl-80 u-text-r-s">
        <h3 class="u-border-bottom-m">
          <a href="#" class="u-block u-text-h3 u-color-compl-80 u-textClean">L'Amministrazione
          <!-- <span class="u-text-r-s Icon Icon-chevron-right"></span> -->
          </a></h3>
          <ul class="Linklist Prose">
            <li><a href=""><span class="u-text-r-xs u-color-compl-80">Bandi aperti</span></a></li>
            <li><a href=""><span class="u-text-r-xs u-color-compl-80">Avvisi</span></a></li>
            <li><a href=""><span class="u-text-r-xs u-color-compl-80">Ordinanze</span></a></li>
            <li><a href=""><span class="u-text-r-xs u-color-compl-80">Scadenze</span></a></li>
            <li><a href="#" class="u-textClean "><span class="u-color-compl-80 u-text-p">
                tutto dall'Amministrazione <span class="u-color-compl-80 Icon Icon-chevron-right"></span></span></a></li>
          </ul>
      </div>
    </div>

    <div class="Grid-cell  u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-margin-r-bottom">
      <div class="u-sizeFull u-color-70 u-text-r-s">
        <h3 class="u-border-bottom-m">
          <a href="#" class="u-block u-text-h3 u-color-60 u-textClean">Vivere il comune
            <!-- <span class="u-text-r-s Icon Icon-chevron-right"></span> -->
          </a></h3>
          <ul class="Linklist Prose u-text-r-xs">
            <li><a href="#">La storia</a></li>
            <li><a href="#">Galleria fotografica</a></li>
            <li><a href="#">Luoghi di interesse</a></li>
            <li><a href="#">Come raggiungerci</a></li>
            <li><a href="#" class="u-color-50 u-textClean">
                altro in Vivere il comune <span class="Icon Icon-chevron-right"></span></a></li>
          </ul>
      </div>
    </div>

  </div>

  <div class="Grid Grid--withGutter u-padding-r-top u-padding-r-bottom u-text-r-s">
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Entrypoint-item u-sizeFill u-background-compl-80">
        <p><a class="u-textClean u-text-h3 u-color-white" href="">Amministrazione trasparente</a></p>
      </div>
    </div>
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
      <div class="Entrypoint-item u-background-compl-80">
        <p><a class="u-textClean u-text-h3 u-color-white" href="">Albo pretorio</a></p>
      </div>
      <div class="Entrypoint-item u-background-compl-80">
        <p><a class="u-textClean u-text-h4 u-color-white" href="">Accesso civico</a></p>
      </div>
    </div>
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Entrypoint-item u-sizeFill u-background-compl-80">
        <p><a class="u-textClean u-text-h3 u-color-white" href="">Ufficio Relazioni con il Pubblico</a></p>
      </div>
    </div>
  </div>

  <a href="#news" class="Forward Forward--floating js-scrollTo u-color-compl-80" aria-hidden="true">
    <span class="Icon Icon-expand"></span>
  </a>

</div>
