{% render '@cookiebar' %}

{% render '@header', {
  menu: true,
  megamenu: true,
  clone: true
}, true %}

{% render '@offcanvas', { treeview: 'treeview--placeholders', showOpenButton: false }, true %}

<div id="main">

  {% render '@hero--news' %}

  <div class="u-layout-wide u-layoutCenter u-text-r-xl u-layout-r-withGutter u-padding-r-top">

    <div class="Grid Grid--equalHeight Grid--withGutterM" id="servizi">

      <div class="Grid-cell u-sizeFull u-padding-r-bottom">
        <h2 class="u-text-h2"><a class="u-color-black u-textClean u-text-h2" href="">{{ __WORDS__[0] }}</a></h2>
      </div>

      {% render '@listing', {
          "title": "Titolo di esempio",
          "text": "Link di esempio",
          "barClassName": "u-color-70",
          "titleClassName": "u-color-60",
          "textClassName": ""
      } %}

      {% render '@listing', {
          "title": "Titolo di esempio",
          "text": "Link di esempio",
          "barClassName": "u-color-compl-80",
          "titleClassName": "u-color-compl-80",
          "textClassName": "u-color-compl-80"
      } %}

      {% render '@listing', {
          "title": "Titolo di esempio",
          "text": "Link di esempio",
          "barClassName": "u-color-70",
          "titleClassName": "u-color-60",
          "textClassName": ""
      } %}

    </div>

    {% render '@entrypoint' %}

    {% render '@forward', {
      "link": "#news",
      "colour": "u-color-70"
    } %}

  </div>

  {% render '@layout--focus' %}

  <div class="u-background-white u-color-black u-text-xxl u-padding-r-top u-padding-r-bottom">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter" id="utilita">
      {% render '@leads' %}
    </div>
  </div>

  <div class="u-background-95 u-hiddenPrint">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
      {% render '@footer' %}
    </div>
  </div>

  {% render '@scrolltop' %}

</div>
