<div class="u-flow-panels">

    <section>
        <div class="Grid">
            <div class="Grid-cell u-size1of2">
                <h2>
                    Section Title
                </h2>
            </div>

            <div class="Grid-cell u-size1of2 u-textRight">
                <div class="u-flow-panels-link">
                    <a href="#">
                        read all
                    </a>
                </div>
            </div>
        </div>

        <div class="Grid">

            <div class="u-flow-item Grid-cell u-md-size1of2 u-lg-size1of2">
                <div class="u-flow-panel">
                    <div "u-flow-icon">
                        ICO
                    </div>
                    
                    <div class="title">
                        <a href=#>
                            <b>Item Name</b>
                        </a>
                    </div>
                    <div class="subtitle">
                        Item Abstract
                    </div>
                </div>
            </div>

            <div class="u-flow-item Grid-cell u-md-size1of2 u-lg-size1of2">
                <div class="u-flow-panel">
                    <div style="float:right">
                        ICO
                    </div>
                    
                    <div class="title">
                        <a href=#>
                            <b>Item Name</b>
                        </a>
                    </div>
                    <div class="subtitle">
                        Item Abstract
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

