<div class="u-flow">
    <div class="u-flow-panels">

        <section>
            <div class="Grid">
                <div class="Grid-cell u-size1of2">
                    <h2>
                        Section Title (Panels)
                    </h2>
                </div>

                <div class="Grid-cell u-size1of2 u-textRight">
                    <div class="u-flow-panels-link">
                        <a href="#">
                            read all
                        </a>
                    </div>
                </div>
            </div>

            <div class="Grid">

                <div class="u-flow-item Grid-cell u-md-size1of2 u-lg-size1of2">
                    <div class="u-flow-panel">
                        <div "u-flow-icon">
                            ICO
                        </div>

                        <div class="title">
                            <a href=#>
                                <b>Item Name</b>
                            </a>
                        </div>
                        <div class="subtitle">
                            Item Abstract
                        </div>
                    </div>
                </div>

                <div class="u-flow-item Grid-cell u-md-size1of2 u-lg-size1of2">
                    <div class="u-flow-panel">
                        <div style="float:right">
                            ICO
                        </div>

                        <div class="title">
                            <a href=#>
                                <b>Item Name</b>
                            </a>
                        </div>
                        <div class="subtitle">
                            Item Abstract
                        </div>
                    </div>
                </div>

            </div>

            <div class="Grid">

                <div class="u-flow-item Grid-cell u-md-size1of2 u-lg-size1of2">
                    <div class="u-flow-event">
                        <div class="u-event-when">
                            <div class="u-event-monthday">
                                09
                            </div>
                            <div class="u-event-month">
                                MARZO
                            </div>
                        </div>

                        <div class="u-event-what">
                            <div class="u-event-title">
                                Il Film e i temi dell'IRC per un repertorio didattico
                            </div>
                            <div class="u-event-subtitle">
                                Corso di formazione
                            </div>
                            <div class="u-event-where">
                                Centro Congressi Lavarone TN
                            </div>
                        </div>
                    </div>
                </div>

                <div class="u-flow-item Grid-cell u-md-size1of2 u-lg-size1of2">
                    <div class="u-flow-event">
                        
                    </div>
                </div>

            </div>
        </section>

    </div>

    <div class="u-flow-links u-background-grey-10">

        <section>
            <div class="Grid">
                <div class="Grid-cell u-size1of2">
                    <h2>
                        Section Title (Links)
                    </h2>
                </div>

                <div class="Grid-cell u-size1of2 u-textRight">
                    <div class="u-flow-panels-link">
                        <a href="#">
                            read all
                        </a>
                    </div>
                </div>
            </div>


            <div class="Grid">

                <div class="u-flow-item Grid-cell u-md-size4of12 u-lg-size4of12">
                    <div class="Link u-margin-all-l">
                        <div class="title">
                            <a href="#">
                                <b>Item Name</b>
                            </a>
                        </div>
                        <div class="subtitle">
                            Item Abstract
                        </div>
                    </div>
                </div>

                <div class="u-flow-item Grid-cell u-md-size4of12 u-lg-size4of12">
                    <div class="Link u-margin-all-l">
                        <div class="title">
                            <a href="#">
                                <b>Item Name</b>
                            </a>
                        </div>
                        <div class="subtitle">
                            Item Abstract
                        </div>
                    </div>
                </div>

                <div class="u-flow-item Grid-cell u-md-size4of12 u-lg-size4of12">
                    <div class="u-margin-all-l">
                        <div class="title">
                            <a href="#">
                                <b>Item Name</b>
                            </a>
                        </div>
                        <div class="subtitle">
                            Item Abstract
                        </div>
                    </div>
                </div>

            </div>

        </section>

    </div>
</div>
