/* eZPublish ezflow blocks */

.u-flow {
  padding-left: 10rem;
  padding-right: 10rem;
}

@media (--xs-viewport), (--sm-viewport) {

  .u-flow {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

/*
 * PANELS
 */

.u-flow-panels {
  @extend .u-layout-centerContent;
  @extend .u-padding-r-top;
}

.u-flow-panels section {
  @extend .u-layout-r-withGutter;
  @extend .u-padding-r-top;
  @extend .u-padding-r-bottom;
  @extend .u-text-r-s;
}

.u-flow-panels section h2 {
  @extend .u-text-r-s;
  @extend .u-color-50;
  @extend .u-text-h3;
  @extend .u-margin-all-xs;
}

.u-flow-panels section .u-flow-panels-link {
  @extend .u-margin-right-xs;
  @extend .u-margin-top-m;
}

.u-flow-panels section .u-flow-panels-link a {
  @extend .u-color-50;
}

.u-flow-panels section .u-flow-panel {
  @extend .u-padding-all-l;
  @extend .u-margin-all-xs;
  @extend .u-background-grey-10;
  min-height: 10rem;
}

.u-flow-panels section .u-flow-panel .u-flow-icon {
  float: right;
}

.u-flow-panels section .u-flow-item .subtitle {
  margin-top: 2rem;
}

/* event */

.u-flow-panels section .u-flow-event {
  @extend .u-margin-all-xs;
  @extend .u-background-grey-10;
  min-height: 10rem;
}

.u-flow-panels section .u-flow-event .u-event-when {
  @extend .u-background-80;
  @extend .u-color-white;
  @extend .u-textCenter;
  float: left;
  height: 10rem;
  width: 9rem;
}

.u-flow-panels section .u-flow-event .u-event-when .u-event-monthday {
  font-size: 6rem;
  font-weight: 600;
}

.u-flow-panels section .u-flow-event .u-event-when .u-event-month {
  font-size: 1rem;
}

.u-flow-panels section .u-flow-event .u-event-what {
  @extend .u-padding-all-s;
  float: none;
  height: 10rem;
  margin-left: 9rem;
}

.u-flow-panels section .u-flow-event .u-event-what .u-event-title {
  @extend .u-margin-bottom-xs;
  font-weight: bold;
}

/* banner */

.u-flow-panels section .u-flow-banner {
  @extend .u-margin-all-xs;
  @extend .u-background-grey-10;
  min-height: 10rem;
}

.u-flow-panels section .u-flow-banner .u-banner-icon {
  @extend .u-color-white;
  @extend .u-textCenter;
  @extend .u-padding-all-s;
  float: left;
  font-size: 6rem;
  height: 10rem;
  width: 9rem;
}

.u-flow-panels section .u-flow-banner .u-banner-content {
  @extend .u-padding-all-s;
  float: none;
  height: 10rem;
  margin-left: 12rem;
}

.u-flow-panels section .u-flow-banner .u-banner-content .u-banner-title {
  font-weight: bold;
}

.u-flow-panels section .u-flow-banner .u-banner-content .u-banner-subtitle {
  @extend .u-margin-top-xs;
}

/*
 * LINKS
 */

.u-flow-links {
  @extend .u-padding-r-top;
  margin-left: -10rem;
  margin-right: -10rem;
}

.u-flow-links section {
  @extend .u-layout-r-withGutter;
  @extend .u-text-r-s;
  @extend .u-padding-r-top;
  @extend .u-padding-r-bottom;
  margin-left: 10rem;
  margin-right: 10rem;
}

.u-flow-links section h2 {
  @extend .u-text-r-s;
  @extend .u-color-50;
  @extend .u-text-h3;
  @extend .u-margin-all-xs;
}

.u-flow-links section .u-flow-panels-link {
  @extend .u-margin-right-xs;
  @extend .u-margin-top-m;
}

@media (--xs-viewport), (--sm-viewport) {

  .u-flow-links {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .u-flow-links section {
    margin-left: 1rem;
    margin-right: 1rem;
  }

}

/*
 * TREEVIEW
 */

.u-flow-treeview {
  @extend .u-layout-centerContent;
  @extend .u-padding-r-top;
}

.u-flow-treeview section {
  @extend .u-layout-r-withGutter;
  @extend .u-text-r-s;
  @extend .u-padding-r-top;
  @extend .u-padding-r-bottom;
}
