:root {
  --Color-primary: #0092d0;
  --Color-text: #30373d;
  --Color-5: #e1f5fe;
  --Color-10: #b3e5fc;
  --Color-20: #81dafa;
  --Color-30: #4fc3f7;
  --Color-40: #29b6f6;
  --Color-50: #0092d0;
  --Color-60: #039be5;
  --Color-70: #0288d1;
  --Color-80: #006390;
  --Color-90: #01579b;

  /* --Pac-font-family-sans: "Source Sans Pro", sans-serif; */

  --Pac-font-family-sans: Titillium Web, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

/*
 *	Only apply to body
 *		class="t-Pac"
 */

.t-Pac {
  color: var(--Color-text);
  font-family: var(--Pac-font-family-sans);
}

.t-Pac a {
  color: var(--Color-80);

  text-decoration: none;
}
