
<div class="u-facet-side">
    <div class="u-facet-title">
        <div class="Grid">
            <div class="u-facet-heading">
                <h1>Facet Search Page</h1>
            </div>
            <div class="u-facet-result-count">
                100 results found
            </div>
        </div>
    </div>

    <div class="u-facet-form">

        <form class="Form">
            <div class="Grid">
                <div class="u-facet-form-cell">
                    <div class="Form-field Form-field--withPlaceholder Grid" role="search">
                        <input class="Form-input Grid-cell u-sizeFill u-text-r-s u-border-none" 
                               required
                               id="search" 
                               name="search">

                        <label class="Form-label" for="search">Search...</label>
                        <button class="Grid-cell u-sizeFit u-background-60 u-color-white u-padding-all-s u-textWeight-700 mdi mdi-magnify mdi-18px" 
                                title="Start searching" aria-label="Start searching">
                        </button>
                    </div>
                </div>

                <div class="u-facet-form-cell">
                    <div class="Form-field Form-field--withPlaceholder Grid">
                    
                        <select class="Form-input Grid-cell u-sizeFill u-text-r-s u-border-none"
                               required
                               id="year" 
                               name="year">
                            <option>All years</option>
                            <option>2017</option>
                            <option>2016</option>
                        </select>

                        <label class="Form-label" for="year">All years</label>
                    </div>
                </div>

                <div class="u-facet-form-cell">
                    <div class="Form-field Form-field--withPlaceholder Grid">
                    
                        <input class="Form-input Grid-cell u-sizeFill u-text-r-s u-border-none" 
                               required
                               id="num" 
                               name="num"
                               type="number">

                        <label class="Form-label" for="num">Number...</label>
                    </div>
                </div>

                <div class="u-facet-form-cell-wide">
                    
                </div>
            </div>
        </form>

    </div>

    <div class="u-facet-table">
        <table class="Table Table--striped" width="100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01/01/2017</td>
                    <td>This is a title</td>
                </tr>
                <tr>
                    <td>01/01/2017</td>
                    <td>This is a title</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="u-facet-calendar">
        <div class="u-facet-event">

            <div class="u-event-when">
                <div class="u-event-monthday">
                    24
                </div>
                <div class="u-event-month">
                    APRILE
                </div>
            </div>

            <div class="u-event-what">
                <div class="u-event-main">
                    <div class="u-event-title">
                        Una scuola per rendere gli studenti felici e competenti
                    </div>
                    <div class="u-event-where">
                        Corso di formazione
                    </div>
                </div>

                <div class="u-event-details">
                    <div class="u-event-type">
                        Convegno
                    </div>

                    <div class="u-event-timing">
                        Intera giornata
                    </div>
                </div>

            </div>
        </div>

        <div class="u-facet-event">

            <div class="u-event-when">
                <div class="u-event-monthday">
                    25
                </div>
                <div class="u-event-month">
                    APRILE
                </div>
            </div>

            <div class="u-day-events">

                <div class="u-event-what">
                    <div class="u-event-main">
                        <div class="u-event-title">
                            Una scuola per rendere gli studenti felici e competenti
                        </div>
                        <div class="u-event-where">
                            Corso di formazione
                        </div>
                    </div>

                    <div class="u-event-details">
                        <div class="u-event-type">
                            Convegno
                        </div>

                        <div class="u-event-timing">
                            Intera giornata
                        </div>
                    </div>
                </div>

                <div class="u-event-what">
                    <div class="u-event-main">
                        <div class="u-event-title">
                            Cooperazione internazionale e migrazioni
                        </div>
                        <div class="u-event-where">
                            Centro per la Formazione alla Solidarietà internazionale di Trento
                        </div>
                    </div>

                    <div class="u-event-details">
                        <div class="u-event-type">
                            Seminario
                        </div>

                        <div class="u-event-timing">
                            Intera giornata
                        </div>
                    </div>
                </div>

                <div class="u-event-what">
                    <div class="u-event-main">
                        <div class="u-event-title">
                            Cooperazione internazionale e migrazioni
                        </div>
                        <div class="u-event-where">
                            Centro per la Formazione alla Solidarietà internazionale di Trento
                        </div>
                    </div>

                    <div class="u-event-details">
                        <div class="u-event-type">
                            Seminario
                        </div>

                        <div class="u-event-timing">
                            Intera giornata
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>