<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card {{ modifier }} u-color-grey-30">
      <div class="Card-image">
        <img src="http://placehold.it/400x220" class="u-sizeFull" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">{{ __WORDS__[1] }}</a></p>
        <p class="Card-title"><a class="Card-titleLink" href="">{{ __SHORT_TEXTS__[1] }}</a></p>
        <p class="Card-text">{{ __TEXTS__[1] }}</p>
      </div>
    </div>
  </div>
</section>
