<form class="Form">
  <div class="Form-field Form-field--withPlaceholder Grid">
    <input class="Form-input Grid-cell u-sizeFill u-text-r-s" required id="cerca">
    <label class="Form-label" for="cerca">Cerca...</label>
    <button class="Grid-cell u-sizeFit Icon-search u-background-60 u-color-white u-padding-all-s u-textWeight-700"
      title="Avvia la ricerca" aria-label="Avvia la ricerca">
    </button>
  </div>
</form>
