<div class="u-color-grey-30 u-border-top-xxs u-border-bottom-xxs">

  <form class="Form Form--ultraLean">
    <div class="Grid">

      <div class="Form-field Grid-cell u-sizeFull u-sm-size6of12 u-md-size4of12 u-lg-size3of12 u-border-right-xxs u-border-top-xxs">
        <label class="Form-label is-required u-hiddenVisually" for="provincia">Provincia</label>
        <select class="Form-input u-color-grey-90 u-text-r-s u-padding-r-all" id="provincia" aria-required="true" required>
          <option disabled selected>Provincia</option>
          <option>Roma</option>
          <option>Milano</option>
          <option>Torino</option>
          <option>Napoli</option>
        </select>
      </div>

      <div class="Form-field Form-field--withPlaceholder Form--Grid-cell
        u-sizeFull u-sm-size6of12 u-md-size4of12 u-lg-size3of12 u-border-right-xxs u-border-top-xxs">
        <input class="Form-input u-text-r-s u-padding-r-all u-color-black" id="cerca" aria-required="true" required>
        <label class="Form-label is-required u-color-grey-90 u-text-r-m" for="cerca">Comune...</label>
        <button class="u-background-40 u-color-white u-padding-all-s u-text-r-m u-textNoWrap">Cerca</button>
      </div>

  </div>
  </form>

</div>
