<section class="u-padding-r-all u-layout-prose">
  <h1 class="u-text-r-m u-textWeight-600 u-padding-r-bottom">Icon + shadow</h1>
  <form class="Form">
    <div class="Form-field Form-field--withPlaceholder Grid  u-color-grey-30 u-borderRadius-s u-borderShadow-m" role="search">
      <input class="Form-input Form-input--ultraLean Grid-cell u-sizeFill u-text-r-s u-color-black u-text-r-xxs u-borderHideFocus"
        required id="cerca">
      <label class="Form-label u-color-grey-50" for="cerca">Cerca...</label>
      <button class="Grid-cell u-sizeFit Icon-search Icon--rotated u-color-grey-50 u-padding-all-s u-textWeight-700" title="Avvia la ricerca" aria-label="Avvia la ricerca">
    </button>
    </div>
  </form>
</section>
