<form class="Form Form--spaced u-padding-all-xl">

  <div class="Prose">
    <p aria-live="assertive" class="Alert--error is-full u-padding-all-xl">
      È necessario correggere alcuni errori prima di poter inviare il form
    </p>
  </div>

  <div class="Form-field is-invalid">
    <div class=" Alert Alert--error" role="alert">
      <label class="Form-label" for="cognome">Cognome</label>
      <input class="Form-input" id="cognome" aria-invalid="true">
      <p id="err-1">Errore durante la compilazione</p>
    </div>
  </div>

  <div class="Form-field is-warning">
    <div class=" Alert Alert--warning">
      <label class="Form-label" for="citta">Città</label>
      <input class="Form-input" id="citta" aria-invalid="true">
      <p id="err-1">Messaggio di allerta</p>
    </div>
  </div>

  </div>
</form>
