@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700");

html {
  color: #000;
  font-size: 18px;
}

.Header-title,
.Document-title,
.Tree-entityLink,
.Tree-collectionLabel,
.Prose,
.Prose *,
.Prose > * {
  font-family: Titillium web, sans-serif !important;
  line-height: 1.55;
}

.Header-title {
  background: url("/ita-web-toolkit/theme/logo-it.svg") no-repeat 1em 50%;
  background-size: 30px 30px;
  font-size: 24px;
  font-weight: 600;
  padding-left: 3em;
}

.Document-title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2;
}

.Prose code,
.Prose p,
.Prose li,
.Prose h2,
.Prose h3,
.Prose h4 {
  color: #222;
}

.Prose h2 {
  font-size: 32px;
}

.Prose h3 {
  font-size: 23px;
}

.Prose code pre,
.Prose code pre span {
  font-family: Hack, Consolas, Monaco, "Andale Mono", monospace !important;
  font-size: 15px;
}

.Document-header,
.Document-content {
  max-width: 40em;
}

.Prose a,
.Prose a:visited {
  color: #06c;
}

.Header {
  background-color: #06c;
  box-shadow: 0 3px 3px #aaa;
}

.Tree-entityLink,
.Tree-collectionLabel {
  border-bottom: 1px solid #e7e6e4;
  font-size: 16px !important;
  padding-bottom: 0.8em;
  padding-top: 0.8em;
}

.Tree-entityLink span,
.Tree-collectionLabel span {
  color: #003e54;
}

.Tree-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
}

.Tree-entity.is-current a {
  background: #06c;
  font-weight: 700;
}

.Tree-entity.is-current span {
  color: white !important;
}

.Frame-panel--sidebar {
  background-color: white;
}
