{% for i in ['xxs', 'xs', 'm', 'xxl']%}
<div class="u-borderShadow-{{ i }} u-border-all-xxs u-padding-all-xxl u-margin-all-xxl u-md-size1of3 u-lg-size1of4">
  <p>u-borderShadow-{{ i }}</p>
</div>
{% endfor %}
