<!DOCTYPE html>
<!--[if lte IE 9 ]>  <html class="no-js legacy"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <script>
    (function() {
      document.getElementsByTagName('html')[0].className =
        document.getElementsByTagName('html')[0].className.replace('no-js', 'js-enabled')
    })()
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>
<body class="Pac">

  <div class="Prose Alert Alert--error" role="alert">
  <h2 class="u-text-h2">Si è verificato un errore !</h2>
  <p>Et labore ad do ut quis nostrud consectetur cillum dolor Lorem in tempor adipisicing.Dolor dolore consectetur eiusmod qui adipisicing dolore velit et ut esse adipisicing aliqua. Consequat do ipsum officia proident ut cillum esse ipsum do sint do qui ipsum nisi qui aliquip cupidatat. Culpa ut excepteur duis enim ullamco cupidatat nisi anim officia anim consectetur incididunt esse do. Ullamco nulla voluptate laboris reprehenderit ut qui consectetur nostrud consequat magna sint laboris laborum esse id reprehenderit sint.</p>
</div>


  <!--[if (lte IE 9)]>
  <script src="https://cdn.rawgit.com/inexorabletash/polyfill/master/polyfill.min.js"></script>
  <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>
</html>

