@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700");

html {
  color: #000;
  font-size: 18px;
}

.Frame-panel--sidebar {
  background-color: #00264d !important;
}

/*
.Frame-panel--main {
  background-color: #f5f5f0 !important;
}
*/

.Header-title,
.Document-title,
.Tree-entityLink,
.Tree-collectionLabel,
.Prose,
.Prose *,
.Prose > * {
  font-family: Titillium web, sans-serif !important;
  line-height: 1.55;
}

.Header-button {
  min-width: 3em;
}

.Frame-inner {
  min-width: 314px;
}

.Header-title {
  background: url("/ita-web-toolkit/theme/logo-it.svg") no-repeat 1em 50%;
  background-size: 30px 30px;
  font-size: 24px;
  font-weight: 600;
  padding-left: 3em;
}

.Document-title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2;
}

.Prose code,
.Prose p,
.Prose li,
.Prose h2,
.Prose h3,
.Prose h4 {
  color: #222;
}

.Prose h2 {
  font-size: 32px;
  margin-bottom: 0.5em;
}

.Prose *:not(hr) + h2 {
  margin-top: 1em;
}

.Prose h3 {
  font-size: 23px;
}

.Prose code pre,
.Prose code pre span {
  font-family: Hack, Consolas, Monaco, "Andale Mono", monospace !important;
  font-size: 15px;
}

.Document-header,
.Document-content {
  max-width: 40em;
}

.Prose a,
.Prose a:visited {
  color: #06c;
}

.Header {
  background-color: #06c;
  box-shadow: 0 3px 3px #aaa;
}

.Tree-entityLink,
.Tree-collectionLabel {
  border-bottom: 1px solid #036;
  font-size: 16px !important;
  padding-bottom: 0.8em;
  padding-top: 0.8em;
}

.Tree-entityLink span,
.Tree-collectionLabel span {
  color: white;
}

/*
.Tree-entityLink:hover,
.Tree-collectionLabel:hover {
  color: #00264d;
}
.Tree-entityLink:hover,
.Tree-collectionLabel:hover {
  background-color: #8ebeed;
}
*/

.Tree-title {
  color: #8ebeed;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
}

.Tree-collectionLabel span::before,
[dir="ltr"] .Tree-collection.is-closed .Tree-collectionLabel span::before {
  background: none;
}

.Tree-collection.is-closed .Tree-collectionLabel span::after {
  content: " + ";
  float: right;
  font-size: 30px;
  margin-right: 1em;
  margin-top: -0.4em;
}

.Tree-collectionLabel span::after {
  content: " - ";
  float: right;
  font-size: 30px;
  margin-right: 1em;
  margin-top: -0.4em;
}

.Tree-collectionItems {
  background: #004080;
}

.Tree-collectionItems .Tree-collectionItems {
  background: #004d99;
}

.Tree-entity a {
  width: 100%;
}

.Tree-entity.is-current {
  background: #06c;
  color: white !important;
  font-weight: 700;
}

.Frame-panel--sidebar {
  background-color: white;
}

.Code pre {
  font-size: 14px;
}

.Footer {
  padding-top: 2em;
  width: 100%;
}

.Prose ul.Footer-links {
  border-top: 1px solid #008383;
  padding-left: 0;
  padding-top: 1em;
}

.Footer-links li {
  display: inline;
  margin-right: 2em;
}

.Footer-links a {
  color: #008383 !important;
  font-size: 15px;
}
