<div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon Icon Icon-share"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="Icon Icon-facebook"></span></a></li>
    <li><a href="#"><span class="Icon Icon-twitter"></span></a></li>
    <li><a href="#"><span class="Icon Icon-googleplus"></span></a></li>
    <li><a href="#"><span class="Icon Icon-youtube"></span></a></li>
    <li><a href="#"><span class="Icon Icon-flickr"></span></a></li>
    <li><a href="#"><span class="Icon Icon-slideshare"></span></a></li>
    <li><a href="#"><span class="Icon Icon-whatsapp"></span></a></li>
  </ul>
</div>
