<!DOCTYPE html>
<html class="no-js">
<head>
  <script>document.getElementsByTagName('html')[0].className=''</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>

<body class="Pac">

  <h5 class="u-text-h5">H5 Solo cose belle</h5>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>

</html>

