<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>

<body class="Pac">

  <nav class="Megamenu Megamenu--styled js-megamenu">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">Movies</a>
      <div class="Megamenu-subnav">
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Action &amp; Adventure</a>
            <ul>
              <li><a href="">Musicals</a></li>
              <li><a href="">Romance</a></li>
              <li><a href="">Musicals</a></li>
              <li><a href="">Romance</a></li>
            </ul>
          </li>
          <li><a href="">Children &amp; Family</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Dramas</a>
            <ul>
              <li><a href="">Musicals</a></li>
              <li><a href="">Romance</a></li>
              <li><a href="">Musicals</a></li>
              <li><a href="">Romance</a></li>
            </ul>
          </li>
          <li><a href="">Foreign</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Musicals</a>
            <ul>
              <li><a href="">Musicals</a></li>
              <li><a href="">Romance</a></li>
              <li><a href="">Musicals</a></li>
              <li><a href="">Romance</a></li>
            </ul>
          </li>
          <li><a href="">Romance</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">TV Shows</a>
      <div class="Megamenu-subnav">
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Classic TV</a></li>
          <li><a href="">Crime TV</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Reality TV</a></li>
          <li><a href="">TV Action</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">TV Dramas</a></li>
          <li><a href="">TV Horror</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Series</a>
      <div class="Megamenu-subnav">
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Horror</a></li>
          <li><a href="">Thriller</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Comic</a></li>
          <li><a href="">Action</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Dramas</a></li>
          <li><a href="">Romantic</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>

</html>

