<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link media="all" rel="stylesheet" href="/build/vendor.css">
  <link media="all" rel="stylesheet" href="/build/build.css">
  <link media="all" rel="stylesheet" href="/examples.css">
  <title>Preview Layout</title>
</head>

<body class="Pac">

  <ul>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default u-text-r-xs">Button default</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default u-text-r-xs is-pressed">Button default pressed</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default u-text-r-xs is-disabled">Button default disabled</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default Button--shadow u-text-r-xs">Button default shadow</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default Button--round u-text-r-xs">Button default round</button>
  </li>
  <li class="u-padding-all-s">
    <button type="button" class="Button Button--default Button--shadow Button--round u-text-r-xs">Button default round shadow</button>
  </li>
  <li class="u-padding-all-s">
    <a role="button" class="Button Button--default Button--shadow Button--round u-text-r-xs">Link button default round shadow</a>
  </li>
</ul>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>

</html>

