<div class="u-landing">
    
    <div class="u-landing-main">
        <div class="u-landing-title">
            <h1>
                Landing Title
            </h1>
        </div>
        <div class="u-landing-parent">
            <h1>
                Parent Title
            </h1>
        </div>
    </div>

</div>
