/* eZ-Publish landing page */

.u-landing {
  @extend .u-margin-top-m;
  @extend .Grid;
  @extend .u-padding-bottom-xxxl;
  padding-left: 10rem;
  padding-right: 10rem;
}

@media (--xs-viewport), (--sm-viewport) {
  
  .u-landing {
    padding-left: 2rem;
    padding-right: 2rem;
  }
   
}

.u-landing .u-landing-main {
  @extend .Grid-cell;
}

.u-landing .u-landing-main .u-landing-title {
  @extend .u-margin-top-m;
}

.u-landing .u-landing-main .u-landing-title h1 {
  @extend .u-color-80;
  font-size: 3.2rem !important;
}


.u-landing .u-landing-main .u-landing-parent h1 {
  @extend .u-color-40;
  font-size: 3.2rem !important;
}

@media (--xs-viewport), (--sm-viewport) {
    
  .u-landing .u-landing-main .u-landing-title h1 {
    font-size: 2rem !important;
  }
  
  .u-landing .u-landing-main .u-landing-parent h1 {
    font-size: 2rem !important;
  }
   
}
