<table class="Table Table--withBorder Table--responsive u-text-r-xs">
  <caption class="u-hiddenVisually">{{ caption | d(__WORDS__[0]) }}</caption>
  <thead>
    <tr class="u-color-grey-90 u-background-grey-10">
      <th>{{ __WORDS__[1] }}</th>
      <th>{{ __WORDS__[2] }}</th>
      <th>{{ __WORDS__[3] }}.</th>
      <th>{{ __WORDS__[4] }}</th>
    </tr>
  </thead>
  <tbody>
    {% for i in [1, 4] %}
    <tr>
      <td>{{ __WORDS__[i] }}</td>
      <td>{{ __WORDS__[i] }}</td>
      <td>{{ __WORDS__[i] }}</td>
      <td>{{ __WORDS__[i] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
