<section class="Prose u-layout-prose">
  <h2 id="description">{{ title | d(__WORDS__[0]) }}</h2>
  <p>{{ caption | d(__TEXTS__[0]) }}</p>

  <table class="Table Table--withBorder Table--compact u-text-r-xxs" aria-describedby="description">
    <thead>
      <tr class="u-border-bottom-xs">
        <th>Tab. 1</th>
        <th>Tab. 2</th>
        <th>Tab. 3</th>
        <th>Tab. 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
    </tbody>
  </table>

</section>
