<table class="Table Table--withBorder u-text-r-xs">
  <caption class="u-hiddenVisually">{{ caption | d(__WORDS__[0]) }}</caption>
  <thead>
    <tr class="u-border-bottom-xs">
      <th>Tab. 1</th>
      <th>Tab. 2</th>
      <th>Tab. 3</th>
      <th>Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
    <tr>
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
    <tr>
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
    <tr>
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
  </tbody>
</table>
