<table class="Table Table--striped Table--withBorder">
  <thead>
    <tr>
      <th class="u-textLeft">Tab. txt</th>
      <th class="u-textLeft">Tab. txt</th>
      <th class="u-textRight">Tab. num</th>
      <th class="u-textRight">Tab. num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="u-textLeft">Tab. txt</td>
      <td class="u-textLeft">Tab. txt</td>
      <td class="u-textRight">Tab. num</td>
      <td class="u-textRight">Tab. num</td>
    </tr>
    <tr>
      <td class="u-textLeft">Tab. txt</td>
      <td class="u-textLeft">Tab. txt</td>
      <td class="u-textRight">Tab. num</td>
      <td class="u-textRight">Tab. num</td>
    </tr>
    <tr>
      <td class="u-textLeft">Tab. txt</td>
      <td class="u-textLeft">Tab. txt</td>
      <td class="u-textRight">Tab. num</td>
      <td class="u-textRight">Tab. num</td>
    </tr>
    <tr>
      <td class="u-textLeft">Tab. txt</td>
      <td class="u-textLeft">Tab. txt</td>
      <td class="u-textRight">Tab. num</td>
      <td class="u-textRight">Tab. num</td>
    </tr>
  </tbody>
</table>
