<table class="Table Table--withBorder Table--responsive u-text-r-xs">
  <thead>
    <tr class="u-color-grey-90 u-background-grey-10">
      <th>Tab. 1 Irure exercitation enim do </th>
      <th>Tab. 2 Eu velit est do culpa officia sit .</th>
      <th>Tab. 3 Esse nulla proident commodo adipisicing nis.</th>
      <th>Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
    <tr>
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
    <tr>
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
    <tr>
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
  </tbody>
</table>
