<table class="Table Table--withBorder Table--flip u-text-r-xs">
  <thead>
    <tr class="">
      <th>Tab. 1</th>
      <th>Tab. 2</th>
      <th>Tab. 3</th>
      <th>Tab. 4</th>
    </tr>
  </thead>
  <tbody style="min-width: 80%">
    <tr class="u-layout-prose u-sizeFull">
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
    <tr class="u-layout-prose u-sizeFull">
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
    <tr class="u-layout-prose u-sizeFull">
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
    <tr class="u-layout-prose u-sizeFull">
      <td>Tab. 1</td>
      <td>Tab. 2</td>
      <td>Tab. 3</td>
      <td>Tab. 4</td>
    </tr>
  </tbody>
</table>
