<table class="Table Table--withBorder">
  <caption class="u-hiddenVisually">{{ caption | d(__WORDS__[0]) }}</caption>
  <colgroup span="2"></colgroup>
  <colgroup span="2"></colgroup>
  <tr>
    <td rowspan="2"></td>
    <th class="u-textCenter u-border-right-xxs u-border-left-xxs u-background-grey-10" colspan="2" scope="colgroup">Mars</th>
    <th class="u-textCenter u-background-grey-10" colspan="2" scope="colgroup">Venus</th>
  </tr>
  <tr class="u-background-grey-10">
    <th class="u-textCenter" scope="col">Produced</th>
    <th class="u-textCenter u-border-right-xxs" scope="col">Sold</th>
    <th class="u-textCenter" scope="col">Produced</th>
    <th class="u-textCenter" scope="col">Sold</th>
  </tr>
  <tr>
    <th scope="row" class="u-background-grey-10">Teddy Bears</th>
    <td class="u-textCenter u-border-left-xxs">50,000</td>
    <td class="u-textCenter u-border-right-xxs">30,000</td>
    <td class="u-textCenter">100,000</td>
    <td class="u-textCenter">80,000</td>
  </tr>
  <tr>
    <th scope="row" class="u-background-grey-10">Board Games</th>
    <td class="u-textCenter u-border-left-xxs">10,000</td>
    <td class="u-textCenter u-border-right-xxs">5,000</td>
    <td class="u-textCenter">12,000</td>
    <td class="u-textCenter">9,000</td>
  </tr>
</table>
