/* @define Header; weak */

.Header {
  @extend .u-layout-centerContent;

  width: 100%;
}

.Header a:focus {
  background: transparent;
}

.Header-banner {
  @extend .u-cf;
  @extend .u-sizeFull;
  @extend .u-background-90;
  @extend .u-color-60;
  @extend .u-padding-left-s;
  @media (--sm-viewport) {
    @extend .u-padding-left-none;
  }
  @media (--lg-viewport) {
    padding-left: calc((1 / 8 + 1 / 12) * 100%) !important;
  }
}

.Header-owner > a {
  @extend .u-floatLeft;
  @extend .u-sm-before4of12;
  @extend .u-md-before3of12;
  @extend .u-text-r-xxs;
  @extend .u-textWeight-600;
  @extend .u-color-white;
  @extend .u-textClean;
  @extend .u-padding-r-top;
  @extend .u-padding-r-bottom;
}

/* ========================================== */

.Header-navbar {
  @extend .u-background-50;

  @extend .u-padding-top-s;
  @extend .u-padding-bottom-s;
  @extend .u-padding-right-xs;
  @extend .u-padding-left-xs;

  @media (--md-viewport) {
    @extend .u-padding-right-l;
  }

  @media (--lg-viewport) {
    @extend .u-padding-right-xxl;
  }

  width: 100%;
}

/* Burger button
  ========================================== */

.Header-toggle {
  @extend .u-size2of12;
  @extend .u-lg-size1of8;
  @extend .u-textCenter;
}

.Header-toggle > * {
  @extend .u-inlineBlock;
  @extend .u-linkClean;
}

.Header-toggleText {
  @extend .u-hidden;
  @extend .u-sm-block;
  @extend .u-md-block;
  @extend .u-lg-block;

  @extend .u-color-white;
  @extend .u-text-r-xxs;
  @extend .u-textWeight-700;
  @extend .u-textClean;

  letter-spacing: 0.1em !important;
  margin-bottom: -calc(1rem + var(--Hamburger-height));
  margin-top: calc(1rem + var(--Hamburger-height));
  text-transform: uppercase;
}

/* Logo image
  ========================================== */

.Header-logo {
  @extend .u-size2of12;
  @extend .u-sm-size2of12;
  @extend .u-md-size1of12;
  @extend .u-lg-size1of12;
  @extend .u-textCenter;
}

.Header-logo img {
  @extend .u-alignMiddle;

  height: 4.5rem;
  width: 4.5rem;

  @media (--sm-viewport), (--md-viewport), (--lg-viewport) {
    height: 7.5rem;
    width: 7.5rem;
  }
}

/* Title link
  ========================================== */

.Header-title {
  @extend .u-flex;
  @extend .u-flexAlignItemsCenter;

  @extend .u-lineHeight-xxs;

  @extend .u-size6of12;
  @extend .u-sm-size4of12;
  @extend .u-md-size5of12;
  @extend .u-lg-size5of12;

  @media (--md-viewport), (--lg-viewport) {
    @extend .u-lineHeight-m;
  }
}

.Header-titleLink {
  @media (--md-viewport) {
    @extend .u-padding-left-s;
  }
}

.Header-titleLink a {
  @extend .u-inlineBlock;
  @extend .u-text-xs;
  @extend .u-text-sm-m;
  @extend .u-text-md-l;
  @extend .u-text-lg-l;
  @extend .u-lineHeight-m;
  @extend .u-textWeight-700;
  @extend .u-color-white;
  @extend .u-textClean;
  @extend .u-padding-left-xxs;
  @extend .u-padding-right-xxs;
}

.Header-titleLink small {
  @extend .u-text-xxs;
  @extend .u-text-sm-xs;
  @extend .u-text-md-m;
  @extend .u-text-lg-m;
  @extend .u-textWeight-400;
  @extend .u-color-white;
  @extend .u-textClean;
}

/* Search button for small screens
  ========================================== */

.Header-searchTrigger {
  @extend .u-sizeFill;
  @extend .u-sm-hidden;
  @extend .u-md-hidden;
  @extend .u-lg-hidden;
  @extend .u-textCenter;
}

.Header-searchTrigger button {
  @extend .u-linkClean;
  @extend .u-background-40;
  @extend .u-color-white;
  @extend .u-padding-all-s;
  @extend .u-text-r-xxs;
}

/* Utils block (social + languages + search form)
  ================================================ */

.Header-utils {
  @extend .u-block;
  @extend .u-margin-top-xxs;
  @extend .u-textRight;

  @extend .u-sizeFull;
  @extend .u-sm-size4of12;
  @extend .u-md-size4of12;
  @extend .u-lg-size4of12;

  @media (--sm-viewport) {
    @extend .u-margin-top-xs;
    @extend .u-margin-bottom-xs;
  }
}

/*
 *  Hide utils on small screens
 */

.Header-utils > * {
  @extend .u-hidden;
  @extend .u-sm-block;
  @extend .u-md-block;
  @extend .u-lg-block;
  @extend .u-floatRight;
  @extend .u-cf;

  width: 100%;
}

/* Search form
  ================================================ */

.Header-search {
  @extend .u-padding-all-xxs;
  @media (--sm-viewport), (--md-viewport), (--lg-viewport) {
    @extend .u-margin-bottom-m;
    @extend .u-padding-left-m;
    @extend .u-padding-right-none;
    @extend .u-floatRight;

    max-width: 24em;
  }
}

.Header-search.is-active {
  @extend .u-block;
  @extend .u-margin-top-xs;
}

/* Lanaguage bar
  ================================================ */

.Header-languages {
  @extend .u-background-95;
  @extend .u-floatRight;
}

.Header-language {
  @extend .u-color-white;
  @extend .u-text-r-xxs;
  @extend .u-textWeight-600;
  @extend .u-padding-left-s;
  @extend .u-padding-right-s;
  @extend .u-padding-r-top;
  @extend .u-padding-r-bottom;
  @extend .u-linkClean;
}

.Header-language abbr {
  text-decoration: none;
}

.Header-language:hover {
  cursor: pointer;
}

.Header-language.is-active {
  @extend .u-background-80;
}

.Header-language-other {
  @extend .u-zindex-max;
  @extend .u-background-grey-10;
  @extend .u-borderShadow-xxl;

  right: 0;
  top: 0;
}

/* Social icons / link
  ================================================ */

.Header-social {
  @extend .u-text-r-xs;
  @extend .u-color-white;
  @extend .u-margin-left-s;
  @extend .u-margin-bottom-s;
}

.Header-social > * {
  @extend .u-hidden;
  @extend .u-md-inlineBlock;
  @extend .u-lg-inlineBlock;
}

.Header-socialIcons {
  @extend .u-padding-left-xxs;
  @extend .u-text-r-xs;
}

.Header-socialIcons > li {
  @extend .u-inlineBlock;
}

.Header-socialIcons [class^="Icon-"],
.Header-socialIcons [class*=" Icon-"] {
  @extend .u-inlineBlock;
  @extend .u-background-white;
  @extend .u-color-50;
  @extend .u-padding-all-xxs;
  @extend .u-borderRadius-circle;
  @extend .u-margin-left-xs;
}

/*
 * Headroom.js for sticky header
 * =============================
 */

.Headroom--fixed,
.Headroom--pinned {
  transform: translateY(0%);
}

/*
 *	1. Allow transition on element heights
 */

.Headroom-hideme {
  max-height: 5em; /* 1 */
  transition: all 250ms ease;
  will-change: all;
}

.Headroom--fixed.Headroom--not-top .Headroom-hideme,
.Headroom--pinned.Headroom--not-top .Headroom-hideme {
  margin: 0 !important;
  max-height: 0;
  overflow: hidden;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.js .Headroom--fixed,
.Headroom--pinned.Headroom--not-top {
  @extend .u-zindex-40;

  min-width: 30rem;
  position: fixed;
  top: 0;
}

.Headroom--fixed.Headroom--not-top .Header-titleLink,
.Headroom--pinned.Headroom--not-top .Header-titleLink {
  @extend .u-flexAlignSelfCenter;
  @extend .u-flex;
}

.Headroom--fixed.Headroom--not-top .Header-titleLink a,
.Headroom--pinned.Headroom--not-top .Header-titleLink a {
  @extend .u-text-xxs;
  @extend .u-text-sm-xs;
  @extend .u-text-md-s;
  @extend .u-text-lg-m;
  @extend .u-textWeight-400;
}

.Headroom--fixed.Headroom--not-top .Header-toggleText,
.Headroom--fixed.Headroom--not-top .Header-titleLink small,
.Headroom--pinned.Headroom--not-top .Header-titleLink small {
  @extend .u-hidden;
}

.Headroom--fixed.Headroom--not-top .Header-navbar,
.Headroom--pinned.Headroom--not-top .Header-navbar {
  @extend .u-padding-top-xxs;
  @extend .u-padding-bottom-none;
  @media (--sm-viewport), (--md-viewport), (--lg-viewport) {
    @extend .u-padding-top-xxs;
    @extend .u-padding-bottom-xxs;
  }
}

.Headroom--fixed.Headroom--not-top .Header-logo img,
.Headroom--pinned.Headroom--not-top .Header-logo img {
  max-height: 3em;
  max-width: 3em;
}

.Headroom--fixed.Headroom--not-top .Header-search,
.Headroom--pinned.Headroom--not-top .Header-search {
  @extend .u-margin-bottom-xxs;
  @extend .u-padding-bottom-xxs;
}

.Headroom--unpinned {

  /* transform: translateY(-100%); */
}
