<footer class="Footer u-padding-all-s">

  <div class="u-cf">
    <img class="Footer-logo" src="http://placehold.it/75x80?text=placeholder" alt="">
    <p class="Footer-siteName">
      {{ site.name }}
    </p>
  </div>

  <div class="Grid Grid--withGutter">
    {% for i in [1, 2, 3, 4] %}
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    {% endfor %}

    {% for i in [1, 2] %}
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via Cherso 8<br>
          00177 Roma<br>
          Tel. (+39) 00.1310.1980
        </address>
      </div>
    </div>
    {% endfor %}

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Indirizzo PEC</h3>
        <p><a href="">indirizzo.pec@gov.it</a></p>
      </div>
    </div>

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Seguici su</h2>
      <div class="Footer-subBlock">
        <ul class="Footer-socialIcons">
          <li><a href=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
    </div>

  </div>

  <ul class="Footer-links u-cf">
    <li><a href="" title="Privacy policy">Privacy</a></li>
    <li><a href="" title="Note legali">Note legali</a></li>
    <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
  </ul>

</footer>
