<footer class="Footer u-background-95">

  <div class="Grid Grid--withGutter u-padding-top-xl">

    <div class="Grid-cell u-layout-centerLeft u-padding-r-bottom">
      <img class="Footer-logo u-xs-padding-right-none" src="{{ site.owner_logo | d('//placehold.it/75x80?text=placeholder') }}"
        alt="" style="height: 80px">
      <p class="Footer-siteName">
        {{ site.owner }}
      </p>
    </div>

    <div class="Grid-cell u-layout-centerRight u-padding-r-bottom u-flexAlignSelfEnd">
      <h3 class="u-md-flexInline u-lg-flexInline u-text-p u-color-white u-textWeight-400
        u-hidden u-margin-r-right u-flexAlignSelfCenter">Seguici su</h3>
      <ul class="Footer-socialIcons">
        <li><a href=""><span class="Icon Icon-facebook u-background-white"></span><span class="u-hiddenVisually">Facebook</span></a></li>
        <li><a href=""><span class="Icon Icon-twitter u-background-white"></span><span class="u-hiddenVisually">Twitter</span></a></li>
        <li><a href=""><span class="Icon Icon-youtube u-background-white"></span><span class="u-hiddenVisually">Youtube</span></a></li>
      </ul>
    </div>

  </div>

  <ul class="Footer-links u-cf u-color-80">
    <li><a href="" title="Privacy policy">Privacy</a></li>
    <li><a href="" title="Note legali">Note legali</a></li>
    <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
  </ul>

</footer>
