<div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    {{ __LONG_TEXTS__[0] }}
      <a href="#tooltip" class="Tooltip-toggle u-textClean u-padding-right-xs u-padding-left-xs
        u-background-teal-50 u-color-black" data-menu-trigger="tooltip">{{ __WORD__[0] }}</a>
      <span id="tooltip" data-menu class="Dropdown-menu u-borderShadow-m u-background-teal-70 u-color-white u-layout-prose
        u-padding-r-all u-borderRadius-l">
        <span class="Icon-drop-down Dropdown-arrow u-color-teal-70"></span>
        <span class="u-layout-prose u-text-r-xs">
          {{ __LONG_TEXTS__[1] }}
        </span>
      </span>
    {{ __TEXTS__[0] }}
  </p>
</div>
