<div class="u-content-length">
    <div class="u-content-timetoread">
    </div>
</div>

<div class="u-content">

    <div class="u-content-main-parent">
        <h1>Page Main Parent</h1>
    </div>

    <div class="u-content-treeview">
        <ul class="Linklist Linklist--padded Treeview Treeview--ez js-Treeview u-text-r-xs" role="tree">
            <li role="treeitem" aria-expanded="false" class="Treeview-parent">
                <a href="/">
                    <span class="Treeview-Item"> 
                        Livello 1
                    </span>
                    <span class="js-Treeview-handler Treeview-handler--standalone" aria-label="expand" role="button" tabindex="0"></span>
                </a>    
                <ul role="group" aria-hidden="true" style="display: none;">
                    <li role="treeitem" aria-expanded="false" class="Treeview-parent">
                        <a href="/">
                            <span class="Treeview-Item"> 
                                Livello 2
                            </span>
                            <span class="js-Treeview-handler Treeview-handler--standalone" aria-label="expand" role="button" tabindex="0"></span>
                        </a>    
                        <ul role="group" aria-hidden="true" style="display: none;">
                            <li role="treeitem">
                                <a href="/">
                                    <span class="Treeview-Item"> 
                                        Livello 3
                                    </span>
                                </a>        
                            </li>
                        </ul>        
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="u-content-main u-content-main-side">
        <div class="u-content-title">
            <h1>Page Title</h1>

            <div class="u-content-abstract">
                Page abstract
            </div>

            <div class="u-content-dates">
                Published on 02/16/2017
            </div>
        </div>

        <div class="Prose">
            <h4>Content Paragraph title</h4>
            <p>paragraph text</p>
            <h4>Content second Paragraph title</h4>
            <p>paragraph text</p>
        </div>

        <div class="u-margin-top-l tags">
            <div class="u-margin-bottom-xl">
                <h3 class="u-margin-bottom-xs">
                    <span class="u-color-text">
                        <i class="mdi mdi-tag-multiple"></i>
                        TAGS
                    </span>
                </h3>           
                <a href="/009debug/tags/view/Utenti/Docenti/Docenti+formazione+professionale">
                    Tag1
                </a>
                 -        
                <a href="/009debug/tags/view/Utenti/Genitori">
                    Tag2
                </a>
            </div>
        </div>
    </div>

    <div class="u-content-related">

        <div class="u-content-related-item">
            <h4>
                <span class="u-content-related-item-title">Related item title</span>
            </h4>

            <a href="#">link</a>

            <h5>
                Related item subtitle
            </h5>
            
            <div class="Prose">
                <ul>
                    <li>prose list item</li>
                </ul>
            </div>
        </div>

    </div>
</div>