<div class="u-content-length">
    <div class="u-content-timetoread">
    </div>
</div>

<div class="u-content">
    
    <div class="u-content-main u-content-main-side">
        <div class="u-content-title">
            <h1>Page Title</h1>

            <div class="u-content-abstract">
                Page abstract
            </div>

            <div class="u-content-dates">
                Published on 02/16/2017
            </div>
        </div>

        <div class="Prose">
            <h4>Content Paragraph title</h4>
            <p>paragraph text</p>
            <h4>Content second Paragraph title</h4>
            <p>paragraph text</p>
        </div>
    </div>

    <div class="u-content-related">

        <div class="u-content-related-item">
            <h4>
                <span class="u-content-related-item-title">Related item title</span>
            </h4>

            <a href="#">link</a>

            <h5>
                Related item subtitle
            </h5>
            
            <div class="Prose">
                <ul>
                    <li>prose list item</li>
                </ul>
            </div>
        </div>

    </div>
</div>