/* eZ-Publish full page */

.u-content-length {
  @extend .u-background-40;
  display: none;
  float: left;
  width: 0.6rem;
}

.u-content-length .u-content-timetoread {
  @extend .u-background-text;
  width: 0.6rem;
}

.u-content {
  @extend .u-margin-top-m;
  @extend .Grid;
  @extend .u-padding-bottom-xxxl;
  padding-left: 10rem;
  padding-right: 10rem;
}

.u-content .u-content-main {
  @extend .Grid-cell;
  @extend .u-padding-bottom-xxxl;
}

/* u-content-main-side  da aggiungere solo se c'è un content related */

.u-content .u-content-main-side {
  @extend .u-padding-right-xxxl;
  @extend .u-md-size2of3;
  @extend .u-lg-size2of3;
}

.u-content .u-content-main .u-content-title h1 {
  @extend .u-color-40;
  @extend .u-margin-bottom-m;
  font-size: 3.2rem !important;
}

.u-content .u-content-main .u-content-title .u-content-abstract {
  @extend .u-margin-bottom-s;
  font-size: 2rem !important;
  font-style: italic;
}

.u-content .u-content-main .u-content-title .u-content-dates {
  font-size: 1.8rem !important;
}

.u-content .u-content-main .Prose {
  @extend .u-margin-top-m;
}

.u-content .u-content-main h4 {
  @extend .u-color-40;
}

.u-content .u-content-related {
  @extend .Grid-cell;
  @extend .u-md-size1of3;
  @extend .u-lg-size1of3;
}

.u-content .u-content-related .u-content-related-item {
  @extend .u-margin-bottom-xl;
}

.u-content .u-content-related .u-content-related-item h4 {
  @extend .u-margin-bottom-m;
}

.u-content .u-content-related .u-content-related-item h4 .u-content-related-item-title {
  @extend .u-color-40;
  @extend .u-margin-left-s;
}

.u-content .u-content-related .u-content-related-item h5 {
  @extend .u-margin-top-l;
  @extend .u-margin-bottom-m;
}

.u-content .u-content-related .u-content-related-item .Prose ul {
  margin-left: 2rem !important;
}

.u-content .u-content-related .u-content-related-item .Prose > ul > li {
  @extend .u-color-40;
}

@media (max-width: 992px) {

  .u-content .u-content-related {
    @extend .u-padding-left-xxxl;
    @extend .u-padding-right-xxxl;
    @extend .u-padding-bottom-xxxl;
  }
}
