
<div class="u-facet">
    <div class="u-facet-title">
        <div class="Grid">
            <div class="u-facet-heading">
                <h1>Facet Search Page</h1>
            </div>
            <div class="u-facet-result-count">
                100 results found
            </div>
        </div>
    </div>

    <div class="u-facet-form">

        <form class="Form">
            <div class="Grid">
                <div class="u-facet-form-cell">
                    <div class="Form-field Form-field--withPlaceholder Grid" role="search">
                        <input class="Form-input Grid-cell u-sizeFill u-text-r-s u-border-none" 
                               required
                               id="search" 
                               name="search">

                        <label class="Form-label" for="search">Search...</label>
                        <button class="Grid-cell u-sizeFit u-background-60 u-color-white u-padding-all-s u-textWeight-700 mdi mdi-magnify mdi-18px" 
                                title="Start searching" aria-label="Start searching">
                        </button>
                    </div>
                </div>

                <div class="u-facet-form-cell">
                    <div class="Form-field Form-field--withPlaceholder Grid">
                    
                        <select class="Form-input Grid-cell u-sizeFill u-text-r-s u-border-none"
                               required
                               id="year" 
                               name="year">
                            <option>All years</option>
                            <option>2017</option>
                            <option>2016</option>
                        </select>

                        <label class="Form-label" for="year">All years</label>
                    </div>
                </div>

                <div class="u-facet-form-cell">
                    <div class="Form-field Form-field--withPlaceholder Grid">
                    
                        <input class="Form-input Grid-cell u-sizeFill u-text-r-s u-border-none" 
                               required
                               id="num" 
                               name="num"
                               type="number">

                        <label class="Form-label" for="num">Number...</label>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="u-facet-table">
        <table class="Table Table--striped" width="100%">
            <thead>
                <tr>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01/01/2017</td>
                </tr>
                <tr>
                    <td>01/01/2017</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="u-facet-pagination">

    </div>


</div>