/* eZ-Publish Datatable Facet Search */

.u-facet {
  @extend .u-margin-top-m;
  @extend .Grid;
  margin-bottom: -3.2rem;
}

.u-facet .u-facet-title {
  @extend .Grid-cell;
  padding-left: 10rem;
  padding-right: 10rem;
}

@media (--xs-viewport), (--sm-viewport) {

  .u-facet .u-facet-title {
    @extend .u-padding-left-xs;
    @extend .u-padding-right-xs;
  }

}

.u-facet .u-facet-title .u-facet-heading {
  @extend .Grid-cell;
  @extend .u-lg-size1of2;
  @extend .u-md-size1of2;
  @extend .u-sm-size1of2;
}

.u-facet .u-facet-title .u-facet-heading h1 {
  @extend .u-color-40;
  @extend .u-margin-bottom-m;
  font-size: 3.2rem !important;
}

.u-facet .u-facet-title .u-facet-result-count {
  @extend .Grid-cell;
  @extend .u-lg-size1of2;
  @extend .u-md-size1of2;
  @extend .u-sm-size1of2;
  @extend .u-textRight;
  @extend .u-padding-top-s;
}

.u-facet .u-facet-form {
  @extend .Grid-cell;
  @extend .u-background-grey-10;
  @extend .u-padding-top-xl;
  @extend .u-padding-bottom-xl;
  padding-left: 5rem;
  padding-right: 5rem;
}

.u-facet .u-facet-form .u-facet-form-cell {
  @extend .Grid-cell;
  @extend .u-sm-size1of2;
  @extend .u-md-size1of3;
  @extend .u-lg-size1of3;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

@media (--xs-viewport), (--sm-viewport) {

  .u-facet .u-facet-form .u-facet-form-cell {
    padding-left: 0;
    padding-right: 0;
  }

}

.u-facet .u-facet-form .u-facet-form-cell-wide {
  @extend .Grid-cell;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

.u-facet .u-facet-form .u-facet-form-cell-wide .viv_toggle_button {
  @extend .u-margin-right-s;
  cursor: pointer;
}

.u-facet .u-facet-form .u-facet-form-cell .Form-field {
  height: 6rem;
}

.u-facet .u-facet-form select.Form-input {
  background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cpath%20fill%3D%22%23029be5%22%20d%3D%22M3.733%206.133l-3.733%203.733%2016%2016%2016-16-3.733-3.733-12.267%2012.267-12.267-12.267z%22%3E%3C%2Fpath%3E%0D%0A%3C%2Fsvg%3E');
}

.u-facet .u-facet-form select option {
  @extend .u-background-grey-45;
  @extend .u-color-white;
  height: 6rem;
}

.u-facet .u-facet-form select option:hover {
  @extend .u-background-40;
}

.u-facet .u-facet-table {
  @extend .Grid-cell;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
}

@media (--xs-viewport), (--sm-viewport) {

  .u-facet .u-facet-table {
    @extend .u-padding-left-xs;
    @extend .u-padding-right-xs;
  }

}
