{% render '@cookiebar' %} {% render '@header', { isFixed: false, hideOnDesktop: true, menu: true, megamenu: true, clone: true, backgroundClass: 'u-background-50', site: {name: '/developers', subtitle: 'La community italiana di sviluppatori di servizi
pubblici', owner: 'Agid - Agenzia per l\'Italia Digitale'} }, true %} {% render '@offcanvas', { treeview: 'treeview--comuni', showOpenButton: false }, true %}

<!-- <div class="u-background-50 u-textCenter u-padding-all-xxl">
  <h3 class="u-text-r-l u-textWeight-300 u-color-white u-margin-top-l u-lineHeight-l">
    La community degli sviluppatori che progettano <br>
    e realizzano i servizi pubblici in Italia</h3>
</div> -->

<div class="u-background-50 u-textCenter u-padding-r-all u-textCenter">
  <h3 class="u-text-r-l u-textWeight-300 u-color-white u-margin-top-l u-lineHeight-l">
    Iscriviti alla Newsletter</h3>
  <form class="Form u-padding-r-top u-md-size6of12 u-lg-size4of12 u-layoutCenter">
    <div class="Form-field Form-field--withPlaceholder Grid u-background-white u-color-grey-30 u-borderRadius-s u-borderShadow-xxl">
      <button class="Grid-cell u-sizeFit Icon-mail u-color-grey-40 u-text-r-m u-padding-all-s u-textWeight-400">
        </button>
      <input class="Form-input Form-input--ultraLean Grid-cell u-sizeFill u-text-r-s u-color-black u-text-r-xs u-borderHideFocus " required id="newsletter" />
      <label class="Form-label u-color-grey-50 u-padding-left-xxl" for="cerca"><span class="u-hidden u-md-inline u-lg-inline">indirizzo</span>
          email</label>
      <button class="Grid-cell u-sizeFit u-background-teal-30 u-color-white u-textWeight-600 u-padding-r-left u-padding-r-right u-textUppercase u-borderRadius-s">
        iscriviti
      </button>
    </div>
  </form>
  <p class="u-text-r-xs u-padding-r-all u-color-white">Laboris ea incididunt id eiusmod consectetur ipsum fugiat laboris et voluptate ad.</p>
</div>

<section class="u-background-grey-15 u-layout-r-withGutter u-padding-r-top u-padding-r-bottom">
  <div class="u-layout-wide u-layoutCenter">
    <h2 class="u-text-r-l u-textWeight-300 u-color-50">Progetti in evidenza</h2>
  </div>
</section>
