{% render '@cookiebar' %}
{% render '@header', {isFixed: true}, true %}
{% render '@offcanvas', { showOpenButton: false }, true %}

<div id="main">
  {% render '@layout--section' %}
  {% render '@page--bottom' %}
</div>
