{% render '@page--top' %}

<div id="main">
  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
      {% render '@breadcrumb' %}
  </div>

  {% render '@layout--landing' %}

  {% render '@page--bottom' %}

</div>
