{% render '@page--top' %}

<div id="main" role="main">

    <div class="Grid">
        <div class="Grid-cell Grid-cell--center u-size10of12 u-sm-size8of12 u-md-size5of12 u-lg-size4of12">
            {% render '@errorpage--403' %}
        </div>
    </div>

    {% render '@page--bottom' %}
</div>