{% render '@header', { menu: true, megamenu: false, isFixed: true }, true %}
{% render '@offcanvas', { showOpenButton: false }, true %}

<div id="main">
  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
      {% render '@breadcrumb' %}
  </div>

  {% render '@layout--landing' %}

  <div class="u-background-grey-80">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
    {% render '@footer' %}
    </div>
  </div>

  {% render '@scrolltop' %}
  {% render '@cookiebar' %}

</div>
