{% render '@header', {isFixed: true}, true %}
{% render '@offcanvas', { showOpenButton: false }, true %}

<div id="main">
  {% render '@layout--section' %}

  <div class="u-background-grey-80">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
    {% render '@footer' %}
    </div>
  </div>

  {% render '@scrolltop' %}
  {% render '@cookiebar' %}

</div>
