{% render '@cookiebar' %}
{% render '@header', { menu: true, megamenu: true, clone: true, site: {logo: 'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRrzMrVKqtCMZtaiHO0g43UzWSqa_PjLchmfB9N26HOs59xihV0XQ', name: 'Comune di Riomaggiore', subtitle: '', owner: 'Regione Liguria'} }, true %}

<div id="main">

  <div class="u-layout-wide u-layoutCenter u-text-r-xl u-layout-r-withGutter u-padding-r-top">

    <ul class="Grid Grid--withGutter">
      <li id="ambiente" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em">Ambiente</span>
        <ul>
          <li><a href="#">Avere un animale</a></li>
          <li><a href="#">Fare la raccolta differenziata</a></li>
          <li><a href="#">Fare sport</a></li>
          <li><a href="#">Forme di mobilità alternativa</a></li>
          <li><a href="#">Vivere la natura</a></li>
        </ul>
      </li>

      <li  id="casa" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em">Casa</span>
        <ul>
          <li><a href="#">Acquistare casa</a></li>
          <li><a href="#">Affittare/prendere in affitto casa</a></li>
          <li><a href="#">Cambiare casa</a></li>
          <li><a href="#">Costruire ristrutturare casa</a></li>
        </ul>
      </li>

      <li id="certificati" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Certificati e documenti</span>
        <ul>
          <li><a href="#">Anagrafico e di stato civile</a></li>
          <li><a href="#">Edilizio e urbanistico</a></li>
        </ul>
      </li>

      <li id="cultura" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Cultura e tempo libero</span>
        <ul>
          <li><a href="#">Biblioteche e archivio storico</a></li>
          <li><a href="#">Eventi culturali</a></li>
          <li><a href="#">Fare sport</a></li>
        </ul>
      </li>

      <li id="denunce" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Denunce</span>
        <ul>
          <li><a href="#">Denunce civili e penali</a></li>
          <li><a href="#">Pagare o ricorrere contro sanzioni</a></li>
        </ul>
      </li>

      <li id="elezioni" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Elezioni</span>
        <ul>
          <li><a href="#">Informazioni sulle consultazioni elettorali</a></li>
        </ul>
      </li>

      <li id="famiglia" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Famiglia</span>
        <ul>
          <li><a href="#">Adozione</a></li>
          <li><a href="#">Aiuto e sostegno familiare</a></li>
          <li><a href="#">Associazioni che si occupano di famiglia</a></li>
          <li><a href="#">Matrimonio</a></li>
          <li><a href="#">Avere un figlio</a></li>
          <li><a href="#">Adozione</a></li>
          <li><a href="#">Prima infanzia</a></li>
        </ul>
      </li>

      <li id="imprese" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Imprese</span>
        <ul>
          <li><a href="#">Aprire un'attività</a></li>
          <li><a href="#">Cessare un'attività</a></li>
        </ul>
      </li>

      <li id="innovazione" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Innovazione e smart city</span>
        <ul>
          <li><a href="#">SPID</a></li>
          <li><a href="#">Pagamenti elettronici</a></li>
          <li><a href="#">Anagrafe unica popolazione residente</a></li>
        </ul>
      </li>

      <li id="lavoro" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Lavoro</span>
        <ul>
          <li><a href="#">Cercare lavoro</a></li>
          <li><a href="#">Svolgere commercio fisso o ambulante</a></li>
        </ul>
      </li>

      <li id="salute" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Salute</span>
        <ul>
          <li><a href="#">Assistenza medica</a></li>
          <li><a href="#">Assistenza sociale</a></li>
        </ul>
      </li>

      <li id="studio" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Studio</span>
        <ul>
          <li><a href="#">Scuole elementari e d'infanzia</a></li>
        </ul>
      </li>

      <li id="tasse" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Tasse</span>
        <ul>
          <li><a href="#">Imposta sugli immobili</a></li>
          <li><a href="#">Tariffe, imposte e canoni comunali</a></li>
        </ul>
      </li>

      <li id="trasporti" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Trasporti</span>
        <ul>
          <li><a href="#">Forme di mobilità alternativa</a></li>
          <li><a href="#">Utilizzo dell'automobile</a></li>
          <li><a href="#">Utilizzo di motocicli</a></li>
        </ul>
      </li>

      <li id="uffici" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Uffici comunali</span>
        <ul>
          <li><a href="#">Informazioni di contatto</a></li>
          <li><a href="#">orari di apertura al pubblico</a></li>
          <li><a href="#">competenze e altro ancora relativi agli uffici comunali</a></li>
        </ul>
      </li>

      <li id="volontariato" class="Grid-cell u-padding-r-bottom u-padding-r-top  Linklist Treeview u-md-size1of3 u-lg-size1of3"><span class="u-text-h3 u-color-black" style="line-height: 3em" >Volontariato</span>
        <ul>
          <li><a href="#">Cittadinanza attiva</a></li>
          <li><a href="#">Fare il volontario</a></li>
          <li><a href="#">Organizzare un evento</a></li>
          <li><a href="#">Servizio civile</a></li>
        </ul>
    </ul>

  </div>

  <div class="u-background-compl u-padding-all-xl u-layoutCenter u-layout-r-withGutter">
    <p class="u-textCenter u-margin-top-m u-margin-bottom-m">
      <a href="#" class="u-color-95 u-textClean u-text-h3">
        <span class="u-padding-r-right Icon Icon-comment">
          </span> Valuta questo sito
      </a>
    </p>
  </div>

  <div class="u-background-grey-80">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">

      <footer class="Footer u-padding-all-s">

        <div class="u-cf">
          <img class="Footer-logo" src="//placehold.it/75x80?text=placeholder" alt="">
          <p class="Footer-siteName">
            Comune di Riomaggiore
          </p>
        </div>

        <div class="Grid Grid--withGutter">

          <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
            <h2 class="Footer-blockTitle">Contatti</h2>
            <div class="Footer-subBlock">
              <h3 class="Footer-subTitle">Recapiti</h3>
              <address>
                Via Roma 1<br>
                00100 Roma<br>
                Tel. (+39) 00.000.0000
              </address>
            </div>
          </div>

          <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
            <h2 class="Footer-blockTitle"> <span class="u-hiddenVisually">Email</span> &nbsp;</h2>
            <div class="Footer-subBlock">
              <h3 class="Footer-subTitle">Indirizzo PEC</h3>
              <a href="mailto:pec@pec.gov.it">pec@pec.gov.it</a>
            </div>
          </div>

          <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
            <h2 class="Footer-blockTitle">Trasparenza</h2>
            <ul>
              <li><a href="">Amministrazione trasparente</a></li>
              <li><a href="">Accesso civico</a></li>
              <li><a href="">Albo pretorio</a></li>
              <li><a href="">Bandi di gara e contratti</a></li>
            </ul>
          </div>

          <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
            <h2 class="Footer-blockTitle">Seguici su</h2>
            <div class="Footer-subBlock">
              <ul class="Footer-socialIcons">
                <li><a href=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
                <li><a href=""><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
                <li><a href=""><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
              </ul>
            </div>
          </div>
        </div>


        <div class="Footer-links u-cf">
          <ul>
            <li><a href="#1">Arabic عربي</a></li>
            <li><a href="#2">Chinese 中文网</a></li>
            <li><a href="#3">Deutsch</a></li>
            <li><a href="#4">French</a></li>
            <li><a href="#5">Japanese 日本語</a></li>
            <li><a href="#6">Portuguese</a></li>
            <li><a href="#7">Russian НА РУССКОМ</a></li>
            <li><a href="#8">Spanish</a></li>
            <li><a href="#9">Turkish TÜRKÇE</a></li>
            <li><a href="#10">Ukrainian УКРАЇНСЬКA</a></li>
          </ul>
          <br>
          <ul>
            <li><a href="" title="Privacy policy">Privacy</a></li>
            <li><a href="" title="Note legali">Note legali</a></li>
            <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
            <li><a href="" title="Dati monitoraggio sito">Valuta questo sito</a></li>
            <li><a href="" title="Dati monitoraggio sito">Mappa del sito sito</a></li>
          </ul>
        </div>

      </footer>

    </div>
  </div>
  <script>
    jQuery(function(){
      if (window.location.hash && window.location.hash.length > 0){
        jQuery('li.Grid-cell').hide();
        jQuery(window.location.hash).show();
      }
    });
  </script>

  {% render '@scrolltop' %}

</div>
