{% render '@cookiebar' %}
{% render '@header', { menu: true, megamenu: true, clone: true, isFixed: true, isMenuFixed: true }, true %}
{% render '@offcanvas', { showOpenButton: false }, true %}
{% render '@page--content' %}
