{% render '@cookiebar' %}

{% render '@header', { hideOnDesktop: true, menu: true, megamenu: true, clone: true, site:
  {name: 'Nome del comune', subtitle: '', owner: 'Nome Regione'} }, true %}

{% render '@offcanvas', { treeview: 'treeview--comuni', showOpenButton: false }, true %}

<div id="main">

  {% render '@hero--news' %}

  <div class="u-layout-wide u-layoutCenter u-text-r-xl u-layout-r-withGutter u-padding-r-top">

    <div class="Grid Grid--equalHeight" id="servizi">

      <!-- <div class="Grid-cell u-sizeFull u-padding-r-bottom">
        <h2 class="u-text-h2"><a class="u-color-black u-textClean u-text-h2" href="">In evidenza</a></h2>
      </div> -->

      <div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3">
        <div class="u-sizeFull u-color-70 u-text-r-s u-padding-r-left u-padding-r-right">
          <h3 class="u-padding-bottom-s u-border-bottom-m">
            <a href="#" class="u-block u-text-h3 u-color-60 u-textClean">Servizi
            <!-- <span class="u-text-r-s Icon Icon-chevron-right"></span> -->
            </a></h3>
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">Modulistica</a></li>
              <li><a href="">SUAP</a></li>
              <li><a href="">Iscrizioni scolastiche</a></li>
              <li><a href="">Tributi e sanzioni</a></li>
              <li><a href="page--servizi" class="u-color-50 u-textClean">
                  tutti i servizi <span class="Icon Icon-chevron-right"></span></a></li>
            </ul>
        </div>
      </div>

      <div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3">
        <div class="u-sizeFull u-color-compl-80 u-text-r-s u-padding-r-left u-padding-r-right">
          <h3 class="u-padding-bottom-s u-border-bottom-m">
            <a href="#" class="u-block u-text-h3 u-color-compl-80 u-textClean">L'Amministrazione
            <!-- <span class="u-text-r-s Icon Icon-chevron-right"></span> -->
            </a></h3>
            <ul class="Linklist Prose">
              <li><a href=""><span class="u-text-r-xs u-color-compl-80">Bandi aperti</span></a></li>
              <li><a href=""><span class="u-text-r-xs u-color-compl-80">Avvisi</span></a></li>
              <li><a href=""><span class="u-text-r-xs u-color-compl-80">Ordinanze</span></a></li>
              <li><a href=""><span class="u-text-r-xs u-color-compl-80">Scadenze</span></a></li>
              <li><a href="#" class="u-textClean "><span class="u-color-compl-80 u-text-p">
                  tutto dall'Amministrazione <span class="u-color-compl-80 Icon Icon-chevron-right"></span></span></a></li>
            </ul>
        </div>
      </div>

      <div class="Grid-cell  u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3">
        <div class="u-sizeFull u-color-70 u-text-r-s u-padding-r-left u-padding-r-right">
          <h3 class="u-border-bottom-m u-padding-bottom-s">
            <a href="#" class="u-block u-text-h3 u-color-60 u-textClean">Vivere il comune
              <!-- <span class="u-text-r-s Icon Icon-chevron-right"></span> -->
            </a></h3>
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="#">La storia di Riomaggiore</a></li>
              <li><a href="#">Galleria fotografica</a></li>
              <li><a href="#">Luoghi di interesse</a></li>
              <li><a href="#">Come raggiungerci</a></li>
              <li><a href="#" class="u-color-50 u-textClean">
                  altro in Vivere il comune <span class="Icon Icon-chevron-right"></span></a></li>
            </ul>
        </div>
      </div>

    </div>

    <div class="Grid Grid--withGutter u-padding-r-top u-padding-r-bottom u-text-r-s">
      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
        <div class="Entrypoint-item u-sizeFill u-background-compl-80">
          <p><a class="u-textClean u-text-h3 u-color-white" href="">Amministrazione trasparente</a></p>
        </div>
      </div>
      <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
        <div class="Entrypoint-item u-background-compl-80">
          <p><a class="u-textClean u-text-h3 u-color-white" href="">Albo pretorio</a></p>
        </div>
        <div class="Entrypoint-item u-background-compl-80">
          <p><a class="u-textClean u-text-h4 u-color-white" href="">Accesso civico</a></p>
        </div>
      </div>
      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
        <div class="Entrypoint-item u-sizeFill u-background-compl-80">
          <p><a class="u-textClean u-text-h3 u-color-white" href="">Ufficio Relazioni con il Pubblico</a></p>
        </div>
      </div>
    </div>

    <a href="#news" class="Forward Forward--floating js-scrollTo is-clean u-color-compl-80" aria-hidden="true">
      <span class="Icon Icon-expand"></span>
    </a>

  </div>

  <div class=" u-background-compl-10 u-layout-centerContent">

    <section class="Grid Grid--withGutter u-layout-medium u-text-r-xl">

      <div class="Grid-cell u-sizeFull u-padding-r-bottom u-padding-r-top">
        <h2 id="news" class="u-text-r-l"><a class="u-color-50 u-textClean" href="">Notizie</a></h2>
      </div>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
        <div class="Card Card--shadow Card--round u-margin-r-all u-text-r-xxs u-background-white u-flexAlignSelfStretch">
          <div class="Card-image">
            <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" />
          </div>
          <div class="Card-content">
            <p class="Card-extra"><a class="Card-extraLink u-color-60" href="">{{ __WORDS__[1] }}</a></p>
            <p class="Card-title"><a class="Card-titleLink u-color-60" href="">{{ __SHORT_TEXTS__[3] }}</a></p>
            <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
            <p class="Card-text">{{ __TEXTS__[1] }}</p>
          </div>
        </div>
      </div>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
        <div class="Card Card--shadow Card--round u-margin-r-all u-text-r-xxs u-background-white u-flexAlignSelfStretch">
          <div class="Card-image">
            <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" />
          </div>
          <div class="Card-content">
            <p class="Card-extra"><a class="Card-extraLink u-color-60" href="">{{ __WORDS__[1] }}</a></p>
            <p class="Card-title"><a class="Card-titleLink u-color-60" href="">{{ __SHORT_TEXTS__[3] }}</a></p>
            <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
            <p class="Card-text">{{ __TEXTS__[2] }}</p>
          </div>
        </div>
      </div>

      <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
        <div class="Card Card--shadow Card--round u-margin-r-all u-text-r-xxs u-background-white u-flexAlignSelfStretch">
          <div class="Card-image">
            <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" />
          </div>
          <div class="Card-content">
            <p class="Card-extra"><a class="Card-extraLink u-color-60" href="">{{ __WORDS__[1] }}</a></p>
            <p class="Card-title"><a class="Card-titleLink u-color-60" href="">{{ __SHORT_TEXTS__[3] }}</a></p>
            <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
            <p class="Card-text">{{ __TEXTS__[3] }}</p>
          </div>
        </div>
      </div>

      <div class="Grid-cell u-layout-centerLeft u-text-r-xl u-padding-r-top">
      </div>
      <p class="Grid-cell u-layout-centerRight">
        <a href="#" class="u-color-50 u-textClean u-text-h4">
            tutte le notizie <span class="Icon Icon-chevron-right"></a>
      </p>

      <a href="#utilita" class="Forward Forward--floating js-scrollTo is-clean" aria-hidden="true">
        <span class="Icon Icon-expand u-color-grey-40"></span>
      </a>

    </section>
  </div>

  <div class="u-background-white u-color-black u-text-xxl u-padding-r-top u-padding-r-bottom">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter" id="utilita">
      {% render '@leads', {title: 'Utilità', leads: ['Open data', 'Intranet']} %}
    </div>
  </div>

  <div class="u-background-compl u-padding-all-xl u-layoutCenter u-layout-r-withGutter">
    <p class="u-textCenter u-margin-top-m u-margin-bottom-m">
      <a href="#" class="u-color-95 u-textClean u-text-h3">
        <span class="u-padding-r-right Icon Icon-comment">
          </span> Valuta questo sito
      </a>
    </p>
  </div>

  <div class="u-background-grey-80">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">

      <footer class="Footer u-padding-all-s">

        <div class="u-cf">
          <img class="Footer-logo" src="//placehold.it/75x80?text=placeholder" alt="">
          <p class="Footer-siteName">
            Comune di Riomaggiore
          </p>
        </div>

        <div class="Grid Grid--withGutter">

          <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
            <h2 class="Footer-blockTitle">Contatti</h2>
            <div class="Footer-subBlock">
              <h3 class="Footer-subTitle">Recapiti</h3>
              <address>
                Via Roma 1<br>
                00100 Roma<br>
                Tel. (+39) 00.000.0000
              </address>
            </div>
          </div>

          <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
            <h2 class="Footer-blockTitle"> <span class="u-hiddenVisually">Email</span> &nbsp;</h2>
            <div class="Footer-subBlock">
              <h3 class="Footer-subTitle">Indirizzo PEC</h3>
              <a href="mailto:pec@pec.gov.it">pec@pec.gov.it</a>
            </div>
          </div>

          <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
            <h2 class="Footer-blockTitle">Trasparenza</h2>
            <ul>
              <li><a href="">Amministrazione trasparente</a></li>
              <li><a href="">Accesso civico</a></li>
              <li><a href="">Albo pretorio</a></li>
              <li><a href="">Bandi di gara e contratti</a></li>
            </ul>
          </div>

          <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
            <h2 class="Footer-blockTitle">Seguici su</h2>
            <div class="Footer-subBlock">
              <ul class="Footer-socialIcons">
                <li><a href=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
                <li><a href=""><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
                <li><a href=""><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
              </ul>
            </div>
          </div>
        </div>


        <div class="Footer-links u-cf">
          <ul>
            <li><a href="#1">Arabic عربي</a></li>
            <li><a href="#2">Chinese 中文网</a></li>
            <li><a href="#3">Deutsch</a></li>
            <li><a href="#4">French</a></li>
            <li><a href="#5">Japanese 日本語</a></li>
            <li><a href="#6">Portuguese</a></li>
            <li><a href="#7">Russian НА РУССКОМ</a></li>
            <li><a href="#8">Spanish</a></li>
            <li><a href="#9">Turkish TÜRKÇE</a></li>
            <li><a href="#10">Ukrainian УКРАЇНСЬКA</a></li>
          </ul>
          <br>
          <ul>
            <li><a href="" title="Privacy policy">Privacy</a></li>
            <li><a href="" title="Note legali">Note legali</a></li>
            <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
            <li><a href="" title="Dati monitoraggio sito">Valuta questo sito</a></li>
            <li><a href="" title="Dati monitoraggio sito">Mappa del sito</a></li>
          </ul>
        </div>

      </footer>

    </div>
  </div>

  {% render '@scrolltop' %}

</div>
