{% render '@cookiebar' %}
{% render '@header', {isFixed: true}, true %}
{% render '@offcanvas', { showOpenButton: false }, true %}

<main role="main" id="main">
  {% render '@layout--servizio' %}
  {% render '@page--bottom' %}
</main>
