

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/vendor.css">
  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <div class="Accordion fr-accordion js-fr-accordion" id="accordion-1">

	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-0" >
		<span class="Accordion-link u-text-r-s">Tenetur qui sed.</span>
	</h2>
	<div id="accordion-panel-0" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Et rerum dolores. Sed perferendis fugiat provident voluptates dignissimos velit distinctio aperiam occaecati. Sit enim voluptates modi. Repellat nam quo id ex aspernatur. Modi et autem.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-1" >
		<span class="Accordion-link u-text-r-s">Facere voluptatibus neque enim alias nobis ullam ut quisquam.</span>
	</h2>
	<div id="accordion-panel-1" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Est ut fugit sunt. Explicabo quisquam iusto eligendi ut. Et cumque voluptas aut quibusdam ad adipisci.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-2" >
		<span class="Accordion-link u-text-r-s">Accusamus totam quos natus quam minima tempora odit et quisquam.</span>
	</h2>
	<div id="accordion-panel-2" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Deleniti aliquam ipsam eligendi ut eligendi. Voluptatibus quo est aspernatur. Et quas eum corporis incidunt aliquam. Odio eos sed vel.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-3" >
		<span class="Accordion-link u-text-r-s">Unde non praesentium.</span>
	</h2>
	<div id="accordion-panel-3" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Ut aut amet alias aut. Accusamus fugit commodi. Suscipit omnis ullam. Est fugit ut et distinctio voluptatem sint vitae expedita soluta. Quisquam architecto laborum.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-4" >
		<span class="Accordion-link u-text-r-s">Soluta eum quisquam quisquam dolorem sapiente eligendi voluptate.</span>
	</h2>
	<div id="accordion-panel-4" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Quo voluptate vitae id explicabo totam nam est. In vitae enim nesciunt quae autem praesentium laudantium ut. Porro quasi sint. Deserunt voluptatem itaque harum molestiae voluptas rerum maxime magnam earum.</p>

	</div>
	

</div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

