

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  <div class="Accordion fr-accordion js-fr-accordion" id="accordion-1">

	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-0" >
		<span class="Accordion-link u-text-r-s">Veniam consequatur fugit quos dicta velit quia libero.</span>
	</h2>
	<div id="accordion-panel-0" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Ut voluptatem corrupti est fuga amet asperiores omnis corrupti est. Quis eum dolores cumque dolorum laudantium nostrum et rerum voluptatem. Dolor est vel qui eaque et.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-1" >
		<span class="Accordion-link u-text-r-s">Culpa sapiente repellat ut.</span>
	</h2>
	<div id="accordion-panel-1" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Saepe recusandae sunt vel nemo. Quis ullam quo excepturi consequatur deleniti. Dolor optio est. Fuga accusamus beatae. Est eligendi provident.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-2" >
		<span class="Accordion-link u-text-r-s">Aut quis aperiam vero sed sint veritatis suscipit.</span>
	</h2>
	<div id="accordion-panel-2" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Sit voluptas sit aspernatur quia ut ut. Ab voluptatem corrupti debitis optio velit. Maxime ea corrupti accusamus fuga rem consequuntur minima. Nemo inventore fuga mollitia doloribus porro perspiciatis consequuntur et. Labore minima itaque dolorem ipsam amet aut tempora vitae minima. Cupiditate vel eum illum quas.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-3" >
		<span class="Accordion-link u-text-r-s">Maiores voluptatem alias incidunt corrupti.</span>
	</h2>
	<div id="accordion-panel-3" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Non aut excepturi alias soluta sit inventore. Velit magni repudiandae rerum voluptatem soluta. Autem aliquid quisquam. Distinctio voluptate dolores inventore architecto totam dicta. Sed cumque ratione quibusdam sed quod explicabo. Quia laboriosam et cum cumque omnis tempora fuga.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-4" >
		<span class="Accordion-link u-text-r-s">Sunt quia occaecati sunt qui nobis minima minus officia qui.</span>
	</h2>
	<div id="accordion-panel-4" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Dolores natus sed nihil ea illo occaecati. Qui quia illum delectus magni rem earum qui. Aspernatur aspernatur officiis aut est necessitatibus.</p>

	</div>
	

</div>


  <script src="/build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="/build/vendor/respond.min.js"></script>
  <script src="/build/vendor/rem.min.js"></script>
  <script src="/build/vendor/selectivizr.js"></script>
  <script src="/build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="/build/IWT.js"></script>

</body>
</html>

