

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

   
<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-top-xxs u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-top-xxs
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-top-m u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-top-m
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-top-l u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-top-l
    </h2>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-right-xxs u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-right-xxs
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-right-m u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-right-m
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-right-l u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-right-l
    </h2>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-bottom-xxs u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-bottom-xxs
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-bottom-m u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-bottom-m
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-bottom-l u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-bottom-l
    </h2>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-left-xxs u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-left-xxs
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-left-m u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-left-m
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-left-l u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-left-l
    </h2>
  </div>
</div>
  
<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-all-xxs u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-all-xxs
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-all-m u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-all-m
    </h2>
  </div>
</div>

<div class="u-border-all-xxs u-color-grey-80 u-size1of3 u-padding-all-l">
  <div class="u-border-all-l u-color-teal u-padding-all-l">
    <h2 class="u-text-h5">
      u-border-all-l
    </h2>
  </div>
</div>
 


  <script src="/build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="/build/vendor/respond.min.js"></script>
  <script src="/build/vendor/rem.min.js"></script>
  <script src="/build/vendor/selectivizr.js"></script>
  <script src="/build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="/build/IWT.js"></script>

</body>
</html>

