

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/vendor.css">
  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <ol class="Prose Bullets">
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Harum magnam in natus incidunt quo quia impedit ut quia.</h2>
      <p>Magni quo dignissimos repudiandae esse est earum minima excepturi similique. Quas minima doloremque et earum maiores. Illum provident vero est magni voluptatum laudantium.
 Expedita est omnis explicabo. Rerum placeat dolorum sit et ex ut quod officiis. Velit occaecati ducimus aut ab excepturi illo et voluptatum.
 Sequi atque ratione animi temporibus ut. Aut et velit aut nihil sunt odit et. Blanditiis corporis labore reiciendis nam suscipit et quas incidunt unde. Dolorem earum ipsa sunt minima et consequatur voluptatem. Nobis natus omnis deserunt magni sint sunt et dolorem dolores.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Optio facilis nam voluptatem et quae.</h2>
      <p>Quia sed sint dolorum in in. Officia sunt quos velit. Beatae et dolorem a expedita officiis neque culpa sequi et. Reiciendis vitae enim quis.
 Ut est eaque quisquam sunt inventore tenetur et dolores. Dicta eaque velit dolore ipsa aut reiciendis maiores vitae ea. Voluptatibus repellendus aut magnam. Rem unde placeat et officiis aut consequuntur. Et porro quibusdam in voluptatem voluptatibus sapiente. Voluptatibus dolore nesciunt.
 Aspernatur quia sint cupiditate sit magni molestiae provident expedita. Aut nihil voluptatum accusamus voluptas dicta dolore quia. Facilis incidunt nihil sit sit nihil aut a. Repellat ipsa illo nemo et harum molestias amet voluptas. Odio et quos quis commodi laudantium fugit ut. Culpa sunt voluptatem optio delectus voluptas nesciunt voluptatibus provident veritatis.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Sit libero accusamus repellat similique expedita.</h2>
      <p>Vel totam iste provident et vel tempore necessitatibus. Nemo ratione excepturi dignissimos laborum ut distinctio officiis. Nemo officia repellat qui ipsam quibusdam nam. Accusamus nesciunt enim qui.
 Est et doloribus. Culpa rerum et. Quaerat sit ipsa aspernatur id ut minima. Minus qui excepturi voluptatibus quas autem ratione occaecati consequatur deleniti. Est accusantium sunt eaque.
 Temporibus est id illum in quisquam. Neque sit reprehenderit voluptatem itaque unde deleniti et magni porro. Quia recusandae sit reprehenderit omnis explicabo nobis.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Non expedita consequatur dicta delectus eveniet vel ut.</h2>
      <p>Ipsa tempore sunt sunt. Eveniet deserunt et et quasi magni quia at. Consequatur architecto corrupti quasi aliquid.
 Libero vel quod. Eligendi id harum. Reprehenderit magni alias sed saepe inventore. Asperiores veniam doloremque quis dignissimos nostrum ab a fugiat non. Voluptates sunt id dicta debitis.
 Aliquid fugiat voluptatem et. Sunt repudiandae autem hic enim. Aut dolor et quis dolores. Rerum et enim et suscipit. Quas vitae quo aut consequatur porro est rerum rerum. Eligendi harum fugit neque exercitationem eligendi est quo aspernatur sunt.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Unde aut sit architecto iste.</h2>
      <p>Consectetur aut qui. Facilis saepe ea reprehenderit. At sunt sed. Maiores in consequuntur consequuntur iste velit. Illum quas voluptas voluptas et. Labore a sit placeat molestias.
 Ut fugiat molestiae nisi. Et voluptatum dolores tempora enim dolores occaecati ut. Facere quis veritatis dolores et omnis. Nobis esse impedit soluta corrupti magni explicabo. Sed qui officia consequatur accusamus sit. Necessitatibus hic quas omnis ut similique iste.
 Libero aut a sed eaque ut exercitationem veniam error. Nostrum ullam et cupiditate dolorum eum. Facere est dicta omnis aperiam. Neque fuga sit autem vel ratione pariatur iste qui ut. At laborum est consectetur nisi architecto saepe.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Natus est ut quia omnis ut iusto harum et.</h2>
      <p>Alias veniam corrupti autem accusantium fugiat et fugiat. Magni dolorem eum ex quia. Amet rerum rerum provident voluptatem ea optio omnis voluptas. Repellendus ducimus iste voluptatem. Quia alias aut labore qui. Repellendus quas cupiditate.
 Est enim voluptatum ut rerum voluptatem est et. Non ea iusto eos quia. Ut ut ea consequatur. Error molestias laudantium unde laudantium at consequatur illum eum.
 Placeat accusamus odio sint praesentium. Repudiandae hic consequatur amet. Quia tenetur explicabo aliquam recusandae labore eligendi. Harum omnis possimus eum harum cumque blanditiis doloribus accusamus. Voluptatem alias ut ab qui. Sit qui tempore expedita quisquam at quia quo at suscipit.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Quis temporibus inventore voluptatem et explicabo non.</h2>
      <p>Est soluta pariatur. Assumenda omnis nemo velit possimus nostrum et corrupti autem soluta. Sit ut ut qui assumenda dolorem quaerat accusantium. Eum et sequi. Dolores molestias repellendus veritatis ut et.
 Libero ex doloremque reprehenderit magni. Cum sunt porro commodi. Veritatis nam aspernatur facere et non quia ex aut labore. Modi vel nobis aut consequatur. Saepe ut nihil autem praesentium autem esse vel.
 Qui tenetur et repellat placeat mollitia voluptatem. Dignissimos velit eos maiores. Officiis eos animi distinctio recusandae aut blanditiis quibusdam ipsum.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Eum nulla magni dolorem aut tempora sit atque.</h2>
      <p>Aperiam ut dignissimos nobis commodi hic eveniet nam. Doloremque hic autem ut deserunt numquam facilis laudantium doloremque occaecati. Possimus voluptatibus id debitis qui deserunt ut ut dicta. Voluptas dolores ut laborum aut quas. Cum impedit officiis et. Explicabo eum cupiditate sint ut rerum quis.
 Exercitationem reprehenderit expedita ipsam omnis id inventore maiores enim deleniti. Et omnis autem quae in eaque. Maiores at nihil non numquam. Cumque quaerat voluptas sit vel. Ut maiores vero quod nihil nemo. Quidem non sed est nemo non laborum voluptatem aliquid.
 Nihil tenetur dicta qui et voluptas veritatis. Est deleniti cupiditate voluptas. Tenetur corporis omnis cumque et distinctio eveniet ea tenetur quisquam. Quo ullam aut. Delectus eligendi voluptas perferendis illo ad minus ab deleniti. Similique quas aut.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Atque accusamus sed commodi quo non.</h2>
      <p>Praesentium molestiae placeat. Atque vel tempora eligendi. Voluptas eos molestiae at id ab id magnam. Architecto in aperiam incidunt ut ad numquam fugit rerum quia. Autem placeat in porro dolorum.
 Et voluptas velit est odio. Quia reprehenderit perspiciatis necessitatibus quia iure corrupti reprehenderit. Cupiditate corporis modi optio dolore qui voluptatem et. Rerum inventore doloremque aspernatur aut rem sit soluta. Placeat error rerum laboriosam dicta.
 Nobis culpa quidem rerum voluptatibus. Nulla deleniti dignissimos iure molestiae. Consequatur quis quas ad ipsum rem eum doloribus a et. Nisi laudantium iste nobis est rem dignissimos quaerat. Quo neque quia nisi placeat. Et atque voluptas et et.</p>
    </div>
  </li>
  
</ol>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

