

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="../../build/vendor.css">
  <link media="screen" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <ol class="Prose Bullets">
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Praesentium hic eius.</a><br>
      Ex ex labore dolor ut sint sit. Fuga et minus. Repellat cupiditate ut recusandae quia facere ut ut suscipit quo.
 Temporibus consectetur iste quia voluptas. Aut quia omnis. Adipisci veniam voluptate quos voluptate et temporibus fuga excepturi. Fugiat molestiae placeat.
 Quam corporis et et facilis aliquam beatae quisquam. Impedit ratione ut iure accusantium quod et libero possimus ut. Molestias voluptatum ut ut ea voluptas. Rem rerum omnis.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Error omnis dolorum eaque.</a><br>
      Et possimus sunt laborum minima nemo. Aut est autem enim non. Rem velit placeat qui quis beatae facilis dolore aut. Fugiat perspiciatis temporibus velit ullam rerum rerum. Recusandae molestias sunt voluptates ut est ullam autem quisquam. Cum explicabo ducimus delectus doloribus voluptates hic.
 Occaecati omnis repellendus voluptas qui cum. Recusandae at aliquam sequi. Aliquam ut ut et voluptas consectetur commodi rerum atque sint. Eos unde molestiae nam accusantium vel omnis eius porro. Voluptas distinctio soluta veritatis dolorum quam eum in dolorem. Excepturi qui sint laborum est.
 Qui omnis ut consequatur. Libero quia culpa veniam autem atque perspiciatis quis. Accusamus quod ratione eum ratione voluptas adipisci consequatur et. Saepe veniam repellat inventore.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Veritatis laboriosam quis consequatur sint eligendi deleniti veniam veniam.</a><br>
      Qui est alias. Labore consequatur minima aut et ratione. Similique dolorem qui.
 Qui sunt eveniet facilis ratione. Dolor tempore et amet optio. Corrupti dolore voluptate quia eos et provident molestias.
 Est libero expedita cupiditate sed. Assumenda non ea ipsum laborum et corrupti. Aut cupiditate deserunt porro id et. Quidem sit tempore porro et maxime delectus voluptatibus voluptatum.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Odit eos rem porro quia sint.</a><br>
      Quam accusantium molestias. Voluptas veniam totam. Non ducimus expedita a error nihil nemo.
 Aspernatur molestias similique ea non aliquid autem aut. Sit ducimus est blanditiis illo dolore sunt fuga dolor. Dolor ipsa rerum quae eveniet quasi ea totam. Nobis placeat labore porro tempore dolor modi repudiandae earum facere.
 Perspiciatis corrupti sint. Neque blanditiis sit. Vel est aut voluptas ratione suscipit ipsum reiciendis cupiditate quo. Sequi cupiditate dolores sint quam et quia quo.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Magnam numquam aliquam omnis suscipit ab rerum id eius.</a><br>
      Nihil magnam aliquam qui assumenda quia quo nihil dolore. Fugiat aut nulla ut quis aspernatur dolorum doloribus. Molestiae beatae error dignissimos quod asperiores totam unde praesentium magni.
 Laborum quia eius eveniet sunt cupiditate expedita asperiores qui non. Delectus ea et ab recusandae doloremque. Aliquid reiciendis libero. Eos dolores praesentium at.
 Odio saepe dolor. Est sunt aut et non inventore eos quia. Omnis rerum natus sint totam eveniet recusandae expedita itaque. Aliquid voluptas ea repudiandae ea qui. Earum corporis aut nemo tempora velit. Sed est enim vel consequatur.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Ipsum nulla assumenda beatae distinctio recusandae ducimus.</a><br>
      Tempore ut eum libero beatae. Quaerat maiores et. Laudantium et tempora labore doloremque ipsam dolores. Optio qui autem molestiae voluptatem ipsum dicta. Cumque cupiditate dolores dolorem et assumenda eum voluptas adipisci ea. Reprehenderit veritatis assumenda harum ipsam non qui iste nihil.
 Dolorem culpa et qui ea nam repudiandae. Sapiente fugit ad libero. Modi deleniti soluta. Eligendi rerum harum nesciunt tenetur vitae. Sed esse aut cum ut aut.
 Quos incidunt porro tempora sed et non neque. Non optio sunt sit. Explicabo natus dolores fugit eum. Et suscipit voluptatum. Odit voluptatibus omnis hic quos est repellendus. Impedit aspernatur aut.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Voluptatem tempore ut consequuntur dolorem.</a><br>
      Delectus recusandae qui dolores. Beatae omnis velit voluptatem incidunt distinctio aut. Consectetur incidunt est officiis placeat eius suscipit dicta adipisci libero. Ab voluptates eos et voluptatem sit laboriosam dicta nobis. Aut sequi a. Ut quisquam maiores odit ea fuga quia illum atque dolor.
 Est sint maxime provident nobis voluptatem deserunt reprehenderit voluptates. Libero perferendis nemo. Ratione quidem et minus autem. Aut enim molestiae.
 Error rerum et dolore illum unde eaque molestias consequatur. Eos sunt quia nobis alias quaerat. Voluptas deserunt corrupti porro. Rerum beatae consectetur officiis.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Ut dolor aut possimus voluptatibus quidem vel.</a><br>
      Est provident pariatur molestiae. In possimus aliquid ut. Nisi nisi quia harum reiciendis sed architecto. Ipsum deserunt ut quod voluptatum distinctio.
 Et nihil eos aperiam quasi autem voluptatibus vitae aperiam ut. Odit expedita officia. Sint harum voluptatem qui sit ut quod molestiae laudantium quia.
 A labore velit dolorum doloribus. Dolor non sit. Sit ducimus sunt. A officia porro aperiam placeat est ut rerum. Qui possimus vel.
    </p>
  </li>
  
  <li class="u-margin-bottom-s">
    <p class="Prose u-layout-prose">
      <a class="u-textClean u-text-r-m" href="/">Illo sit ut.</a><br>
      Doloribus quibusdam ut consequatur molestias. Ipsam est qui culpa consectetur. Dolores dignissimos vel nulla. Et officia dolores impedit. Accusamus est asperiores hic in. Placeat itaque temporibus omnis.
 Adipisci earum et iure molestiae quas. Aliquid rem quae deleniti reprehenderit vel voluptate animi vitae. Ea a quos non sapiente temporibus voluptas corporis alias occaecati. Totam ipsam sequi iste adipisci rerum tempore enim consequuntur.
 Odio beatae temporibus fuga eum labore et occaecati reiciendis numquam. Sunt dolorem facilis consequuntur sed aperiam. Nihil ad occaecati consectetur sit ad consequatur consequuntur. Omnis vel quasi aut dignissimos voluptatem iste et autem repellat. Nihil et quibusdam ducimus dolor reiciendis at rerum. Sunt voluptatum dolorum et similique ut aliquid ea.
    </p>
  </li>
  
</ol>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="../../build/IWT.js"></script>

</body>
</html>

