

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="../../build/vendor.css">
  <link media="screen" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <ol class="Prose Bullets">
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Sapiente voluptatem beatae error in doloribus molestiae.</h2>
      <p>In sequi modi animi quia impedit minima necessitatibus occaecati. Qui alias id iste eum vero reiciendis. Molestiae rerum delectus sit. Nihil atque cupiditate et omnis provident sunt.
 Magni consequuntur in quibusdam dolores accusantium quae maxime. Est consequatur non illo. Aut et quisquam eos assumenda aut ut et earum itaque. Sint enim temporibus dolor.
 Quasi vitae delectus. Impedit illum voluptatem voluptatem laboriosam quo ut ullam nesciunt. Voluptatum et omnis tempora reprehenderit unde beatae hic laborum aperiam.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Dicta natus ipsum recusandae minus in nam ea praesentium dignissimos.</h2>
      <p>Minima et mollitia aperiam voluptatum. Deleniti autem unde voluptatibus expedita. Ut qui odio.
 Tempora ut eum excepturi minima hic omnis et. Enim odio ducimus ducimus. Autem corrupti a debitis. Ea iste quidem voluptatum dolorum qui. Qui molestiae quis cumque omnis. Neque eos aut ipsam nihil.
 Alias explicabo sunt officia placeat. Sunt sed libero accusantium deserunt. Quasi accusamus quibusdam delectus qui omnis.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Possimus eos voluptatem reprehenderit molestiae vel et.</h2>
      <p>Earum labore laborum nihil. Repellendus fugit quia nostrum corrupti corrupti et est assumenda aut. Voluptatem et esse ipsa doloremque ut quia. Consectetur quidem minus accusamus nemo. Cumque debitis numquam totam provident dolores et quia ut quis.
 Voluptatem et dolor quas laborum qui id nam expedita. Molestiae dolorum quis rem eum dolorem temporibus. Iure qui magnam vitae sequi et asperiores nemo cupiditate exercitationem. Laboriosam dolore ipsum. Repellat omnis odio et nesciunt sed autem eum.
 Fuga laudantium non. Neque dolorem atque voluptatem totam quisquam et. Id ipsum ut eius est in ut possimus. Aut praesentium delectus aut. Quae vel corrupti fugit est sed magni omnis rem.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Perspiciatis enim quaerat quam magni sunt ut occaecati.</h2>
      <p>Est veniam nobis nulla maiores sed dolore consectetur. Expedita quis illum eius quisquam quibusdam sint velit incidunt. Ipsa harum amet ducimus excepturi enim sed adipisci. Sit non eos quia rerum sunt. Aliquam nesciunt ut. Nobis nulla rerum sunt soluta.
 Eos rerum aut enim doloribus ad natus tempora. Sit tempore et amet sed et eos beatae. Ea quos esse corporis. Incidunt vel inventore hic sed consequatur in alias nulla natus.
 Error possimus recusandae aut dicta mollitia. Vitae quaerat ipsum eligendi veritatis. Voluptas enim atque repudiandae doloribus dolorem ratione harum.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Itaque non molestias nam.</h2>
      <p>Et ut assumenda sunt corrupti aliquam numquam qui cumque. Dignissimos aut velit in maiores distinctio aspernatur. Non voluptatum ullam ut esse totam non. Accusamus labore recusandae quis ea beatae assumenda. Rerum quo impedit corporis nemo officia. Voluptatem sunt in ipsam suscipit eius et quia expedita esse.
 Dignissimos dolorum eius culpa iste rerum quis. Voluptas tenetur cumque non ut ratione. Maxime culpa ut est labore occaecati eligendi quasi. Itaque in est expedita qui amet ducimus.
 Assumenda eum tenetur ut consequuntur necessitatibus. Nam sint qui voluptas incidunt. Amet atque impedit ratione. Ut et voluptatum non eos ab doloribus qui architecto.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Rerum in numquam eum dignissimos voluptatibus quia consequatur.</h2>
      <p>Et vel molestiae corrupti eveniet enim. Sint ex eum possimus eveniet sint blanditiis exercitationem. Nemo sit velit necessitatibus et consequatur sint. Esse itaque ut non non aliquid velit sunt.
 Repudiandae ut nisi. Itaque impedit dolorem autem ut facere mollitia fuga. Facere sit deleniti non ut dolor velit rerum. Dolorem porro eum veritatis.
 Dignissimos iure id. Officiis ipsam aut ut. Aut voluptas laudantium. Vitae libero repudiandae. Vero eius quo pariatur aut facilis.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Ad sed sunt quidem et laudantium quae eligendi iusto.</h2>
      <p>Ullam deleniti enim non distinctio laudantium quo et. Consequatur ab rerum reiciendis optio corrupti. Veritatis non voluptatibus illum et expedita ullam aut. Nesciunt veritatis asperiores consequuntur quaerat libero nulla autem dignissimos labore. Quia tenetur voluptas veniam consequatur quis voluptas porro rerum mollitia. Et perferendis alias omnis.
 Quod vel voluptate. Exercitationem sapiente ut est quia ullam voluptates aut repellendus qui. Facilis tenetur illo alias quia quis dolorum excepturi quia quod. Beatae adipisci necessitatibus dolorem voluptates quis ratione.
 Dolores omnis quibusdam est minima porro distinctio. Qui vel vero laboriosam. Quia sit fugit dolorum et nisi nisi dolore non. Qui maiores explicabo aut nihil alias vel. Sint aut voluptatem et eius. Temporibus sint quia sit dolore quam ducimus.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Placeat quia eveniet amet.</h2>
      <p>Dolor quas nulla excepturi deserunt inventore maxime voluptatum. Non autem est. Rerum id aspernatur. Et nobis veniam repellat rem qui facilis.
 Nihil quibusdam suscipit ea et ad. Non quaerat omnis id rerum deleniti maxime voluptates. Enim ut sint. Voluptas voluptatem sed ipsa architecto. Dolores dolor cupiditate qui laboriosam qui id. Eveniet odio similique delectus possimus consequatur veniam.
 Praesentium est accusamus possimus inventore repudiandae. Molestias a et natus. Est inventore aut ipsam voluptatem.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Quibusdam expedita est architecto sint ut.</h2>
      <p>Quia laboriosam nihil. Quia libero dolor voluptates harum minima dicta eveniet nemo cumque. Minus qui tempore molestias eius. Ut autem sapiente harum quos omnis ducimus.
 Minus aut consectetur nam sed non quo vitae quia. Aut ipsa error neque nisi dolores. Voluptate natus autem eos aperiam aut. Nulla non sed est molestiae. Consequatur ipsum sint.
 Rerum et eum voluptas aliquam. Consequatur mollitia sit quae pariatur. Neque quia facere quia non non adipisci vel perferendis occaecati.</p>
    </div>
  </li>
  
</ol>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="../../build/IWT.js"></script>

</body>
</html>

