

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <section class="u-background-grey-60 u-padding-r-all">
  <div class="u-layout-medium u-layoutCenter">

    <div class="Grid">
      <h2 id="carousel-heading" class="Grid-cell u-text-h2 u-color-white u-layout-centerLeft">Gallerie</h2>

      <!-- <next / prev buttons> -->
      <div class="Grid-cell u-layout-centerRight">
        <button class="owl-prev u-padding-bottom-xl u-padding-right-xxl u-text-r-xl u-color-teal-50"
          aria-controls="carousel-1">
            <span class="u-hiddenVisually">Vai alla slide precedente</span>
            <span class="u-alignMiddle Icon Icon-arrow-left" role="presentation"></span>
        </button>
        <button class="owl-next u-padding-bottom-xl u-padding-left u-text-r-xl u-color-teal-50"
          aria-controls="carousel-1">
          <span class="u-hiddenVisually">Vai alla slide successiva</span>
          <span class="u-alignMiddle Icon Icon-arrow-right" role="presentation"></span>
        </button>
        <p class="u-hiddenVisually">È possibile navigare le slide utilizzando i tasti freccia</p>
      </div>
      <!-- </next / prev buttons> -->
    </div>

    <div class="owl-carousel owl-theme"
      role="region" id="carousel-1">
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-1" aria-labelledby="desc-1" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=1" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-1" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Tempore accusamus eaque rerum est.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-2" aria-labelledby="desc-2" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=2" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-2" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Ut adipisci iure tempore ullam laborum.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-3" aria-labelledby="desc-3" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=3" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-3" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Consequuntur est et quo ullam aut omnis aut et.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-4" aria-labelledby="desc-4" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=4" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-4" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Et vitae qui ullam quis alias quibusdam quos.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-5" aria-labelledby="desc-5" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=5" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-5" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Libero porro non quasi sunt a dolor voluptatem voluptas ipsam.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-6" aria-labelledby="desc-6" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=6" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-6" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Quia quos placeat et.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-7" aria-labelledby="desc-7" class="u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=7" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit Icon-camera u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-7" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Magni ut ut quae.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
    </div>
    <p class="u-padding-r-top u-text-r-xl">
      <a href="" class="u-layout-centerLeft u-padding-r-top u-text-h4 u-textWeight-700 u-color-teal-50">Vedi tutte le gallerie</a>
    </p>
  </div>
</section>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  
  <script>__PUBLIC_PATH__ = '../../build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

