

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  </div>
</div>

<div class="u-background-95">
  <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter u-hiddenPrint">
    <footer class="Footer u-background-95">

  <div class="Grid Grid--withGutter u-padding-top-xl">

    <div class="Grid-cell u-layout-centerLeft u-padding-r-bottom">
      <img class="Footer-logo u-xs-padding-right-none" src="https://www.spid.gov.it/assets/img/agid-logo-bb.svg"
        alt="" style="height: 80px">
      <p class="Footer-siteName">
        
      </p>
    </div>

    <div class="Grid-cell u-layout-centerRight u-padding-r-bottom u-flexAlignSelfEnd">
      <h3 class="u-md-flexInline u-lg-flexInline u-text-p u-color-white u-textWeight-400
        u-hidden u-margin-r-right u-flexAlignSelfCenter">Seguici su</h3>
      <ul class="Footer-socialIcons">
        <li><a href=""><span class="Icon Icon-facebook u-background-white"></span><span class="u-hiddenVisually">Facebook</span></a></li>
        <li><a href=""><span class="Icon Icon-twitter u-background-white"></span><span class="u-hiddenVisually">Twitter</span></a></li>
        <li><a href=""><span class="Icon Icon-youtube u-background-white"></span><span class="u-hiddenVisually">Youtube</span></a></li>
      </ul>
    </div>

  </div>

  <ul class="Footer-links u-cf u-color-80">
    <li><a href="" title="Privacy policy">Privacy</a></li>
    <li><a href="" title="Note legali">Note legali</a></li>
    <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
  </ul>

</footer>

  </div>
</div>

<a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon Icon-collapse" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio del contenuto</span>
</a>



  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  
  <script>__PUBLIC_PATH__ = '../../build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

