

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  
<button class="Button Button--default js-fr-dialogmodal-open" aria-controls="modal">
  Apri
</button>

<div class="Dialog js-fr-dialogmodal" id="modal">
  <div class="
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-layout-prose
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    "
    aria-labelledby="modal-title">
    <div role="document" class="Prose">
      <h2 class="u-cf u-text-h2 u-borderHideFocus" id="modal-title" tabindex="0">Sunt blanditiis earum qui consequuntur asperiores id velit.</h2>
      <p>
        Velit ut voluptas alias voluptate voluptas. Quasi eos omnis eum voluptatem vitae in quis cum. Aut delectus recusandae consequuntur et expedita possimus aperiam commodi.
 Officia molestiae esse praesentium consequuntur accusamus modi et asperiores. Et molestiae consequatur doloremque et commodi non ullam quaerat. Ut adipisci error impedit architecto eum. Saepe facilis quo ut asperiores nam alias.
 Consequatur quo placeat corporis pariatur et nam. Aut quasi quis. Totam praesentium labore. Aut reiciendis voluptatibus. Reiciendis voluptatem quia ex a corrupti non fugit.
      </p>
      <button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>
    </div>
  </div>
</div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  <script>__PUBLIC_PATH__ = '/ita-web-toolkit/build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

