

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <div class="u-textLeft">
  <a href="#options" data-menu-trigger="options" class="Button Button--info">Menu</a>
  <div id="options" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Nulla eveniet recusandae dolorem.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Praesentium facilis aut aliquam sit voluptatibus repellendus qui.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Expedita nihil rerum qui autem expedita numquam incidunt rerum.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Pariatur cumque quisquam deserunt dignissimos voluptatum est voluptatem minima.</a></li>
      
    </ul>
  </div>
</div>

<div class="u-textRight">
  <a href="#options-2" data-menu-trigger="options-2" class="Button Button--info">Menu</a>
  <div id="options-2" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Nulla eveniet recusandae dolorem.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Praesentium facilis aut aliquam sit voluptatibus repellendus qui.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Expedita nihil rerum qui autem expedita numquam incidunt rerum.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Pariatur cumque quisquam deserunt dignissimos voluptatum est voluptatem minima.</a></li>
      
    </ul>
  </div>
</div>

<div class="u-textCenter">
  <a href="#options-3" data-menu-trigger="options-3" class="Button Button--info">Menu</a>
  <div id="options-3" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Nulla eveniet recusandae dolorem.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Praesentium facilis aut aliquam sit voluptatibus repellendus qui.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Expedita nihil rerum qui autem expedita numquam incidunt rerum.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Pariatur cumque quisquam deserunt dignissimos voluptatum est voluptatem minima.</a></li>
      
    </ul>
  </div>
</div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  
  <script>__PUBLIC_PATH__ = '../../build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

