

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="../../build/vendor.css">
  <link media="screen" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
  <h1 class="u-text-h2">Home di sezione</h1>
  <div class="Grid Grid--withGutter">

      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Asperiores quam sunt magnam modi accusantium itaque enim. Nisi mollitia aspernatur. Deserunt voluptatibus dicta nostrum fugiat minima numquam.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">doloribus quod nobis</a></li>
              <li><a href="">perferendis quos at</a></li>
              <li><a href="">nisi inventore totam</a></li>
              <li><a href="">eos qui praesentium</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Quae assumenda commodi esse corporis eligendi et ut voluptates. Dolorum architecto et culpa molestiae nobis id quaerat exercitationem harum. Ducimus assumenda consectetur.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">doloribus quod nobis</a></li>
              <li><a href="">perferendis quos at</a></li>
              <li><a href="">nisi inventore totam</a></li>
              <li><a href="">eos qui praesentium</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            In ducimus ratione animi reprehenderit nemo facere quia quisquam atque. Totam iure et. Pariatur ratione qui aspernatur ipsum perspiciatis earum aut sit temporibus. Accusamus alias tempore vero occaecati totam delectus esse. Quae et aspernatur. Praesentium sed neque.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">doloribus quod nobis</a></li>
              <li><a href="">perferendis quos at</a></li>
              <li><a href="">nisi inventore totam</a></li>
              <li><a href="">eos qui praesentium</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Nihil possimus magnam hic nisi. Error odio similique similique. Repudiandae blanditiis eos numquam voluptatem modi qui. Fuga et explicabo voluptatibus id necessitatibus rerum dolores doloribus. Dignissimos impedit dolores sunt.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">doloribus quod nobis</a></li>
              <li><a href="">perferendis quos at</a></li>
              <li><a href="">nisi inventore totam</a></li>
              <li><a href="">eos qui praesentium</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Fugit voluptatem nam ut est quia. Facere et voluptas eligendi fugit iusto rerum. Enim numquam autem exercitationem autem facilis placeat.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">doloribus quod nobis</a></li>
              <li><a href="">perferendis quos at</a></li>
              <li><a href="">nisi inventore totam</a></li>
              <li><a href="">eos qui praesentium</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Quisquam odit molestiae ut asperiores beatae sed hic. Quis officia veritatis debitis magni et. Velit eaque debitis rerum. Dolore et ea eaque odit ut libero. Dolore reprehenderit voluptas recusandae et saepe quod velit accusamus. Et sint dolor itaque labore autem ut quia qui vel.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">doloribus quod nobis</a></li>
              <li><a href="">perferendis quos at</a></li>
              <li><a href="">nisi inventore totam</a></li>
              <li><a href="">eos qui praesentium</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Velit dolores fugiat cupiditate autem sint veritatis. Dolorum totam culpa quasi consequatur nulla id. Deleniti quod qui quaerat occaecati dolorem nulla voluptatem. Expedita adipisci voluptatem velit ab eum dolores ut. Consequatur eius animi rerum velit.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">doloribus quod nobis</a></li>
              <li><a href="">perferendis quos at</a></li>
              <li><a href="">nisi inventore totam</a></li>
              <li><a href="">eos qui praesentium</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Eaque unde eos qui nam error voluptatem consequuntur minima. Quod aliquam et. Quisquam explicabo in libero. Sunt alias nesciunt distinctio occaecati occaecati laudantium provident. Fugiat assumenda ea delectus dolor.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">doloribus quod nobis</a></li>
              <li><a href="">perferendis quos at</a></li>
              <li><a href="">nisi inventore totam</a></li>
              <li><a href="">eos qui praesentium</a></li>
            </ul>
          </p>
        </div>
      </div>
      

  </div>
</section>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

