

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="../../build/vendor.css">
  <link media="screen" rel="stylesheet" href="../../build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  <div class="u-layout-centerContent u-background-grey-20">
  <section class="u-layout-wide">

    <div class="Grid Grid--withGutter u-text-r-l u-padding-r-bottom">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l">Temporibus aut nobis</h2>
      </div>
      <div class="Grid-cell u-layout-centerRight">
        <h2 class="u-text-r-m"><a class="u-color-50" href="">Vedi tutto</a></h2>
      </div>
    </div>

    <div class="Grid Grid--withGutter">

      <div class="Grid-cell Card u-md-size3of4 u-lg-size3of4">

        <div class="Grid u-layout-centerContent">
          <div class="Grid-cell u-sizeFit">
            <img src="//placehold.it/330x330?text=placeholder" class="u-sizeFit" alt="..." />
          </div>
          <div class="Grid-cell u-md-sizeFill u-lg-sizeFill u-padding-r-left">
            <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Sed quia qui ad quos libero.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Dolorem voluptatem facilis nobis. Tenetur voluptas occaecati et corporis. Deleniti excepturi quam. Nisi amet explicabo odit qui. Voluptatem ipsam hic minus veritatis nemo molestias. Voluptatem est nulla qui minima distinctio odio laboriosam eos.
  </p>
</div>

          </div>
        </div>
      </div>

      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Culpa iusto sunt error dolorem omnis omnis error tempore.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Porro aspernatur molestias perferendis possimus quas alias. Esse necessitatibus quis quaerat vel voluptatem minus magnam. Consectetur sed vel cupiditate tenetur ea debitis omnis non. Porro enim veniam sed dolores. Consequatur ad quia nemo eveniet molestias. Delectus voluptatem ex ducimus nesciunt deserunt quis reiciendis et reiciendis.
  </p>
</div>

      </div>

      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Culpa iusto sunt error dolorem omnis omnis error tempore.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Et quia accusantium sint. Numquam natus non non labore laboriosam. Aperiam aut facilis cum doloribus soluta mollitia optio. Similique assumenda non impedit reiciendis et explicabo. Tempora expedita reprehenderit optio sint minus magni dolorem.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Culpa iusto sunt error dolorem omnis omnis error tempore.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Quia nihil nihil explicabo est iusto facilis. Voluptatem harum ut occaecati odio. Eum repudiandae cumque doloremque dignissimos distinctio. Est nihil maxime et et voluptatem libero. Officia voluptate cumque cum repellat sed similique fugiat et.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Culpa iusto sunt error dolorem omnis omnis error tempore.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Possimus omnis aliquid soluta assumenda velit. Repellendus aperiam magnam voluptas dolores pariatur. Earum aspernatur consectetur voluptatem numquam aut vitae ipsam. Ipsam quia laborum porro sit doloribus non quasi est.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Culpa iusto sunt error dolorem omnis omnis error tempore.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Dolores non exercitationem asperiores temporibus non rerum aut. Iure ut nihil culpa. Ipsum et ipsum aliquam natus vel molestiae doloribus totam voluptatum. Eaque reprehenderit laudantium reprehenderit quam sed. Qui quo accusantium consequatur error rem dolorem rerum maxime.
  </p>
</div>

      </div>
      
    </div>

  </section>
</div>


  <script src="../../build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="../../build/IWT.js"></script>

</body>
</html>

