

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  <div class="u-layout-centerContent u-background-grey-20 u-padding-bottom-xxl u-padding-top-xxl">
  <section class="u-layout-medium">
    <div class="u-layout-centerLeft">
      <h2 class="u-text-r-l">Gallerie</h2>
    </div>
    <div class="Grid Grid--withGutter u-padding-r-top u-text-r-xxl">
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="icon icon-pic u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Debitis atque qui nihil voluptas amet.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="icon icon-pic u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Omnis tempore est adipisci sed dolores.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="icon icon-pic u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Temporibus quia dolorem.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="icon icon-pic u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Laudantium sed ex quibusdam.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="icon icon-pic u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Et consequatur aut delectus incidunt quos consequatur sint voluptatem quia.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="icon icon-pic u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Earum optio non et fugit architecto veniam.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="icon icon-pic u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Explicabo ut sint sed fugit eligendi distinctio.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="icon icon-pic u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Quis illo fugit eos distinctio non enim accusantium.
      </a>
    </p>
  </div>
</div>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <div class="Card Card--round Card--withBorder Card--shadow u-color-grey-30 u-background-white">
  <figure class="Card-image u-background-grey-60 u-padding-all-s">
    <a href=""><img src="http://placehold.it/370x205?text=" class="u-sizeFull" /></a>
    <figcaption class="u-padding-r-top">
      <span class="icon icon-pic u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="Card-content">
    <p class="Card-title">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Quo odit et quos quam.
      </a>
    </p>
  </div>
</div>

      </div>
      
    </div>
  </section>
</div>


  <script src="/build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="/build/vendor/respond.min.js"></script>
  <script src="/build/vendor/rem.min.js"></script>
  <script src="/build/vendor/selectivizr.js"></script>
  <script src="/build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="/build/IWT.js"></script>

</body>
</html>

