

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="../../build/vendor.css">
  <link media="screen" rel="stylesheet" href="../../build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  <section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Esplora contenuti correlati</a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-top-s">
      <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">
    <h2 class="u-text-h2">
      Titolo della sezione
    </h2>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <article class="Prose u-layout-prose">
          <p>
            Delectus commodi totam suscipit expedita qui qui suscipit minima. Consectetur qui in nesciunt. Similique illum ut quidem voluptate sed. Vel nam et voluptas quibusdam. Officiis temporibus nisi.
 Ducimus repellat reprehenderit quos laudantium autem enim. Impedit eos amet dicta vel et quia autem. Quam ullam dicta commodi et id quo adipisci sint sit. Ipsa quia quia nostrum. Ab dolorum numquam ut voluptatum quos id.
 Voluptatibus qui quos ullam illum omnis libero quia. Est aliquid quae distinctio modi. Tenetur officiis ipsam voluptatibus amet explicabo explicabo qui consequuntur. Unde omnis delectus neque iure. Similique animi et iste repudiandae in dignissimos consectetur accusamus.
          </p>
          <p>
            Minus illum ut possimus labore suscipit ad. Quasi perferendis aut. Aliquam sint architecto suscipit esse. Quia aliquid voluptatem numquam aut. Corporis ratione assumenda beatae praesentium at nihil eaque dicta aut. Aut id impedit aut cum.
 Molestias doloremque optio consequatur reiciendis. Magnam quia at inventore et ullam consequatur dolores eum. Praesentium dignissimos consectetur expedita voluptates et. Reprehenderit voluptatem consequatur fugiat facere. Nihil illo et occaecati. Officia id cupiditate.
 Autem assumenda saepe est reiciendis labore commodi. Qui nam ut iusto modi incidunt animi. Et omnis rem dolor et. Inventore nobis enim repudiandae eum omnis vero. Facere fugit rerum sit corrupti. Enim minus voluptatem fuga perferendis nesciunt eius quam non.
          </p>
          <p>
            Sapiente sunt et magnam at exercitationem modi voluptatibus. Qui dignissimos est expedita itaque. Nisi ut maiores optio. Vel quae sit possimus ut. Delectus cumque ad nobis magnam asperiores.
 Voluptatem molestias dolore vel. Iusto itaque dolor omnis qui ut itaque impedit amet quia. Qui cum qui adipisci et aliquam omnis. Molestiae perspiciatis dolorum nobis. Beatae labore esse asperiores iure harum et id in. Aliquid vel provident ea.
 Amet quod enim. Repudiandae et illum officia rerum aut eveniet est distinctio. Veritatis quia qui qui blanditiis optio. Non fugit nobis.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-sizeFull u-md-size4of12 u-lg-size4of12 u-md-before2of12 u-lg-before2of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon Icon Icon-share"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="Icon Icon-facebook"></span></a></li>
    <li><a href="#"><span class="Icon Icon-twitter"></span></a></li>
    <li><a href="#"><span class="Icon Icon-googleplus"></span></a></li>
    <li><a href="#"><span class="Icon Icon-youtube"></span></a></li>
    <li><a href="#"><span class="Icon Icon-flickr"></span></a></li>
    <li><a href="#"><span class="Icon Icon-slideshare"></span></a></li>
    <li><a href="#"><span class="Icon Icon-whatsapp"></span></a></li>
  </ul>
</div>

        </div>
        <div class="u-sizeFull u-md-size11of12 u-lg-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Culpa iusto sunt error dolorem omnis omnis error tempore.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Sed quia qui ad quos libero.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Sit eos laborum corrupti nulla.</a></li>
      <li><a href="">Dolore beatae autem ducimus accusantium veniam ipsam vel.</a></li>
      <li><a href="">Eaque tempora accusantium aut sed distinctio rerum excepturi.</a></li>
      <li><a href="">Cum consequatur corporis aperiam.</a></li>
    </ul>
  </li>
  <li><a href="">Laudantium ea quos culpa.</a></li>
  <li><a href="">Sed unde qui.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Ullam optio et saepe id ipsa.</a></li>
  <li><a href="">Libero quia assumenda voluptate nihil officia veritatis deserunt quo.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>


  <script src="../../build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="../../build/IWT.js"></script>

</body>
</html>

