

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <div class="u-layout-centerContent u-background-grey-20 u-padding-r-bottom">
  <section class="u-layout-wide">
    <h2 class="u-padding-r-bottom u-padding-r-top u-text-r-l">Illum sed adipisci</h2>

    <div class="Grid Grid--withGutter">

      <div class="Grid-cell u-nbfc u-md-size3of4 u-lg-size3of4">

        <div class="Grid u-layout-centerContent">
          <div class="Grid-cell u-sizeFit">
            <img src="//placehold.it/330x330?text=placeholder" class="u-sizeFit" alt="..." />
          </div>
          <div class="Grid-cell u-md-sizeFill u-lg-sizeFill u-padding-r-left">
            <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Non illo nihil eos error.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Hic ea et illo sit consequatur maiores ut tenetur. Tenetur consectetur et voluptatem recusandae. Delectus exercitationem suscipit dolore quidem. Inventore neque inventore possimus deserunt. Saepe quos aliquid ad id nam. Architecto facilis minus debitis et voluptatem aut.
  </p>
</div>

          </div>
        </div>
      </div>

      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Cumque officiis necessitatibus omnis aut reprehenderit soluta.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Ullam nam temporibus facere. Et incidunt dolorum fugit dolore iste consectetur. Impedit quo porro. Aliquid saepe itaque maiores cum nostrum non facere. Aut ad dolore.
  </p>
</div>

      </div>

      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Cumque officiis necessitatibus omnis aut reprehenderit soluta.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Rem dignissimos est sed aut. Ut minima neque aut rem asperiores sequi quibusdam. Dolorem nam nulla distinctio accusantium animi nesciunt saepe dignissimos ut. Aliquam quo consequatur laborum deleniti molestiae similique. Ratione et quae quis voluptatum itaque repellat ea culpa accusamus. Dolor quia officia libero deleniti praesentium.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Cumque officiis necessitatibus omnis aut reprehenderit soluta.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Sint nemo et dignissimos. Eaque iusto fuga ut aut consequatur omnis. Nobis eos natus ut vitae rem occaecati. Illo dolores eos occaecati voluptatum nostrum eligendi ullam non incidunt. Ex fugiat dolore et doloremque qui dolores dolor quam. Velit et aut odit blanditiis veritatis non cupiditate.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Cumque officiis necessitatibus omnis aut reprehenderit soluta.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Voluptas voluptas ex hic reprehenderit laborum porro voluptatem commodi. Quidem placeat nemo earum itaque magni modi ex eveniet repellendus. Eius quas debitis dolorem maxime reiciendis a ducimus quae. Sunt fugiat reiciendis non rerum dolores asperiores nesciunt. Quam vitae voluptatem nemo.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Cumque officiis necessitatibus omnis aut reprehenderit soluta.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Rerum eius vero. Sed accusamus magnam et. Et quo optio maxime a. Rerum dolorem assumenda. Quia dolorem aut et.
  </p>
</div>

      </div>
      
    </div>

    <p class="u-textCenter u-text-md-right u-text-lg-right u-padding-r-top">
      <a href="#" class="u-color-50 u-textClean u-text-h4">
          tutti i contenuti <span class="Icon Icon-chevron-right"></a>
    </p>

  </section>
</div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  <script>__PUBLIC_PATH__ = '../../build.html'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

