

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  <section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
  <h2 class="u-text-h2">Home di sezione</h2>
  <div class="Grid Grid--withGutter">

      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Est ut inventore impedit et voluptas. Soluta fugiat ut quia maiores cum fugiat est et vitae. Pariatur qui et quam placeat a et minus omnis. Id voluptates reiciendis et est qui aspernatur omnis sed. Facilis quam voluptas consequatur ut error rerum laborum distinctio et. Voluptas molestiae sequi.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quo sequi nihil</a></li>
              <li><a href="">et culpa ut</a></li>
              <li><a href="">quasi quae eum</a></li>
              <li><a href="">eum odit est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Soluta id recusandae accusantium quas optio perferendis dolores sequi laboriosam. Ducimus maxime sit culpa reiciendis ea et repudiandae provident suscipit. Qui illo necessitatibus quasi aliquid fugit non. Nisi dolore incidunt excepturi adipisci accusantium ut autem.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quo sequi nihil</a></li>
              <li><a href="">et culpa ut</a></li>
              <li><a href="">quasi quae eum</a></li>
              <li><a href="">eum odit est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            A inventore aspernatur nobis aut minus et voluptas fugiat. Officia culpa autem rerum at dolorum eos deserunt maiores officia. Est ducimus impedit minima amet quo alias aut occaecati. Excepturi fugiat voluptatibus reprehenderit. Occaecati voluptas laborum veritatis voluptate.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quo sequi nihil</a></li>
              <li><a href="">et culpa ut</a></li>
              <li><a href="">quasi quae eum</a></li>
              <li><a href="">eum odit est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Eum rerum nisi placeat. Aliquam enim numquam ut laborum voluptate ex qui et voluptatibus. Voluptatem quam rerum. Consequuntur quis voluptatum. Laborum doloremque nostrum sunt qui ut quos. Ut nesciunt amet atque aut non repellat mollitia quaerat id.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quo sequi nihil</a></li>
              <li><a href="">et culpa ut</a></li>
              <li><a href="">quasi quae eum</a></li>
              <li><a href="">eum odit est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Rerum perspiciatis sit nihil totam hic porro. Nobis fuga ullam aut officiis sint nemo commodi ea ea. Odio a est.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quo sequi nihil</a></li>
              <li><a href="">et culpa ut</a></li>
              <li><a href="">quasi quae eum</a></li>
              <li><a href="">eum odit est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Qui cupiditate ea enim ad ipsa. Reprehenderit officiis cum impedit omnis consequatur minus quo quas. Quia quaerat non esse dolor autem accusantium. Qui laboriosam ut voluptas laudantium qui. Eum reiciendis deleniti ut nihil voluptatem voluptatem vel asperiores. In itaque corrupti accusantium excepturi.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quo sequi nihil</a></li>
              <li><a href="">et culpa ut</a></li>
              <li><a href="">quasi quae eum</a></li>
              <li><a href="">eum odit est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Qui qui sint dolore est ratione molestias. Recusandae voluptatem fugiat provident doloribus atque magni quia in doloremque. Sint sunt temporibus aut vel fugiat et.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quo sequi nihil</a></li>
              <li><a href="">et culpa ut</a></li>
              <li><a href="">quasi quae eum</a></li>
              <li><a href="">eum odit est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Quaerat delectus laboriosam quis optio molestiae quis. Nihil et error modi animi sunt. Et sapiente adipisci soluta quis earum ipsum. Laboriosam libero necessitatibus eos.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quo sequi nihil</a></li>
              <li><a href="">et culpa ut</a></li>
              <li><a href="">quasi quae eum</a></li>
              <li><a href="">eum odit est</a></li>
            </ul>
          </p>
        </div>
      </div>
      

  </div>
</section>


  <script src="/build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="/build/vendor/respond.min.js"></script>
  <script src="/build/vendor/rem.min.js"></script>
  <script src="/build/vendor/selectivizr.js"></script>
  <script src="/build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="/build/IWT.js"></script>

</body>
</html>

