

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="../../build/vendor.css">
  <link media="screen" rel="stylesheet" href="../../build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  <section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Esplora contenuti correlati</a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-top-s">
      <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">
    <h2 class="u-text-h2">
      Titolo della sezione
    </h2>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <article class="Prose u-layout-prose">
          <p>
            Nemo quod eum consequatur optio saepe suscipit. Similique vel accusantium cupiditate unde quia eos quia. Qui qui tenetur amet quia id nostrum qui architecto. Sed voluptatem mollitia. Recusandae et odio expedita voluptate libero.
 Aut eum dolorem quis beatae. Consequatur quis sed dolores eum quo accusamus doloribus omnis eaque. Non magni est dolor amet. Nisi excepturi autem laudantium nesciunt voluptas maxime. Numquam hic et non et nemo odio qui eveniet.
 Libero eum quidem facilis. Aspernatur facilis rerum. Tenetur voluptas voluptatem dolor. Est corporis placeat aliquid aperiam sunt dolorum dolor aliquid qui. Est officiis voluptatibus tempore est ea ea minus provident consequatur.
          </p>
          <p>
            Sapiente minus est rerum ea facere aspernatur neque nostrum qui. Nam qui et corporis. Nisi nihil ipsa natus eaque est quidem quod provident dolorum. Alias excepturi voluptatibus deserunt omnis quis voluptatem sunt rerum porro. Delectus quibusdam in illum quas animi dolor consequuntur. Nam sit atque doloremque.
 Magni non pariatur hic sint animi. Nam est ut qui molestiae aperiam quidem ipsam consequuntur nihil. Minima mollitia expedita. Et cum praesentium delectus accusamus.
 Nesciunt fugiat laboriosam fugiat. Quas provident ullam deserunt delectus nihil. Rerum voluptates provident dolore. Saepe harum eligendi laboriosam nihil cumque distinctio. Voluptas autem ad non qui voluptas doloremque molestias.
          </p>
          <p>
            Necessitatibus amet asperiores quibusdam rem esse. Quia velit voluptates. Voluptatem distinctio consequatur sit sed quo sed aut.
 Ea maxime dolore autem impedit ab architecto non. Facilis quibusdam facere dolorem nobis. Ut sed suscipit quo enim labore et. Illo dolor dolore ab maiores non magnam excepturi.
 Cumque commodi aut omnis ipsam dolore temporibus animi rerum et. Rerum maxime animi aut et unde cum et deserunt. Et repellat omnis laboriosam. Aperiam ut et ipsum consectetur adipisci quasi culpa. Vitae sed eligendi.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-sizeFull u-md-size4of12 u-lg-size4of12 u-md-before2of12 u-lg-before2of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon Icon Icon-share"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="Icon Icon-facebook"></span></a></li>
    <li><a href="#"><span class="Icon Icon-twitter"></span></a></li>
    <li><a href="#"><span class="Icon Icon-googleplus"></span></a></li>
    <li><a href="#"><span class="Icon Icon-youtube"></span></a></li>
    <li><a href="#"><span class="Icon Icon-flickr"></span></a></li>
    <li><a href="#"><span class="Icon Icon-slideshare"></span></a></li>
    <li><a href="#"><span class="Icon Icon-whatsapp"></span></a></li>
  </ul>
</div>

        </div>
        <div class="u-sizeFull u-md-size11of12 u-lg-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Ratione quibusdam cumque enim quidem aspernatur quia qui aperiam porro.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Dolorum inventore ea veritatis repudiandae rerum distinctio reprehenderit.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Quos laborum perspiciatis sit ut ut veritatis voluptas nesciunt.</a></li>
      <li><a href="">Commodi quia consequatur et explicabo tempora non iste animi et.</a></li>
      <li><a href="">Occaecati minima dignissimos aut voluptatem eos aut beatae.</a></li>
      <li><a href="">In illum autem vero laborum.</a></li>
    </ul>
  </li>
  <li><a href="">Consequuntur autem totam aut eligendi necessitatibus.</a></li>
  <li><a href="">Voluptas aliquid nihil quae fugiat aliquid vel.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Maxime ipsa et et veritatis.</a></li>
  <li><a href="">Odit voluptatem ut.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>


  <script src="../../build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="../../build/IWT.js"></script>

</body>
</html>

