

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/vendor.css">
  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">
      Esplora contenuti correlati
    </a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
    <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">
      Nome del servizio
    </h1>

    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Una breve descrizione del servizio. Quos in eos et est molestiae sequi. Et illo qui recusandae aliquid magni. Quis in in possimus sunt quas.
          </p>
          <p>
            Questo servizio serve per:
          </p>
          <ul>
            <li>fare qualcosa</li>
            <li>verificare lo stato della propria pratica</li>
          </ul>
          <h2 class="u-text-h3">A chi è rivolto</h2>
          <p>
            Amet et blanditiis veritatis animi debitis. Voluptatem quisquam cupiditate ipsum mollitia et ipsa qui. Explicabo harum doloremque ducimus architecto sunt soluta illum.
 Aut itaque odio in illum sint. Ut eos dolorem et facere corporis pariatur necessitatibus nesciunt nobis. Dicta quidem ullam.
 Eligendi perferendis quae. Voluptas debitis nam numquam aut aut dolorum voluptatem. Vitae occaecati ut excepturi ad praesentium eaque voluptatem minima quidem.
          </p>
          <h2 class="u-text-h3">Come funziona</h2>
          <p>
            Veniam quasi ipsa non odio eum. Ut ut a dolorem similique consequuntur. Laboriosam saepe eum. Magnam recusandae autem quos et non soluta.
 Exercitationem expedita deserunt at ipsa sed consequatur. Culpa similique praesentium quo. Ut laboriosam cupiditate deleniti aspernatur.
 Fugiat aut consequatur aut voluptate non. Beatae quo voluptatem. Excepturi odio dolor. Autem qui ducimus vero quia minus doloremque eos.
          </p>
          <h2 class="u-text-h3">Prima di iniziare</h2>
          <p>
            Accertati di aver già...
            <ul>
              <li>azione 1</li>
              <li>azione 2</li>
              <li>azione 3</li>
            </ul>
          </p>
          <p>
            <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
          </p>
        </article>
      </div>

      <aside class="Grid-cell u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl u-hidden u-md-block u-lg-block">
          <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
        </div>
        <h3 class="u-text-h4">Altri servizi</h3>
        <div class="u-sizeFull" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Sed quis id facilis doloribus eligendi libero veritatis laborum.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Et provident in non inventore expedita quae consequatur dolorem.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Sit quia id accusamus magni sed aut.</a></li>
      <li><a href="">Culpa eos sed laboriosam at in perferendis non quod.</a></li>
      <li><a href="">Eum sint qui.</a></li>
      <li><a href="">Expedita quia qui.</a></li>
    </ul>
  </li>
  <li><a href="">Aut doloribus sequi dolorem dicta officiis iste.</a></li>
  <li><a href="">Rem quia accusamus laboriosam.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Nulla omnis molestiae.</a></li>
  <li><a href="">Corrupti dolorem quia consequatur.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </aside>
    </div>

  </div>
</section>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

