

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/vendor.css">
  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <nav class="Megamenu Megamenu--default js-megamenu">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">
        Voluptate necessitatibus et<br>Quod ducimus porro
      </a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Quod ducimus porro</a>
            <ul>
              <li><a href="/1">Ducimus nemo cupiditate</a></li>
              <li><a href="/2">Recusandae qui soluta</a></li>
              <li><a href="/3">Ut vel porro</a></li>
              <li><a href="/4">Enim minus velit</a></li>
            </ul>
          </li>
          <li><a href="">Mollitia at cupiditate</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Quidem excepturi dolor</a>
            <ul>
              <li><a href="/1">Nulla enim dolorum</a></li>
              <li><a href="/2">Soluta delectus et</a></li>
              <li><a href="/3">Voluptate necessitatibus et</a></li>
              <li><a href="/4">Quod ducimus porro</a></li>
            </ul>
          </li>
          <li><a href="">Ducimus nemo cupiditate</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Recusandae qui soluta</a>
            <ul>
              <li><a href="/1">Ut vel porro</a></li>
              <li><a href="/2">Enim minus velit</a></li>
              <li><a href="/3">Mollitia at cupiditate</a></li>
              <li><a href="/4">Quidem excepturi dolor</a></li>
            </ul>
          </li>
          <li><a href="">Nulla enim dolorum</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Soluta delectus et</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Voluptate necessitatibus et</a></li>
          <li><a href="/2">Quod ducimus porro</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ducimus nemo cupiditate</a></li>
          <li><a href="/2">Recusandae qui soluta</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ut vel porro</a></li>
          <li><a href="/2">Enim minus velit</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Mollitia at cupiditate</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Quidem excepturi dolor</a></li>
          <li><a href="/2">Nulla enim dolorum</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Soluta delectus et</a></li>
          <li><a href="/2">Voluptate necessitatibus et</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Quod ducimus porro</a></li>
          <li><a href="/2">Ducimus nemo cupiditate</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-area">
      <a class="Button Button--default u-color-95" href="#">Accedi</a>
    </li>
  </ul>
</nav>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

