

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  <nav class="Megamenu Megamenu--styled js-megamenu">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">Nostrum aut iure</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Facilis quod aliquid</a>
            <ul>
              <li><a href="/1">Vero rerum aliquid</a></li>
              <li><a href="/2">Mollitia sint maxime</a></li>
              <li><a href="/3">Ratione eaque velit</a></li>
              <li><a href="/4">Quis dolores eius</a></li>
            </ul>
          </li>
          <li><a href="">Rem quisquam qui</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Est ut et</a>
            <ul>
              <li><a href="/1">Facilis architecto unde</a></li>
              <li><a href="/2">Aut expedita libero</a></li>
              <li><a href="/3">Nostrum aut iure</a></li>
              <li><a href="/4">Facilis quod aliquid</a></li>
            </ul>
          </li>
          <li><a href="">Vero rerum aliquid</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Mollitia sint maxime</a>
            <ul>
              <li><a href="/1">Ratione eaque velit</a></li>
              <li><a href="/2">Quis dolores eius</a></li>
              <li><a href="/3">Rem quisquam qui</a></li>
              <li><a href="/4">Est ut et</a></li>
            </ul>
          </li>
          <li><a href="">Facilis architecto unde</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Aut expedita libero</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Nostrum aut iure</a></li>
          <li><a href="/2">Facilis quod aliquid</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Vero rerum aliquid</a></li>
          <li><a href="/2">Mollitia sint maxime</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ratione eaque velit</a></li>
          <li><a href="/2">Quis dolores eius</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Rem quisquam qui</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Est ut et</a></li>
          <li><a href="/2">Facilis architecto unde</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Aut expedita libero</a></li>
          <li><a href="/2">Nostrum aut iure</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Facilis quod aliquid</a></li>
          <li><a href="/2">Vero rerum aliquid</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>


  <script src="/build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="/build/vendor/respond.min.js"></script>
  <script src="/build/vendor/rem.min.js"></script>
  <script src="/build/vendor/selectivizr.js"></script>
  <script src="/build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="/build/IWT.js"></script>

</body>
</html>

