

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <nav class="Megamenu Megamenu--default js-megamenu ">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">
        Ipsum quaerat tempore<br>Quasi recusandae placeat
      </a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Quasi recusandae placeat</a>
            <ul>
              <li><a href="/1">Aspernatur magni saepe</a></li>
              <li><a href="/2">Culpa ab voluptatem</a></li>
              <li><a href="/3">Praesentium repellendus qui</a></li>
              <li><a href="/4">Ut rerum voluptatem</a></li>
            </ul>
          </li>
          <li><a href="">Sed consequuntur aut</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Qui corporis quasi</a>
            <ul>
              <li><a href="/1">Alias explicabo praesentium</a></li>
              <li><a href="/2">Incidunt facilis ab</a></li>
              <li><a href="/3">Ipsum quaerat tempore</a></li>
              <li><a href="/4">Quasi recusandae placeat</a></li>
            </ul>
          </li>
          <li><a href="">Aspernatur magni saepe</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Culpa ab voluptatem</a>
            <ul>
              <li><a href="/1">Praesentium repellendus qui</a></li>
              <li><a href="/2">Ut rerum voluptatem</a></li>
              <li><a href="/3">Sed consequuntur aut</a></li>
              <li><a href="/4">Qui corporis quasi</a></li>
            </ul>
          </li>
          <li><a href="">Alias explicabo praesentium</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Incidunt facilis ab</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ipsum quaerat tempore</a></li>
          <li><a href="/2">Quasi recusandae placeat</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Aspernatur magni saepe</a></li>
          <li><a href="/2">Culpa ab voluptatem</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Praesentium repellendus qui</a></li>
          <li><a href="/2">Ut rerum voluptatem</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Sed consequuntur aut</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Qui corporis quasi</a></li>
          <li><a href="/2">Alias explicabo praesentium</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Incidunt facilis ab</a></li>
          <li><a href="/2">Ipsum quaerat tempore</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Quasi recusandae placeat</a></li>
          <li><a href="/2">Aspernatur magni saepe</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-area">
      <a class="Button Button--default u-color-95" href="#">Accedi</a>
    </li>
  </ul>
</nav>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  <script>__PUBLIC_PATH__ = '/ita-web-toolkit/build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

