

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  <div id="main">

  <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
    <section class="Grid">

  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
    <div class="Grid Grid--fit u-margin-r-bottom">
      <p class="Grid-cell">
        <span class="Dot u-background-50"></span>
        <strong><a class="u-textClean u-text-r-xs" href="">La categoria</a></strong>
      </p>
      <p class="Grid-cell u-textSecondary">
        12 Dicembre 2012
      </p>
    </div>
    <div class="u-text-r-l u-layout-prose">
      <h2 class="u-text-h2 u-margin-r-bottom">Fuga sit nobis</h2>
      <p class="u-textSecondary u-lineHeight-l">
        Debitis atque qui nihil voluptas amet.
        Omnis tempore est adipisci sed dolores.
        Temporibus quia dolorem.
        Laudantium sed ex quibusdam.
      </p>
    </div>
  </div>

  <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
    <img src="http://placehold.it/680x480?text=placeholder" class="u-sizeFull" alt="..." />
  </div>

</section>

  </div>

  <div class="u-layout-wide u-layoutCenter u-padding-r-bottom u-margin-r-bottom u-layout-r-withGutter">
    <div class="Grid Grid--withGutter">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Entrypoint-item u-background-50">
      <p><a class="u-textClean u-text-h3 u-color-white" href="">Link in evidenza 1</a></p>
    </div>
    <div class="Entrypoint-item u-background-50">
      <p><a class="u-textClean u-text-h4 u-color-white" href="">Link in evidenza 2</a></p>
    </div>
  </div>
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
    <div class="Entrypoint-item u-sizeFill u-background-50">
      <p><a class="u-textClean u-text-h3 u-color-white" href="">Link in evidenza 3</a></p>
    </div>
  </div>
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
    <div class="Entrypoint-item u-sizeFill u-background-50">
      <p><a class="u-textClean u-text-h3 u-color-white" href="">Link in evidenza 4</a></p>
    </div>
  </div>
</div>

  </div>

  <div class="u-background-grey-20 u-text-r-xxl u-padding-r-top u-padding-r-bottom">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
      <div class="u-layout-centerContent u-background-grey-20">
  <section class="u-layout-wide">

    <div class="Grid Grid--withGutter u-text-r-l u-padding-r-bottom">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l">Fuga sit nobis</h2>
      </div>
      <div class="Grid-cell u-layout-centerRight">
        <h2 class="u-text-r-m"><a class="u-color-50" href="">Vedi tutto</a></h2>
      </div>
    </div>

    <div class="Grid Grid--withGutter">

      <div class="Grid-cell Card u-md-size3of4 u-lg-size3of4">

        <div class="Grid u-layout-centerContent">
          <div class="Grid-cell u-sizeFit">
            <img src="http://placehold.it/330x330?text=placeholder" class="u-sizeFit" alt="..." />
          </div>
          <div class="Grid-cell u-md-sizeFill u-lg-sizeFill u-padding-r-left">
            <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Debitis atque qui nihil voluptas amet.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    In ad enim atque est et ab sit itaque enim. Harum omnis porro maiores dignissimos et nostrum quia tenetur impedit. Vitae delectus vel autem est voluptas assumenda. Voluptates vel corrupti rerum suscipit occaecati sit. Natus accusamus ut. Molestias illo debitis amet non necessitatibus.
  </p>
</div>

          </div>
        </div>
      </div>

      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Reprehenderit et illum quia iste sequi ex exercitationem explicabo voluptates.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Adipisci quas exercitationem delectus est quis modi. Doloribus modi officia. Rerum laboriosam sunt sequi quis libero vero deserunt. Nobis tempora est sapiente. Aspernatur est ut vero asperiores veniam facere aut. Omnis tempore qui saepe cupiditate.
  </p>
</div>

      </div>

      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Reprehenderit et illum quia iste sequi ex exercitationem explicabo voluptates.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Id enim consequatur voluptas impedit quisquam quo atque. Animi distinctio suscipit aut quia deleniti voluptas aspernatur vel ullam. Enim quas et esse occaecati consequatur. Culpa in optio nam.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Reprehenderit et illum quia iste sequi ex exercitationem explicabo voluptates.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Minus vero quasi ea dicta incidunt. Ipsa numquam occaecati consequuntur. Nihil ipsa eveniet voluptatem rem aut sapiente et soluta reiciendis. Perspiciatis eveniet veniam nam laborum dignissimos sint possimus exercitationem omnis.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Reprehenderit et illum quia iste sequi ex exercitationem explicabo voluptates.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Sed officia dolor beatae. Totam vel dolores qui voluptas beatae nulla quam ex. Doloribus ut maxime rem est vel porro optio. Accusamus ex ex quis necessitatibus quod impedit dolor. Molestias suscipit inventore. Hic cum officia aspernatur.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <p class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Reprehenderit et illum quia iste sequi ex exercitationem explicabo voluptates.
    </a>
  </p>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Reiciendis est fugit et molestias cumque aliquid cupiditate distinctio consequatur. Non et porro at autem ratione eos tempore. Ea ut nobis aut illo dolores.
  </p>
</div>

      </div>
      
    </div>

  </section>
</div>

    </div>
  </div>

  <div class="u-background-70 u-padding-r-top u-padding-r-bottom">
    <div class="u-layout-centerContent u-background-70 u-padding-r-all">
  <section class="u-layout-medium">
    <div class="Grid">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l"><a class="u-color-white" href="">Twitter @amministrazione</a></h2>
      </div>
      <p class="Grid-cell u-layout-centerRight">
        <a title="vai all'account twitter" class="u-color-white u-textClean u-text-xxl" href="">
          <span class="icon icon-twitter" aria-hidden="true"></span>
          <span class="u-hiddenVisually">vai all'account twitter</span>
        </a>
      </p>
    </div>
    <div class="u-text-r-xxl u-padding-r-top">
      <div class="Grid Grid--withGutter">
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <div class="Card-content u-padding-r-all">
    <section class="Card-text">
      <h3 class="u-color-50 u-text-r-s">deleniti aut sed</h3>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </section>
    <h3 class="Card-title">
      <a class="Card-titleLink" href="">Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.</a>
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="">
        <span class="icon icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </div>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <div class="Card-content u-padding-r-all">
    <section class="Card-text">
      <h3 class="u-color-50 u-text-r-s">deleniti aut sed</h3>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </section>
    <h3 class="Card-title">
      <a class="Card-titleLink" href="">Adipisci quas exercitationem delectus est quis modi. Doloribus modi officia. Rerum laboriosam sunt sequi quis libero vero deserunt. Nobis tempora est sapiente. Aspernatur est ut vero asperiores veniam facere aut. Omnis tempore qui saepe cupiditate.</a>
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="">
        <span class="icon icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </div>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <div class="Card-content u-padding-r-all">
    <section class="Card-text">
      <h3 class="u-color-50 u-text-r-s">deleniti aut sed</h3>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </section>
    <h3 class="Card-title">
      <a class="Card-titleLink" href="">Id enim consequatur voluptas impedit quisquam quo atque. Animi distinctio suscipit aut quia deleniti voluptas aspernatur vel ullam. Enim quas et esse occaecati consequatur. Culpa in optio nam.</a>
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="">
        <span class="icon icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </div>
</div>

        </div>
        
      </div>
    </div>
  </section>
</div>

  </div>

  <div class="u-background-grey-60 u-padding-r-top u-padding-r-bottom u-text-r-xxl">
    <section class="u-background-grey-60 u-padding-r-all">
  <div class="u-layout-medium u-layoutCenter">

    <div class="Grid">
      <h2 id="carousel-heading" class="Grid-cell u-text-h2 u-color-white u-layout-centerLeft">Gallerie</h2>

      <!-- <next / prev buttons> -->
      <div class="Grid-cell u-layout-centerRight">
        <button class="owl-prev u-padding-bottom-xl u-padding-right-xxl u-text-r-xl u-color-teal-50" title="Slide precedente"
          aria-controls="carousel-1" aria-label="Vai alla slide precedente">
            <span class="u-alignMiddle icon icon-arrow-left"></span>
        </button>
        <button class="owl-next u-padding-bottom-xl u-padding-left u-text-r-xl u-color-teal-50" title="Slide successiva"
          aria-controls="carousel-1" aria-label="Vai alla slide successiva">
          <span class="u-alignMiddle icon icon-arrow-right"></span>
        </button>
        <p class="u-hiddenVisually">È possibile navigare le slide utilizzando i tasti freccia</p>
      </div>
      <!-- </next / prev buttons> -->
    </div>

    <div class="owl-carousel owl-theme"
      role="region" id="carousel-1">
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-1" aria-labelledby="desc-1" class="u-block u-padding-all-xxs">
      <img src="http://placehold.it/370x205?text=1" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit icon icon-pic u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-1" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Debitis atque qui nihil voluptas amet.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-2" aria-labelledby="desc-2" class="u-block u-padding-all-xxs">
      <img src="http://placehold.it/370x205?text=2" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit icon icon-pic u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-2" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Omnis tempore est adipisci sed dolores.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-3" aria-labelledby="desc-3" class="u-block u-padding-all-xxs">
      <img src="http://placehold.it/370x205?text=3" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit icon icon-pic u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-3" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Temporibus quia dolorem.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-4" aria-labelledby="desc-4" class="u-block u-padding-all-xxs">
      <img src="http://placehold.it/370x205?text=4" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit icon icon-pic u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-4" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Laudantium sed ex quibusdam.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-5" aria-labelledby="desc-5" class="u-block u-padding-all-xxs">
      <img src="http://placehold.it/370x205?text=5" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit icon icon-pic u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-5" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Et consequatur aut delectus incidunt quos consequatur sint voluptatem quia.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-6" aria-labelledby="desc-6" class="u-block u-padding-all-xxs">
      <img src="http://placehold.it/370x205?text=6" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit icon icon-pic u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-6" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Earum optio non et fugit architecto veniam.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
      <div class="Carousel-item">
        <div class="u-color-grey-30">
  <figure>
    <a href="#img-7" aria-labelledby="desc-7" class="u-block u-padding-all-xxs">
      <img src="http://placehold.it/370x205?text=7" class="u-sizeFull" alt="" />
    </a>
    <figcaption class="u-padding-r-top">
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">Foto</p>
      <div class="Grid">
        <span class="Grid-cell u-sizeFit icon icon-pic u-color-white u-floatLeft u-text-r-l" aria-hidden="true"></span>
        <h3 id="desc-7" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-color-white u-text-r-xs u-textWeight-700">
          Explicabo ut sint sed fugit eligendi distinctio.
        </h3>
      </div>
    </figcaption>
  </figure>
</div>

      </div>
      
    </div>
    <p class="u-padding-r-top u-text-r-xl">
      <a href="" class="u-layout-centerLeft u-padding-r-top u-text-h4 u-textWeight-700 u-color-teal-50">Vedi tutte le gallerie</a>
    </p>
  </div>
</section>

  </div>

  <div class="u-background-grey-20 u-background-grey-20 u-color-black u-text-xxl u-padding-r-top u-padding-r-bottom">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
      <section class="Leads">
  <h2 class="Leads-title u-layout-centerLeft">Utilità</h2>
  <ul class="Grid Grid--withGutter">
    <li class="Leads-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Leads-link u-color-black" href="">Amministrazione trasparente</a>
    </li>
    <li class="Leads-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Leads-link u-color-black" href="">Albo pretorio</a>
    </li>
    <li class="Leads-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Leads-link u-color-black" href="">Bandi e concorsi</a>
    </li>
    <li class="Leads-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Leads-link u-color-black" href="">Accesso civico</a>
    </li>
  </ul>
</section>

    </div>
  </div>

  <div class="u-background-grey-80">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
    <footer class="Footer u-padding-all-s">

  <div class="u-cf">
    <img class="Footer-logo" src="http://placehold.it/75x80?text=placeholder" alt="">
    <p class="Footer-siteName">
      Comune di Civitella Roveto
    </p>
  </div>

  <div class="Grid Grid--withGutter">
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Trasparenza</h2>
      <ul>
        <li><a href="">Amministrazione trasparente</a></li>
        <li><a href="">Accesso civico</a></li>
        <li><a href="">Albo pretorio</a></li>
        <li><a href="">Bandi di gara e contratti</a></li>
      </ul>
    </div>
    

    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via Cherso 8<br>
          00177 Roma<br>
          Tel. (+39) 00.1310.1980
        </address>
      </div>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via Cherso 8<br>
          00177 Roma<br>
          Tel. (+39) 00.1310.1980
        </address>
      </div>
    </div>
    

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Indirizzo PEC</h3>
        <p><a href="">indirizzo.pec@gov.it</a></p>
      </div>
    </div>

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Seguici su</h2>
      <div class="Footer-subBlock">
        <ul class="Footer-socialIcons">
          <li><a href=""><span class="icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
    </div>

  </div>

  <ul class="Footer-links u-cf">
    <li><a href="" title="Privacy policy">Privacy</a></li>
    <li><a href="" title="Note legali">Note legali</a></li>
    <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
  </ul>

</footer>

    </div>
  </div>

  <a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon icon-top" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio del contenuto</span>
</a>

  <div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all">
  <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">Questo sito utilizza cookie tecnici, analytics e di terze parti.
    <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
  </p>
  <p>
    <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
    <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
  </p>
</div>


</div>


  <script src="/build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="/build/vendor/respond.min.js"></script>
  <script src="/build/vendor/rem.min.js"></script>
  <script src="/build/vendor/selectivizr.js"></script>
  <script src="/build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="/build/IWT.js"></script>

</body>
</html>

