

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all" aria-hidden="true">
  <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">Questo sito utilizza cookie tecnici, analytics e di terze parti.
    <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
  </p>
  <p>
    <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
    <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
  </p>
</div>

<ul class="Skiplinks js-fr-bypasslinks u-hiddenPrint">
  <li><a href="#main">Vai al Contenuto</a></li>
  <li><a class="js-fr-offcanvas-open" href="#menu"
    aria-controls="menu" aria-label="accedi al menu" title="accedi al menu">Vai alla navigazione del sito</a></li>
</ul>


<header class="Header Headroom--fixed js-Headroom u-hiddenPrint">

  <div class="Header-banner ">
    <div class="Header-owner Headroom-hideme ">
      <a href=""><span>Nome amministrazione afferente</span></a>
      <div class="Header-languages ">
          <a href="#languages" data-menu-trigger="languages" class="Header-language u-border-none u-zindex-max u-inlineBlock">
            <span class="u-hiddenVisually">lingua attiva:</span>
            <span class="">ITA</span>
            <!-- <span class="u-hidden u-md-inlineBlock u-lg-inlineBlock">Italiano</span> -->
            <span class="Icon Icon-expand u-padding-left-xs"></span>
          </a>
          <div id="languages" data-menu class="Dropdown-menu Header-language-other u-jsVisibilityHidden u-nojsDisplayNone">
            <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
            <ul>
              <li><a href="#1" class="u-padding-r-all"><span lang="en">English</span></a></li>
              <li><a href="#1" class="u-padding-r-all"><span lang="ar">عربي</span></a></li>
              <li><a href="#2" class="u-padding-r-all"><span lang="ch">中文网</span></a></li>
              <li><a href="#3" class="u-padding-r-all"><span lang="de">Deutsch</span></a></li>
              <li><a href="#8" class="u-padding-r-all"><span lang="es">Español</span></a></li>
              <li><a href="#4" class="u-padding-r-all"><span lang="fr">Français</span></a></li>
              <li><a href="#5" class="u-padding-r-all"><span lang="ja">日本語</span></a></li>
              <li><a href="#6" class="u-padding-r-all"><span lang="pt">Portuguese</span></a></li>
              <li><a href="#7" class="u-padding-r-all"><span lang="ru">НА РУССКОМ</span></a></li>
              <li><a href="#10" class="u-padding-r-all"><span lang="uk">УКРАЇНСЬКA</span></a></li>
              <li><a href="#9" class="u-padding-r-all"><span lang="tr">TÜRKÇE</span></a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>

  <div class="Header-navbar ">
    <div class="u-layout-wide Grid Grid--alignMiddle u-layoutCenter">
      <div class="Header-logo Grid-cell" aria-hidden="true">
        <a href="" tabindex="-1">
          <img src="//placehold.it/75x80" alt="">
        </a>
      </div>

      <div class="Header-title Grid-cell">
        <h1 class="Header-titleLink">
          <a href="/">
            Nome della Pubblica Amministrazione<br>
            <small>eventuale sottotitolo</small>
          </a>
        </h1>
      </div>

      <div class="Header-searchTrigger Grid-cell">
        <button aria-controls="header-search" class="js-Header-search-trigger Icon Icon-search "
          title="attiva il form di ricerca" aria-label="attiva il form di ricerca" aria-hidden="false">
        </button>
        <button aria-controls="header-search" class="js-Header-search-trigger Icon Icon-close u-hidden "
          title="disattiva il form di ricerca" aria-label="disattiva il form di ricerca" aria-hidden="true">
        </button>
      </div>

      <div class="Header-utils Grid-cell">
        <div class="Header-social Headroom-hideme">
          <p>Seguici su</p>
          <ul class="Header-socialIcons">
            <li><a href="" title="Facebook"><span class="Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
            <li><a href="" title="Twitter"><span class="Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
            <li><a href="" title="Youtube"><span class="Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
          </ul>
        </div>
        <div class="Header-search" id="header-search">
          <form class="Form">
  <div class="Form-field Form-field--withPlaceholder Grid u-background-white u-color-grey-30 u-borderRadius-s" role="search">
    <input class="Form-input Form-input--ultraLean Grid-cell u-sizeFill u-text-r-s u-color-black u-text-r-xs u-borderRadius-s"
      required id="cerca">
    <label class="Form-label u-color-grey-50 u-text-r-xxs" for="cerca">cerca nel sito</label>
    <button class="Grid-cell u-sizeFit Icon-search Icon--rotated u-color-grey-50 u-padding-all-s u-textWeight-700" title="Avvia la ricerca" aria-label="Avvia la ricerca">
  </button>
  </div>
</form>

        </div>
      </div>

      <div class="Header-toggle Grid-cell">
        <a class="Hamburger-toggleContainer js-fr-offcanvas-open u-nojsDisplayInlineBlock u-lg-hidden u-md-hidden" href="#menu"
          aria-controls="menu" aria-label="accedi al menu" title="accedi al menu">
          <span class="Hamburger-toggle" role="presentation"></span>
          <span class="Header-toggleText" role="presentation">Menu</span>
        </a>
      </div>

    </div>
  </div>
  <!-- Header-navbar -->

  

</header>



<section class="Offcanvas Offcanvas--right Offcanvas--modal js-fr-offcanvas u-jsVisibilityHidden u-nojsDisplayNone u-hiddenPrint" id="menu">
	<h2 class="u-hiddenVisually">Menu di navigazione</h2>
  <div class="Offcanvas-content u-background-white">
    <div class="Offcanvas-toggleContainer u-background-70 u-jsHidden">
      <a class="Hamburger-toggleContainer u-block u-color-white u-padding-bottom-xxl u-padding-left-s u-padding-top-xxl js-fr-offcanvas-close"
        aria-controls="menu" aria-label="esci dalla navigazione" title="esci dalla navigazione" href="#">
        <span class="Hamburger-toggle is-active" aria-hidden="true"></span>
      </a>
    </div>
    <nav>
			<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="https://example.com">Iste ratione asperiores</a>
    <ul>
      <li><a href="https://example.com">Tenetur vitae autem</a></li>
      <li><a href="https://example.com">Sunt illum hic</a></li>
      <li>
        <a href="https://example.com">Enim deserunt in</a>
        <ul>
          <li><a href="https://example.com">Saepe voluptas delectus</a></li>
          <li><a href="https://example.com">Tempora ratione ad</a>
            <ul>
              <li><a href="https://example.com">Tempora ratione ad</a></li>
              <li><a href="https://example.com">Et ipsum doloremque</a></li>
              <li><a href="https://example.com">Dolores aliquid pariatur</a></li>
            </ul>
          </li>
          <li><a href="https://example.com">Sit et non</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Itaque perferendis earum</a></li>
      <li><a href="https://example.com">Iste ratione asperiores</a></li>
    </ul>
  </li>
  <li><a href="https://example.com">Sit et non</a>
    <ul>
      <li><a href="https://example.com">Enim deserunt in</a></li>
      <li><a href="https://example.com">Sunt illum hic</a></li>
      <li><a href="https://example.com">Tenetur vitae autem</a>
        <ul>
          <li><a href="https://example.com">Et ipsum doloremque</a></li>
          <li><a href="https://example.com">Tempora ratione ad</a></li>
          <li><a href="https://example.com">Saepe voluptas delectus</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Dolores aliquid pariatur</a></li>
      <li><a href="https://example.com">Sit et non</a>
        <ul>
          <li><a href="https://example.com">Itaque perferendis earum</a></li>
          <li><a href="https://example.com">Tenetur vitae autem</a></li>
          <li><a href="https://example.com">Sunt illum hic</a></li>
          <li><a href="https://example.com">Enim deserunt in</a></li>
          <li><a href="https://example.com">Saepe voluptas delectus</a></li>
          <li><a href="https://example.com">Tempora ratione ad</a></li>
          <li><a href="https://example.com">Et ipsum doloremque</a></li>
          <li><a href="https://example.com">Dolores aliquid pariatur</a></li>
          <li><a href="https://example.com">Sit et non</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="u-hidden">
    <a class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

    </nav>
  </div>
</section>


<main role="main" id="main">
  <section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">
      Esplora contenuti correlati
    </a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
    <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="#main">pagina corrente</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">
      Nome del servizio
    </h1>

    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Una breve descrizione del servizio. A quam sit iste vel recusandae. Laboriosam porro ducimus tempora nisi qui dolorem illum. A ut consequatur sed vel magni. Aperiam et non voluptas sit nesciunt suscipit. Deleniti voluptas corrupti debitis ut.
          </p>
          <p>
            Questo servizio serve per:
          </p>
          <ul>
            <li>fare qualcosa</li>
            <li>verificare lo stato della propria pratica</li>
          </ul>
          <h2 class="u-text-h3">A chi è rivolto</h2>
          <p>
            Velit ut voluptas alias voluptate voluptas. Quasi eos omnis eum voluptatem vitae in quis cum. Aut delectus recusandae consequuntur et expedita possimus aperiam commodi.
 Officia molestiae esse praesentium consequuntur accusamus modi et asperiores. Et molestiae consequatur doloremque et commodi non ullam quaerat. Ut adipisci error impedit architecto eum. Saepe facilis quo ut asperiores nam alias.
 Consequatur quo placeat corporis pariatur et nam. Aut quasi quis. Totam praesentium labore. Aut reiciendis voluptatibus. Reiciendis voluptatem quia ex a corrupti non fugit.
          </p>
          <h2 class="u-text-h3">Come funziona</h2>
          <p>
            Aut ratione veritatis eius commodi. Distinctio omnis impedit eos quo. Omnis suscipit deleniti perferendis qui repellat provident. Ipsam maxime molestiae voluptatum. Voluptas expedita soluta reprehenderit. Autem rerum sequi ullam id vel rem debitis modi.
 Eligendi similique sed velit. Ut possimus necessitatibus. Nesciunt et dignissimos totam enim sunt unde. Culpa mollitia error delectus nihil quia occaecati quisquam quia voluptatum. Eum quas facere quod et atque.
 Quia iste nihil. Quae voluptatem in adipisci odio enim ullam impedit. Cum et illum cum et distinctio. Aut repellat atque et qui nemo aut eos similique. Rem est ut rerum inventore eligendi repellat alias. Omnis et autem officiis.
          </p>
          <h2 class="u-text-h3">Prima di iniziare</h2>
          <p>
            Accertati di aver già...
            <ul>
              <li>azione 1</li>
              <li>azione 2</li>
              <li>azione 3</li>
            </ul>
          </p>
          <p>
            <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
          </p>
        </article>
      </div>

      <aside class="Grid-cell u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl u-hidden u-md-block u-lg-block">
          <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
        </div>
        <h3 class="u-text-h4">Altri servizi</h3>
        <div class="u-sizeFull" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Non et rerum nulla cum.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Sunt blanditiis earum qui consequuntur asperiores id velit.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Qui commodi consequatur adipisci qui omnis rerum facere.</a></li>
      <li><a href="">Similique vitae non quos dicta.</a></li>
      <li><a href="">Ipsam consectetur enim sunt pariatur necessitatibus distinctio omnis suscipit occaecati.</a></li>
      <li><a href="">Consectetur pariatur qui placeat est.</a></li>
    </ul>
  </li>
  <li><a href="">Nam dolor et pariatur.</a></li>
  <li><a href="">Molestiae architecto nulla quod similique odit qui.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Ut qui est rerum inventore dicta beatae fugiat asperiores.</a></li>
  <li><a href="">Sint esse est illum.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </aside>
    </div>

  </div>
</section>

  <div class="u-background-95 u-hiddenPrint">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
        <footer class="Footer u-background-95">

  <div class="u-cf">
    <img class="Footer-logo" src="//placehold.it/75x80?text=placeholder" alt="">
    <p class="Footer-siteName">
      Nome della pubblica amministrazione
    </p>
  </div>

  <div class="Grid Grid--withGutter">
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 1</h2>
      <ul>
        <li><a href="">sunt illum hic</a></li>
        <li><a href="">enim deserunt in</a></li>
        <li><a href="">saepe voluptas delectus</a></li>
        <li><a href="">tempora ratione ad</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 2</h2>
      <ul>
        <li><a href="">sunt illum hic</a></li>
        <li><a href="">enim deserunt in</a></li>
        <li><a href="">saepe voluptas delectus</a></li>
        <li><a href="">tempora ratione ad</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 3</h2>
      <ul>
        <li><a href="">sunt illum hic</a></li>
        <li><a href="">enim deserunt in</a></li>
        <li><a href="">saepe voluptas delectus</a></li>
        <li><a href="">tempora ratione ad</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 4</h2>
      <ul>
        <li><a href="">sunt illum hic</a></li>
        <li><a href="">enim deserunt in</a></li>
        <li><a href="">saepe voluptas delectus</a></li>
        <li><a href="">tempora ratione ad</a></li>
      </ul>
    </div>
    

    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via tenetur vitae autem<br>
          tenetur vitae autem<br>
          Tel. (+00) 00.0000.0000
        </address>
      </div>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via sunt illum hic<br>
          sunt illum hic<br>
          Tel. (+00) 00.0000.0000
        </address>
      </div>
    </div>
    

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Indirizzo PEC</h3>
        <p><a href="">indirizzo.pec@gov.it</a></p>
      </div>
    </div>

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Seguici su</h2>
      <div class="Footer-subBlock">
        <ul class="Footer-socialIcons">
          <li><a href=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
    </div>

  </div>

  <ul class="Footer-links u-cf">
    <li><a href="" title="Privacy policy">Privacy</a></li>
    <li><a href="" title="Note legali">Note legali</a></li>
    <li><a href="" title="Dati monitoraggio sito">Contatti</a></li>
  </ul>

</footer>

    </div>
</div>

<a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon Icon-collapse" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio del contenuto</span>
</a>


</main>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  <script>__PUBLIC_PATH__ = '/ita-web-toolkit/build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

