

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <article class="Prose u-layout-prose">

  <h1>Velit irure ad cillum Lorem consequat magna magna pariatur.</h1>

  <h2>Velit irure ad cillum Lorem consequat magna magna pariatur.</h2>

  <h3>Velit irure ad cillum Lorem consequat magna magna pariatur.</h3>

  <h4>Velit irure ad cillum Lorem consequat magna magna pariatur.</h4>

  <h5>Velit irure ad cillum Lorem consequat magna magna pariatur.</h5>

  <h6>Velit irure ad cillum Lorem consequat magna magna pariatur.</h6>

  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">A quam sit iste vel recusandae. Laboriosam porro ducimus tempora nisi qui dolorem illum. A ut consequatur sed vel magni. Aperiam et non voluptas sit nesciunt suscipit. Deleniti voluptas corrupti debitis ut.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    A quam sit iste vel recusandae. Laboriosam porro ducimus tempora nisi qui dolorem illum. A ut consequatur sed vel magni. Aperiam et non voluptas sit nesciunt suscipit. Deleniti voluptas corrupti debitis ut.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Non et rerum nulla cum.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Non et rerum nulla cum.</li>
    
    <li>Sunt blanditiis earum qui consequuntur asperiores id velit.</li>
    
    <li>Qui commodi consequatur adipisci qui omnis rerum facere.</li>
    
    <li>Similique vitae non quos dicta.</li>
    
    <li>Ipsam consectetur enim sunt pariatur necessitatibus distinctio omnis suscipit occaecati.</li>
    
    <li>Consectetur pariatur qui placeat est.</li>
    
    <li>Nam dolor et pariatur.</li>
    
    <li>Molestiae architecto nulla quod similique odit qui.</li>
    
    <li>Ut qui est rerum inventore dicta beatae fugiat asperiores.</li>
    
  </ul>

  <ol>
    
    <li>Non et rerum nulla cum.</li>
    
    <li>Sunt blanditiis earum qui consequuntur asperiores id velit.</li>
    
    <li>Qui commodi consequatur adipisci qui omnis rerum facere.</li>
    
    <li>Similique vitae non quos dicta.</li>
    
    <li>Ipsam consectetur enim sunt pariatur necessitatibus distinctio omnis suscipit occaecati.</li>
    
    <li>Consectetur pariatur qui placeat est.</li>
    
    <li>Nam dolor et pariatur.</li>
    
    <li>Molestiae architecto nulla quod similique odit qui.</li>
    
    <li>Ut qui est rerum inventore dicta beatae fugiat asperiores.</li>
    
  </ol>

</article>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  <script>__PUBLIC_PATH__ = '/ita-web-toolkit/build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

