

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  <section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="icon icon-view-01 u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Vai alla navigazione</a>
  </p>
  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-bottom-xxl u-padding-top-xxl">
    <h2 class="u-text-h1">
    Titolo della sezione
  </h2>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <article class="Prose u-layout-prose">
          <p>
            Deleniti eveniet earum. Unde et occaecati eaque iure voluptatem repudiandae facilis. Eum illo animi nihil magnam nisi laudantium aspernatur non aliquam.
 Accusantium sequi alias ut. Laudantium omnis error atque hic. Omnis soluta dolor corrupti omnis. Voluptatem maiores non mollitia quas ut.
 Quisquam et perspiciatis maiores. Voluptate dolore et non nobis magnam perspiciatis. Et est similique vero. Repudiandae accusantium est expedita rerum reiciendis eligendi. Cupiditate aperiam sed ut ea quam sed beatae.
          </p>
          <p>
            Dolorem dolorem voluptate magni earum ullam. Iusto impedit tempora sit. Odit laboriosam corrupti fugiat atque est.
 Autem esse mollitia delectus doloribus quia itaque est libero commodi. Quos iure porro fuga aliquam et a earum. Pariatur sint maiores est voluptatem alias harum. Cumque qui est ipsam in iste voluptatum quis. Iusto vero voluptatem a minima libero vitae maiores libero. Sint ut enim ut assumenda unde dolores.
 Nihil voluptatem laudantium ut animi inventore accusantium inventore eum pariatur. Sit sed eum aut velit incidunt voluptatem. Voluptatibus ducimus ab amet et incidunt eos eligendi non odio. Harum rerum hic veniam quod.
          </p>
          <p>
            Error quas voluptas earum. Sed facere iure aspernatur et placeat. Odit vitae recusandae laboriosam ex occaecati. Ut dolor aliquam. Aperiam ipsum sit qui inventore pariatur libero nostrum quod.
 Beatae adipisci dolor dolor minus et id illo deleniti ea. Aperiam ipsam ut. Officiis culpa velit in est aliquam exercitationem quidem. Dolorem reprehenderit dolores. Consequatur neque hic aut alias nisi sit doloribus autem sit.
 Dolor fugit inventore reprehenderit accusamus. Libero voluptates nisi hic reprehenderit qui officiis cum vel impedit. Voluptatum provident consequatur non voluptas eaque. Perspiciatis quia molestias et similique. Dolorem corrupti modi ullam sint omnis ratione in reprehenderit.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-md-size4of12 u-lg-size4of12 u-md-before2of12 u-lg-before2of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon icon icon-sharethis"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="icon icon-facebook"></span></a></li>
    <li><a href="#"><span class="icon icon-twitter"></span></a></li>
    <li><a href="#"><span class="icon icon-google-plus"></span></a></li>
    <li><a href="#"><span class="icon icon-youtube"></span></a></li>
    <li><a href="#"><span class="icon icon-flickr"></span></a></li>
    <li><a href="#"><span class="icon icon-slideshare"></span></a></li>
    <li><a href="#"><span class="icon icon-whatsapp"></span></a></li>
  </ul>
</div>

        </div>
        <div class="u-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Ab eos doloribus.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Velit vero quia modi est earum aut.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Et dolorem laboriosam beatae voluptas commodi quia.</a></li>
      <li><a href="">Facilis libero et.</a></li>
      <li><a href="">Itaque quia voluptatem vel accusamus excepturi nisi est neque.</a></li>
      <li><a href="">Possimus fugiat laboriosam consectetur dolores error.</a></li>
    </ul>
  </li>
  <li><a href="">Sed voluptatem sed.</a></li>
  <li><a href="">Dolorum eveniet sint architecto qui aliquid ut vel incidunt.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Iusto molestiae quos cum dolorum.</a></li>
  <li><a href="">Nesciunt alias ex.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>


  <script src="/build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="/build/vendor/respond.min.js"></script>
  <script src="/build/vendor/rem.min.js"></script>
  <script src="/build/vendor/selectivizr.js"></script>
  <script src="/build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="/build/IWT.js"></script>

</body>
</html>

