

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
  <caption class="u-hiddenVisually">magni repudiandae non</caption>
  <thead>
    <tr>
      <th scope="col" data-tablesaw-priority="persist">Tab. 1</th>
      <th scope="col">Tab. 2</th>
      <th scope="col">Tab. 3</th>
      <th scope="col">Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="u-textWeight-600">Praesentium facilis aut aliquam sit voluptatibus repellendus qui.</td><td >Expedita nihil rerum qui autem expedita numquam incidunt rerum.</td><td >Pariatur cumque quisquam deserunt dignissimos voluptatum est voluptatem minima.</td><td >Explicabo quidem accusantium ipsam.</td>
    </tr><tr>
      <td class="u-textWeight-600">Expedita nihil rerum qui autem expedita numquam incidunt rerum.</td><td >Pariatur cumque quisquam deserunt dignissimos voluptatum est voluptatem minima.</td><td >Explicabo quidem accusantium ipsam.</td><td >Ut debitis cum consequatur unde quis aliquid eligendi.</td>
    </tr><tr>
      <td class="u-textWeight-600">Pariatur cumque quisquam deserunt dignissimos voluptatum est voluptatem minima.</td><td >Explicabo quidem accusantium ipsam.</td><td >Ut debitis cum consequatur unde quis aliquid eligendi.</td><td >Harum eius aut.</td>
    </tr><tr>
      <td class="u-textWeight-600">Explicabo quidem accusantium ipsam.</td><td >Ut debitis cum consequatur unde quis aliquid eligendi.</td><td >Harum eius aut.</td><td >Quia in sit molestiae ut culpa quae recusandae molestias vel.</td>
    </tr>
  </tbody>
</table>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  
  <script>__PUBLIC_PATH__ = '../../build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

