

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  

<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-textSmooth</h2>
  <p class="u-textSmooth">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-textClean</h2>
  <p class="u-textClean">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-textWeight-200</h2>
  <p class="u-textWeight-200">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-textWeight-300</h2>
  <p class="u-textWeight-300">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-textWeight-400</h2>
  <p class="u-textWeight-400">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-textWeight-600</h2>
  <p class="u-textWeight-600">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-textWeight-700</h2>
  <p class="u-textWeight-700">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-textWeight-900</h2>
  <p class="u-textWeight-900">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-textNormal</h2>
  <p class="u-textNormal">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-textItalic</h2>
  <p class="u-textItalic">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-textPreformatted</h2>
  <p class="u-textPreformatted">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-r-xxl</h2>
  <p class="u-text-r-xxl">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-r-xl</h2>
  <p class="u-text-r-xl">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-r-l</h2>
  <p class="u-text-r-l">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-r-m</h2>
  <p class="u-text-r-m">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-r-s</h2>
  <p class="u-text-r-s">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-r-xs</h2>
  <p class="u-text-r-xs">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-r-xxs</h2>
  <p class="u-text-r-xxs">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-p</h2>
  <p class="u-text-p">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-h1</h2>
  <p class="u-text-h1">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-h2</h2>
  <p class="u-text-h2">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-h3</h2>
  <p class="u-text-h3">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-h4</h2>
  <p class="u-text-h4">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-h5</h2>
  <p class="u-text-h5">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>



<section class="u-layout-prose u-padding-bottom-xxl">
  <h2>u-text-h6</h2>
  <p class="u-text-h6">
    Illum ratione et minima quis explicabo incidunt sit. A nostrum sit qui voluptatem aut. Voluptatem libero consequatur maiores beatae rerum totam voluptatem ut tempore.
  </p>
</section>




  <script src="/build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="/build/vendor/respond.min.js"></script>
  <script src="/build/vendor/rem.min.js"></script>
  <script src="/build/vendor/selectivizr.js"></script>
  <script src="/build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="/build/IWT.js"></script>

</body>
</html>

