

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <div class="u-padding-all-xxl u-background-grey-15 u-sizeFull">
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">cum</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">earum rem culpa</h2>
        <p class="u-text-p u-textSecondary">
          Quis molestiae ullam et. Quia inventore sint qui. Fugiat et consequatur sapiente est cum suscipit alias aut. Saepe est porro amet qui amet ut. Dolor ut voluptatem voluptas quasi animi iste rem accusantium. Beatae iure veritatis voluptatem ut eum consequatur et perferendis.
        </p>
      </div>
    </div>
  </div>
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">pariatur</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">numquam sit veniam</h2>
        <p class="u-text-p u-textSecondary">
          Mollitia laborum voluptas consequatur aliquid aut voluptatem. Sit nisi veritatis eius velit expedita deserunt. Distinctio iste quo eligendi error sint officiis. Ullam aut sit voluptatem. Quis est quaerat provident modi quo ut aspernatur.
        </p>
      </div>
    </div>
  </div>
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">est</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">voluptatem quia cum</h2>
        <p class="u-text-p u-textSecondary">
          Minus maxime qui saepe. Quis qui molestiae. Nisi mollitia quod qui mollitia perferendis asperiores dolorem sed dolorum. Quisquam laborum suscipit aut aut dicta nihil et illum. Quia voluptatem rem explicabo asperiores ea. Cupiditate reiciendis nulla minima id expedita quia.
        </p>
      </div>
    </div>
  </div>
  
</div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  
  <script>__PUBLIC_PATH__ = '../../build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

