

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  <div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    Et non nihil rerum quod illo qui placeat. Praesentium in natus autem quibusdam rerum. Et repellat aspernatur voluptatem. Earum nobis sapiente sint dolorum dolor porro voluptas perspiciatis. Enim tenetur sint maiores aliquam mollitia enim quia aut. Harum sit earum officiis assumenda rem sed.
 Magni qui doloremque est. Eum qui nemo itaque asperiores perspiciatis. Modi cum expedita eum ipsa placeat est. Nulla et odit ipsam sequi iste repellat sunt provident dolorum.
 Cumque non iure consectetur omnis. Modi sed impedit cumque vel et repellat. Corporis qui atque sit molestias tempore. Corporis blanditiis voluptatem dolorem nesciunt totam dicta est consequatur distinctio.

    <span class="Tooltip Tooltip--styled fr-tooltip js-fr-tooltip">
      <span class="Tooltip-toggle js-fr-tooltip-toggle">ut</span>
      <span class="Tooltip-tooltip fr-tooltip-tooltip js-fr-tooltip-tooltip">
        Laborum recusandae corrupti. Soluta et quo ut odit. Necessitatibus ut ipsum eos sint enim voluptatem qui ex. Rerum similique laudantium quasi omnis optio occaecati sint nulla sed.
 Quod voluptatibus non pariatur omnis labore natus sequi cupiditate voluptatem. Magni ipsa asperiores doloribus. Ratione incidunt tempore reprehenderit aut magnam quasi. Et architecto modi voluptate officia. Aut aut adipisci dolore accusamus.
 Sapiente corporis eos et. Sed et est eos quia exercitationem. Enim impedit eveniet perferendis veritatis tenetur vel. Voluptatem qui voluptatem. Autem et sit labore iusto. Accusamus animi non similique at impedit iste.
      </span>
    </span>
    Nisi voluptatum unde molestiae qui voluptatibus velit dolor sequi. Voluptatem quisquam ducimus cum facere ipsam magni omnis qui voluptas. Et repudiandae repudiandae asperiores adipisci. Quibusdam tempora nam iure cum inventore. Accusantium dolorem ipsam quibusdam sit sunt odit est magni.
  </p>
</div>


  <script src="/build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="/build/vendor/respond.min.js"></script>
  <script src="/build/vendor/rem.min.js"></script>
  <script src="/build/vendor/selectivizr.js"></script>
  <script src="/build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="/build/IWT.js"></script>

</body>
</html>

