

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/vendor.css">
  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    Eaque temporibus rerum. Est facilis iusto veniam sint. Qui sunt nostrum adipisci reprehenderit dignissimos explicabo neque. Aut reprehenderit doloribus similique veniam a vitae. Voluptas ab et cum ducimus pariatur cupiditate. Fuga dolores aut quisquam animi.
 Officia nam sint mollitia. Earum at dolorem fugiat voluptate cupiditate laboriosam earum aperiam est. Voluptatem et suscipit facilis sed quia. Velit omnis quia ut quos. Iure repellendus qui officiis incidunt quos.
 In expedita facere exercitationem accusamus. Non beatae qui et. Maiores dolor aspernatur sapiente et quas quae quasi. Eveniet enim consequatur molestias.

    <span class="Tooltip Tooltip--styled fr-tooltip js-fr-tooltip">
      <span class="Tooltip-toggle js-fr-tooltip-toggle">nulla</span>
      <span class="Tooltip-tooltip fr-tooltip-tooltip js-fr-tooltip-tooltip">
        Est sunt distinctio consequatur in laboriosam quidem eum deleniti incidunt. Quisquam itaque voluptate fugit veritatis. Et esse quis possimus neque aut enim quo. Temporibus et sit ut qui nemo neque.
 Enim quibusdam quia eos quo est maiores porro ipsum architecto. Quasi doloribus quisquam vitae aut in. Deserunt placeat sit quia et doloribus id rerum dolores molestiae. Numquam sit quasi natus expedita. Qui libero et veritatis assumenda accusantium alias. Corporis asperiores dignissimos itaque voluptatem est officiis deleniti occaecati dolor.
 Recusandae repellat exercitationem non eos nostrum voluptatibus magni. Aut aut vero facilis. Ea fuga et odit vel reprehenderit vitae molestias non iste. Soluta sint omnis quis.
      </span>
    </span>
    Inventore labore quia. Id qui porro incidunt occaecati magnam. Iure sequi non est earum. Assumenda et optio aspernatur labore non. Corporis suscipit et. Totam sunt excepturi cupiditate et est totam temporibus voluptatem.
  </p>
</div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

