

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/vendor.css">
  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    Facilis enim error. Eum quam harum aut laborum praesentium ab ab consequatur. Non officia laborum perspiciatis deleniti error perspiciatis quis et. Sed architecto occaecati. Corporis deleniti possimus sequi quae saepe est optio ullam exercitationem. Ea alias fugit minima qui perferendis non nemo asperiores.
 Natus voluptas tempora sint velit. Inventore non dolore sed sed et reprehenderit pariatur. Maxime ipsa perferendis voluptatem fugiat ullam deserunt perferendis. In in sit sit quibusdam maxime ab tempore beatae maxime. Optio eum molestiae sit dicta aut deserunt voluptatem cum. Odio est ut unde dolore est quam consectetur ipsum et.
 Incidunt corporis est suscipit veritatis odit unde. Soluta perferendis eum autem dolorum dignissimos mollitia repellat aperiam. Nihil non nobis architecto et occaecati.

    <span class="Tooltip Tooltip--styled fr-tooltip js-fr-tooltip">
      <span class="Tooltip-toggle js-fr-tooltip-toggle">fugit</span>
      <span class="Tooltip-tooltip fr-tooltip-tooltip js-fr-tooltip-tooltip">
        Enim nihil optio quia non delectus rerum non nobis tenetur. Ut deleniti architecto voluptas nobis. Fugiat quo reprehenderit aut tempore et. Repellendus itaque suscipit.
 Animi praesentium quam cum dolorum. Nihil est enim velit. Tempora in doloremque et aliquam.
 Porro nostrum et ut soluta. Id illo rem. Molestiae atque omnis.
      </span>
    </span>
    Rerum eaque recusandae laboriosam accusamus quia id. Voluptatem sint dolorem occaecati repellat. Numquam est quidem.
  </p>
</div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

