

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="../../build/vendor.css">
  <link media="screen" rel="stylesheet" href="../../build/build.css">

  <title>Preview Layout</title>
</head>

<body class="Pac">

  <ul class="Linklist Linklist--padded Treeview js-fr-treeview u-text-r-xs">
  <li><a>Quod quis quia</a>
    <ul>
      <li><a>Porro occaecati corporis</a></li>
      <li><a>Eum non qui</a></li>
      <li><a>Officiis velit ab</a>
        <ul>
          <li><a>Earum amet aut</a></li>
          <li><a>Quae commodi non</a>
            <ul>
              <li><a>Quae commodi non</a></li>
              <li><a>Labore non sint</a></li>
              <li><a>Accusamus beatae ut</a></li>
            </ul>
          </li>
          <li><a>Fugiat voluptatum temporibus</a></li>
        </ul>
      </li>
      <li><a>Vero eius tempore</a></li>
      <li><a>Quod quis quia</a></li>
    </ul>
  </li>
  <li><a>Fugiat voluptatum temporibus</a>
    <ul>
      <li><a>Officiis velit ab</a></li>
      <li><a>Eum non qui</a></li>
      <li><a>Porro occaecati corporis</a>
        <ul>
          <li><a>Labore non sint</a></li>
          <li><a>Quae commodi non</a></li>
          <li><a>Earum amet aut</a></li>
        </ul>
      </li>
      <li><a>Accusamus beatae ut</a></li>
      <li><a>Fugiat voluptatum temporibus</a>
        <ul>
          <li><a>Vero eius tempore</a></li>
          <li><a>Porro occaecati corporis</a></li>
          <li><a>Eum non qui</a></li>
          <li><a>Officiis velit ab</a></li>
          <li><a>Earum amet aut</a></li>
          <li><a>Quae commodi non</a></li>
          <li><a>Labore non sint</a></li>
          <li><a>Accusamus beatae ut</a></li>
          <li><a>Fugiat voluptatum temporibus</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>


  <script src="../../build/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- In produzione utilizzare <script src="/build/IWT.min.js"></script> -->
  <script src="../../build/IWT.js"></script>

</body>
</html>

