<div class="Prose u-layout-prose u-padding-r-all">
  <h2>u-borderAlt</h2>
  <p>
    La classe u-borderAlt è utilizzata per evitare il "collasso" dei bordi durante la ridisposizione adattiva dei box della griglia.
  </p>
  <p>
    È possibile visualizzare l'effetto ridimensionando la viewport.
  </p>
</div>

<div class="Grid u-padding-r-all">
  <div class="Grid-cell u-text-s u-color-50 u-borderAlt u-sizeFull u-md-size1of2 u-lg-size1of2">
    <div class="u-padding-all-l">
      <h2 class="u-text-h5">
      u-borderAlt
    </h2>
    </div>
  </div>
  <div class="Grid-cell u-text-s u-color-50 u-borderAlt u-sizeFull u-md-size1of2 u-lg-size1of2">
    <div class="u-padding-all-l">
      <h2 class="u-text-h5">
      u-borderAlt
    </h2>
    </div>
  </div>
</div>

<br>
