<nav role="navigation" aria-label="Navigazione paginata" class="u-layout-prose">
  <ul class="Grid Grid--fit Grid--alignMiddle u-text-r-xxs">
    <li class="Grid-cell u-textCenter">
      <a href="#" class="u-color-50 u-textClean u-block">
        <span class="Icon-chevron-left u-text-r-m" role="presentation"></span>
        <span class="u-hiddenVisually">Pagina precedente</span>
      </a>
    </li>
    <li class="Grid-cell u-textCenter">
      <a href="/page-1" aria-label="Pagina 1" class="u-padding-r-all u-color-50 u-textClean u-block">
        <span class="u-text-r-m">1</span>
      </a>
    </li>
    <li class="Grid-cell u-textCenter" aria-hidden="true">
      <span class="u-padding-r-all u-block u-color-50">
        <span class="u-text-r-m">...</span>
      </span>
    </li>
    <li class="Grid-cell u-textCenter">
      <a href="/page-12" aria-label="Pagina 12" class="u-padding-r-all u-background-50 u-color-white u-textClean u-block">
        <span class="u-text-r-m">12</span>
      </a>
    </li>
    <li class="Grid-cell u-textCenter">
      <a href="/page-13" aria-label="Pagina 13" class="u-padding-r-all u-color-50 u-textClean u-block">
        <span class="u-text-r-m">13</span>
      </a>
    </li>
    <li class="Grid-cell u-textCenter">
      <a href="/page-13" aria-label="Pagina 14" class="u-padding-r-all u-color-50 u-textClean u-block">
        <span class="u-text-r-m">14</span>
      </a>
    </li>
    <li class="Grid-cell u-textCenter">
      <a href="#" class="u-padding-r-all u-color-50 u-textClean u-block">
        <span class="Icon-chevron-right u-text-r-m" role="presentation"></span>
        <span class="u-hiddenVisually">Pagina successiva</span>
      </a>
    </li>
  </ul>
</nav>
