<nav role="navigation" aria-label="Navigazione paginata" class="u-layout-prose">
  <ul class="Grid Grid--fit Grid--alignMiddle u-text-r-xxs">
    <li class="Grid-cell u-textCenter">
      <a href="#" class="u-color-50 u-textClean u-block" title="Pagina precedente">
        <span class="Icon-chevron-left u-text-r-s" role="presentation"></span>
        <span class="u-hiddenVisually">Pagina precedente</span>
      </a>
    </li>
    <li class="Grid-cell u-textCenter u-hidden u-md-inlineBlock u-lg-inlineBlock">
      <a href="/page-1" aria-label="Pagina 1" class="u-padding-r-all u-color-50 u-textClean u-block">
        <span class="u-text-r-m">1</span>
      </a>
    </li>
    <li class="Grid-cell u-textCenter u-hidden u-md-inlineBlock u-lg-inlineBlock" aria-hidden="true">
      <span class="u-padding-r-all u-block u-color-50">
        <span class="u-text-r-m">...</span>
      </span>
    </li>
    <li class="Grid-cell u-textCenter">
      <span class="u-padding-r-all u-block u-background-50 u-color-white">
        <span class="u-text-r-s"><span class="u-md-hidden u-lg-hidden">Pagina</span> 11</span>
      </span>
    </li>
    {% for i in range(2, 4) %}
    <li class="Grid-cell u-textCenter u-hidden u-md-inlineBlock u-lg-inlineBlock">
      <a href="#page-1{{ i }}" aria-label="Pagina 1{{ i }}" class="u-padding-r-all u-color-50 u-textClean u-block">
        <span class="u-text-r-s">1{{ i }}</span>
      </a>
    </li>
    {% endfor %}
    <li class="Grid-cell u-textCenter">
      <a href="#" class="u-padding-r-all u-color-50 u-textClean u-block" title="Pagina successiva">
        <span class="Icon-chevron-right u-text-r-s" role="presentation"></span>
        <span class="u-hiddenVisually">Pagina successiva</span>
      </a>
    </li>
  </ul>
</nav>
